[2016-11-25 16:56] barbalex commented on #749
yes, I learned that just a few days ago :-)

[2016-11-25 21:02] begriffs commented on #748
We had discussed that behavior in the original pull request ([this comment](https://github.com/begriffs/postgrest/pull/375#issuecomment-157494567)). Your proposal is behavior number 2 from that discussion. It looks like we chose behavior 1 only for expediency. I understand why it would be helpful to do things the way you propose.

Thinking about it again, if we want to raise errors when a client a

[2016-11-26 01:25] steve-chavez commented on #748
I've been testing sending an Expect header to postgREST through nginx 1.10.1, and nginx doesn't proxy pass that particular header even with the ```ignore_invalid_headers off``` directive.

This article http://www.fallingcanbedeadly.com/posts/http-100-continue-latency-and-you/  also points that nginx behaves this way.

Also from the code https://github.com/nginx/nginx/blob/master/src/http/modules/n

[2016-11-26 06:49] ruslantalpa commented on #748
@steve-chavez wow, good catch

[2016-11-27 08:35] geepie opened #750 "Swagger-UI Trouble"
I try to use my own API or the demo one (https://postgrest.herokuapp.com) with Swagger-UI (http://swagger.io/swagger-ui/).

I got always got the same message:
"fetching resource list: http://server:3000/; Please wait."

[2016-11-27 09:55] ruslantalpa commented on #750
OpenAPI support is only present in the master branch, so unless you've compiled postgrest from source, the release version does not have that functionality yet.

[2016-11-27 17:18] matthewmueller commented on #746
Just got bitten by this again – what do you think about a default insert not returning anything? i.e. the default is `representation=minimal`

That would make a bit more sense to me anyway since the default `INSERT` is to return nothing, but if you add `RETURNING` you get to customize what gets returned.

[2016-11-27 17:46] begriffs commented on #746
Even when it doesn't return a payload, PostgREST uses the information it requests to create a `Location` response header. I was guided by RFC7231:

   result of successfully processing a POST request, the origin server
   SHOULD send a 201 (Created) response containing a Location header

However in our insert statement we ought to do `RETURNING foo, bar, baz` rather than `RETURNING *`, selecting o

[2016-11-27 17:51] matthewmueller commented on #746
Ah okay, I think the Location header is fine, it's just what's getting executed against Postgres. If you have some select permissions setup that don't let the role select on a particular column, you'll get permission denied for the POST request.

I think the primary keys would be a better solution, but I'm guessing that there may be a time when you don't want the role to be able to select your tab

[2016-11-27 19:54] SkinyMonkey opened #751 "Tighten cabal constraints to fix vanilla cabal build"
Hi!

I tried to build from the master to check the OpenAPI feature.

Here is my environment:
OS: macosx
Version : 10.10.5 (Yosemite)
GHC version : 8.0.1
cabal-install version: 1.24.0.0

First the build failed telling me that the happy binary was missing.
I installed it with cabal by hand and now it gives me this error:

[code]

Tell me if I can add anything to help you!

[2016-11-27 20:05] ruslantalpa commented on #751
how exactly did you try to build it?

[2016-11-27 20:38] SkinyMonkey commented on #751
I cloned the repo, created a sandbox with ```cabal sandbox init```
and then entered a ```cabal install```

[2016-11-27 20:48] begriffs commented on #751
We like to build the project with Stack because it ensures the right GHC and library versions. Try the instructions here: https://postgrest.readthedocs.io/en/v0.4/install.html#build-from-source

Although for the sake of having an accurate .cabal file I should add more constraints in there to keep the build working for people using Cabal rather than Stack.

[2016-11-27 22:08] begriffs commented on #751
I'm reopening this issue to capture that I want to fix things for Cabal, not just Stack. This is because the cabal file really should express the constraints present in our code, not to pin versions exactly, but to keep them consistent.

[2016-11-27 23:33] begriffs commented on #748
Hm, good research. That's too bad about the lack of HTTP support. This is a perplexing issue, I've had a few more thoughts about the semantics. Now is a good time to figure it out so we can do the right thing in the big release.

1. It expresses more than a preference to throw errors when unable to comply. The Prefer header, at least the way we're treating it, is the wrong mechanism. The only beha

[2016-11-28 01:10] steve-chavez commented on #748
What is the reason for suppressing the ```Content-Location, Content-Range``` headers when ```plurality=singular``` is set?

According to that restriction getting the total count from ```GET /items?limit=1 Prefer:plurality=singular Prefer:count=exact``` is not considered a valid use case.

[2016-11-28 08:50] SkinyMonkey commented on #751
I successfully built the project with stack yesterday and was able to test the OpenAPI feature.

I will send you the result of a cabal freeze when I'm back home tonight.

[2016-11-28 10:08] yuhe00 opened #753 "return=representation returns singular object if you insert an array with 1 element"
The following works as expected:
[code]
...while the following returns a single object:
[code]
Not sure if this is intended behavior, but it was a bit unexpected. I think it should return an array if you send an array, no matter the amount of elements in the array.

[2016-11-28 15:59] ruslantalpa commented on #753
This is happening [here](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/App.hs#L136), not sure why that was decided

[2016-11-28 16:05] ruslantalpa commented on #753
i think this is just a remanence from the fact that you can post like this
`{"name":"Hyundai"}`  and also like this `[{"name":"Hyundai"},{"name":"Mazda"}]`
we'd need to look in the old issues to see if it was an oversight or there is a specific reason

[2016-11-29 04:26] matthewmueller opened #754 "id is required when selecting foreign entities"
Hey guys – this one tripped me up a bit and I'm not sure if it's necessary or not. Given a two tables that looks like this:

[code]

If I run:

[code]

This will fail with: `column tasks_task.id does not exist`. It uses this query internally:

[code]

But if I add `id` to the foreign selection, it will work as expected:

[code]

The culprit seems to be this line:

[code]

Where `"1"."tasks"."id"`

[2016-11-29 06:52] ruslantalpa commented on #754
Known bug https://github.com/begriffs/postgrest/issues/411 (pls close this)

[2016-11-29 06:52] matthewmueller commented on #754
ah sorry about that

[2016-11-29 06:52] #754 closed

[2016-11-30 17:13] begriffs commented on #748
I don't think suppressing those headers is intentional. We should add a test case to make sure they are present.

So what do you all think about weakening the plurality=singular behavior for the next release as I explained? Then investigate a new mime type for a future release like 4.1?

[2016-11-30 19:16] steve-chavez commented on #748
@begriffs Regarding your proposal, if we were to keep ```Prefer``` and respect semantics in all HTTP verbs, it would be better to respond with a ```Preference-Applied``` like suggested in another issue, though keeping the Prefer with this behavior wouldn't be of much use for the client.

For me the ```Accept: application/json; type=object``` is the better solution but I don't know how lengthy is t

[2016-12-02 07:04] matthewmueller opened #755 "Setting postgrest claims on RDS"
Has anyone been able to figure out how to set custom database parameters on Amazon RDS?

Something like this:

[code]

I'm getting `permission denied to set parameter "postgrest.claims.token"` from the admin account.

Also opened an issue on the forum here: https://forums.aws.amazon.com/thread.jspa?threadID=244090

[2016-12-02 10:17] ruslantalpa commented on #755
You dont need to, you can write a fn that will catch the error. I'll paste a bit later

[2016-12-02 14:23] ruslantalpa commented on #755
[code]

[2016-12-02 18:17] begriffs commented on #755
Thanks for the snippet, Ruslan, I added it to the note in https://postgrest.readthedocs.io/en/v0.4/auth.html?highlight=claims#web-users-sharing-role

[2016-12-02 18:24] ruslantalpa commented on #755
Credit goes to @deinspanjer (https://github.com/begriffs/postgrest/wiki/Example-get_jwt_claims()-function) i just made it shorter and general purpose :)

[2016-12-02 22:22] tomberek opened #756 "Build with Nix"
With `nix-env -iA nixpkgs.haskellPackages.postgrest` I get the following:

[code]

Let me know if this is just a simple cabal2nix and a bump, otherwise I'll try to package it up myself.

[2016-12-02 22:38] begriffs commented on #756
I've actually never made a Nix package and would appreciate your advice/assistance.

[2016-12-02 23:51] begriffs commented on #743
I created a section about external notifications in our new docs and included pg-sns-bridge

https://postgrest.readthedocs.io/en/v0.4/intro.html#ecosystem

[2016-12-03 00:11] tomberek commented on #750
I've tested with compiling from source and it works well. Any chance of a version bump and new release?

[2016-12-03 05:01] matthewmueller commented on #755
ah that's perfect, thanks @ruslantalpa!

[2016-12-03 05:01] #755 closed

[2016-12-03 05:01] matthewmueller commented on #743
thanks! the docs are really shaping up :-)

[2016-12-03 15:52] tomberek commented on #756
@begriffs https://github.com/NixOS/nixpkgs/pull/20884

That is just a workaround. The proper solution is to update your .cabal in Hackage (and bump the rest of package if possible?) and test on a fresh cabal2nix expression. Then we can remove that cruft and let Nixpkgs Just-Do-Its-Work.

[2016-12-03 22:29] begriffs commented on #756
Sounds good. Let's figure that out after the 0.4 release.

[2016-12-05 18:23] begriffs opened #757 "Invalid JSON for resource embedding error"
I accidentally tried to embed an incompatible table in another and the JSON of the resulting error message is invalid. Not only is there a message inside a message, but it lacks proper escaping even for that.

[code]

[2016-12-05 19:34] deinspanjer commented on #748
I'll +1 the option of having the type=object mime-type.  That would be easy enough to implement on the client side.

[2016-12-06 00:27] diogob commented on #757
this is probably a regression related to the latest refactoring around the error message. I'll take a look and add some regression testing.

[2016-12-06 07:38] matthewmueller opened #760 "DELETE with Prefer: 'return=minimal' always returns 404"
Not sure if this is desired or not, but it looks like deleting items with `return=minimal`, even if it succeeds, will return a 404.

[2016-12-06 07:49] ruslantalpa commented on #742
Sort term fix
replace these lines
https://github.com/begriffs/postgrest/blob/master/main/Main.hs#L88-L92
with
[code]
After this, you can send a HUP signal to postgrest and it will recover without a restart
`docker kill -s "HUP" ${POSTGREST_CONTAINER}`

(it compiles, i will test in a bit to make sure it actually works, no easy way to add tests for this currently because of how the tests are execute

[2016-12-06 09:07] ruslantalpa commented on #742
Update: it works

[2016-12-06 09:31] jackfirth commented on #748
A quick side note: the issue of what to do with multiple rows with `Prefer: plurality=singular` could be resolved using the standard "handling" preference (one of either "strict" or "lenient"), with `Prefer: plurality=singular, handling=strict` resulting in errors on multiple rows and `Prefer: plurality=singular, handling=lenient` returning the multiple rows unchanged. This doesn't really help the

[2016-12-06 11:22] matthewmueller commented on #256
how are folks doing this currently? making custom functions and then posting to `/rpc/funcname`?

[2016-12-06 23:28] steve-chavez commented on #748
I think the [handling=strict](https://tools.ietf.org/html/rfc7240#page-12) is a good option until the mime type is settled.

Seeing that the only postgREST Prefer value that has a potential error condition is ```plurality=singular```
we can just apply it as suggested and ignore it if is applied when no ```plurality=singular``` is specified; ```handling=lenient``` could be the default, in this case

[2016-12-07 01:01] jackfirth commented on #256
Bulk `PUT` would imply you're making the request to the same URL you'd read the resulting data from, because the semantics of `PUT` are "take this representation and put it at this URL, so that if I do further `GET` requests at that URL I get this representation back". So a bulk upsert PUT would mean including the identifiers in the url in an `id=in.10,20,30,...` parameter to match these semantics

[2016-12-07 05:41] wanghaisheng commented on #349
can we use dblink / fdw feature to hidden the underlying database such as oracle  sqlserver mysql
@ruslantalpa @begriffs

[2016-12-07 06:16] begriffs commented on #349
I'm not sure how well supported mysql would be through an FDW. There are some old related issues: #467 and #591. I suspect that foreign key detection will not work, which would break the resource embedding feature. I'd be curious how well it works if you try basic API table access though.

[2016-12-07 12:10] ArturFormella opened #764 "List of RPC"
Is it possible to list all allowed RPCs with arguments and descriptions using REST?
/rpc returns 405

[2016-12-07 12:39] ruslantalpa commented on #764
not in the released version but in master you can make a request to `/` and you will have there all the available endpoints, including RPC

[2016-12-07 16:05] krakrjak opened #765 "OverlongHeaders in Response to POSTs on views"
**TLDR;** __When performing a POST into a view the Location header in the response can be too big due to postgrest failing to determine a primary key for the view. In some instances, such as large columns or large column counts, this leads to getting OverlongHeaders in the response.

I tried to simplify the table structure to make a small example, but I think I may need to expose this level of com

[2016-12-07 16:40] begriffs commented on #765
You're right that it is because postgrest is failing to determine the primary keys of a view. One work-around is to set the request header `Prefer: return=minimal` to suppress the Location header.

[2016-12-07 16:57] krakrjak commented on #765
While I do not use the information from the Location header at this time or with this view, I do envision this issue being more dire if the case_id column were a `serial` column or if any other column's date were computed.

[2016-12-07 17:50] steve-chavez opened #766 "Support for custom output format on GET"
I have a table:

[code]

I need to download a file with this table rows in the following format:

[code]

Sort of a pipe separated values format with that extra pipe at the end, this is a requirement for a local goverment entity.

Currently there's no way to output that format with just postgREST I would need some custom application code, this is a problem since I also need the security and filter

[2016-12-07 18:29] ruslantalpa commented on #765
Although the symptom of the problem is that you get a bad location header, and that is because the primary keys for the view are not detected, the root of the problem i think it is that your tables are in the public schema. The fix will come from this PR https://github.com/begriffs/postgrest/pull/761
Your immediate solution is one of the these:

- compile master branch and add the patch from that

[2016-12-07 18:45] ruslantalpa commented on #766
@steve-chavez i think you are overcomplicating things with this approach.
Maybe in some other cases your proposed method with one column would be needed but in this case i think it's not a good approach.
The way to do this is to postprocess the response from postgrest at the proxy level.
Since you are talking gov/security ... you need nginx in front of postgrest for security, since it's already th

[2016-12-07 19:07] ruslantalpa commented on #766
Although not specifically about this issue, i'd like to give you an example of what this setup can give you (and i use it in one of my examples).

Say i have an RPC that returns rows of a certain type.
In normal conditions, one can use `&select` to request only the columns he wants.
In my particular case however, i needed to let the use do just that, and get that reply he wanted, but i also wanted

[2016-12-07 19:15] ruslantalpa commented on #766
what this method might look in you case is this:

- have your clients make requests with `Accept: my_custom_gove_mime_type`
- the proxy preprocesses the request and translates that header to request CSV (and remembers it needs postprocessing)
- when the response comes back, it alteres the response body and sets back the Content-Type to my_custom_gov_mime_type.

This way with a few lines of lua, it

[2016-12-08 05:13] steve-chavez commented on #766
@ruslantalpa I understand the advantages of having nginx in front of postgrest and I have too considered doing this at the proxy level as a first option with a form similar to your suggestion.

But I think this formatting would be better done in the db, I don't consider doing a
```select concat(id, '|', first_name, '|', last_name, '|')``` and defining that in a view column or a computed column suc

[2016-12-08 05:13] steve-chavez commented on #506
@nicklasaven Would concatenating the binary rows with a ```'\n'``` be acceptable for your use case? I'm planning to implement this feature.

[2016-12-08 06:38] nicklasaven commented on #506
@steve-chavez interesting! Yes, I guess I can strip away the \n. Or could it be an option to just concatenating without any delimiter?

[2016-12-08 08:09] ruslantalpa commented on #766
@steve-chavez this is going to be a long post, i'll have a potato at the end for you :)
Also don't consider this as a "no, this will never happen" but a debate to the merits of the idea, the usecases it enables and the costs/tradeoffs. Also, as the saying goes, the views are my own and not PostgREST (community/leadership/ownership however you want to call it)

In terms of rules for adding new feat

[2016-12-08 18:13] ruslantalpa commented on #766
@steve-chavez have you tried requesting only that column and specifying that you want the reply in csv format? Don't you get in that case exactly the thing you want?

[2016-12-09 20:12] tocttou opened #770 "Documentation Update: user passwords given out on GET request"
In docs for ["Multiple Tables Insertion or Update"](http://postgrest.com/api/writing/#multiple-tables-insertion-or-update), the view is created as:

[code]

This view is exposed using the `/signup` endpoint and it would give out `u.pass`, but `u.pass` is required to be in the view if we have to update that field.

Would it be better to use some other example in the docs or probably replace it with

[2016-12-09 21:05] begriffs commented on #770
Thanks for reporting the problem. Those docs will soon be replaced by https://postgrest.readthedocs.io/en/v0.4/

I have intentionally omitted some of the more tricky auth examples in the new docs so that we can add them later after more careful testing. I welcome your help as we develop the new auth docs.

I'll switch the domain postgrest.com to point at the new docs after the 0.4 release (see [mi

[2016-12-10 06:16] steve-chavez commented on #766
If the request is made specifying csv format it also includes the name of the column as a header so it's not exactly what I want, still requires custom proxy logic to strip the first line, having said that I totally get your point in that my particular use case doesn't merit being a new feature in postgREST seeing that I'm the only user that requested this and that there's a workaround.

So I'll f

[2016-12-10 06:16] #766 closed

[2016-12-10 09:31] ruslantalpa commented on #766
@steve-chavez
plurality-singular is not being removed, it will be just another way to specify it using  the Accept header.
About the csv thing, it seems there is a very small step needed for your usecase.
I think the implementation is very simple, it might be beneficial to other users too, maybe you should implement that:

something along the line of what the current prefer singular discussion, i.

[2016-12-10 09:34] ruslantalpa commented on #766
you would need to add a custom accept content type https://github.com/begriffs/postgrest/blob/master/src/PostgREST/ApiRequest.hs#L61
then based on that type have this function skip the header
https://github.com/begriffs/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L430

(but wait a bit before the current PRs are merged, me and @begriffs will need to touch a few core files)

[2016-12-10 11:32] briviere opened #771 "Calling Stored Procedure"
Hello

I have the following stored procedure I've created:

[code]

Using Postman I call it as follows:

POST /rpc/json_merge

[code]

Postgrest returns the following:

[code]

thanks

Brian

[2016-12-10 18:03] begriffs commented on #771
I wonder whether you're posting that json object, or actually a string containing the json object. Sometimes client-side libraries enclose the payload in quotes.

Look at the end of the error message for instance: `4\\n\\t}\\n\\n\"`. It has an escaped quote. You can use `ngrep` to verify exactly what string is being sent over the network, more info about that here https://postgrest.readthedocs.io/

[2016-12-10 18:06] begriffs commented on #771
Oops, just noticed the discussion on gitter.

[2016-12-10 19:04] briviere commented on #771
I was sending Content-Type: text/csv which was casuing the issue.  Changing Content-Type: application/json resolved the issue.

[2016-12-10 19:04] #771 closed

[2016-12-11 04:49] diogob commented on #545
I'd say that details and hints as optional. This would make this behaviour not a bug, but something that could be enhanced in cases where a more suitable error can be devised.
I suggest we close this bug and reopen specific enhancements for messages we find appropriate.

[2016-12-11 05:04] begriffs commented on #545
Sounds good.

[2016-12-11 05:04] #545 closed

[2016-12-11 11:30] tocttou opened #773 "Use JWT through cookies instead of Bearer scheme in headers"
I could not find a way in documentation to use JWT authentication using cookies instead of the Bearer scheme in headers which requires you to store the JWT in localStorage (which can be a fatal in case of an XSS vulnerability). For reference: [Where to store JWTs]( https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage).

This would require recognising the token as:

[cod

[2016-12-11 11:33] SebAlbert commented on #773
Seems like a perfect fit to rewrite this in the reverse proxy layer. nginx, apache etc. are all able to read and write HTTP headers while proxying a request.

But, how are Cookies less vulnerable to XSS than localstorage?

[2016-12-11 11:53] tocttou commented on #773
Using a reverse proxy is a fair point, thanks. But it would be better if this could be integrated in the main project as it is a valid use case and easy to implement (probably).

[2016-12-13 09:27] isairz opened #774 "Patch pg array doesn't work"
I'm tring to apply this nice project to my admin page.
My db has pg array for store tags.

The following code is minimal case and result to use pg-array (character varying[])

PATCH /posts?id=eq.1234
[code]
Error Result
[code]

I found a workaround using pg array representation
PATCH /posts?id=eq.1234
[code]

The pg-array style is right way? Or do you have any plan to fix?
If pg-array style is rig

[2016-12-13 15:58] begriffs commented on #774
Cool workaround, good to know that works. Another workaround is to use json or jsonb in the column rather than a postgres array.

[2016-12-14 17:18] purpleKarrot opened #775 "CSV response of bulk insertion contains too many headers"
I want to get list of created ids in csv format:

[code]

And I get the following back:

[code]

While it really only returns the ids as requested, there are some additional headers.

(I use the begriffs/postgrest docker image)

[2016-12-14 18:13] begriffs commented on #775
What are the other response headers that you want to remove?

[2016-12-14 18:21] purpleKarrot commented on #775
It is not about http response headers. It is about the CSV headers (the
first line in the response body). I expect it to contain just "id" in this
particular case.

On Wed, Dec 14, 2016, 19:13 Joe Nelson <notifications@github.com> wrote:

What are the other response headers that you want to remove?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2016-12-14 18:31] begriffs commented on #775
I see now, totally understand. Yeah that's a bug.

[2016-12-15 02:15] hugomrdias commented on #774
I ran into the same issue with rpc
Using an array inside JSON for a parameter with an array type doesn't.
The workaround above also works but it's a bit strange to use, I need to stringify an normal array to the pgsql syntax.
@begriffs would you consider supporting arrays?

[2016-12-15 02:31] begriffs commented on #774
I think it's ambiguous when you post

[code]

whether it is destined for a function taking a postgres array for its argument named foo, or whether the argument is of type json. If you guys can think of a way to disambiguate it then I'm happy to accept a pull request.

[2016-12-15 11:57] hugomrdias commented on #774
if i set the param foo to JSON or JSONB and send

[code]
it errors out with "there is no function( foo TEXT)

[2016-12-16 02:38] isairz commented on #774
I want just to notice. (but i found duplicate issue #282, sorry)

I think this workaround is strange, but not very strange because PostgreSQL has same syntax to represent array. My admin page already had perprocessor that convert comma separated string to javascript array. so I just change target to pg array. I think it will be easy to use preprocessor in many cases.

What just confused me is that

[2016-12-16 02:38] #774 closed

[2016-12-16 04:37] NikolayS commented on #753
Hi, we have the same issue.

In my case, frontend developer was very confused after he saw JSON object in the reponse's body, not an array. He passed a single JSON object to the POST request. I suspected that to have an array the response, he just needs to add `[ .. ]` (use JSON array in request). But it didn’t help — if we pass JSON array but with single method, response has single JSON object, n

[2016-12-16 04:41] NikolayS commented on #753
Also, I noticed two more "maybe-inconsistent" things:

 - PATCH of single row returns JSON array, although I requested to update single row (using PK). Again, maybe it's OK, because it's predict -- frontend code might have no idea, what are PK/UKs at all;
 - PATCH returns empty array if no rows affected, at the same time, DELETE returns empty **body** (not empty JSON array) if no rows affected - a

[2016-12-16 05:08] NikolayS commented on #753
_(notice: I edited my very first comment here, it was talking about PATCHes, not POSTs by mistake. Now it's correct)_

More about inserting (POSTs). If we use single JSON in the request, we would expect single row created (in case of success) and having single JSON object in the response.

But look at this example (yes it's ugly, but anyway): https://gist.github.com/NikolayS/61be5662e76277385234e3

[2016-12-16 06:04] begriffs commented on #753
Sorry for the inconsistency. Here's my proposal:

* If the request specifies `Accept: application/vnd.pgrst.object` (or whatever mime type we end up choosing in #763)
  * If the response would have been a singleton array
    * respond with single JSON object
  * Else
    * respond with HTTP 406 (Not Acceptable) and roll back the transaction for updated rows
* Else if `application/json` or no Accep

[2016-12-16 06:35] NikolayS commented on #753
Looks good!
And what about cases when no rows affected? Currently, as I mentioned above, we have in such cases:
 - PATCH returns empty JSON array if no rows affected, at the same time,
 - DELETE returns empty http body (not an empty JSON array)

For POST, it's also theoretically possible that no rows will be inserted – consider a "before" trigger that doesn't pass NEW record further:
[code]

It wo

[2016-12-16 17:31] #718 closed

[2016-12-16 23:45] begriffs commented on #753
Good question about the zero-row responses. Here's what I'm imagining:

* Requesting `application/vnd.pgrst.object` returns http 406 when response has zero rows.
  * Also have `vnd.pgrst.object` fail for any number of updated/deleted rows (even exactly one row) when request lacks an accompanying `Prefer: return=representation` because a blank result is not an object.
* Requesting `application/json

[2016-12-17 01:25] NikolayS commented on #753
Currently, if you try to delete or update a non-existing row, you receive 404 Not Found. This is straightforward and reflects the fact that what are you trying to find doesn't exist.
406 code will conflict with this logic, right? From API user's point of view, 404 looks like more expected code when smth is not found.

BTW, it doesn't directly relates to this discussion, but it seems that I found a

[2016-12-17 01:26] NikolayS commented on #753
The same for PATCH – when we have `permission denied for relation...` response, it's also with 404 code.

[2016-12-17 01:28] NikolayS commented on #753
Oh, 404 issue is described in #575 already.

[2016-12-17 01:37] NikolayS commented on #575
The same for DELETE:
[code]

I believe that 403 Forbidden is the most suitable http status code here.

I remember some discussion (in gitter?) with ideas that 404 here would help to hide details to improve security things, BUT:
 - current approach reveals a lot of details anyway (in response's body)
 - I'd leave the task of hiding smth on admin's shoulders, maybe describing best practices in Postg

[2016-12-17 01:41] NikolayS commented on #765
For those who encountered with this and cannot (or don't want) switch to HEAD version, another quick solution can be increasing nginx buffer sizes to allow long headers.

[2016-12-17 02:08] begriffs commented on #575
You're right, we originally thought 404 would help hide resources from unauthorized people probing routes to learn the schema structure. But like you pointed out the response body kind of gives it away! 😛 So using the correct HTTP code for a denied request seems like the best bet.

[2016-12-18 23:46] #746 closed

[2016-12-20 09:10] tnhu opened #776 ""Prefer: plurality=singular" does not work with /rpc"
I found that setting header "Prefer: plurality=singular" actually not working for /rpc call.

[code]

[code]

[code]

**Expected**:

[code]

[2016-12-20 09:16] ruslantalpa commented on #776
Is this in 3.2 or master
I think in master you would have gotten
[code]
without the prefer header

[2016-12-20 09:27] tnhu opened #777 "Empty body is enforced when calling a non-parameterized rpc?"
I'm not sure if this is a feature or a bug. When making an rpc call to a store procedure which does not accept parameters, I have to pass an empty body, otherwise, Postgrest returns an exception.

[code]

This works fine (empty body passed by `-d '{}'`):

[code]

This does not:

[code]

[code]

[2016-12-20 16:41] tnhu commented on #776
@ruslantalpa I'm in 0.3.2.0/Mac El Capitan (installed from brew). Will try to build from source/master to see how it goes.

[2016-12-20 17:05] begriffs commented on #777
I verified this happens on master too. Strictly speaking an empty string is not json and you claimed the content type of the post body to be json... but I verified that it happens even when the content type is not specified. Maybe we should add a special case for an empty post body.

[2016-12-20 17:07] begriffs commented on #776
FYI, the docs for this unreleased version are at https://postgrest.readthedocs.io/en/v0.4/

They have updated instructions for running the server etc.

[2016-12-20 17:56] ruslantalpa commented on #777
I think from a convenience point of view, "" should be equal to {} in the context of RPC body, could be labeled as a bug

[2016-12-20 18:22] tnhu commented on #776
@begriffs Thanks for the info. It was not straightforward to build from source (under MacOS, and I'm not familiar with Haskell). The following instruction did not work right away.

[code]

Couple of issues:

```stack build --install-ghc```

***Error***: `dyld: Library not loaded`, fixed by `brew install gmp`

```sudo stack install --allow-different-user --local-bin-path /usr/local/bin```

***Error

[2016-12-20 19:01] begriffs commented on #776
Thanks for letting me know about the install difficulties. Not sure why it wants nix, that's weird. But I'll look into this in the next few days and improve the docs.

[2016-12-20 19:28] krakrjak commented on #765
I tried going straight over to 0.4 to get ready for the release and I fell into a can of worms around the new jwt handling.

So to this specific issue I tried what @ruslantalpa suggested, with a twist. I went ahead and took my working 0.3.2.0 tag based branch and backported the one liner. From a clean clone:

[code]

This worked for me. A minimal amount of columns were returned in the Location hea

[2016-12-23 03:01] felixonmars opened #778 "Support optparse-applicative 0.13"
Hi,

I noticed the constraint added in #752. Would it be possible to support optparse-applicative 0.13?

[2016-12-23 06:46] begriffs commented on #778
Sure, but it'll involve a code adjustment to deal with the breaking changes of 0.13. I'll look into it after the next major postgrest release which is coming soon.

[2016-12-23 06:49] felixonmars commented on #778
That's great to hear! We'll wait for the next major release to add into Arch Linux's official repositories then. Thanks!

[2016-12-23 07:08] begriffs commented on #778
Much appreciated!

[2016-12-23 11:07] FGRibreau commented on #660
@dev10 @cristomanuel could you give us more details about how you did this? I have the same issue as @Orbmancer and would really like to use postgrest with auth0 :)

[2016-12-23 16:43] begriffs commented on #660
@FGRibreau the code on master (soon to be v0.4) has a configuration flag to indicate whether the jwt secret is encoded in b64. Here's a section in the new docs about Auth0 - https://postgrest.readthedocs.io/en/v0.4/auth.html#jwt-from-auth0

[2016-12-23 17:36] statik commented on #660
Auth0 has also recently made a change (Dec 6 2016) to stop encoding new secrets as Base64, which makes them much easier to work with. If you have an existing endpoint you will need to rotate the secret in order to get a non-encoded one. https://auth0.com/forum/t/client-secret-stored-without-base64-encoding/4338/1

[2016-12-24 05:28] ranjanprj opened #780 "Something went wrongHTTP/1.0 500 Internal Server Error"
First this is great work so thank you.
I'm using Postgrest on AWS and I am encoutering the following message intermittently.

1. This happens when I put a wrong query at the end such as "count"
api/authors?email=eq.someone@gmail.com&**count**
2. After I leave the server running overnight and try to login again, again I encounter the problem.

Current solution is to terminate the Postgrest process

[2016-12-24 16:26] begriffs commented on #780
Thanks for reporting, I haven't seen this bug before.

Some questions to help debug:

* How often would you say the error happens? Is it most requests or pretty rare? Are certain requests more prone to it, or does it happen about equally for any kind of request?
* Are you able to examine the CPU and memory usage on the machine?
* Anything funny in the postgresql logs at around the times of the err

[2016-12-24 16:48] ranjanprj commented on #780
I will work on the logs and mem.

It happens if I do not query the server for few hours, I am suspecting
session timeouts.

This happens both in my local VM 2GB ram and AWS 1 GB ram with only
Postgres running.

Plus it happened when I put "count"  in from entity in URL

Like API/employees?count

On 24-Dec-2016 9:56 pm, "Joe Nelson" <notifications@github.com> wrote:

[2016-12-25 19:07] ranjanprj commented on #780
Reproduced it again.
Left the server running for some time ( 4-6 hrs ) without making any requests, got the same error.

killall -HUP postgrest did not help.
Logs and mem/cpu on the server is fine, nothing out of ordinary.

[2016-12-25 19:38] steve-chavez commented on #775
This was already fixed by #769.

[2016-12-25 19:56] begriffs commented on #775
Nice! We should add a regression test for this particular issue, verify it passes, and then we can close this.

[2016-12-25 19:57] begriffs commented on #780
When you say you're using the latest release do you mean version 0.3.2.0 or a custom build from the master branch?

[2016-12-25 20:35] ranjanprj commented on #780
No, it's not a custom build, it's 0.3.2.0

On 26-Dec-2016 01:27, "Joe Nelson" <notifications@github.com> wrote:

When you say you're using the latest release do you mean version 0.3.2.0 or
a custom build from the master branch?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/begriffs/postgrest/issues/780#issuecomment-26

[2016-12-26 18:35] FGRibreau commented on #660
@begriffs @statik thanks a lot I refreshed the auth0 secret and it now work perfectly :+1:

[2016-12-27 03:14] NikolayS opened #781 "No errors when desc/asc ordering modificators are misspelled"
By mistake, I made a typo and wrote `...?order=mycolumn.dec` in API call – so basically I wrote `dec` instead of `desc`.

PostgREST accepted it, producing no errors... It did ordering with `asc`. This time I was lucky enough to quickly find that typo. But it potentially would be very hard to catch.

I expect that it should report, that only either `asc` or `desc` are accepted in that place.

[2016-12-27 03:28] begriffs commented on #781
Makes sense, could be annoying to track that sort of thing down otherwise.

[2016-12-28 02:48] ranjanprj commented on #780
This is recurring now consistently, is there a fix expected in coming release. Let me know

Thanks

[2016-12-28 03:46] begriffs commented on #780
I don't know whether it has been fixed in the new version because I never noticed it in the original. We'll be releasing v0.4 pretty soon and you can try that. If you want to try it early you can build the master branch of this repo from source. Here are the new docs that describe how to do that https://postgrest.readthedocs.io/en/v0.4/install.html#build-from-source

Also is there a way to modify

[2016-12-28 04:34] ranjanprj commented on #780
Yeah, I see that no one has reported this earlier, so it's a bit perplexing,  will wait for the new release.
Thanks again.

[2016-12-29 01:10] begriffs commented on #724
Can you spy on the HTTP traffic for me and see if there is any difference in the requests? Try the `ngrep` instructions in the new docs - https://postgrest.readthedocs.io/en/v0.4/admin.html#debugging

[2016-12-29 06:15] wallaceicy06 commented on #742
+1 to this fix. I personally ran into this issue when trying to up postgrest using docker-compose. Because the database had not yet become healthy, postgrest never was able to serve requests even after the database did become healthy. The solution for me was to up the database before running docker-compose, but I can see this being an issue should my database randomly decide to go down at any othe

[2016-12-29 11:41] ruslantalpa commented on #742
@wallaceicy06 you could build your own postgrest image based on the official one and control the startup with an entry script that basically does what this article suggests in the example
https://docs.docker.com/compose/startup-order/
the downside psql brings in a lot of dependencies and the container size is bigger.

[2016-12-29 17:10] jmealo commented on #670
@rkoberg: I second @begriffs about using `WITH RECURSIVE` these blog posts could prove helpful:
- http://gbif.blogspot.com/2012/06/taxonomic-trees-in-postgresql.html
- http://schinckel.net/tags/tree/

[2016-12-29 23:44] tnhu commented on #724
@begriffs I could not reproduce the issue after restarting my mac. Will post the HTTP traffic if I encounter the issue again.

[2016-12-30 00:10] begriffs commented on #724
I'd still be curious to see if there is any difference in the HTTP requests in node vs curl. Even if you can't reproduce the problem for a while, the traffic dump can help us get a head-start thinking about the cause.

[2016-12-30 00:53] tnhu commented on #724
Make sense. Here you go:

[code]

[response-axios.txt](https://github.com/begriffs/postgrest/files/678109/response-axios.txt)
[response-curl.txt](https://github.com/begriffs/postgrest/files/678110/response-curl.txt)

<img width="829" alt="diff" src="https://cloud.githubusercontent.com/assets/30633/21557876/2318b2e2-cde7-11e6-902e-963d4f3dcd24.png">

[2016-12-31 01:47] ranjanprj commented on #780
Ah I figured it out , it was my ssh terminal session timeout causing the issue. Using "screen" command before postgrest did the trick. Closing this and wishing you happy new year.

[2016-12-31 01:47] #780 closed

[2016-12-31 02:28] begriffs commented on #780
Happy new year!

Should we mention the issue of terminal session in the docs? I wonder if piping the output of postgrest to the syslog and backgrounding the process would accomplish the same thing.

[2016-12-31 03:00] ranjanprj commented on #780
It would be better for the new community members as I was doing this
primarily on AWS and thought the issue was with postgrest. so yes please if
you can.
Thanks

On 31-Dec-2016 7:58 AM, "Joe Nelson" <notifications@github.com> wrote:

[2017-01-01 01:49] witkamp commented on #756
We use the PostgREST nix package as well and would like to see the constraint fixed.
Are you expecting to do this after v0.4?

[2017-01-01 02:00] tomberek commented on #756
https://github.com/NixOS/nixpkgs/pull/20884

Any help on fixing it or making it more tobust would be appreciated.

On Sat, Dec 31, 2016, 20:49 Theodore Witkamp <notifications@github.com>
wrote:

We use the PostgREST nix package as well and would like to see the
constraint fixed.
Are you expecting to do this after v0.4?

—
You are receiving this because you authored the thread.
Reply to this email

[2017-01-08 17:09] Sigura opened #783 "question: about login process (secret for jwt.sign)"
build postgrest from master because pre-request needed for security

If I'm understand correctly now login result does not decrypt to token response automatically.

and constructions like this needed:

[code]

could you please describe way how I can avoid keeping secret in sql?

maybe secret available as `current_setting`?

ps: sorry I have no Haskell experience.

pps: and thank you for your wonde

[2017-01-08 18:03] ruslantalpa commented on #783
you can run this query manually once
[code]

then your function will be

[code]

[2017-01-08 18:29] Sigura commented on #783
custom_variable_classes disappeared in 9.2,

https://www.postgresql.org/docs/9.3/static/release-9-2.html#AEN117369

now error: `ERROR: unrecognized configuration parameter "jwt_secret"`

works without exception: `alter database taxliencloud set app.jwt_secret to '!!secret!!';`
but empty for `select current_setting('app.jwt_secret')`

((((

[2017-01-08 18:34] Sigura commented on #783
works well:

[code]

[2017-01-08 20:03] ruslantalpa commented on #783
(close pls)

[2017-01-11 16:26] ldesgoui opened #784 "OpenAPI Suggestion: do not set .host when serving over *4, !4, *6 or !6"
Hello,

It might come from my inexperience in networking, but setting the config's `server-host` value to anything other than a bindable, local address fails (as per expected, I guess), this means that the OpenAPI `.host` value returned always results in a local address, making it impossible to use with online tools.

I suggest to remove the field when the config's `server-host` value is set to th

[2017-01-11 17:09] ruslantalpa commented on #784
that setting is meant to specify the ip address postgrest should listen not, it's not a setting for openapi.

in order of external tools to access your local running postgrest, that ip needs to be public on the internet

if you need openapi response to have something else then the ip that postgrest listens on, you can use server-proxy-uri

(if it does not work, post your complete config here)

[2017-01-11 17:34] ldesgoui commented on #784
Oh wow, my bad, I had looked at the option but failed to understand. Thanks !

[2017-01-11 17:34] #784 closed

[2017-01-11 18:02] begriffs commented on #784
In your opinion are the roles of these config parameters explained clearly enough in https://postgrest.readthedocs.io/en/v0.4/admin.html ?

(I know these docs are not yet advertised so you perhaps did not see them, but I'd like your opinion about the clarity of the docs.)

[2017-01-11 19:23] ldesgoui commented on #784
Oh, I had no idea of these existing, I only knew from the `--help` option of the binary. I think it could be good to link the config documentation there.

The docs themselves seem to be explained clearly.

[2017-01-12 04:39] ranjanprj opened #785 "Rate limiting functionality"
Is there exists or plans of  any rate limiting functionality in postgrest. This will have good effects on security side of things as well.

P.S Keep up the awesome work.

[2017-01-12 05:26] jackfirth commented on #785
Just guessing at what the devs would say, but that's probably something that would be better done in a proxy. [This article](https://lincolnloop.com/blog/rate-limiting-nginx/) indicates it would only take one line of nginx configuration to add some naive rate limiting.

[2017-01-12 07:05] ruslantalpa commented on #785
@jackfirth  completely true. Out of curiosity, why is it "naive" rate limiting, is r/s + burst not enough in most of the cases?

[2017-01-15 23:41] samgaw opened #786 "GraphQL Proxy"
I remember seeing references to an Openresty proxy that was rewriting queries to/from GraphQL but I never had a chance to have a look at it properly.

Whats the latest with that? Has it disappeared in favour of a different approach?

[2017-01-16 04:26] ruslantalpa commented on #786
http://graphqlapi.com/graphql/ :)

[2017-01-16 05:59] samgaw commented on #786
Done :)

I found a Docker image that I pulled down, and quickly went through the config to see what it was doing and try to point it at my Postgrest instance but I'm not sure if everything is bundled in or if I'm just looking in the wrong place. Is the Lua lib called in graphql.conf missing?

[2017-01-16 06:09] ruslantalpa commented on #786
Just curious how did you get to those images, they are public for easier onbording but not very useful without documentation, and by config you mean you looked at the image at the openresty configuration files, right?

[2017-01-16 06:33] samgaw commented on #786
The URL you pointed me to calls the project sub0, and there's a public repo on Github that you committed to referencing the images in the README. But if I'm not supposed to see them, I'm happy to delete it image on my machine and wait patiently until it's _officially_ public 😇

But yeah, the Openresty graphql.conf is calling a Lua lib called sub0 that I can't find it to try to understand how it wo

[2017-01-16 06:55] ruslantalpa commented on #786
Well, the images are public, it's ok to see them, they will become "developer kit" images eventually.
The reason you do not see the sub0 lib is because you are not supposed to :) since that is the "value proposition", it's compiled into openresty directly.
PS: I sent you an invite (please close this issue)

[2017-01-16 07:55] #786 closed

[2017-01-16 23:11] #748 closed

[2017-01-17 00:00] begriffs commented on #783
I added the "alter database" trick as a note in the docs.

[2017-01-17 00:00] #783 closed

[2017-01-17 00:57] begriffs commented on #780
I added a note to the docs about it.

[2017-01-17 01:04] begriffs commented on #660
I updated the postgrest docs about auth0 to reflect the change.

[2017-01-17 02:07] #785 closed

[2017-01-17 04:33] begriffs commented on #776
I incorporated your suggestions into the docs. Thanks again for real!

[2017-01-17 05:53] jackfirth commented on #785
@ruslantalpa I was being a bit fast and loose with my words, that's a perfectly acceptable rate limiting scheme for most cases. In some cases (particularly when exposing an API to multiple different third parties) it can be combined with a client quota system, such that requests are tied to specific clients through API keys and clients are given a quota of X requests per hour / day / month / etc.

[2017-01-20 13:49] radiospiel opened #789 "documentation disappeared :("
@begriffs congratulations to your new release! Just as I wanted to start playing around with postgrest the website disappeared and postgrest.com always redirects to http://postgrest.com/en/v0.4/ now. This is unfortunate since the website had more examples to get me started than what is now visible here. I assume this is a result of the newly released version, but I hope to get back to a visible do

[2017-01-20 18:20] begriffs commented on #789
Sorry for the abrupt switch, didn't realize people would still want to consult the old docs.

The docs for v0.3 are still available at https://github.com/begriffs/postgrest-docs/tree/master/docs

[2017-01-21 18:17] RB14 opened #790 "OPTIONS no longer works in v0.4.0.0"
In the new version released yesterday, it doesn't seem possible to get the schema definition for a particular table/view using OPTIONS request.

It is possible to get the schema for the entire db by issuing a GET request on the root node, but that seems like an overkill, and too verbose.

It is still noted in the docs though, that OPTIONS is a valid verb.

Also, without OPTIONS, it doesn't seem po

[2017-01-22 07:00] begriffs commented on #743
(I updated the name just now)

[2017-01-23 03:11] begriffs commented on #531
@loama we now have a section in the docs about configuring and running the server, care to check it out and tell me what you think? http://postgrest.com/en/v0.4/admin.html

[2017-01-23 03:39] begriffs opened #791 "Malformed nested JSON error"
@diogob this one seems like your specialty, a bug whose solution involves a nice refactor.

`/foo?id=0` throws a weird parse error with json inside json:

[code]

One way to attack at the root of the problem is changing the type of `errResponse` in App.hs to take a structured error type rather than text. Something like

[code]

Then follow the type errors throughout app/querybuilder etc and then a

[2017-01-23 10:27] frafra commented on #278
I followed this discussion and at the end I decided to write [postgresql2websocket](https://github.com/frafra/postgresql2websocket); it is a working prototype based on triggers and pg_notify that can be used independently from the PostgREST (thanks begriff for this very nice piece of software).

[2017-01-24 22:11] shofetim commented on #474
I just tried v0.4 and was surprised by the move to _requiring_ a configuration file. It goes against the [12factorapp](https://12factor.net/config) best practices, complicates the deployment via docker/kubernetes etc. I've also always liked it that the postgrest was a self contained, relocatable binary with now setup.

Could we get back the ability to configure postgrest via the command line?

[2017-01-25 03:34] begriffs commented on #474
You're right that it's less convenient for Docker. You have to map the config file into the container. It's also more complicated in the Heroku buildpack which I still need to update for the new version.

Let me explain the reasons leading up to the switch and then we can figure out what makes sense to do.

Originally, as this issue testifies, people wanted to hide secrets from the process list. E

[2017-01-25 05:57] #789 closed

[2017-01-25 05:59] begriffs commented on #778
The release is out and new binaries are available at https://github.com/begriffs/postgrest/releases/tag/v0.4.0.0

Do Arch packages require building from source, or do one of those binaries suffice?

[2017-01-25 06:02] begriffs commented on #776
About the original question: version 0.4 is now released and supports singular responses for RPC. Thew new way to do this does not involve the Prefer header. Instead request with the `Accept: application/vnd.pgrst.object+json` header (the `+json` is optional). Let me know if this works for you.

[2017-01-25 06:05] begriffs commented on #751
Actually I'm closing this issue. We normally build with Stack. However if any Cabal users have problems don't hesitate to report the specific problem and we'll get it fixed.

[2017-01-25 06:05] #751 closed

[2017-01-25 06:05] begriffs commented on #764
This functionality is available in the new 0.4 release.

[2017-01-25 06:05] #764 closed

[2017-01-25 06:08] begriffs commented on #765
Thanks for the note. I wonder if I should start a branch to continue supporting the 0.3.x series, and use your backport for a 0.3.2.1 release. I'd prefer not to (would rather continue working ahead on 0.4 things) but if it's a major pain for people it's an option. Closing this issue for now.

[2017-01-25 06:08] #765 closed

[2017-01-25 06:11] #776 closed

[2017-01-25 06:12] begriffs commented on #773
@tocttou have you investigated doing the proxy thing? If so I'd love an nginx snippet to include in the docs.

[2017-01-25 06:14] begriffs commented on #770
Docs are now replaced on http://postgrest.com

Would love if you could look them over for any other security faults if you get the chance.

[2017-01-25 06:14] #770 closed

[2017-01-25 06:15] begriffs commented on #775
@steve-chavez ...looks like you're busy working on it. Thanks!

[2017-01-25 06:20] begriffs commented on #756
I released 0.4 binaries and pushed the cabal file to hackage. Is there something else I need to do inside the cabal file?

[2017-01-25 06:21] begriffs commented on #750
New release is ready! https://github.com/begriffs/postgrest/releases/tag/v0.4.0.0

[2017-01-25 06:21] #750 closed

[2017-01-25 06:26] begriffs commented on #757
Closing in favor of the more general fix described in #791

[2017-01-25 06:26] #757 closed

[2017-01-25 06:28] begriffs commented on #753
I believe the inconsistent responses are fixed in the 0.4 release. Please re-open if you find a problem.

[2017-01-25 06:28] #753 closed

[2017-01-25 06:30] felixonmars commented on #778
We will be building from source, thanks for the update :)

[2017-01-25 06:32] begriffs commented on #735
@fortm I added docs for you on how to get detailed SQL logs  - http://postgrest.com/en/v0.4/admin.html#debugging

Closing this issue as the original concern is addressed. Feel free to open more issues of course for separate concerns.

[2017-01-25 06:32] #735 closed

[2017-01-25 07:21] begriffs commented on #727
I tried compiling for Centos 5 tonight and it's not easy got a lot of things installed but having trouble with the cert CA.

[code]

[2017-01-25 07:23] begriffs commented on #724
Well I'm closing this issue for now. If it happens again then at least we have a place to begin debugging.

[2017-01-25 07:30] begriffs commented on #692
Did the raising a warning idea work?

[2017-01-25 07:35] begriffs commented on #691
@pib sorry for the delay on this, the upstream package cassava seems like it might be unmaintained or something. They aren't responding to my issue. I bumped it one more time. If we get no answer then it might be time to look for a replacement library.

[2017-01-25 07:36] begriffs commented on #684
(bump)

[2017-01-25 07:40] begriffs commented on #642
@ratheeshcitrus I notice you were using `db-pool 200` which exceeds the max connections of 100. Try lowering the value. Also try the new postgrest 0.4.

I'm closing this issue because it is old, but if you're still having the problem them please re-open it.

[2017-01-25 07:40] #642 closed

[2017-01-25 07:44] begriffs commented on #465
After reviewing this, I'm not sure how common the need is. It is also achievable with a stored procedure (documentation about how to call them is [here](http://postgrest.com/en/v0.4/api.html#stored-procedures)). So I'm closing this issue.

[2017-01-25 09:40] jwbrew opened #792 "Column restriction privileges require an explicit select param"
Firstly, hello! I've been watching & using postgrest for a few weeks now (and think it's utterly brilliant too, so thank you!) but this is my first issue.

I've been using GRANT SELECT (a, b, c) ON x to restrict data visibility based on user roles. In order to perform a successful get on this table it requires the app consuming the resource to know which columns it has permission to access and exp

[2017-01-25 09:47] jwbrew commented on #792
Just for a little more context; we have a table containing sensitive user data that needs to be available to an appropriately authorised user, but also available to an anonymous user, with the sensitive data stripped. I've tried doing this with multiple views, but I find myself prefixing views with anon_ and user_ which seems counter intuitive.

[2017-01-25 10:30] ruslantalpa commented on #792
@jwbrew You either document your public API and say:
make a request and specify &select param (/items?select=a,b,c)
and whoever does a (/items) will get an error

or you put a proxy in front of postgrest and whenever an unautheticated  request comes in without a select parameter, you force a default value

[2017-01-25 11:22] jwbrew commented on #792
Makes sense, thanks @ruslantalpa :)

[2017-01-25 16:45] pib commented on #691
@begriffs Thanks for the update! I've managed to work around this issue any time I've run into it, but it does seem to come up at least once every time someone new writes some code that pushes data into one of our PostgREST services :D

[2017-01-26 01:36] uniphil commented on #776
Then the [0.4 docs are out of date](http://postgrest.com/en/v0.4/api.html#singular-or-plural); they still specify the `Prefer: plurality=singular` header, so I think this issue is still not resolved, or maybe another should be opened for the bad docs?

[2017-01-26 06:01] begriffs commented on #790
Yeah you're right, OPTIONS no longer provides API documentation about a route. However it is still a supported verb and responds with CORS and Allow headers.

The API information has been moved to the OpenAPI description available at the root path. Foreign key information is not yet included in the OpenAPI output though. That will have to be a later feature.

Are you working on a front-end admin p

[2017-01-26 21:48] steve-chavez commented on #775
@begriffs The regression test was included in the #779 merged PR, in https://github.com/begriffs/postgrest/pull/779/commits/4a3852fbd5f5178e724d5b18d19c9b7afcd51154, this issue can be closed.

[2017-01-26 21:59] begriffs commented on #775
Oops, I overlooked that.

[2017-01-26 21:59] #775 closed

[2017-01-27 07:09] tocttou commented on #773
Hello

Yes I was able to get it working using [lua-nginx-module](https://github.com/openresty/lua-nginx-module) to rewrite the request.

If your Postgrest API server is on `http://localhost:3000` and your Nginx Proxy is on `http://localhost:3001`, you can use this nginx proxy config and make request to your nginx proxy with a cookie `access_token` that contains the jwt (it rewrites the headers to

[2017-01-29 02:08] begriffs commented on #765
@krakrjak I can create a 0.3.x branch off of e842667 (the place where the v0.3.2.0 tag points). Then you can open pull requests against this branch. When you're happy with the features on this branch I can build binaries for the various platforms tag future 0.3 releases on the branch.

Sound good?

[2017-02-01 02:37] diogob commented on #791
@begriffs nice one! I'll work on this :D

[2017-02-01 20:45] PierreR commented on #778
v.0.4 is still contraining `optparse-applicative` < 0.13.0.0 which mean `postgrest` won't appear in the next stack `LTS-8`  that should be released in a week or so.
Can I try and help on this issue ?

[2017-02-01 22:43] PierreR commented on #778
I have just realized that `postgrest` is not on stackage ... so the urgency point is just moot.

[2017-02-02 02:21] tedkornish commented on #781
I'd like to take a stab at this one. The request should probably respond with a `400 Bad Request` and maybe a plaintext payload like:

[code]

[2017-02-02 14:45] PierreR commented on #756
I don't know about `darwin` but I have managed to build ` posgrest` on linux with nix.
To make it work, you need to use the nixpkgs unstable channel. If you don't wait a couple of days, you might need to "import" this fix: https://github.com/NixOS/nixpkgs/commit/f08bbb90c0e55a7e36751d0d139fd16bd47af58f

I have a release.nix file that looks like this:
[code]
I haven't managed to get the test suite

[2017-02-02 14:49] PierreR commented on #756
@begriffs what needs to be done in the postgrest cabal file is to declare the system dependency on `psql` for the test suite.

[2017-02-02 15:31] PierreR commented on #756
As an extra note, I guess the process will fail again when nix will switch to `LTS-8` because of the contraint on  optparse-applicative (#778)

[2017-02-02 15:37] PierreR commented on #778
@begriffs let me know if you need some help regarding this issue. Maybe you maintain a branch that has already incorporated such changes. If you haven't done any work on this, I am willing to give it a shot in a couple of days).

[2017-02-02 15:40] begriffs commented on #778
Sorry for the delayed response. I'd love some help upgrading optparse-applicative if you want to give it a shot.

[2017-02-02 15:46] begriffs commented on #781
Thank you, I'd appreciate your help with this one! If you run into problems feel free to open a pull request with what you've got and we can discuss it from there.

As for the error message, we usually try to return a json object with fields:

* message (required)
* details
* hint
* code

You could put the string you suggested into message, and maybe mention the correct possible values in the hint

[2017-02-02 15:53] begriffs commented on #756
If the psql dependency causes a lot of problems we could have Haskell run the sql commands directly. Pretty easy to do in SpecHelper.hs, a little harder in create_test_db  and destroy_test_db because they would need to be rewritten in Haskell.

[2017-02-02 18:24] ruslantalpa commented on #756
all haskell libs will still require libpq which essentially is the same thing as requiring psql, might as well keep it simple

[2017-02-03 15:51] tomberek commented on #756
https://github.com/NixOS/nixpkgs/pull/22407

[2017-02-03 18:00] #778 closed

[2017-02-03 21:27] begriffs commented on #777
Tentatively labeling this as a good issue for new contributors as well if it's a matter of detecting and replacing an empty post body for the RPC route.

[2017-02-03 21:44] begriffs commented on #575
In v0.4 it now returns 401 when no JWT credentials are supplied and 403 when credentials are supplied but the user is not authorized.

[2017-02-03 21:44] #575 closed

[2017-02-03 21:46] begriffs commented on #548
Haven't looked at this issue for a while... is it fine to close now?

[2017-02-03 21:48] begriffs commented on #540
Note there is more documentation now about debugging server problems - https://postgrest.readthedocs.io/en/v0.4/admin.html#debugging

[2017-02-03 21:51] begriffs commented on #456
This issue has become very broad. Quite likely much of it is solved in the 0.4 release. I'm closing it, but feel free to open new issues for specific items.

[2017-02-03 21:51] #456 closed

[2017-02-03 22:00] begriffs commented on #493
Confirming that in v0.4 patching with `{}` still returns 400 with

[code]

The correct response is probably 204 like @ehamberg suggests (or 200 and `[]` if `Prefer: return=representation` was requested).

[2017-02-03 22:01] begriffs commented on #455
Closing the issue here as it is a matter of documentation. Feel free to open doc questions on https://github.com/begriffs/postgrest-docs

[2017-02-03 22:01] #455 closed

[2017-02-03 22:03] begriffs commented on #436
Please try with the [new release](https://github.com/begriffs/postgrest/releases/tag/v0.4.0.0) and re-open the issue if you have problems.

[2017-02-03 22:03] #436 closed

[2017-02-03 22:05] begriffs commented on #351
Pretty sure this has long been fixed. Re-open the issue if you have the same trouble on v0.4.

[2017-02-03 22:05] #351 closed

[2017-02-03 22:07] #292 closed

[2017-02-03 22:08] begriffs commented on #196
I think people have successfully hooked up Github logins to PostgREST via Auth0 and JWT. I don't have documentation about it though.

[2017-02-03 22:08] #196 closed

[2017-02-03 22:15] begriffs commented on #437
So I looked at json-api more. I can see how it's nice that other tools support it, but I don't have enough interest in it personally to do the work to add this feature. We have OpenAPI support which is already a well-recognized standard description format. I'd consider  merging a PR though if someone else wants to put in the work.

[2017-02-04 00:10] begriffs commented on #765
OK, the [0.3.x](https://github.com/begriffs/postgrest/tree/0.3.x) branch is ready for your pull request(s).

[2017-02-04 00:57] begriffs commented on #278
@frafra looks great, I added it to the ecosystem page of the postgrest docs!

[2017-02-04 08:18] tomberek commented on #756
@PierreR I ran into the same issue with swagger2 (dontHaddock). Can you review/check out the PR on linux?

[2017-02-04 15:15] PierreR commented on #278
Correct if I am wrong but I believe what @frafra implements is the conflated features discussed in this thread.

Anyhow this recent attempt looks quite interesting: https://github.com/ocharles/streaming-postgresql-simple

Maybe it could be adapted to `hasql` ?

[2017-02-05 18:49] begriffs commented on #278
I classified postgresql2websocket under the External Notification category of the ecosystem. Seem accurate? https://postgrest.readthedocs.io/en/v0.4/intro.html#external-notification

Also you could open an issue on Hasql to discuss the streaming feature.

[2017-02-05 18:52] ruslantalpa commented on #278
@begriffs no need to open issues with hasql
https://github.com/nikita-volkov/hasql-cursor-query
https://github.com/nikita-volkov/hasql-cursor-transaction

the ball is in postgrest court :)

[2017-02-05 19:05] begriffs commented on #278
Ah nice.

I am cautious about holding cursors open for long-running connections though because each one holds server resources and can interfere with vacuuming the db.

[2017-02-07 06:45] TNTest opened #796 "Startup too long when connecting postgresql behind pgbouncer"
My envirement is something like this:

postgrest  -->  pgbouncer  --> postgresql

My startup script:
[code]
After 8~12s passed, the rest api is ready to go. Why it takes so long?  (Connecting another

postgresql directly is less than 1s)
Since no log output,  I tried using strace to determine the problem.  Many poll calls timeout. I am not sure it is the problem.  Please see the attachment:

[post

[2017-02-07 07:37] ruslantalpa commented on #796
First make absolutely sure that the problem is pgbouncer and not your database schema, i.e. first point postgrest to pgbouncer that is connected to postgresql, then point postgrest directly to the exact same database. Once you confirm that it's pgbouncer, try this.

connect manually (psql or something) to pgbouncer, and execute queries one by one from this file https://github.com/begriffs/postgres

[2017-02-07 10:19] TNTest commented on #796
Yeah. U r right.  It's nothing about pgbouncer.  I tried to connect same db without pgbouncer,  as slow as before.
And yes I have many tables/views,   10w+ totally (100+/user, 1000+ users).
I tried several queries you metioned above are slow(>2s).
So Startup process costs 10~12s is expected according to my db?

[2017-02-07 10:33] ruslantalpa commented on #796
yes, that is expected. You do not have a usual setup (db with thousands of schemas and tables)
It is possible to overcome this problem but you'll have to build your custom postgrest from source

the trick is this:
a) create a materialized view for each of those queries
b) change the postgrest source to execute `select * from someview` instead of running the query directly

this will make the start

[2017-02-07 15:00] sushant12 opened #797 "Running postgrest in production mode"
According to this [doc](http://postgrest.com/en/v0.4/admin.html#hardening-postgrest) I have made changes in my nginx conf file. Now I want to run my postgrest app, and I can do that by running `./postgrest postgres://postgres@localhost/catarse_development -a anonymous --jwt-secret gZH75aKtMN3Yj0iPS4hcgUuTwjAzZr9C -s 1 -p 3004` . When the ssh session is closed, the server will also stop itself. How

[2017-02-07 16:21] begriffs commented on #797
There is a note here about keeping the server from stopping, let me know if it helps - http://postgrest.com/en/v0.4/admin.html#running-the-server

[2017-02-07 16:24] begriffs commented on #797
Also the way you're passing command line arguments looks like you're using version 0.3.x, have you looked into v0.4 yet? It has a lot of improvements.

[2017-02-08 01:33] TNTest commented on #796
Well, we built multi-tanency solution by schema isolation here, that's why we have so many tables in one db.

Thanks for your advise, I will have a try later.

[2017-02-08 02:16] sushant12 commented on #797
@begriffs yes I am using v0.3.x :) . For now, I will not be able to use the latest release until I test everything out so I will be sticking with the old release.

Is the doc same for the v0.3.x as well? I have made changes to my nginx conf file and will that be valid for the old release?

And about running postgrest in production mode. After I ssh into my server do I run this `./postgrest postgre

[2017-02-08 02:31] sushant12 commented on #797
@begriffs I have used some arcane password for my database like $%$&*09 (example pass) and after I run `./postgrest postgres://postgres@localhost/catarse_development -a anonymous --jwt-secret gZH75aKtMN3Yj0iPS4hcgUuTwjAzZr9C -s 1 -p 3004`  I get `*09@localhost/jvn_production: No such file or directory`

[2017-02-08 03:14] begriffs commented on #797
You'll probably want to single-quote the connection string to prevent the shell from interpreting the weird characters. Like `./postgrest 'postgres://...etcetc' -a anonymous ...etc`.

One benefit of the 0.4 version is that these strings are in a config file and do not need to be quoted, but quoting will work fine for you.

[2017-02-08 15:45] sushant12 commented on #797
@begriffs I am lost. In the dev env, I was able to run like this `./postgrest postgres://postgres@localhost/catarse_development -a anonymous --jwt-secret gZH75aKtMN3Yj0iPS4hcgUuTwjAzZr9C -s 1 -p 3004`

now in the prod env , if I run it like this `./postgrest postgres://postgres@localhost/catarse_prod -a anonymous --jwt-secret gZH75aKtMN3Yj0iPS4hcgUuTwjAzZr9C -s 1 -p 3004` I get
[code]
so I again t

[2017-02-08 15:46] sushant12 commented on #797
@begriffs  I downloaded the latest release and ran it but my application breaks when using the latest release so I will be using the old release

[2017-02-08 16:08] begriffs commented on #797
The special characters in the password are confusing postgresql. For instance the `@` usually goes between password and hostname, and you have two of them. The solution is to percent encode the password as suggested in http://stackoverflow.com/a/23361849

(Also the unix shell thinks `$` is the beginning of a variable name because you are using double quotes rather than single quotes around the str

[2017-02-08 16:23] sushant12 commented on #797
@begriffs Thanks a ton mate.

[2017-02-08 16:32] begriffs commented on #797
No problem. Also if you'd rather you could use the keyword/value style connection string rather than the a connection URI style - https://www.postgresql.org/docs/9.6/static/libpq-connect.html#LIBPQ-CONNSTRING

`./ postgrest 'host=localhost port=5432 dbname=mydb' ...`

Either style works, it's up to you.

[2017-02-08 16:44] sushant12 commented on #797
thanks man, you are very helpful

[2017-02-08 17:13] sushant12 commented on #797
@begriffs now my postgrest is running, however, it is not accepting any connections. I ran my postgrest like this

`./postgrest 'postgres://test:%24u%24h%40%26Tb129.0@localhost:5432/test_production' -a anonymous --jwt-secret gZH75aKtMN3Yj0iPS4hcgUuTwjAzZr9C -s 1 -p 3004`

I ran netstat -na and found this

[code]

I had previously made changes to my nginx conf file by looking in [this](http://postg

[2017-02-10 00:39] #797 closed

[2017-02-10 12:07] tjunussov opened #800 "Access HTTP headers inside PSQL"
Like in Oracle PL/SQL via UTL_HTTP.GET_HEADER,  Is it possible to pass all header information to access them via psql function, smth like :
[code]

[2017-02-10 13:09] PierreR commented on #756
@tomberek can you try again using `nixpkgs` from the master branch ?

[2017-02-10 14:20] sushant12 opened #801 "Postgrest not sending data"
I have successfully ran postgrest as mentioned in [this](http://postgrest.com/en/v0.4/admin.html#hardening-postgrest) doc . When I hit `domain.com/api endpoint`, postgrest is logging the output and various data points are also shown. When I try to visit `domain/api/categories` I get a 404 error.

[2017-02-10 16:58] begriffs commented on #800
I thought there was a github issue about this already, but I can't find it...

Anyway, this is a good idea. We could prefix the name of the variables `request.header.http_referer` so that it is similar to how we store JWT claims as e.g. `request.jwt.claim.email`. One thing is we'll want to avoid making an extra roundtrip to the database to set the variables if we can help it, but it's probably doa

[2017-02-10 17:48] begriffs commented on #801
What database schema does `categories` live in, and which schema are you choosing to expose in your api?

[2017-02-11 03:24] sushant12 commented on #801
@begriffs , in my prod server when I run a curl request to localhost:3004 it shows me the endpoints and when I run localhost:3004/categories it gives me the categories as well. I think that the issue is with the nginx + postgrest. domain.com/api is showing me the enpoints but domain.com/api/categories is giving me 404 err. i am using rails

[2017-02-11 03:33] sushant12 commented on #801
@begriffs  this is how my sites-available/default file looks like

[code]

[2017-02-11 08:28] sushant12 commented on #801
@begriffs  I checked the postgrest log and found this
`127.0.0.1 - - [11/Feb/2017:08:23:46 +0000] "GET //categories HTTP/1.1" 404 - "" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36"`

it should be making request like /categories but it is requestion //categories. I get this logged when I make request to domain/api/categories

[2017-02-11 08:39] #801 closed

[2017-02-13 13:47] avvensis opened #804 "Disable OpenAPI interface"
Is't possible to disable OpenAPI in PostgREST configuration file?

[2017-02-13 13:53] avvensis commented on #804
Alternatively, Nginx could do it, but i don't know how to describe Location to disable root access.

[2017-02-13 15:44] dcominottim commented on #652
Is this still on the roadmap? It is a pretty major use case for some of my projects. Is the current workaround to run 2 (or N) queries instead of 1?

[2017-02-14 09:37] sushantbajra opened #805 "Where can I find the archive of postgrest docs?"

[2017-02-14 15:16] huksley opened #806 "Allow url prefix for API"
Allow using either server-proxy-uri = '/api'
setting or other setting to put all API under prefix.

[2017-02-14 18:16] uniphil commented on #806
I can't speak for this project's owners, but you can solve this with NGINX config that proxies back to postgrest. Having some kind of reverse-proxy in front lets you solve lots of other problems too, which are apparently considered out of scope of postgrest, like

- [custom `Server:` header](https://github.com/begriffs/postgrest/issues/623#issuecomment-223103871)
- [SSL](https://github.com/begriff

[2017-02-14 18:44] uniphil commented on #805
Ouch, I thought this was just going to need a link to the [previous issue's solution](https://github.com/begriffs/postgrest/issues/789#issuecomment-274142120), but the docs' repository now seems to have obliterated `master`'s history for the `0.4` rewrite, so `0.3` docs can't even be found by digging through history.

There are no tagged releases of older docs either. The closest thing I can find

[2017-02-14 18:55] begriffs commented on #805
Don't be alarmed, I'll find the history in the reflog and tag it with v0.3.2.0. Should have tagged it earlier, my mistake.

I'm using master now to hold the latest changes and will use proper versioning through Read The Docs (RTD), so docs for all versions will be preserved and easy to find. The challenge between 0.3 and 0.4 docs is that I migrated to a new documentation system. For best usability

[2017-02-14 19:00] uniphil commented on #37
This sounds like a problem to solve at the reverse-proxy layer instead.

(I'm apparently spending my sick day creeping ancient issues of OSS projects I like :) )

[2017-02-14 20:29] uniphil commented on #805
Alright, I am no longer alarmed 😌. Thanks @begriffs, and yay `reflog`!

I'd be down to help port the 0.3 docs to the 0.4 system. I have an idea to quickly resolve these "where did the docs go??" issues that I'll PR once you get the tag up.

[2017-02-14 20:49] begriffs commented on #805
OK, I pushed a branch called "v0.3.2" pointing at the newest docs for the old version. Thanks for your offer to try porting them to Sphinx/RTD, that would be super helpful.

[2017-02-15 04:45] begriffs commented on #506
I merged @steve-chavez's  pull request implementing this feature!

[2017-02-15 04:45] #506 closed

[2017-02-15 04:52] begriffs commented on #257
This functionality is now in master.

[2017-02-15 04:52] #257 closed

[2017-02-15 05:39] sushantbajra commented on #805
Thanks @begriffs .

[2017-02-15 05:39] #805 closed

[2017-02-16 08:10] huksley commented on #806
I am using Nginx.

However using Nginx as reverse proxy and putting all under /api prefix results in OpenAPI (Swagger JSON) specification being incorrect.

I can`t use Swagger UI with proxied URL, I must use direct :3000 port to access UI and this is not always possible/desirable.

[2017-02-16 09:57] begriffs commented on #806
Can you give an example of how the OpenAPI results are incorrect?

[2017-02-16 13:25] sushant12 opened #807 "Routing issue"
I am using [mithrill-postgrest](https://github.com/catarse/mithril-postgrest). I have done exactly what the postgrest docs [docs](http://postgrest.com/en/v0.4/admin.html#hardening-postgrest) said.

Everthing is running fine except that the mithrill-postgrest library is adding `/` to the url.
Foreg: as per the docs the postgrest url now becomes domain/api . If i want to query data the url will beco

[2017-02-17 20:13] begriffs opened #808 "Standardize and simplify docker workflow"
It's high time we get Docker figured out. The existing Dockerfile was created in the 0.3 era of postgrest and as written won't work with 0.4. There are more than one way to fix it. In particular there are two PRs currently open (#738, #762), and I appreciate the work that went into them. I'd like to propose a simpler way to use Docker though.

**Proposal**: provide images on Docker Hub for tagged

[2017-02-17 20:29] ruslantalpa commented on #808
All except the last point about  env vars.
This is a situation where you can totally have your cake and eat it too :)
start with an image that has the binary and a default conf file and the CMD is postgrest -c /....

then add an entrypoint script that checks if an env var like `POSTGREST_ANON` exists then it does something like

`echo "anon-user=$POSTGREST_ANON" > /etc/postgrest.conf`

with this w

[2017-02-18 00:48] spinus commented on #554
@michalskop did you check that by any chance?
@begriffs  is it still the case in 0.4.0.0?

[2017-02-18 00:57] spinus opened #809 "Keep JWT tokens in the table instead of database settings (an idea)"
I was struggling with current_setting and `alter database <x> set <key> = <value>` (I needed to restart postgrest in order to work) and went to #PostgreSQL irc channel to ask about that.

After I asked the question `ningu` and `Zr40` pointed me out that database settings can be read by anyone. It's ok if postgrest is the only client, but you never know :-)

Zr40 suggested that probably better solu

[2017-02-18 00:58] spinus commented on #809
This also kind of relates to #505, we could add an option to postgrest to use tokens from specific table for signature checking.

[2017-02-18 01:00] spinus commented on #505
Hey guys. I was just advised today that JWT tokens kept in database settings is not that cool as any user could read that and probably would be better to keep JWT tokens in a table which can be properly secured.

This kind of relates to this issue, we could implement feature to postgrest to use tokens from specific table and than multuple tokens would be supported and overal setup would be both mo

[2017-02-18 10:16] huksley commented on #806
In nginx I have reverse proxy setting:

[code]

When requesting http://localhost/myappi/api I receive Swagger JSON / OpenAPI schema which includes
host: "0.0.0.0:3000"
basePath: "/"
Settings which results in Swagger UI generating wrong URLs.

[2017-02-18 19:43] ppKrauss opened #811 "localhost install for dummies"
There are a UBUNTU-16LTS script for install localhost PostgREST server?

For dummies:  step-by-step, supposing zero-knowledge about Docker, Haskell, etc. having only Apache (conflict?) and PostgreSQL 9.6+ as base environment... I can help to develop and test the script, but  will also need some help from experts here to do some progress.

[2017-02-18 19:45] ruslantalpa commented on #811
Has nothing to do with docker, haskell .... it's a binary, download it, save it, start it.

[2017-02-18 20:10] ppKrauss commented on #811
So... It is "plug and play"?!

Well, let's write a script from download to run, using [admin guide](http://postgrest.com/en/v0.4/admin.html) and the latest version at [postgrest/releases](https://github.com/begriffs/postgrest/releases/tag/v0.4.0.0):

[code]
(error "no command postgrest")

do you can help for next steps in a localhost/postgres user/postgres database  basic configuration?

[2017-02-18 20:51] fab1an opened #812 "Disable escaping of json returned by stored procedures"
I have a stored procedure that returns `json`, but the output seems to be escaped:

`"{\"mark\": {\"signature\": \"bb\", \"lastIncludedIdx\": 21}}"`

Is there a way to disable this?

[2017-02-18 22:20] ppKrauss commented on #505
Checking concept: is the  second token "just for authentication" of the introduction, a [*refresh token*](https://auth0.com/docs/tokens/refresh-token)? ([other example](https://github.com/svlada/springboot-security-jwt/blob/master/src/main/java/com/svlada/security/endpoint/RefreshTokenEndpoint.java)).

[2017-02-19 04:40] begriffs commented on #812
Can you share more about your stored procedure including its return type? Perhaps it simply returns a string and postgrest is passing that along.

[2017-02-19 07:33] jackrabb1t opened #813 "Installation instructions on Windows"
I could not find any instructions for installing on windows.

Has anyone tried this before?

[2017-02-19 08:08] fab1an commented on #812
Sure, thanks for looking into it.

It's still only a test, hence the hard-coded values.

[code]

[2017-02-19 16:42] deinspanjer commented on #808
Only if they are developers contributing to the postgrest project in the context of their own applications.  I think it makes sense to try to make things easy for developers both in and out of the Docker environment.

Agreed.

Agreed.

If we don't add the code to stack.yaml to enable building the Docker image, then we expect those contributors who need to test nightlies or their changes within the

[2017-02-19 18:50] ppKrauss commented on #811
ops,  correcting (to rigor the [README.md **is wrong**](https://github.com/begriffs/postgrest/blob/master/README.md)), classic UBUNTU problem, only execute as `./exe`,  so  `./postgrest --help`  is working fine!

Suggestion (see similar demand at #813), to offer simple *"one script with all you need"* and some files for options, configs and examples... A folder "/dummies_install"  or a README's li

[2017-02-19 18:50] begriffs commented on #813
You can download a windows binary from https://github.com/begriffs/postgrest/releases/tag/v0.4.0.0 and just run it, or [build from source](https://postgrest.readthedocs.io/en/v0.4/install.html#build-from-source).

[2017-02-19 18:53] jackrabb1t commented on #813
thank you begriffs and ppKrauss!

[2017-02-19 19:09] jackrabb1t commented on #813
It asked to download libpq.dll which I did, and I now am able to run it.
Thanks!!

[2017-02-19 19:09] #813 closed

[2017-02-19 19:19] begriffs commented on #811
How about a section in the docs like "Installation -> Getting Started"? It could link to the release page and include a tiny tutorial with wget, untar, configure, run like you mentioned.

If you'd like to write this section and open a pull request against https://github.com/begriffs/postgrest-docs that would be super cool.

[2017-02-19 19:49] begriffs commented on #806
Try using a complete URI for server-proxy-uri. There's an example in https://postgrest.readthedocs.io/en/v0.4/admin.html#configuration

[2017-02-19 19:53] begriffs commented on #37
Good idea, it's more of a docs issue so I'll close this one.

[2017-02-19 19:53] #37 closed

[2017-02-19 20:37] huksley commented on #806
There is certain situations when complete URI is not known to postgrest. Can this URI be specified as relative? host and basePath is not a required fields as per Swagger JSON specification.
http://swagger.io/specification/#swagger-object-14

[2017-02-19 21:22] begriffs commented on #806
For debugging let's see if a full uri works, and then if so how much we are able to omit and have it continue to work.

[2017-02-20 07:35] ruslantalpa commented on #808
@deinspanjer there is something there but it's much more complicated then i was thinking.
My idea was that on startup entrypoint would look if env vars exist and append their values to the postgrest conf, something very very simple.

[2017-02-20 07:39] ruslantalpa commented on #812
to_json is not doing what you think it is doing, what it does here is it gets a string and makes it a valid json value (which is escape the string and enclose it in ").

instead of
`select to_json(text '{"mark": {"signature": "bb", "lastIncludedIdx": 21}}')`
try this
`select '{"mark": {"signature": "bb", "lastIncludedIdx": 21}}'::json`

[2017-02-20 07:40] ruslantalpa commented on #812
You are probably looking for json_build_object https://www.postgresql.org/docs/current/static/functions-json.html

[2017-02-20 09:43] eric-brechemier commented on #505
@ppKrauss Yes. The old token would be used as a refresh token for the introduction of the new token.

[2017-02-20 10:25] eric-brechemier commented on #809
@spinus This makes sense. I suggest the following structure for the table:

[code]

* the `postgrest` user should be granted read-only access to the table
* only the latest key (most recent `valid_from`) would be used for signature of JWT
* other valid keys may only be used to request a new token; requests which do not return a JWT would fail with HTTP code `401 Unauthorized`
* PostgREST would pro

[2017-02-20 12:24] ppKrauss commented on #505
The most popular libraries of [jwt.io](https://jwt.io/#libraries-io) offer the *refresh token feature*: it is a kind of [design pattern](https://en.wikipedia.org/wiki/Software_design_pattern) in JWT community... So, I think that this issue (the @eric-brechemier suggestion) can use this concept to simplify discussion, and perhaps adopt a "standard way" to do it.

Summarizing, the design of endpoint

[2017-02-20 12:55] deinspanjer commented on #808
@ruslantalpa I don't understand what is off with it.  That is exactly what the postgrest-env script does.  If it finds any of the possible environment variables, it will use them in the postgrest.conf.  The only thing the user has to do is set those variables in their docker-compose file or with -e arguments to `docker run`.

[2017-02-20 15:04] eric-brechemier commented on #505
@ppKrauss the question is: how to you renew the refresh-token (the one that does not expire), if you really have to. I described a possible approach [here](https://github.com/begriffs/postgrest/issues/809#issuecomment-281041793):

* use the latest secret to sign new never-expiring JWT tokens
* allow never-expiring JWT tokens signed with older secrets to be used for some time to request a new never

[2017-02-20 16:07] ppKrauss commented on #809
Hi @eric-brechemier , good suggestion. To discuss, as we talking about *SQL table*, let's express it in standard SQL... I also imagine the (optional) RefreshToken [as in my issue#505 comment](https://github.com/begriffs/postgrest/issues/505#issuecomment-281066281), so something like

[code]
... make sense for you?

In the "standard RefreshToken approach" login creates the pair token-refreshToken.

[2017-02-20 16:31] fab1an commented on #812
Thanks!

[2017-02-20 16:31] #812 closed

[2017-02-20 16:38] ppKrauss commented on #505
**General suggestion**: let's use the standard jargon and concepts of [RFC 6749 section-1.5](https://tools.ietf.org/html/rfc6749#section-1.5): the name is *Refresh Token*... (we can abbreviate to "token" the name of *Access Token*).

... as [I explained above](#issuecomment-281066281) the token and refresh-token are supplied by login... For use it, needs specific "refresh-token *endpoint*", where

[2017-02-20 16:59] spinus commented on #505
I know it's a little bit a side topic but could we use name "refresh_token" for Refresh Token and "access_token" for access token? I think it will help people to follow implementation and understand the code.

I had a lot of journeys when I started using some software or reading the code and they used different names (sometimes the convention wasn't even consistent inside the app) and that was con

[2017-02-20 17:03] eric-brechemier commented on #505
@ppKrauss I stand corrected :) Thank you for the [reference](https://tools.ietf.org/html/rfc6749#section-1.5); I agree that the terminology is useful.

PostgREST (v0.3 at least) plays two different roles:

* Resource Server, which accepts "Access Token" JWT
* Authorization Server, which emits "Refresh Token" JWT

Likewise, the "Access Token" and "Refresh Token" are actually one and the same in cur

[2017-02-20 17:10] ppKrauss commented on #811
Hi @begriffs, thanks!

As first draft I send my pull request at [postgrest-docs](https://github.com/begriffs/postgrest-docs/pulls)... So, we can close this issue.

[2017-02-20 17:15] eric-brechemier commented on #809
@ppKrauss There is a confusion in your suggestion between tokens (1 per user) and keys/secrets (1 per server, currently).

There is no need to store refresh tokens if they are JWT as well. Only the secret is needed to check that the refresh token is legit.

I am all in favor of using a common vocabulary, but let's not replace the problem to match the solution. The original issue was JWT secrets ge

[2017-02-20 17:55] ppKrauss commented on #809
Hi @eric-brechemier, sorry, let's repair...  Is not evident for me  how the [ACL](https://en.wikipedia.org/wiki/Access_control_list) is implement in PostgREST... Yes, ideal is "1 per user", but the simplest is to do separated login for each application (each id in a *user-role* table)...

Show the modifications that [I change the SQL table declaration of my post](https://github.com/begriffs/postgr

[2017-02-20 19:41] eric-brechemier commented on #809
@ppKrauss let's take an example:

In 2016, Alice Corp launches the service `alice.example.com` using PostgREST. The service generates 1000 JWT for 1000 users bob1, bob2, ..., bob1000. There is only 1 secret at this point, used to sign and verify all the JWT tokens:

| Valid From | Valid Until | Secret |
| :--- | :--- | :--- |
| 2016 | 2020 | 7cb189d8-410b-4073-8929-04cc884cb967 |

In 2017, Alice C

[2017-02-21 11:20] fab1an opened #814 "Prevent connections from going idle"
Is there a way to keep the connection to postgres open, even when there are no requests arriving?

[2017-02-21 11:49] ruslantalpa commented on #814
No, the amount of time before the connection is closed after being idle is defined here
https://github.com/begriffs/postgrest/blob/master/main/Main.hs#L67
and it's 10s
If you want longer intervals, you need to compile from source

[2017-02-21 12:09] fab1an commented on #814
Ok, thanks.

[2017-02-21 12:09] #814 closed

[2017-02-21 16:09] begriffs commented on #814
We could theoretically expose this is a config file parameter... What's the use case?

[2017-02-21 16:50] fab1an commented on #814
I patched it already.

I'm running PL/Java for generating PDFs and other things. Every JDBC-Connection holds on to a JVM. The method calls are fast, I'm getting 50ms responses with hundreds of concurrent clients, but the JVM startup is very slow - sometimes a couple of seconds.

So what I would like is for postgrest to keep it's pooled connections open, so that the JVMs don't get destroyed (and al

[2017-02-21 21:51] ppKrauss opened #815 "Any plans for POST full-JSON to RPC?"
PostgreSQL 9.5+ accepts JSON as parameter in user-defined functions... It will be perfect to expand universe of applications and to simplify communication. But,

so, it is only "at this moment" limitation, or an architecture planned to be as it, closed to JSON?

[2017-02-21 21:58] ppKrauss opened #816 "Any plans for GET rpc with path-parameters?"
PostgREST offers the [stored-procedure call](http://postgrest.com/en/v0.4/api.html#stored-procedures) by `POST /rpc/function_name`, but no option to use GET and/or the [usual path-parameter](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-templating)... There are some plan for it?

[2017-02-22 06:20] begriffs commented on #815
You can also call a function that takes a single parameter of type json by sending the header `Prefer: params=single-object` to PostgREST with your request. That way the JSON request body will be used as the single argument. Is this the functionality you're looking for?

[2017-02-22 06:24] begriffs commented on #816
We have been discussing it in #328. It's been a while since I've reviewed it. Check out the conversation and let me know what you think.

[2017-02-22 11:22] ruslantalpa commented on #808
Sorry for the late reply.
If i read that file correctly you have to supply all the config settings using env vars (at least the ones that are mandatory) and after that it creates the config file, I however was saying something else.
Let the base come from a baked in config file, it can be the one provided by postgrest or it can be baked in by the users that create a new image based on the official

[2017-02-22 15:39] sushant12 commented on #807
anything on this one?

[2017-02-22 15:49] begriffs commented on #807
The route `/api/categories` looks correct and `/apicategories` incorrect. If I'm understanding you, mithril-postgrest is generating the routes correctly, but your nginx config is not right to expose `/apicategories` as a route. (Perhaps the docs have a typo that led you to configure nginx that way.)

[2017-02-22 20:57] ppKrauss commented on #809
Sorry all, English is not my first language... Before to continue, a jargon question: **Rule** (as [RFC7519](https://tools.ietf.org/html/rfc7519) or [Auth0](https://auth0.com/docs/rules)) or **Role** (as [PostgREST Guide](http://postgrest.com/en/v0.4/auth.html))? ... Or perhaps here "Rule=Role"?

[2017-02-23 05:21] begriffs commented on #806
Any progress?

[2017-02-23 05:36] begriffs commented on #554
The auth docs have been stripped down in 0.4. Want to check for me whether you see the problem in https://postgrest.readthedocs.io/en/v0.4/auth.html#sql-user-management ?

[2017-02-23 09:14] eric-brechemier commented on #809
@ppKrauss the database *role* is stored in a JWT **claim**.

[2017-02-23 15:20] deinspanjer commented on #808
I see.  so you want a mode where if there is an existing config file, it will be used but it can also be overridden with any environment variables that are passed in.

That can be added to the postgrest-env wrapper.  Let's see what @begriffs thoughts are about continuing with that PR, and if he is interested, I can make that change.

[2017-02-24 06:38] huksley commented on #806
Full uri works fine - tried both Windows 7 x64 and Ubuntu Trusty 14.04.

I am packaging PostgREST as part of vagrant (and docker for production) build and setting full URL of proxied inside container is wrong as URL can change.

[2017-02-24 15:49] bgamari commented on #621
I should mention that this issue hurts my use-case (a tool for analyzing GHC performance) quite badly with common queries which should be nearly instantaneous taking seconds.

[2017-02-24 16:06] ruslantalpa commented on #621
What is the size of the total dataset, what is the size of the response, if you are doing embedding do you have indexes on foreign keys?
also why does a tool that analyzes ghc performance care how much a query takes, this is time spent in IO, should not affect the performance measurement of haskell code.

[2017-02-24 16:07] ruslantalpa commented on #621
hop in gitter and provide details there please

[2017-02-24 16:10] RB14 commented on #790
Yes, I was working on some sort of admin panel, but eventually I decided to just hard-code the relationships, as it is more appropriate for my use case.

I still think it would be better to be able to consult each node for its relationships rather than having to fetch the entire schema from the root path (which can get pretty huge).

[2017-02-24 16:18] bgamari commented on #621
The table being queried has a few tens of millions of rows. Indexes are
configured correctly. Several months ago I tracked the issue pretty
conclusively back to PostgreSQL being unable to optimize the query due
to the use of CTEs. I'm afraid I can't remember the details, but I
looked back in my `psql` history and found the following commands (which
I'm pretty certain arose out of this investigatio

[2017-02-24 18:08] begriffs commented on #621
Just noting here that in the chatroom we determined that there is actually some inefficiency in @bgamari's underlying schema. The CTE here is not the main culprit, although removing CTEs where possible is still a good idea.

[2017-02-26 04:06] sushant12 commented on #807
@begriffs is it possible for you to check if the doc has a typo? My nginx conf skill is noob

[2017-02-26 06:03] sushant12 commented on #807
changing  location /api to location /api/ solved the issue

[2017-02-26 06:03] #807 closed

[2017-02-26 06:08] begriffs commented on #807
Cool, glad you got it working. Could you send a pull request to update the incorrect place in the docs please?

[2017-02-26 07:29] begriffs commented on #805
The old docs are now a first-class citizen at https://postgrest.com/en/v0.3.2/

[2017-02-26 11:03] sushant12 commented on #807
sure

[2017-02-26 14:51] samuba opened #817 "Add schema to GET responses in OpenApi definition"
Right now the OpenApi definition does not provide a schema for the GET responses.
Those definitions already exists (they are e.g. used for POST parameters) and it would be nice to also have them included in the GET responses.
This would make the API definition more complete and enable clients, for example swagger-ui, to always show the model or even example results of the endpoint.
See for example

[2017-02-27 01:06] gorbypark commented on #223
I would also be very, very interested in GeoJSON support.  I'd love to contribute but my coding skills are not up to snuff...is there any way I could offer a small bounty to any of the core devs for this feature?

[2017-02-27 05:11] sushantbajra commented on #805
Thanks @begriffs . I really appreciate that

[2017-02-27 11:01] huksley commented on #806
I`ve solved this declaring some server-proxy-uri and stripping it from response using Nginx http://nginx.org/en/docs/http/ngx_http_sub_module.html

[code]

[2017-02-27 12:14] Taximan opened #818 "A relational insert"
Having a (simplified) model with a many to many relation like so

| customers  |      |
|------------|-----:|
| id         | uuid |
| first_name | text |
| last_name  | text |

| bank    |      |
|---------|-----:|
| id      | uuid |
| name    | text |

| customer_bank_accounts |        |
|-----------------------|-------:|
| account_number        | bigint |
| customer_id           |   uuid |
| ban

[2017-02-27 12:23] ruslantalpa commented on #818
Yes, that is correct, for now, RPCs are the only* way to do that.
It might be also possible to have the same effect using views and triggers.
for example if customers is a view and it has a column "customer_bank_accounts" which is a json, it might be possible for you to write an trigger that will allow you to do a POST to this view in the form that you specified above. I have no specific example b

[2017-02-27 17:18] begriffs commented on #223
One option to add a geojson column in the output is by using a computed column as described in https://postgrest.com/en/v0.4/api.html#computed-columns

I think it would output just what you want, but it would require writing similar computed column code for each table for which you want to include geojson.

[2017-02-27 18:44] begriffs commented on #808
What about this...

* Bundle a config template in the container at /etc/postgrest.conf
* Include the envsubst command in the container
* Make an entrypoint like
[code]

Then the user can interact with docker in three ways

1. **All environment vars.** Don't map a config file in, rather pass vars like `-e DB_SCHEMA=public` etc.
2. **No environment vars.** Map in a fully specified config file to /et

[2017-02-27 19:26] begriffs commented on #806
I'm glad you found a workaround, but couldn't you start postgrest with a different `server-proxy-uri` config parameter for each deployment?

[2017-02-28 06:52] Taximan commented on #818
@ruslantalpa Eh thats a bit of a bummer. Both solution sound a bit more compilicated than it should be. There really should be a just streamlined way of doing transactions. But reading through other issues I see that there are already some ideas to implement them. Guess I will have to wait for them before adopting postgREST.

[2017-02-28 07:51] xamika opened #819 "docker-compose dosn't load postgrest.conf file"
I was trying to use posgrest in a docker container. I used The instruction on this page: https://github.com/begriffs/postgrest/tree/master/docker but it isn't working. I mounted the config.conf file to /etc/postgrest.conf. This is working but postgrest doesn't load this config file from etc/postgrest.conf.

[2017-02-28 08:22] ruslantalpa commented on #819
make sure you are using the latest version (4.0)
looking at the tags in docker i think you need to use "nightly" tag

[2017-02-28 08:50] xamika commented on #819
Thank you for you response. I updated my docker-compose file:
[code]
but now I receive another error XD:
`postgrest_1  | Missing: FILENAME
postgrest_1  |
postgrest_1  | Usage: postgrest FILENAME
postgrest_1  |   PostgREST 0.4.0.0 / create a REST API to an existing Postgres database
postgrest_1  |
postgrest_1  | Available options:
postgrest_1  |   -h,--help                Show this help text
postgr

[2017-02-28 09:02] ruslantalpa commented on #819
can you try and build the image on your computer from this definition?
https://github.com/begriffs/postgrest/blob/master/docker/Dockerfile

i am not sure what exactly how that nightly image was built
(the docker for the latest version is not quite right yet, there is still a discussion of how to get it up to date)

[2017-02-28 09:46] xamika commented on #819
I solved my problem with a workarround (I'm overrwriting the postgrest command):

[code]
Please add the path to your command. https://hub.docker.com/r/begriffs/postgrest/builds/bwxqmc8rj3ygeycorkarnq8/

[2017-02-28 15:26] begriffs commented on #819
Good workaround. The `latest` image on docker hub is not working right for 0.4 because we're still deciding the best way to do things for the new version.

[2017-02-28 16:52] mapsa opened #820 "Question: postgrest and PostgreSQL 9.5"
Hello,
I've installed postgrest 0.4 and PostgreSQL 9.5 and after follow your installation instructions I have this error:
ERROR:  schema "jwt" does not exist
LINE 4:   SELECT jwt.sign(
Do I have a problem with the installation?
Thanks,
Paola

[2017-02-28 19:16] deinspanjer commented on #808
I'm good with that, especially if the config template becomes a first class citizen in the project where it is maintained over time as new features/config options are added.

If it is agreed that we want to use the rest of #762 and just replace the postgrest-env wrapper with this template file and a simple wrapper that calls envsubst, then I am happy to work on that change in the PR.

[2017-02-28 20:41] ruslantalpa commented on #808
@deinspanjer i think this task can (should) be accomplished through the entry point shell script which can look something like this.

[code]

if you want to take it over from here ... :)

[2017-03-01 05:32] begriffs commented on #808
Hm I see, the config can't have keys with blank values like

[code]

It doesn't parse. I had hoped the missing value would have the same effect as omitting the `foo` line altogether. So we can't fill in a template config file when any variables are missing because that would leave a blank value and fail to parse.

So Ruslan's script to loop over the available settings is probably the way to go, ev

[2017-03-01 06:38] ruslantalpa commented on #808
If the default config file woyld contain all settings (live ore commented) the script could be devised to read them from the conf instead of hardcoding them. But i think it's not worth the complication for now

[2017-03-01 12:40] hugomrdias opened #821 "split queries for embedded resources when using alias"
Example :

[code]
if you select with alias (zones:zone and stores:zone) and filter without (space.zone.zone_type_id=eq.2) only one of the selects gets the result of the query ( space.zones will be empty and space.stores will have the result).

if you select and filter with alias (as in the url above) space.zone and space.stores will both have the same result instead of space.zones having only spac

[2017-03-01 14:32] deinspanjer commented on #808
The postgrest_env script I currently have parses the config options out of the usage text you get with `postgrest --help`.  It could just as easily parse those out of an official postgrest.conf.dist instead.  I don't think it should parse the option names out of a live /etc/postgrest.conf file though because it may not be in an expected state.  See below.

Once it has a list of the available optio

[2017-03-01 21:17] eric-brechemier opened #822 "JWT secret shall not be allowed to be empty"
I recently encountered this issue on PostgREST v0.3.0.3: while there is a check in place to ensure that the parameter `--jwt-secret` is present, there was no complaint when the provided value was `''` (the empty value being the result of an error, not a conscious choice).

The goal of this ticket is twofold:

1. warn users of older versions of PostgREST
2. kindly request a check (if not in place a

[2017-03-01 21:42] nickmyatt opened #823 "Resource embedding depends on view naming"
OS

[code]

PostgREST version

[code]

With the following database

[code]

After starting postgrest with `db-schema = "app_api"`, I get what I expect from the `/books` endpoint

[code]

But not from `/literary_works`

[code]

I would expect resource embedding to work the in the same way for trivial views such as this one (I realise it does not work for views with subselects).

[2017-03-02 16:56] derekjwilliams commented on #786
ruslantalpa - very interested in getting an implementation of the graphql project up and running, but it looks like https://graphqlapi.com/graphql/ is no longer responding :( any thoughts?  Want to put a relatively unambitious graphql implementation on top of postgrest.  If the team needs any help, let me know

[2017-03-02 17:07] ruslantalpa commented on #786
@derekjwilliams that was just a landing page that i no longer needed and removed it, you can just go to the homepage and add your email to the list https://graphqlapi.com/.
I am in the process of writing docs and tutorials now, then i will begin slowly sending invites and onboarding people since this is not a SaaS offering but a developer stack and it's not as simple as clicking a few buttons :)

[2017-03-02 20:55] DanielJoyce commented on #652
Need as well. Otherwise docs should be expanded to show how one can add a endpoint to do something similar. I just need some basic OR support.

[2017-03-03 09:45] lifepillar opened #824 "Cannot connect when using postgrest.conf"
I am using Postgrest 0.3.2.0 under macOS, installed with Homebrew. I can run the server and connect successfully if I pass the parameters on the command-line:

[code]

If I use the following `postgrest.conf` instead:

[code]

I have two problems:

1. `postgrest postgrest.conf` results in `Missing: (-a|--anonymous ROLE)` even if `db-anon-role` is present in `postgrest.conf`;

2. I can run the serve

[2017-03-03 09:48] ruslantalpa commented on #824
version 3.2 works with command line parameters only
version 4.0 works with config file only

if you want to use the config file, use the last version (4.0)

[2017-03-03 10:22] lifepillar commented on #824
Ah ok, 4.0 works. Thanks!

[2017-03-03 10:22] #824 closed

[2017-03-04 02:42] begriffs commented on #791
Any progress on this one?

[2017-03-04 16:27] diogob commented on #791
I've started on it, will work a bit more during the weekend. Hopefully I'll have something to show next week ;)

[2017-03-05 13:56] ppKrauss opened #825 "templating and translating endpoints to Nginx"
In mature frameworks (eg. [Spring-boot ](https://projects.spring.io/spring-boot/)) we can **centralize all *endpoint* definitions**,
usually in a [MVC](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller)-controller.   In a PostREST-Nginx solution we can centralize endpoint definitions
in the `/etc/nginx/sites-available/*` scripts... But it is a critical script and very close to se

[2017-03-05 14:08] ppKrauss commented on #816
I was enthusiastic with PostgREST... On the flip-side, many people would say *"don't count your chickens before they hatch"*, i.e. don't expect a lot from PostgREST while hasn't been released/delivered to solve real problems. So let's  see what I think, my dreams about real life use of PostgREST.

--------

**PostgREST is not REST without GET**: see [OpenApi specification](https://github.com/OAI/O

[2017-03-05 14:26] ruslantalpa commented on #825
I am not sure i understand what is the purpose of this issue and what is it proposing exactly.
Why the complicated nginx config...?
Is it all because you want urls in this form `/schema/table_or_view/{id}` ?

[2017-03-05 14:59] ppKrauss commented on #825
@ruslantalpa Yes, to be [agile](https://en.wikipedia.org/wiki/Agile_software_development) and competitive we need "plug and play" (with no-polution scripts) tools...

About *templating URI*, plase ignore my "auxiliar query-solution", the main demand is a "any OpenApi" endpoint definition... so `/anything/{anyPathVariable}/etc`,  for POST and GET (!).

[2017-03-05 15:14] ruslantalpa commented on #825
Can you give a more specific example and explain why the current way is bad and does not work? What exactly can't you accomplish with the current interface? But please be specific and not link a general doc about some spec :)

[2017-03-05 17:46] ppKrauss commented on #825
Hi @ruslantalpa, [my exemple, "the problem" section](#issue-211954250), is a good starting point...
Let's start with GET and URI-templating problems:

1. It is **impossible to define a GET by _URI templating_**, like `/urn:issn:{id}/n2c`, with PostgREST. <br/> PS: of course, we can workaround with Nginx, as I do (see eg.  [/urn:issn:{id}/n2c](http://pg.jats.science/urn:issn:1476-4687/n2c) implemen

[2017-03-05 18:12] begriffs commented on #825
1. Your nginx rewrite for this works, correct? I have never seen a url convention like `/urn:issn:{id}` before. Doesn't mean it's the wrong thing to do necessarily, but it seems highly uncommon. Supporting these kind of urls in postgrest doesn't benefit very many people (correct me if I'm wrong here!), and nginx can do it fine.
2. Have you tried https://postgrest.com/en/v0.4/api.html#singular-or-p

[2017-03-05 18:12] ruslantalpa commented on #825
1. How i read this is "i want this url format", can you explain why is the form of the url so important if it returns the data you want? How does your format of the url work when an object in a table is identified by a primary key composed of two columns?
2. sure you can, if you are requesting a single object using a key, add this header `Accept: application/vnd.pgrst.object`
3. You are missing th

[2017-03-05 18:24] ruslantalpa commented on #825
I think this might be the case that you are trying to develop apis the same way you would do in a traditional stack and from this all the problems arise. An analogy would be trying to apply OOP concepts in a functional language.

[2017-03-05 18:41] ruslantalpa commented on #825
@ppKrauss i still don't think we fully understand what you are asking/requesting with "url templating"

Is there any practical reasons beside "style and tradition/convention" why one url format works and the other does not? in the end, they are just strings saved in some var of some frontend client. Why does it matter so much for it to be `/entity/{id}` and not `/entity/?id=eq.{id}`, what is the a

[2017-03-05 19:33] ppKrauss commented on #825
@ruslantalpa it is an Internet standard,
exacly as you say "to be `/entity/{id}` and not `/entity/?id=eq.{id}`"... And we can add
also " `/entity/{id}?option={option}`", etc. Hidden protocols and API must be elegant, not only page-layout and design ;-)

Is an usual [requeriment](https://en.wikipedia.org/wiki/System_requirements) in relevant REST APIs, as I [commented here before](https://github.co

[2017-03-05 20:09] ppKrauss commented on #825
@begriffs and @ruslantalpa , sorry, not see before all the posts (!). Trying to reply:

------

Itens pointed by @begriffs [here](#issuecomment-284248270):

 1. the *rewrite*, correct. [URN](https://en.wikipedia.org/wiki/Uniform_resource_name) is a standard but not a good example, imagine usual ` /a/b/{id}/etc`.  Yes, I fix it using only Nginx... But the proposal here is to  continue using *rewrit

[2017-03-05 20:16] begriffs commented on #825
Oh `/entity/{id}` vs `/entity/?id=eq.{id}`...I should make a section in the docs about this because it's the most common sophomoric critique I hear about our url format. Some people have gone so far as to say that anything except `/entity/{id}` is "not restful." The first thing I would argue is that these syntactical differences are immaterial to the [architectural constraints](https://en.wikipedi

[2017-03-05 20:23] begriffs commented on #825
@ppKrauss also I believe you can accomplish what you wrote about `/a/b/{id}/etc` by using https://postgrest.readthedocs.io/en/v0.4/api.html#resource-embedding - but happy to discuss particular examples to see how well it works for them.

[2017-03-05 20:26] begriffs commented on #806
Tentatively closing this issue.

[2017-03-05 20:28] begriffs commented on #554
Closing this. If you notice that the docs for 0.4 suggest anything insecure please open an issue on the [docs repo](https://github.com/begriffs/postgrest-docs)

[2017-03-05 20:28] #554 closed

[2017-03-05 20:30] #811 closed

[2017-03-05 20:32] begriffs commented on #223
@gorbypark want to give the computed column approach a try and let me know how it works for you?

[2017-03-05 20:37] begriffs commented on #820
Did you install the https://github.com/michelp/pgjwt extension in your database?

[2017-03-05 20:40] begriffs commented on #822
Thanks for the note. Can you check whether 0.4 is susceptible to the problem as well?

As an unrelated observation, 0.3.0.3 is really really old, have you considered using a newer 0.3.x version? Look at all the bugfixes for later releases: https://github.com/begriffs/postgrest/releases

[2017-03-05 20:42] begriffs commented on #823
@ruslantalpa you're the resource embedding guy, how hard do you think this is to fix?

[2017-03-05 21:11] begriffs commented on #816
Thanks for taking the time to explain your expectations for api server design and suggesting how postgrest could address them.

However I think postgrest might not be what you're looking for, and may not ever be. What makes me think that is when you say

Having SQL experts create an API is pretty much the main goal of postgrest. We are specifically not positioning ourselves as another Django or Ca

[2017-03-05 21:11] #816 closed

[2017-03-05 21:11] ruslantalpa commented on #823
i have not checked this is actually happening since i remember we have this
https://github.com/begriffs/postgrest/blob/master/test/Feature/QuerySpec.hs#L273-L279

so it's not the name of the view

[2017-03-05 21:19] begriffs commented on #825
One more note, not sure what you mean by

If you run a postgrest server and make a request to the root path (`/`) postgrest will respond in correct OpenAPI format explaining the API, output which we [validate](https://github.com/begriffs/postgrest/blob/ae4064196371b936f72fa3a66aea7302c3a8846e/test/Feature/StructureSpec.hs#L21-L23) in our test suite against the [spec](https://github.com/begriffs/po

[2017-03-05 21:40] gorbypark commented on #223
@begriffs I'll give it a go sometime this week, hopefully.  My only concern is that I have a large, ever changing dataset (user created tables and columns).  I will have to see if I can automate creating computed columns somehow...I haven't had a chance to even read the blurb about it yet, so that may be easier or harder than I'm imagining!

[2017-03-05 22:11] diogob commented on #791
@begriffs the refactor grew a bit since I started. I saw a good opportunity to overhaul our error handling that has been growing in complexity lately. You can take a look at my branch here: https://github.com/diogob/postgrest/tree/refactor_error_type

My idea is to extend `ApiRequestError` and capture errors with a richer semantic to achieve two goals:
1. Isolate the concern with error formatting

[2017-03-06 00:18] begriffs commented on #791
Yeah that sounds good, simplifying the types and encapsulating each part. Thanks, this will be great.

[2017-03-06 03:06] begriffs commented on #808
Check this out, the library we use to parse the config file allows env variables to be interpolated: https://hackage.haskell.org/package/configurator-0.3.0.0/docs/Data-Configurator.html#g:4

That means we don't need envsubst at all, we can do stuff like

[code]

This would allow us to follow my idea of having a default config in /etc/postgrest.conf that uses environment variables, with the option

[2017-03-06 03:49] gorbypark commented on #223
@begriffs So, I had a few minutes to put together a SQL query that outputs valid GeoJSON.  I'm not quite sure how to route filters into the SQL query.  Any hints?  I just slapped $1, $2, $3 ($1= columns to select, $2 = column, $3 = query) as a guess...

CREATE FUNCTION geohydrants(hydrants) RETURNS text AS $$

SELECT jsonb_build_object(
    'type',     'FeatureCollection',
    'features', jsonb_ag

[2017-03-06 04:28] ppKrauss commented on #825
Thanks @begriffs (!). About OpenAPI, perhaps a  mistake between "read" and "write":

* we can  _read_ the PostgREST spectification expressed in OpenAPI-JSON jargon, at [??test/fixtures/openapi.json](https://github.com/begriffs/postgrest/blob/master/test/fixtures/openapi.json) ... Is a kind of summarized documentation of PostgREST itself.

* we can _write_ an  OpenAPI specification and  develop a b

[2017-03-06 09:30] eric-brechemier commented on #822
No actually, we only considered migrating to 0.4, but I see now that upgrading to latest 0.3.x would be a good stepping stone. Do you keep a list of issues fixed in each new release? I have looked for additional details for several issues listed in the change log, but failed to identify the issue which matched the description, e.g. ("Prevent role from being changed twice" and "Prevent query error

[2017-03-06 12:11] deinspanjer commented on #808
This is great, that will definitely make things much easier.

Does that mean that you don't want to consider adding the configuration to stack.yaml to enable building the docker image from the stack command?

[2017-03-06 13:04] ruslantalpa commented on #808
I for one have not looked exactly ant what the relationship between docker and stack is but i see one benefit if this is what i think it is.

Currently if you want to build a docker image on something like circle where the base is something else the ubuntu, then you have to have a second "build" image where you build the executable, extract it then add it to the production image using copy. If the

[2017-03-06 13:41] eric-brechemier commented on #822
Yes, I confirm that the issue is present on `master`.

I left the `jwt-secret` empty:

[code]

and started the server without getting any complaint.

I generated a JWT using the empty secret `''` and checked that it was accepted by this instance of the server.

[2017-03-06 13:50] eric-brechemier opened #827 "postgrest: Thread killed by Warp's timeout reaper"
I noticed these strange logs while running PostgREST `master` (0.4.x):

[code]

I ran PostgREST with:

[code]

on macOS Sierra (version 10.12.2).

[2017-03-06 15:27] chrismayer opened #828 "Computed Column only works in public-schema"
When implementing a "Computed Column" according to the documentation [here](https://postgrest.com/en/v0.4/api.html#computed-columns), it only worked when the function defining the computed column is in the ``public`` schema.

Is this a bug or is the PostgREST version used too old or is this wanted behaviour?

``Tested version is PostgREST v0.3.0 with PostgreSQL 9.4.``

[2017-03-06 17:33] begriffs commented on #828
It's by design actually, postgrest exposes tables/views/functions in a schema that you [designate](https://postgrest.readthedocs.io/en/v0.3.2/install_server.html#running-the-server) with the `--schema` command line argument. It is intentionally hiding the other information. (One exception is that views in the public schema can internally refer to tables in another schema if desired.)

Also if you'

[2017-03-06 17:36] nickmyatt commented on #823
I just discovered that this only happens when the view and table belong to different schemas.

So, if I were to instead define `CREATE VIEW app.literary_works AS ...` (rather than in `app_api` schema) the resource embedding behaves as I expect.

So, as a workaround I can move *all* of my views to the main `app` schema and point PostgREST at that. However, when it comes time to release a new API ve

[2017-03-06 17:40] begriffs commented on #823
Yeah you will. Each version would live in a different schema, and you would spin up a postgrest instance for each, configured to use the desired schema and running on separate ports. Then use nginx to route requests to the correct postgrest instance (based on their accept header, or url prefix or however you like to expose versions over http).

[2017-03-06 17:52] begriffs commented on #822
This one was a duplicate `SET ROLE ...` statement sent during authentication. It was harmless but just a little inefficient.

This one happened after calling a stored proc that raised an exception. The next http request could sometimes end up using the previous postgresql connection and getting an error result.

___________

In the future I'll include issue numbers to the changelog so it's easier

[2017-03-06 22:14] deinspanjer commented on #808
There is still a build image, but it is a very simple template container that just has the pg dependencies installed so we can copy the resulting build into it rather than having to build from scratch.  Very easy to maintain and explore

[2017-03-07 06:31] begriffs commented on #808
Sure, we can include the extra Docker configuration for the stack.yml.

[2017-03-07 07:02] chrismayer commented on #828
Thanks for your detailed explanation @begriffs. I am already using the ``--schema`` option (let's say schema "foo"). But putting the function for the computed column in the schema "foo" (``foo.compute_my_col(bar)``) does not have any effect. The computed column cannot be queries via HTTP. Only when I put the function into the public schema, the computed column is avaliable via HTTP.

I know that 0

[2017-03-07 07:07] begriffs commented on #828
That actually sounds like a bug. I'd expect the computed column to be available when its function is in the schema you expose. I'm curious if the same problem occurs in a newer postgrest version...

[2017-03-07 07:10] chrismayer commented on #828
Agree that it is not a good strategy to dig deeper in the old version. I will upgrade within the next days and will report here if this still occurs.

[2017-03-07 08:07] julesbou commented on #800
We could also set IP address of current request. It can be useful to save IPs in the database, for example when you insert a comment on a forum. Seems like it's not possible to do that with postgrest yet (I might be wrong).

[2017-03-07 09:18] eric-brechemier commented on #822
Thanks.

[2017-03-07 09:41] mapsa commented on #820
Yes! that was the problem. I had to change "jwt.sign" for just "sign" after. However, I couldn't make the authentification work.
Thanks for your reply.

[2017-03-07 09:41] #820 closed

[2017-03-07 09:52] nickmyatt commented on #823
If I run [the query PostgREST uses to identify view columns](https://gist.github.com/ruslantalpa/2eab8c930a65e8043d8f) I get

[code]

i.e. the same results for `app_api.books` and `app_api.literary_works`, so it seems the problem is elsewhere.

[2017-03-07 19:52] ppKrauss commented on #825
Thanks a lot @ruslantalpa and @begriffs, for all the attention and discussion. Now I understand better how you are working and organizing PostgREST... I am transforming it into code (!!), that is not easy... First draft:
 **https://github.com/ppKrauss/PostgREST-writeAPI**

Is a proposal for [PostgREST extension](https://postgrest.com/en/v0.4/intro.html#extensions)... What do you think?

----

So w

[2017-03-09 10:50] ruslantalpa commented on #825
I have no experience with a process where you get a "spec" like "the urls have to look like this and that's final" so i am not sure if this is needed or not. As i mentioned i think the value of having the urls in a specific form is overstated.

One other thing i am not sure is if you can automate this process, i mean you might be able to get better results if you manually create a few rewrite rule

[2017-03-11 02:04] begriffs commented on #652
Lots of people want OR queries, I'd say it's one of the frequently asked questions. It's probably a reasonable thing to add, providing great payoff for a modest change in the parser. After reviewing the thread again I appreciate better the beauty of @opensrcken's suggestion of a `where` query parameter. We already have a `select` parameter so it's in the same spirit. We can also continue to suppor

[2017-03-11 02:52] steve-chavez commented on #652
@begriffs And for the join conditions do you agree on ```/table?relation.where=(..)```, as proposed in this [comment](https://github.com/begriffs/postgrest/issues/652#issuecomment-253127737)?

[2017-03-11 03:52] begriffs commented on #652
@dcominottim interesting, does it work if you use `%7B` and `%7D` rather than `{` and `}`? If the brackets really are breaking clients then we should test if parens work better. If so then we can add support for both brackets and parens, but document that brackets are deprecated and remove them in the next major version.

@steve-chavez the `level.where=` makes sense too. By join conditions you mea

[2017-03-12 13:41] dcominottim commented on #652
@begriffs Thanks for the tip. Using `%7B` and `%7D`, it works. Otherwise, raw brackets produce the following error, no matter if using raw Java `Strings` or `URI` objects:
[code]

If we can add support for parens, it would definitely be a great addition.

[2017-03-13 05:02] #791 closed

[2017-03-13 10:36] ppKrauss commented on #825
Thanks again @ruslantalpa (!),

... I've done my homework, discovering the usual name and similar use cases... The usual name of this web-server *controller* (also a [_reverse proxy_ pattern](https://en.wikipedia.org/wiki/Reverse_proxy)) is "_**API Gateway** at server-side_", and there are many tools (and non-standard solutions) to do similar thing, for plug-and-play your API specifications (that

[2017-03-13 10:51] DouglasSanders commented on #724
I recently had this same issue occur (on PostgREST 0.4.0.0) - and the issue also resolved itself after a restart.

I've captured the `ngrep` logs as you requested above in case they help.

With curl:
[code]

When throwing `HTTP 500` (Here using a `hackney` client):
[code]

When working as expected (after restart):
[code]

[2017-03-13 16:50] begriffs commented on #825
@ppKrauss, sure I'll add a link in the Extensions section to your project. It's a cool experiment, and could be helpful for people who want their URLs in a very specific format.

[2017-03-13 16:51] #825 closed

[2017-03-13 17:03] begriffs commented on #724
@DouglasSanders do you have db sql logs for the time when the server had an error?

[2017-03-13 21:44] reece opened #830 "provide RESTful routes to single resources via primary key"
See also: #235, https://postgrest.com/en/v0.4/api.html#singular-or-plural

I understand the arguments for array-based replies and I appreciate the generality of a query syntax that enables multi-column keys. I also appreciate the desire for there to be one way to do things.

However, it is extremely common for REST URLs to include the "primary key" as a component of the query path. To not provide

[2017-03-13 22:00] begriffs commented on #830
Actually if you use the request header `Accept: application/vnd.pgrst.object+json` it will behave with the 404 not found semantics when the ordinary request would have returned an empty array. Sorry for not documenting that as clearly as I should have. The idea is that allowing manual control over the "singular resource" semantics with a header allows you to apply it both where a url convention wo

[2017-03-13 23:03] reece commented on #830
@begriffs Thanks for request header and nginx tips. I'm not running nginx already, so I'd like to avoid that rabbit hole.

It seems to me that this simple, common use case should work out of the box, and I'd love to help make that happen. From reading #825, I think you sound open to the idea of embedding this syntactic sugar into postgrest itself (perhaps as an option). Is that correct?

I've scan

[2017-03-14 08:55] DouglasSanders commented on #724
Unfortunately I do not. If the issue reoccurs, I will be sure to capture the logs.

[2017-03-14 22:04] majorcode commented on #790
As someone who is not fully familiar with the OpenAPI spec, may I ask: Is the absence of information about the foreign key or embedded resources due to limitations in the OpenAPI specification? Or is it something you have not had an opportunity to implement?

In addition to UIs that auto-discover which resources can be embedded, I think this information is really useful to someone learning to use

[2017-03-15 06:11] begriffs commented on #790
To be honest I don't know the best way to structure this information in OpenAPI. I have a feeling there's a way to do it though. Are you interested in researching this and providing your recommendation?

I agree that it's useful functionality, for instance for building admin panels like in #717.

(I'm also happy to help you with any Haskell questions as you begin learning. A good starting place wo

[2017-03-15 06:24] begriffs commented on #827
Thanks for the bug report. Have you noticed whether it messes up responses to client requests? Is it pretty reliable to reproduce the message in the logs?

[2017-03-15 07:34] #815 closed

[2017-03-16 02:11] diogob commented on #760
@matthewmueller I've coded a quick spec to test this case and it returns a 204 with an empty body. Could you post a script or an endpoint to help reproduce the 404 case?

[2017-03-16 22:41] majorcode commented on #827
I can confirm that this message appears in the log output after a minute of inactivity. The server stays running and ready for client requests. Maybe it's normal resource reclamation? It does sound ominous, though.

A quick Google turned up [this](https://github.com/yesodweb/wai/blob/76e335bb76711fe37f548c39435d4870e8575868/warp/Network/Wai/Handler/Warp/Timeout.hs#L114) reference to an exception.

[2017-03-17 02:34] begriffs commented on #827
Sounds like a great contribution to me! Give it a try and feel free to open a pull request with ideas even if it's not totally done yet. We can talk about the problem there as needed. Glad the local build was smooth and tests are passing.

[2017-03-17 09:11] eric-brechemier commented on #827
@begriffs I am using 3.0.2, not 4.x day to day; I just started 4.x a few times and got the error each time after a few minutes, which is in line with @majorcode's analysis.

[2017-03-20 03:32] diogob commented on #760
@begriffs could not reproduce this in current master, maybe we should close it

[2017-03-20 06:53] #760 closed

[2017-03-20 10:45] MannusEtten opened #833 "customization"
i can't read anything about customization of the api.

I can imagine that for certain calls there needs to be done some extra stuff. Hence our own requirements. We have to store some data into the database so this rest api is wonderful but after we added the data into the database we have to give this data also to some other tool for processing.

[2017-03-20 12:00] ruslantalpa commented on #833
That is done with a combination of proxy,triggers,listen/notify events,   depending on the specifics of the thing you are trying to accomplish.

[2017-03-20 15:07] majorcode commented on #827
@eric-brechemier Can you tell me what tool you used to make your requests to PostgREST?

I get the message, after a delay, when using Chrome or Postman. But the message isn't printed when I use `curl` or `wrk` on the command line. I suspect that browsers leave the connection open too long and the server kills the thread--probably for some Slow Loris defense.

[2017-03-20 15:46] begriffs commented on #833
@MannusEtten as Ruslan said, you can process data with an external program by using PostgreSQL's [LISTEN/NOTIFY](https://www.postgresql.org/docs/9.6/static/sql-notify.html). When you have new data to be processed, you can send a NOTIFY (this can be automated using a trigger on a table for instance so that newly inserted rows automatically get processed).

External programs can either directly LIST

[2017-03-20 17:41] eric-brechemier commented on #827
@majorcode I used Postman to post requests.

[2017-03-21 22:10] steve-chavez commented on #828
I can confirm this on the latest version, to reproduce on current test suite change the [computed column always_true](https://github.com/begriffs/postgrest/blob/master/test/fixtures/schema.sql#L121) ```public``` schema to ```test```. Two tests will fail with:

[code]

They will pass if this is added to ```privileges.sql```:

[code]

So it seems that in order to detect the computed column in the ex

[2017-03-21 23:35] steve-chavez opened #835 "Test suite setup dependency on postgrest_test_authenticator search_path"
I came across this on #831, while wanting to prove in tests the PR fix, I modified the ```search_path``` of the ```postgrest_test_authenticator``` and that resulted in tests, unrelated to the PR, failing.

When doing an ```ALTER ROLE postgrest_test_authenticator SET search_path = 'public', 'test'``` the following fail:

[code]

First one can be solved with a GRANT USAGE, in the second one there's

[2017-03-22 02:50] #827 closed

[2017-03-23 21:25] steve-chavez commented on #652
@begriffs I'll start working on this. If the ```where``` is combined with tradional filters I'll raise a ```400 Bad Request```.

[2017-03-24 13:51] rokkie opened #837 "Inserting composite type fails"
I've created the following schema:

[code]

When i try to insert a record with the following request
[code]

It fails with the following message:
[code]

[2017-03-24 13:53] ruslantalpa commented on #837
when you select a value of that type, how is it displayed?
i.e. when pg casts it to "text" how does it look?

try using that representation as a value

[2017-03-24 14:06] rokkie commented on #837
Ok, i feel really silly now.
I could have sworn i've tried it without quotes, which works just fine.
Thanks for pointing me in the right direction!

[2017-03-24 15:45] chadbrewbaker opened #838 "DB2 Support"
I'm interested in adding DB2 support (perhaps SQLite too).  Other than pulling down info from the database specific system tables what else would be involved?

As I understand it 90% of the work would be rewriting SQL queries in DbStructure.hs.

-- Initial notes on DB2 system tables
select * from SYSIBM.SYSCOLUMNS;
select * from SYSIBM.SYSTABLES;
select distinct tbname, reftbname from SYSIBM.SYSRE

[2017-03-24 16:56] begriffs commented on #838
We use other postgresql features too, like JSON serialization (row_to_json, etc), CTE support for table and resultset counting, GUCs for JWT claims, named arguments for stored procedures, full text search with to_tsquery, computed columns, and jsonb operators like `->>`.

[2017-03-24 18:15] chadbrewbaker commented on #838
Ok, might have to add client side JSON serialization for databases that don't support it. Don't need support for the other stuff.  Use case is replacing some megacorp handcrafted Java Spring REST APIs that are costing $$$ to build out and maintain.

One other feature might be batch chunking for large queries.

[2017-03-24 18:47] PierreRochard commented on #838
Why not write postgrest for DB2 in Java (Scala?) to provide a solution for that ecosystem?

I realize that would be time consuming, but I think the universe of "programmatically reflect database schema into REST API" solutions should grow and be polyglot. It's a paradigm shift with incredible synergies! 😄

[2017-03-24 19:48] steve-chavez commented on #838
Aside from the JSON feature, for postgREST jwt auth to work the RDBMS should also support switching roles in transaction scope, setting environment variables in transaction scope(otherwise you'll have a 1-1 correspondence between db user and app user). So I don't think you can have that feature in SQLite though maybe you can in DB2.

[2017-03-24 20:20] chadbrewbaker commented on #838
@PierreRochard If I had to use another language it would probably be Python. The functionality to hit a database and get the schema info in a standard format is in itself a useful project.

REST/GraphQL API on top is a separate layer to me.

[2017-03-26 09:46] vog opened #839 "Bad SQL coding practices in "Computed Columns" example"
The example given in the "Computed Columns" section encourages bad coding practices:

[code]

This contains code duplication, which may lead to unexpected performance degradation wtihout any warnings as soon as the definition of `full_name` changes. Instead, the custom function should be reused in the index definition:

[code]

Note that this works with all `IMMUTABLE` functions. Moreover, `full_n

[2017-03-26 09:49] vog opened #840 "Typo in docs"
The documentation contains a word duplication of "respond":

This should be corrected to:

[2017-03-26 09:59] vog opened #841 "Broken reference in docs"
Section "Resource Embedding" reads as follows:

[code]

That is, the link to "vertical filtering" is broken. It should be replaced with a proper link to section "Vertical Filtering (Columns)".

[2017-03-26 16:20] begriffs commented on #839
Good point -- care to send a pull request to https://github.com/begriffs/postgrest-docs ?

[2017-03-26 16:26] begriffs commented on #841
Thanks, will fix. When switching the docs to Sphinx a few links got messed up.

[2017-03-26 16:27] begriffs commented on #840
Cool, care to submit a fix in https://github.com/begriffs/postgrest-docs ?

[2017-03-27 02:40] dk1983 commented on #840
@begriffs, this is my first ever commit to any open source project, please let me know if done incorrectly or if it needs work.

[2017-03-27 03:27] begriffs commented on #840
@dk1983 thanks for jumping in to help! You did it perfectly.

[2017-03-27 03:27] #840 closed

[2017-03-27 03:31] begriffs commented on #841
OK, I had sphinx-autobuild analyze each page and I think all the links are resolved now. Let me know if you find any others, and thanks again for pointing out broken stuff.

[2017-03-27 03:31] #841 closed

[2017-03-27 13:35] FGRibreau opened #842 "JWT security issues"
(I could not find an issue on this here but if it exists please close this issue as a duplicate :+1:)

I see more and more articles from security people asking **not** to use JWT for anything or at least not for sessions:

- http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/
- https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid

Cu

[2017-03-27 18:47] ruslantalpa commented on #842
The part that needs investigation is if the libs used are not vulnerable and that the default alg is secure (maybe even refuse to work with secrets smaller then x number of chars and alg=none), i.e. can they be forged?

The other part that is also true is that you can not invalidate a jwt (you can only add code to black list them)

Other then that (if you store them as cookies and only do not add

[2017-03-28 01:03] timbod7 opened #843 "Documentation issue in auth0 howto"
The documentation describing how to use auth0:

https://postgrest.com/en/v0.4/auth.html#jwt-from-auth0

shows putting the role information in the auth0 `user_metadata`.  According to the auth0 UI, `user_metadata` is for:

whereas `app_metadata` is for

Hence, shouldn't the howto example be written in terms of `app_metadata`?

[2017-03-28 01:25] begriffs commented on #843
What I know about Auth0 comes from a brief night of pairing with an employee from there. I'd love your help improving the docs if you'd like to send a PR. https://github.com/begriffs/postgrest-docs

[2017-03-28 04:34] #777 closed

[2017-03-28 06:46] timbod7 commented on #843
See https://github.com/begriffs/postgrest-docs/pull/49

[2017-03-28 09:02] aranwe opened #845 "Filter by embedded resource count"
Hello everyone,

In the example for Resource embedding I would like to be able to do following:
`GET /films?select=title,nominations{rank}&nominations=count.ge.2`

The main goal is that currently if you select embedded resources PostgREST always returns the parent.
I would like to be able to filter out parents that do not contain children. This gets more serious when embedding multiple levels of r

[2017-03-28 09:47] ruslantalpa commented on #845
One way to do it would be (but i am not completely sure it's optimal)
first, do not expose the schema where your tables live, expose a schema `api` where you have only view definitions

then have the last function that you defined somewhere and a view like

[code]

then add a index like this
[code]

hopefully this index will prevent running that count query on each request.

If the index trick doe

[2017-03-28 09:59] ruslantalpa commented on #845
this thing is off the top of my head so take it with the grain of salt, but the main idea is correct, you have to bring up the "child property" up to the level of the parent so that you can filter based on it as if it's a property of the parent

[2017-03-28 15:27] eldadj commented on #800
@ruslantalpa fyi

[2017-03-28 15:45] bradleyf opened #846 "Rasperry Pi 3 / ARM build?"
I'm trying to get postgrest on Raspberry Pi 3.   I can install everything needed to build from source EXCEPT the Nix stuff.   (specifically nix-shell) Darn!

Any way to do an Arm build in some other fashion?

[2017-03-28 16:28] sernik opened #847 "JWT secret as a database property"
Hello,

Is there a simple way to reference a secret, set like docs suggest: `ALTER DATABASE mydb SET "app.jwt_secret" TO '!!secret!!';` in a configuration file? Or other way round: define it in a configuration file and use it in a login function?

[2017-03-28 18:45] joost-v opened #848 "Server not returning 403 Forbidden when user is not authorized to edit resource"
Given this schema:
[code]
The user 'alice' should be able to edit the post with id 1, though a user 'bob' should not be able to do so. But when verifying with the following python script:

[code]
It seems that indeed bob is not able to alter the post but the server gives no indication or error and responds only with 204 No Content. I'm not sure if this is actually a postgrest bug or if it is the p

[2017-03-28 18:54] ruslantalpa commented on #848
you are basically doing
`update A set a='aaa' where id = <inexistent id>` which is a query that will not fail but will say no rows were updated.

This is correct behaviour, in addition to that, you do not want bob to know there are other rows that he has no access to (and 403 would give that signal) but anyway this does not matter since the behaviour come from the db

[2017-03-28 22:18] trungtin commented on #749
How does the current version implement the versioning, the old way of using `version` in `accept` header doesn't seem to work anymore.
My app is used by multiple teams, each team with a set of specific table (some is common), sometimes with different column in similar table between teams, so I cannot use the method of set permission on the table as suggested. I intend to separate each team with ne

[2017-03-29 03:23] ruslantalpa commented on #749
@trungtin i think almost every time, having a different set of tables for different users of the same application is an incorrect schema design.
The first thing to know is that you don't expose schemas where the tables live, you expose schemas where only views live (that extract data from your source tables).
Also look into how RLS works so that you can filter the rows in those common tables for e

[2017-03-29 05:26] trungtin commented on #749
@ruslantalpa Thanks much for your help, really appreciate your time
In my case, I building a customizable CRM for multiple types of client (car dealers, real estate broker, ...), so I really need different table for each team.
Anyway, I think I should put everything in the same schema for now, and re-architecture in the future. But what is that `RLS` you are referring to?

[2017-03-29 06:08] ruslantalpa commented on #749
RLS is this https://www.postgresql.org/docs/9.5/static/ddl-rowsecurity.html row level security

[2017-03-29 06:15] ruslantalpa commented on #749
PostgREST is relying on the power of the PostgreSQL for flexibility, almost always, when developing an api with postgrest, the answer will come from the DB docs.

[2017-03-29 09:39] joost-v commented on #848
Ok, thanks for the explanation!

[2017-03-29 09:39] #848 closed

[2017-03-29 10:11] ruslantalpa commented on #800
@eldadj see #849
until it's merged, you can use the patch.

[2017-03-29 10:16] ruslantalpa commented on #847
That string (that is used in the login function)  can be either a GUC or it can be a row in a table, login function can pull it from anywhere, the important part it needs to be in the DB env.

If you want to have it as a config in a file, then you need to create your own custom script that is executed on system boot (maybe in postgrest startup script) that executes a sql query and transfers that v

[2017-03-29 10:23] ruslantalpa commented on #846
It has nothing to do with nix. it has to do with Haskell availability for ARM
to build we use https://docs.haskellstack.org/en/stable/README/

once you get that installed and working on ARM you will probably be able to build postgrest

[2017-03-29 10:23] ruslantalpa commented on #846
There is a discussion here https://github.com/commercialhaskell/stack/issues/2103

[2017-03-29 12:04] sernik commented on #847
Thank you, this is exactly what I ended up with. The startup script greps a secret from postgrest config file, sets it as a db property, then runs postgrest executable.

Perhaps this could be done by a postgrest itself… Thanks for a great software anyway.

[2017-03-29 12:18] #847 closed

[2017-03-29 18:08] huksley commented on #806
That is not possible because in general, backend does not knows about frontend.
For example, cloud.docker.com generated URLs with dynamic DNS.

[2017-03-29 22:57] timbod7 opened #850 "Question: encoding of queries"
It's not clear to me how table queries should be encoded when the values being searched for (and possibly the column names), contain arbitrary unicode. From poking around the code, It would appear that I need to utf8 encode and then urlencode each section of the query separately, and then intercalate these with the appropriate separator.

ie in haskellish pseudo code:

[code]

is this the right ap

[2017-03-30 02:48] #839 closed

[2017-03-30 04:15] ranjanprj opened #851 "Setting a default limit on any table"
I have been playing with a large dataset in Postgrest and this is just a suggestion.
If a table has for example Millions of records, shouldn't Postgrest redirect to or require a "limit" clause to display only limited data in the table or view and ask user explicitly to display all the data.

regards

[2017-03-31 02:24] begriffs commented on #851
Have you tried the `max-rows` configuration option? https://postgrest.com/en/v0.4/admin.html#configuration

[2017-03-31 04:33] begriffs commented on #850
I think URLs in general do not support unicode directly (see [this](https://stackoverflow.com/questions/2742852/unicode-characters-in-urls) stack overflow post). So in order to refer to a unicode value in a url you have to percent encode it. From there we do [test](https://github.com/begriffs/postgrest/blob/master/test/Feature/UnicodeSpec.hs) that postgrest can handle unicode values, but I think y

[2017-03-31 04:55] timbod7 commented on #850
As far as I can tell, percent encoding is an operation defined on bytestrings, not unicode text. Hence I think you need to UTF8 encode your text before doing percent encoding.

Also, you need to keep the `&` as a delimiter in the final URL, which means that they should be introduced after the percent encoding of each parameter.

Actually, I've found the functions in the [http-types][] haskell libr

[2017-03-31 05:18] begriffs commented on #850
That would be great, thank you.

[2017-03-31 05:23] begriffs commented on #846
An article here as well http://allocinit.io/haskell/haskell-on-raspberry-pi-3/

[2017-03-31 05:41] begriffs commented on #652
@steve-chavez thank you so much!

[2017-03-31 06:12] begriffs commented on #808
@deinspanjer any progress on your "v2" docker setup in stack.yml?

[2017-03-31 22:03] bradleyf commented on #846
I'm making some progress as a result of Robinvd's stack 1.4.0 binary.  But I'm getting stuck again, and I really don't know the toolchain for Haskell and LLVM, so maybe someone can provide hints or tips.   I do have LLVM 3.7 installed through the distrib.  Here's the last message I'm seeing:

$ sudo stack build --install-ghc --copy-bins --local-bin-path /usr/local/bin --allow-different-user
[1 of

[2017-04-01 04:31] begriffs commented on #809
To recap, we want to keep the JWT server secret out of a GUC and move it into a table with proper permissions. That makes sense. This is just a change to the way people write their stored procs and other SQL, right, no anticipated changes necessary for the postgrest binary?

[2017-04-01 04:33] begriffs commented on #505
From this thread it seems like we ought to support both access- and refresh-tokens. Anyone want to volunteer to implement this?

[2017-04-01 04:45] begriffs commented on #819
I rebuilt the nightly image to pick up the [change](https://github.com/begriffs/postgrest/blob/master/docker/Dockerfile#L16) that ensures it passes in a config file path to the binary. Although we still have more work to do to support environment variables, this will enable the basic case of mapping in a config file like you're doing. Thanks for reporting the problem.

[2017-04-01 04:45] #819 closed

[2017-04-01 04:55] begriffs commented on #823
I wonder if this has anything to do with the schema search_path. PR #831 recently dealt with a search_path related thing...

[2017-04-01 05:14] begriffs commented on #830
I researched how to do it in nginx and added code for you in https://postgrest.com/en/v0.4/admin.html#alternate-url-structure

I realize you don't want to add the complication of a reverse-proxy, but if you're going into production with postgrest you'll probably want nginx for other reasons like HTTPS support.

Ultimately I'm not against provide the URL shortcut in postgrest because a lot of peopl

[2017-04-01 05:18] begriffs commented on #830
Another note about proper implementation is that other filtering options should probably be disallowed for `/foo/:id` while embedding options should continue to work.

[2017-04-01 05:22] begriffs commented on #828
Sounds like consequence of how postgresql does computed columns, but probably deserves a note in the docs.

[2017-04-01 05:22] ruslantalpa commented on #830
and another not is that this should return an object directly and not an array with a singe object

[2017-04-01 05:38] begriffs commented on #835
Does this indicate a problem with postgrest, or just a brittleness in the tests?

[2017-04-01 05:49] steve-chavez commented on #828
I think this is more related to the currently used syntax for computed columns:

[code]

Seems this is used to conveniently avoid extra code for computed columns and treat them just as another column for building the query, but the drawback is that of the search_path. I think with this other syntax for using computed columns the search_path issue can be avoided:

[code]

Though it requires extra c

[2017-04-01 06:01] begriffs commented on #842
Should we create some concrete issues from this discussion?

[2017-04-01 06:15] steve-chavez commented on #835
I think a little of both, the openAPI failed test indicates that the feature is depending on the search_path to detect a pg type schema qualified, and the computed columns failed tests shows the same dependency.

Also there are some simple errors on the test suite that happen because of not schema qualifying some definitions and relying on the search_path.

I could submit a PR to resolve the defin

[2017-04-01 12:24] spinus commented on #809
@begriffs, depends. If the feature that postgrest is using secret from a table is desired (for example you dynamically change secret, you want to sign tokens with new key only, but you still want to support tokens signed by old one), I think postgrest would need to support reading secrets from table.

[2017-04-01 12:39] ppKrauss commented on #809
I agreee @begriffs, and think that the best is to use a table and the [pgcrypto extension](https://www.postgresql.org/docs/current/static/pgcrypto.html).

[2017-04-01 22:47] russelldavies commented on #474
I think there is some conflict between two sides: traditional deployment approaches and containers. For the former, it makes sense to have a config file for the deployment, security, and configuration update benefits. However, when deploying via containers, none of these arguments are relevant nor provide any benefit; the opposite, in fact.

So, I think that the config file should be kept and supp

[2017-04-02 03:55] begriffs commented on #474
In #826 I'm working on a scheme where the Docker container uses a config file that interpolates from environment variables, so you have an option to either map a custom config file into the container, or just to set environment vars as usual. Ran into a problem about parsing interpolated integers, but got a response about that today in the associated configurator-ng library.

[2017-04-02 10:48] russelldavies commented on #474
Ah, I missed that issue so I'll follow the progress there. Thanks.

[2017-04-03 08:01] eric-brechemier commented on #505
@begriffs can you lay down some guide lines about how you think this should be implemented? I am wondering in particular how much should be done in SQL alone, and how much in Haskell.

[2017-04-03 12:13] ranjanprj commented on #851
Ah, didn't see that, this will do. Postgrest keeps amazing me.

[2017-04-03 12:13] #851 closed

[2017-04-03 12:42] PierreRochard commented on #505
@eric-brechemier if the complexity is comparable for SQL vs Haskell implementation, as a humble hobby user my vote is for SQL. 😃

[2017-04-04 15:05] FGRibreau commented on #222
:+1: this could be used in the OpenAPI/Swagger spec (Postgraphql does that as well for GraphQL).

[2017-04-04 17:10] russelldavies commented on #837
For non-ENUM composite types there is the problem that the representation returned in a GET request is different from the representation that must be sent in a POST/PATCH/PUT request.
Example:
[code]
A GET request to `/foo` will return:
[code]
However, sending this as the body of the POST request will fail:
[code]
with the error message
[code]
and what Postgres logs:
[code]

Sending this as the PO

[2017-04-05 12:00] purpleKarrot opened #855 "Please tag docker image version 0.4.0.0"
The only available versions on https://hub.docker.com/r/begriffs/postgrest/tags/ are `nightly`, `v0.3.2.0`, and `latest`.

[2017-04-05 12:15] deinspanjer commented on #808
My progress was blocked by PR 826 a couple of weeks ago, and I did not notice that it was merged.

I'm a bit swamped at work at the moment, but I'll try to get the PR updated by this weekend.

[2017-04-05 14:52] begriffs commented on #855
I'll make the new tag tonight.

[2017-04-05 17:54] ruslantalpa commented on #652
The idea is that every table (at whatever level) has two virtual columns called `and` and `or`
This allows the following:
`/people?and={student=is.true,or{age=gte.18,height=lte.180}}`
`(student=true and (age > 18 or height < 180))`

`/people?or={student=is.true,and{age=gte.18,height=lte.180}}&driver=eq.true`
`(student=true or (age > 18 and height < 180)) and driver=true`

it works the same for the

[2017-04-05 18:02] ruslantalpa commented on #652
About the `{}` why not change everywhere to `()` including select. I've seen a lot of issues about people not encoding them and getting errors

[2017-04-05 18:16] steve-chavez commented on #652
To save another character that needs urlencoding how about removing ```=``` from the operators like in:
[code]

[2017-04-05 21:14] statik commented on #855
Thanks! I was looking for this today as well.

[2017-04-06 03:12] rngadam commented on #190
Would like to see this feature just for the development phase where the development occurs on the localhost machine.

It's convenient to have both the API and static resources served from the same URL. Example: create database, start postgrest, write an index.html (hopefully with autoreload on change functionality), query the API from the index.html.

Once deployed, that static/ directory can of c

[2017-04-06 03:50] begriffs commented on #190
How about a nice copy-and-paste example in the docs of an nginx config file for this use case?

[2017-04-06 04:27] begriffs commented on #855
OK I released a v0.4.0.0 tag on docker hub. Let me know if it works properly for you. Note that it does not work with environment variables. You must map a postgrest config file into the container.

Allowing docker environment variables will be enabled in the next release.

[2017-04-06 16:41] statik commented on #855
This is working great, thank you.

[2017-04-06 17:03] #855 closed

[2017-04-07 02:09] umq commented on #823
in the example, dropping `app_api.books` makes the latter query `/literary_works?select=*,author{*}` okay.
There may be something like the-first-one-wins rule.

[2017-04-07 03:04] rngadam commented on #190
I could, but I don't want/should not need to have to setup nginx on my desktop. What I end up doing is running ```autoreload-server``` npm package. It watches for updates to files and reloads the page (websocket connection) and serves it on a separate port. It's convenient; it would be even more convenient if postgrest did this out of the box.

[2017-04-07 04:04] umq commented on #823
replacing ` = 1` here to ` > 0` possibly work?
https://github.com/calebmer/postgrest/blob/master/src/PostgREST/DbStructure.hs#L332

[2017-04-07 05:10] ruslantalpa commented on #837
@russelldavies the "write" part of PostgREST is probably full of inconsistencies right now. Most of the work so far was focused on getting the "read" part right and i think we almost have it.
@begriffs This issue should be reopened and title edited. There's good info here with detailed examples.

[2017-04-07 12:11] PierreRochard commented on #190
I'm going to be blunt: I don't see why you "should not need to have to setup nginx on my desktop" when you need a feature that nginx has and is best suited for.

I don't want PostgREST to be anything but a REST API server for my PostgreSQL database. Any effort put into re-creating nginx functionality detracts from its core purpose.

[2017-04-07 14:45] begriffs commented on #190
@rngadam I empathize with you that installing a reverse proxy on a dev machine might sound intimidating/annoying, but as @PierreRochard says, it's a nice separation of concerns that helps postgrest stay lean.

Installation shouldn't be so bad though - there are [packages](https://nginx.org/en/linux_packages.html) for linux and `brew install nginx` should do it on mac ([mac howto](https://coderwall

[2017-04-07 14:57] ruslantalpa commented on #190
A better option is to just have docker on you dev box (useful in lots of ways) then it will be very easy to start nginx/postgrest from docker, you will just need to have one config file on your disk, no need to install anything else (we can provide that config file in the docs or separate repo).

[2017-04-07 17:48] begriffs opened #858 "Improve internal documentation"
Haddock warns about many top level functions and types that lack documentation. Some of these functions speak for themselves, but others would benefit from comments explaining their motivation and context.

[code]

[2017-04-08 03:21] #493 closed

[2017-04-10 04:43] DouglasSanders commented on #724
@begriffs I've had the issue reoccur and captured the logs as requested.  I'll note that the SQL runs as expected (produces the output I expect in the result `body`) if I execute it directly, (except that the semicolon is missing from `BEGIN ISOLATION LEVEL READ COMMITTED READ ONLY`)

ngrep log:
[code]

and the postgres log:
[code]

[2017-04-10 11:09] timwis commented on #790
If you're just trying to get a list of the tables available, OpenAPI adds _a lot_ of weight :/ for instance, here's a fresh postgres DB with a single table added:

[code]

[2017-04-10 11:29] timwis opened #860 "Requesting OpenAPI endpoint with Accept: application/json throws 415"
I'm using [postgrest-client](https://github.com/calebmer/postgrest-client) (wrapper around superagent) to request the OpenAPI page (`'/'`) in order to get a list of tables / field types. It's returning `415` with message `None of these Content-Types are available: application/json`. It appears to be caused by superagent adding the `Accept: application/json` header. When I try it manually with that

[2017-04-10 13:49] begriffs commented on #790
We could serve a different representation at the root depending on the Accept header. Is there a more concise standard you would prefer?

[2017-04-10 13:51] begriffs commented on #860
It's been fixed on the master branch actually. There's a note in the changelog.

[2017-04-10 13:51] #860 closed

[2017-04-10 21:54] majorcode commented on #790
During my review of Open API with an eye on adding nested resource details (re. #717 ) I came to a conclusion similar to @timwis. I believe the Open API service description rendered on the root route (I'll resort to calling it the "description" for brevity) is verbose. It's also incomplete. However, a *complete* description is inevitably untenable.

I'm not trying to disparage anyone or start a fl

[2017-04-11 05:57] #641 closed

[2017-04-11 05:57] #701 closed

[2017-04-11 09:57] timwis commented on #790
Woah. Some really interesting points there, but a slightly different road than a more concise introspection method. As for an alternate, more concise standard, the only two I know that are relevant are:

- [JSON Table Schema](http://specs.frictionlessdata.io/table-schema/)
- [JSON Schema](http://json-schema.org/)

I think the table schema probably makes more sense and is the most concise (it also

[2017-04-11 15:02] majorcode commented on #790
I don't know first hand. But I think the decision to use Open API was integration with Swagger, since it seemed popular. Do either JSON Table Schema or JSON Schema have this?

Maybe there were discussions about API description being a misuse of the OPTIONS verb. And that prompted removing support. I don't know. My opinion is that API description is a valid use for the OPTION verb.

[2017-04-12 11:48] leondutoit commented on #842
Hi, the fact that postgrest only uses HS256 means that the alg=none problem is dealt with atm.

I see there was some discussion about the JWT library that postgrest uses in #567. As a user of postgrest I think it would be great if I could point to evidence that JWT is being handled in the a rigorous way - especially when someone questions me on that.

One possibility would be to include a section

[2017-04-12 15:14] begriffs commented on #842
@leondutoit I'm currently adding support for more algorithms with the jose library actually. Should have a PR to review pretty soon.

Would love your help with documentation!

[2017-04-15 05:01] spinus commented on #806
Should be relatively easy to use host from the http request instead of bind address. Could reopen that ticket?

[2017-04-15 16:17] timwis commented on #790
There's a ton of tools out there that use the JSON Schema spec, but probably not an API doc generator. JSON Table Schema is newer, but [some tools](http://frictionlessdata.io/tools/) do exist.

[2017-04-15 16:19] timwis opened #861 "OpenAPI doesn't show keys"
Is it just me, or does the OpenAPI page not show the keys? I believe it's meant to be at `definitions.{tablename}.key[]`, but it looks like this isn't supported in [the code](https://github.com/begriffs/postgrest/blob/f3b79bcc402e201b263dac9fdb9bf26ff01d8636/src/PostgREST/OpenAPI.hs#L53). I'm trying to update a row using its primary key as the condition, but I'm not sure how I'd figure out the pri

[2017-04-17 18:22] hewe opened #862 "Stored procedure with JSONB argument not exposed through postgrest"
I have defined a function on postgres that takes JSONB argument as the only argument, however, when attempting to call the function through postgREST it fails and complains that no function defined with argument of json type. I understand the below example I could use bulk insert via POST, however, the example is much simplified here than my actual use case.

Step to reproduce:

1. Create the stor

[2017-04-18 02:56] begriffs commented on #862
Thanks for the bug report. I was about to mention `params=single-object` but you're already using it.

Looks like the problem is in https://github.com/begriffs/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L168

We could try `insertableValueWithType "unknown"` and see if postgresql can figure out when to use json/jsonb.

[2017-04-18 14:54] leondutoit commented on #842
I see there is discussion about moving the docs the main repo (https://github.com/begriffs/postgrest-docs/issues/37). Should I wait for that to happen before sending the PR?

[2017-04-18 14:58] begriffs commented on #842
Nah, you can open the PR against the docs repo. There's plenty of other things for me to deal with before attempting to move the docs.

[2017-04-22 10:58] esmeetu opened #865 "How to release (expire) JWT token?"
After reading the docs: [https://postgrest.com/en/v0.4/auth.html#client-auth](https://postgrest.com/en/v0.4/auth.html#client-auth),
`client auth` works fine, but now i want to make jwt token expire.
*Like this:*
[code]
To make current `<jwt token>` expire immediately, and won't auth with that later.

Is there a way?

[2017-04-22 13:48] begriffs commented on #865
You can use the `pre-request` configuration parameter to specify a custom stored procedure to run. In this function you can do any check you want to possibly reject a user request. For an example, see https://postgrest.com/en/v0.4/auth.html#custom-validation

[2017-04-22 14:09] esmeetu commented on #865
@begriffs Thanks for your reply.

Still confused, should i save the `exp` variable? And then write a `pre-request` function to check the diff between `will be released` exp (new POST) and the old saved exp.

P.S. this is my related `login` function:
[code]

[2017-04-22 14:17] begriffs commented on #865
PostgREST will automatically reject expired tokens (it compares the time of the request to the timestamp in the exp claim). So your code doesn't need logic to check for normal expiration. However if there is some other reason that you want to reject tokens, you can use a pre-request function to check for those conditions and reject the user.

Can you explain your use case?

[2017-04-22 14:20] esmeetu commented on #865
If i want to logout, i want to make my jwt token expire immediately for security. Is that necessary?

[2017-04-22 14:24] begriffs commented on #865
To do that you'll need a table or something in your database that keeps track of whether the user has logged out. The pre-request can check that table for the given role, and if they are logged out then it will throw an exception. The next time that user logs in it should give them a new jwt and clear the logged out indication from the table.

[2017-04-22 14:27] esmeetu commented on #865
OK, i will try your suggestion. Thanks again. :)

[2017-04-23 05:23] #865 closed

[2017-04-25 03:50] palmerj commented on #223
Why has this issue been closed, it's still unresolved

[2017-04-25 03:57] palmerj commented on #223
I think for PostgREST to be useful for PostGIS developers it needs to detect if any of the object output column datatypes are geometry and convert them to an appropriate text representation. e.g

- text/csv then use the function ST_AsText()
- application/json use ST_AsGeoJSON()

Yes a stored DB functions could be used, but that means all database tables/views objects with geometries outputs will n

[2017-04-25 04:13] begriffs commented on #223
@palmerj fair point, I'll re-open the issue.

Maybe the best way to focus the issue is to post SQL for creating a table with columns of the desired postgis types, include example data, and then the desired output when issuing a GET request on that table. I can then use that information to create a feature test and see how far off we are and how to fix it.

[2017-04-25 04:17] palmerj commented on #223
Ok thanks, will do

[2017-04-25 04:31] palmerj commented on #223
Also I also think (as commented above) it would be good to support some common geometry operators. At least intersects, if not all of the standard geometry binary predicates. e.g:

ST_Equals
ST_Disjoint
ST_Touches
ST_Contains
ST_Intersects
ST_Within
ST_Crosses
ST_Overlaps

To support these functions I think at least ST_MakeEnvelope(xmin,ymin,xmax,ymax[,srs]) and ST_GeomFromText(wkt,[srs]) geometry

[2017-04-25 04:43] ruslantalpa commented on #223
@palmerj @begriffs i don't think postgrest should be detecting any column type (for now) in order to format it in some way. The users have the tools to format them as needed.
As i've said in other places, postgrest should not be used to expose tables directly, but views that draw data from those tables. Considering that, it means the users can have views with columns formatted as needed, independe

[2017-04-25 08:11] gitfirenz opened #866 "Read error at byte / localhost"
Hello,

I have a network/data/other issue i can't solve yet. My conf :
- PostgREST 0.4.0.0
- AWS EC2 AMI + postgresql95-libs + postgresql95 + sestatus disabled + no iptable/firewalld
- AWS RDS PostgreSQL 9.5.4

Conf :

  db-schema = "public"
  db-anon-role = "awsuser"
  db-pool = 10
  server-host = "*4"
  server-port = 3000

When i do a local wget, the wget do a "Read error at byte 264/5" and retr

[2017-04-25 09:15] mcarans opened #867 "Provide Alpine Docker image"
It would be good to have an Alpine Docker image. I have created one here:
https://hub.docker.com/r/mcarans/alpine-haskell-postgrest/ which uses the last version of Postgrest that worked with Alpine 3.4.
(Git commit hash: 726b2b9d18a3b8217d83c514122560fd5f71af95)

It can be used in docker-compose.yml like this:
  rest:
    image: mcarans/alpine-haskell-postgrest
    ports:
      - "3000:3000"
    e

[2017-04-25 14:28] begriffs commented on #867
Thanks for putting that together. Can you try making some API requests to it and leaving it running for a while? Last time we experimented with Alpine we ran into a GHC memory leak that appears to be related to that platform.

[2017-04-25 15:25] begriffs commented on #223
Ruslan is right in that creating a computed column for a table is really easy -- you just make a function. Then the table gets a new column that you can select as part of the table. No extra views even needed for that. Now if you have a lot of geometry columns you would have to make a bunch of these functions to get the columns you need. Might get repetitive.

I am curious what the default output

[2017-04-25 17:27] gitfirenz commented on #866
seems more a wget issue that a postgrest one. I prefer to close :)

[2017-04-25 17:27] #866 closed

[2017-04-25 22:32] palmerj commented on #223
This is true, but IHMO to approach of creating specific pl/PgSQL function per view/table that has to read a PostgreSQL GUC setting is cumbersome, as @begriffs said it's repetitive. One of looking at this issue is we have a database application that we might potential expose 100's of table and PgSQL functions APIs that return geometry types. Under this solution I would need to write and maintain 10

[2017-04-26 16:18] ruslantalpa commented on #867
@mcarans it's not about leaving it for a while, you need to send a lot of requests to PostgREST to use up some memory so that GC has something to clean up. You need to generate like upwords of 1M requests in a short time frame (5-10min). Watch the memory used at the beginning, see it grow during the test. If it the end, the memory usage goes down to the initial level, you are fine but i think it w

[2017-04-27 06:59] mcarans commented on #867
Ok maybe you can make an Alpine Postgrest image available (or point to mine as an unofficial one) with a warning that millions of requests per minute has been known to cause a memory leak (as Alpine is not a supported platform for GHC) so people can choose to use it or not given the warning.

[2017-04-27 07:12] ruslantalpa commented on #867
the problem does not appear ONLY when you have a big rps number. The problem is that used memory does not get cleaned up at any volume. whatever your load, eventually your server is going to run out of memory and crash. The 1m number was just a way for you to flash out the bug in a short timespan (5min). Unless this is fixed i would not suggest to anyone to use alpine with postgrest in any setting

[2017-04-27 07:35] mcarans commented on #867
Ok fair enough. I will let you know how things go with leaving my Postgrest running. Do you recall what Alpine version you tested before? The image I created is for 3.4.

[2017-04-27 18:01] tonyhschu opened #868 "Docker compose doesn't work with begriffs/postgrest:latest"
... but does work with begriffs/postgrest:v0.4.0.0

To reproduce, clone the repo to the latest master, navigate to `/docker/` then run:

`$ docker-compose up`

Visiting localhost:3000 you'll see:

[code]

By changing the image used in the docker-compose.yml file to `begriffs/postgrest:v0.4.0.0` I was able to get it up and running.

Tony

[2017-04-27 18:46] ruslantalpa commented on #868
try the second time with 4.0, i bet it will fail

[2017-04-28 05:09] richardmansfield commented on #562
I think I might be running into this problem too, with v0.3.2.0,

[code]

Requesting `/api_v1/authors-1?select=*,books-1{*}` succeeds, but `/api_v1/authors-2?select=*,books-2{*}` fails with
`{"details":"no relation between authors-2 and books-2","message":"could not find foreign keys between these entities"}`

As far as I can tell, renaming the fk column in the second set of views isn't helping

[2017-04-28 05:20] ruslantalpa commented on #562
@richardmansfield did you restart postgrest after creating the views?

[2017-04-28 13:06] PierreR commented on #778
@begriffs Could we get this change in a 4.0.1 release or something ? That would really help to get it to stackage, which in turn helps to get it into nixpkgs, which in turn help (me) when trying building satellite project such as `postgrest-ws`.

[2017-04-28 16:15] begriffs commented on #56
Reopening this issue because people have been asking how to find out the primary and foreign keys of a relation in order to do resource embedding, and the openapi description is proving insufficient.

As mentioned above, I'm considering having each endpoint include a [describedby](https://www.mnot.net/blog/2012/10/29/NO_OPTIONS#what-should-i-use-instead) http header link. It would go to another en

[2017-04-30 08:55] ajnsit commented on #868
I'm not sure if this is the same issue or not, but the one of the problems I faced was that postgrest would run before postgres had started accepting connections. The solution was to wrap postgrest in a script that checks for postgres being up before running postgrest.

[2017-04-30 09:12] ruslantalpa commented on #868
Yes, it's that. And there is a new PR now to fix this :)

[2017-04-30 23:37] richardmansfield commented on #562
@ruslantalpa yes, I've been restarting postgrest. Second and subsequent views of the referenced (books) table containing the fk are not a problem, it seems it's just failing in the case where there is more than one view of the authors table, so:

`/api_v1/authors-1?select=*,books-1{*}` works
`/api_v1/authors-1?select=*,books-2{*}` works
`/api_v1/authors-2?select=*,books-1{*}` fails
`/api_v1/author

[2017-05-01 03:45] ruslantalpa commented on #562
are the table/views in the public schema? if yes, try the latest release 4.1

[2017-05-02 08:33] mpwang commented on #817
I think the change is necessary, otherwise when using swagger-codegen, the generated library will return none for any get method

[2017-05-04 20:43] michalskop opened #870 "Underscores in column names and foreign keys"
Underscores in column names (e.g., `column_A`) lead to problems. I found it when I tried to insert data into a table (`table1.column_A`) , which had foreign key to another table (`table2.column_A`) leading to error 409.

It seems to me related to not (or wrong) escaping when used in pgsql (https://www.postgresql.org/docs/9.6/static/functions-matching.html)

Using 0.4.1.0

[2017-05-06 03:46] mattddowney commented on #868
Quick fix for this is to just add `restart: always` to the container

[2017-05-07 00:11] #742 closed

[2017-05-08 17:45] ACPK opened #871 "Starting Postgrest"
I tried:

    postgrest postgres://postgrest@localhost/catarse_development

But get:

    Cannot open config file:

    postgres://postgrest@localhost/catarse_development: openFile: does not exist (No such file or directory)

[2017-05-08 17:49] begriffs commented on #871
The first argument should actually be the path to a config file rather than a postgres connection string. That connection string and other parameters will live inside the config file. See https://postgrest.com/en/v0.4/admin.html

[2017-05-08 22:28] ACPK commented on #871
@begriffs - Thank you! What would the db-schema be?

I set it as "schema", but get the error below when I visit localhost:3000/users:

    {"hint":null,"details":null,"code":"42P01","message":"relation \"db-schema.users\" does not exist"}

[2017-05-08 22:33] begriffs commented on #871
By default when you create tables etc in a postgres database they are in the "public" schema. For testing things out feel free to expose that schema directly with postgrest. (Learn more about schemas here https://www.postgresql.org/docs/9.6/static/ddl-schemas.html)

In the long run you'll want to put your core data in one schema but expose another one to the API clients. The exposed one would have

[2017-05-08 22:56] ACPK commented on #871
@begriffs - Thank you very much as your help has been extremely appreciated! Your solution worked but I now see a bunch of weird code (see below) when I visit http:localhost:3000. By any chance, do you have a sample api schema that I could work off?

    |^not[.]<@[.]|^not[.]in[.]|^not[.]notin[.]|^eq[.]|^gte[.]|^gt[.]|^lte[.]|^lt[.]|^neq[.]|^like[.]|^ilike[.]|^is[.]|^isnot[.]|^@@[.]|^@>

[2017-05-08 23:05] ACPK commented on #871
@begriffs Thank you, and I was able to create an API schema.  In regards to the JWT, how can I test this as my application is getting "Completed 401 Unauthorized" for its API request.

[2017-05-08 23:22] begriffs commented on #871
What does the JWT look like? You'll want to create a one with a `{ "role": "postgresql_user_name" }` claim, and sign it with a secret password that you also provide to postgrest server in the config file. You can easily create a JWT by visiting jwt.io and entering in a JSON object and a secret key.

Also if you haven't read this part of the postgrest guide, you should check it out to get an idea o

[2017-05-09 02:45] haolez opened #873 "Allow customization of descriptions and examples in the OpenAPI endpoint"
It would be nice if the automatic OpenAPI endpoint could be customized to show descriptions and example usages of the APIs being documented.

An idea would be to use PostgreSQL comments for that.

[2017-05-09 03:00] begriffs commented on #873
Nice idea, seems to have a lot of interest.

Closing this issue though as it's a duplicate of #222

[2017-05-09 03:00] #873 closed

[2017-05-09 19:01] ephetic commented on #286
I'm not sure about the relative stupidity of this suggestion, but couldn't you use custom headers (or reuse semantically appropriate standard ones) to track requests that should be wrapped in a single transaction?
[code]

[2017-05-10 04:03] begriffs commented on #286
Your suggestion makes sense. I've seen a related scheme recommended on various places on the web: expose an HTTP resource that represents transactions. Let me outline how it could work, then talk about some problems.

### How it could work

The server can expose `/transactions` which accepts only POST. When you post to it you can include a json object with options like the desired isolation level.

[2017-05-10 05:13] ephetic commented on #286
* guid alias sounds sufficient
* reasonable, if configurable
* should be out-of-band.  perhaps rpc endpoint
* umm...pass
* yeah, pass again

How would HTTP/2 handle arbitrary SELECT/UPDATE type transactions?

[2017-05-11 01:20] ACPK commented on #871
@begriffs - Thank you for your help, as it was greatly appreciated!

With locally running, I'm working on deploying it to production using: https://elements.heroku.com/buttons/begriffs/postgrest.

I apologize for asking, but what would the url be so I can add the buildpack to an existing application?

[2017-05-11 03:12] begriffs commented on #871
No problem, I'm happy to help.

The direct buildpack url is https://github.com/begriffs/postgrest-heroku.git

[2017-05-11 03:50] ACPK commented on #871
I apologize if I wasn't clear. What would the postgrest url (ex: localhost:3004) so I can point my main  app to it?

[2017-05-11 04:12] begriffs commented on #871
Heroku assigns a random port number during each deployment, but I believe it is available from the $PORT environment variable. https://devcenter.heroku.com/articles/dynos#web-dynos

[2017-05-11 04:22] ACPK commented on #871
So how do I find out what the Web url of Postgrest is. My app requires it as it needs to know where to do API requests to.

[2017-05-11 04:30] begriffs commented on #871
Initially I thought you had modified the buildpack or something to have your app run inside the dyno with postgrest.

But you're just wondering what the url is for your newly deployed app? The Heroku web interface should show you your apps and their urls, or you can use the command line interface described here https://devcenter.heroku.com/articles/using-the-cli#app-commands

[2017-05-11 04:56] ACPK commented on #871
@begriffs - So I have to run it as its own app? Will I be able to push my RDS SSL files to it?

[2017-05-11 07:43] ACPK commented on #871
@begriffs  - Thanks. I created a second app but am unable to successfully connect to my database.

I get the following error as my database url ends with "?sslca=awscreds.pem&sslmode=require":

    2017-05-11T07:41:28.795698+00:00 app[web.1]: Database connection error:
    2017-05-11T07:41:28.796654+00:00 app[web.1]: invalid URI query parameter: "sslca

[2017-05-11 14:06] treuherz commented on #806
I would also appreciate this functionality, for similar reasons to @huksley. My PostgREST deployment is in a composed set of Docker containers, behind a reverse proxy, and though I know which local URI should point to the REST API, the deployment will not know the hostname ahead of time.

If setting the basePath property seperately from the rest of the URL is not possible, would determining it bas

[2017-05-11 18:40] ACPK commented on #871
@begriffs  - I created a separate app using the Heroku "button" and set the configuration by adding a "postgrest.conf" file to it.

However, I get the error:

   {"hint":null,"details":null,"code":"42501","message":"permission denied to set role \"anonymous\""}

[2017-05-12 18:44] ACPK opened #875 ""permission denied to set role \"anonymous\""
When I visit the root path, I get:

    {"hint":null,"details":null,"code":"42501","message":"permission denied to set role \"anonymous\""}

[2017-05-12 19:20] SebAlbert commented on #875
Have you `GRANT`ed the `anonymous` role to the role that PostgREST is connecting as (as specified in the connect string or the environment variables)?

[2017-05-12 19:36] ACPK commented on #875
@SebAlbert -  The issue seems not to be related to Postgrest so I'm closing this issue. The issue seems to be that my migration files that were writting for PostreSQL 9.4 don't work with 9.6. The errors I get are:

   unknown OID 24: failed to recognize type of 'aggfnoid'. It will be treated as String.
   unknown OID 194: failed to recognize type of 'adbin'. It will be treated as String.
   unknow

[2017-05-12 19:39] SebAlbert commented on #875
Urgs, yes, major releases (i.e., a change in the first two numbers of a version) are generally not binary compatible. Consider pg_upgrade (or getting the old data out of the old database version by pg_dumpall and piping them into the new one via psql)

[2017-05-12 19:41] ACPK commented on #875
@SebAlbert - Actually I found the code here:

[2017-05-12 20:29] ACPK commented on #875
@SebAlbert - I tried on 9.4 now and it also didn't work.

[2017-05-12 20:39] SebAlbert commented on #875
I cannot read through all those migrate SQL snippets... have you checked that the role "postgrest" has the right to become user "anonymous"? Try `GRANT anonymous TO postgrest` in your database (as a superuser)

[2017-05-12 20:45] ACPK commented on #875
Solved it!

[2017-05-12 20:53] SebAlbert commented on #875
Looks like this also solves #871 right?

[2017-05-12 21:20] #871 closed

[2017-05-14 20:59] russelldavies commented on #567
@begriffs Are you still working on switching to the jose library (in #842 you mention you are) or does this still need someone to implement?

[2017-05-15 02:40] begriffs commented on #567
I am working on it, and I expect it to be done by next weekend.

[2017-05-15 10:21] russelldavies commented on #567
Fantastic. If there are some tasks related to this you'd like help with I should be able to lend a hand.

[2017-05-17 03:20] begriffs commented on #256
OK, revisiting this issue because @elimisteve brought it up in the chat. What about this approach:

* Support PUT on routes when the client supplies eq filters for the primary key. That is we detect the request must match at most one row and allow it. If that test fails we return a 405 method not allowed.
* Have POST accept `Prefer: resolution=merge-duplicates` as discussed above.

[2017-05-17 12:55] treuherz commented on #223
The canonical form returned by PostGIS is a hex representation of EWKB, which is a superset of the OGC-standard Well-Known Binary. They recommend not relying on that feature, though, as it may change if the OGC changes the standard to support 3D geometries (more info here https://postgis.net/docs/using_postgis_dbmanagement.html#EWKB_EWKT). WKB is widely parseable, but I don't know how an interface

[2017-05-18 19:28] eric-brechemier opened #876 "Binary secret cannot be read from a file"
Using following secret made of 8 random bytes:

[code]

[code]

PostgREST v0.4.1.0 fails with following error when the secret is read from a file:

[code]

[2017-05-18 19:45] eric-brechemier opened #877 "Base64 secret cannot be decoded from a file ending with a newline"
By convention, Unix utilities write and expect a line feed (`0a`) character at the end of each line, including the last, even when the file contains a single line.

For example, the `base64` utility installed on Mac OS X (from BSD) or Ubuntu (from GNU coreutils) both append an end of line character after the base64 value:

[code]

[code]

PostgREST v0.4.1.0 fails to parse this kind of file, with t

[2017-05-18 19:46] eric-brechemier commented on #495
I am revisiting this issue in the context of PostgREST v0.4.x.

I confirm that it is now possible to use a random binary secret, if it is encoded in base64 and written inline in the configuration file:

[code]

[code]

I found two issues with secrets written in a file though, for which I created separate issues:

* [Binary secret cannot be read from a file #876](https://github.com/begriffs/postgre

[2017-05-18 21:33] bloigge opened #878 "Get csv response from stored procedure"
First of all: Great Project!

I would like to know if there is a way to get `text/csv` from a stored procedure. My procedure returns a table and everything works fine using `Accept application/json`. But when I set the header to `text/csv` I get:

[code]

Stored Procedure:
[code]

REST Call:
[code]

Unfortunately I have no clue using Haskell so I am a little bit stuck.

[2017-05-18 21:34] SebAlbert commented on #878
I second this, had this requirement only a couple of days ago, too.

[2017-05-18 21:44] hewe commented on #862
Thanks for the suggestion. Tried` insertableValueWithType "unknown"` and I would get a different error with the same post request in my initial submission:
[code]

I however found a work around for this for now. The work around is to wrap the json array in a json object with a document property, eg:
curl -X POST \ http://localhost:3000/rpc/insert_from_document \ -H 'content-type: application/json'

[2017-05-19 01:39] movadee opened #879 "Heroku server-proxy-uri should change the value of host in swagger config"
Hello. I am configuring Swagger and it seems like Heroku server-proxy-uri should change the value of host in swagger config file. Swagger is sending requests to http://0.0.0.0... Please see screenshots. You can test it by going to Swagger http://petstore.swagger.io/ and entering https://amondo-api-demo.herokuapp.com/ for url

<img width="980" alt="screen shot 2017-05-17 at 10 08 21 am" src="https:

[2017-05-19 13:01] eric-brechemier commented on #495
@begriffs I backported secret reading from a file to v0.3.x, and fixed the file reading to support binary secrets. I added a separate parameter for the file path, to simplify.

Let me know if you are interested in these changes for v0.3.x. I can also help to fix the issue on v0.4.x. At the core, the fix is the use of `binarySecret <$> BS.readFile path` instead of `secret <$> readFile path`.

[2017-05-19 13:04] begriffs commented on #495
Thanks! Most interested in the fix for 0.4, can you send a PR?

[2017-05-19 22:06] DanielJoyce commented on #17
What if someone has a value called "NULL". how is that handled?

[2017-05-20 13:12] spinus commented on #800
Looks like it's implemented and released in 0.4.1, should we close the ticket?
@tjunussov maybe you would like to verify?

[2017-05-20 17:02] begriffs opened #880 "Some errors are overwriting the details field"
Did they mean to have a hint property in these rather than duplicate details?

https://github.com/begriffs/postgrest/blob/master/src/PostgREST/Error.hs#L115-L133

[2017-05-20 19:30] begriffs commented on #809
I made a docs issue for this approach, so closing the issue in this repo.

[2017-05-20 19:30] #809 closed

[2017-05-20 19:37] spinus commented on #809
good stuff, thanks

[2017-05-20 19:57] begriffs commented on #505
OK so what if postgrest itself can simply accept two tokens in the config file, and if one fails when validating a client request it tries the other? Then people can make the various endpoints in SQL for producing refresh/access tokens. Would that suffice?

[2017-05-20 21:09] ppKrauss opened #881 "Use TAP and pgtap?"
The [TAP - test anything protocol](http://testanything.org/) can be used with Haskell (see [haskell.org/tasty-tap](https://hackage.haskell.org/package/tasty-tap)) and with PostgreSQL (see [pgtap](https://pgxn.org/dist/pgtap/doc/pgtap.html)). Will be easy to migrate [DbStructureSpec.hx](https://github.com/begriffs/postgrest/blob/master/test/Unit/DbStructureSpec.hx) parts or all [PgQuerySpec.hx](htt

[2017-05-20 21:16] begriffs commented on #881
The DbStructureSpec.hx file is actually not used anymore, it's an old unreferenced file. However we do have  complicated sql statements in parts of the psotgrest code and it would be great to unit-test them. Would it be inconvenient to create a pull request to show me what you have in mind?

[2017-05-20 21:43] ppKrauss commented on #505
Hi   @begriffs, there are a good clue in the [pgjwt](https://github.com/michelp/pgjwt) extension, that was  cited by you at [docs/auth.html#jwt-generation](https://postgrest.com/en/v0.4/auth.html#jwt-generation) (see [test.sql](https://github.com/michelp/pgjwt/blob/master/test.sql)).

[2017-05-20 21:44] ppKrauss commented on #881
Hi   @begriffs, there are a good clue in the [pgjwt](https://github.com/michelp/pgjwt) extension, that was  cited by you at [docs/auth.html#jwt-generation](https://postgrest.com/en/v0.4/auth.html#jwt-generation) (see [test.sql](https://github.com/michelp/pgjwt/blob/master/test.sql)).

[2017-05-21 00:53] begriffs commented on #830
Just following up on this issue.

1. The feature involves a fair bit of work.
2. The functionality is already there with the right client behavior.

I'm not philosophically opposed to it, but also not personally motivated to work on it. However if this issue is important enough that an organization would sponsor the development then we could talk about that option.

[2017-05-21 01:07] begriffs commented on #828
How would postgrest know which syntax to use? Would we need to add information about computed columns to the db structure created at startup and then check the `?select=a,b,c` variables against that list?

[2017-05-22 08:09] eric-brechemier commented on #505
yes!

[2017-05-22 13:54] ppKrauss commented on #505
Hi @begriffs, are there an "official data-model" about it?  UML class-diagram and SQL table definitions?

PS: I like to use http://yuml.me/ and can help with documentation.

[2017-05-25 04:01] begriffs commented on #567
Got the tests passing on my local branch! I'll be making a pull request for it in the near future.

[2017-05-26 03:20] begriffs commented on #862
Also, what if you modified the function to take a json argument rather than jsonb? That might make the initial rpc request work.

[2017-05-27 05:07] #878 closed

[2017-05-28 06:36] bloigge commented on #878
Thanks!

[2017-05-29 10:46] jtuskenis commented on #796
Hello,
we have problems with startup time too. Our DB consists of
schemas: 11
tables: 562
views:  308
functions: 1579

We have one schema for postgrest with a single view.  The startup takes ~13 **minutes** !. I've checked the postgresql log. It seems all the time is consumed to execute the query attached
[postgrest_startup.zip](https://github.com/begriffs/postgrest/files/1035296/postgrest_startup

[2017-05-29 18:41] begriffs commented on #540
Revisiting this, a log level would be nice in order to both reduce logging (since it might be duplicating the logs of a proxy server), or turn them up.

I propose we allow syslog style [log levels](https://en.wikipedia.org/wiki/Syslog#Severity_level).

[2017-05-30 04:01] begriffs commented on #835
Sure, a PR to schema qualify the definitions sounds good to help make things more explicit.

[2017-05-30 04:22] begriffs commented on #842
By the way, I've finished the feature for supporting more JWT algorithms. However it's still on a local branch while I discuss the changes with a company who has commissioned the work.

[2017-05-30 04:24] begriffs commented on #843
Closing since this issue has been corrected in the docs.

[2017-05-30 04:24] #843 closed

[2017-05-30 04:27] begriffs commented on #845
@aranwe did the comments here help you with your issue? Any progress?

[2017-05-30 05:16] begriffs commented on #868
0.4.1.0 will have the fix in it that will retry the connection as needed.

[2017-05-30 05:24] begriffs commented on #870
Thanks for the report. Are you able to create a failing test to illustrate the problem? Then we can work on a feature to make the test pass.

[2017-05-30 05:29] begriffs commented on #876
Thanks for the report. I see there are commits referring to this issue -- do you have a PR you can send to fix it?

[2017-05-30 05:33] begriffs commented on #877
Good to know. Would you be interested in sending a PR to call [strip](https://hackage.haskell.org/package/text-1.2.2.2/docs/Data-Text.html#v:strip) on the loaded string to remove the start/end whitespace prior to decoding?

[2017-05-30 09:21] leondutoit commented on #842
Oh man, sorry it took so long but I've finally create a PR. Hope it addresses some of the main questions people might have. Feedback welcome :)

[2017-05-30 21:24] #875 closed

[2017-05-31 17:51] tonyhschu commented on #868
Is there a flag in the docker-compose file I should be using to enable this retry behavior? I've upgraded to using 0.4.1.0, but Postgrest continues to exit after failing to connect after the first try.

[2017-05-31 17:55] begriffs commented on #868
The connection retrying functionality is on the master branch but as yet [unreleased](https://github.com/begriffs/postgrest/blob/master/CHANGELOG.md#unreleased) in a new version.