[2017-05-31 17:55] mattddowney commented on #868
Yes. Add `restart: always` in the compose file like [here](https://github.com/mattddowney/compose-postgrest/blob/master/docker-compose.yml#L46)

[2017-05-31 19:45] aranwe commented on #845
@begriffs sorry I have not replied :)
In the end we have a bit reworked the design - but it would have had solved the problem partially:
We needed to filter the counted relations at the same time (i.e. WHERE count(nominations) > 0 AND nomination.rank = 'XY').
There is a workaround where we would query some aggregation table and from there the "films" and "nominations", but it would look rather mes

[2017-06-01 07:33] nextstopsun opened #883 "Add binary output to rpc calls"
Please permit binary output for rpc `POST` requests and an `Accept: application/octet-stream` request header to use with it.
Right now I'm getting a response from a function returning `BYTEA` data, but it doesn't seem to be in the same binary form, that it is returned from a function in postgresql. `application/octet-stream` header is not set on response and request.

So I have to separate API fro

[2017-06-02 07:55] eric-brechemier commented on #877
Yes, I'll work on that next week.

[2017-06-02 07:57] eric-brechemier opened #884 "Broken link in CONTRIBUTING.md"
In [CONTRIBUTING.md](https://github.com/begriffs/postgrest/blob/10f6ce45dbf8b1652d07446aba98743b071aef6c/CONTRIBUTING.md), the link [building from source](http://postgrest.com/install/server/#building-from-source) leads to a 404 page.

[2017-06-04 23:04] rlhk commented on #171
I'm looking for a simple way to generate s3 signedUrl directly from Postgres function (without resorting to a separate Node JS / Python based server) which is to be served from Postgrest endpoint upon browser request. I'm not able to find directly related information. Any pointer is appreciated. Thanks.

[2017-06-06 08:09] ldesgoui commented on #879
It does change that host value, I'm not sure what you're asking?

[2017-06-06 13:58] movadee commented on #879
How come it changes the host value if it's not? Host should be companydomain.com, not 0.0.0.0

[2017-06-06 14:31] chesles commented on #724
I'm seeing this on 0.4.1.0 on OSX 10.11.6. The only obvious difference between node and curl requests is header capitalization, which *shouldn't* make a difference. The SQL is identical in both as has been mentioned.

Strangely, with the node client postgrest doesn't log the request to stdout, but both ngrep and node output show two copies of the error response from postgrest. The second copy of t

[2017-06-06 18:39] begriffs commented on #691
Note to self: we need to switch from cassava to something maintained like https://hackage.haskell.org/package/csv-conduit

[2017-06-06 21:31] qjhart opened #887 "Extend @@ for plainto_tsquery phraseto_tsquery support"
For our API, we use a tsquery interface.  Modifying user input for a good text query can be a bit of a challenge on the client side.  We are building a quick rpc interface, to use the postgres services to do this, but that results in two calls to the server.

[code]

It seems like there are more sophisticated questions about tsquery, but what about a simple suffix for plain and phrase queries, so

[2017-06-07 05:43] ruslantalpa commented on #171
https://github.com/s3tools/s3cmd/blob/edd7c7df64e7cd7bc2a2e9fa6054c2ad7eb40ff3/S3/Crypto.py#L120-L133

in postgres you usually have python available, also you have pgcrypto
these two should be enough to be able to sign urls for s3

[2017-06-07 05:47] ruslantalpa commented on #171
these are the low level details of how to generate the key
http://s3.amazonaws.com/doc/s3-developer-guide/RESTAuthentication.html
it seems you only need hmac and sha1
https://www.postgresql.org/docs/current/static/pgcrypto.html

[2017-06-07 08:24] ldesgoui commented on #879
What did you set `server-proxy-ui` to ?
If you haven't set it, it will use 0.0.0.0:<whatever port you're running on> as a default.

[2017-06-07 15:10] Skyfold commented on #858
I am currently walking through the code and making notes on what each function does or is used for. I started doing this so I can start contributing to the project in a meaningful manner, but I could put together a pull request when I'm done. I just want to know if there is any comment style you prefer or if there is a library you admire for its documentation?

Also, would you be opposed to having

[2017-06-07 15:14] Skyfold commented on #858
First code question, at the end of Main.hs:

    replaceUrlChars = replace "_" "/" . replace "-" "+" . replace "." "="

why do you replace these characters in the JWT secret when `configJwtSecretIsBase64` is set to true?

[2017-06-07 16:24] begriffs commented on #858
@Skyfold thanks for volunteering to help with this! Good comments will make a big difference for everyone. I'll review your questions in more detail tonight and will respond then.

[2017-06-07 21:06] movadee commented on #879
my server-proxy-ui is configured. It used to be identical to BUILDPACK_URL.
I changed it to api url, still no luck

On Wed, Jun 7, 2017 at 4:24 AM, Lucas Desgouilles <notifications@github.com>
wrote:

[2017-06-08 04:39] begriffs commented on #883
I think it's probably possible, since we added it for GET. I'm personally a bit busy with other things at the moment, but will be happy to review the PR if somebody wants to implement this.

[2017-06-08 04:42] begriffs commented on #879
Does this behavior happen when you set the value in the postgrest config file locally, or is it purely a Heroku issue?

[2017-06-08 05:29] begriffs commented on #858
For comment style, adding one for each function is good, like

[code]

Example code for a whole module is also nice when it can show how parts fit together. Stuff like:

[code]

If there is anything noteworthy about individual fields of a data constructor you can document them individually as well like we do for `ApiRequest`.

Of course the haskell wiki page about [comments](https://wiki.haskell.o

[2017-06-08 05:47] begriffs commented on #887
Yeah I don't see why not. It's a small change that allows more sophisticated use of the full-text functionality. Please do send a PR, thank you!

[2017-06-08 06:08] begriffs commented on #724
First of all, wow cool use of `<details>` and `<summary>` in a comment!  I'm going to copy you when my comments include long sections of output.

Next, thanks for the very thorough report. It does appear that postgrest is having trouble somewhere in between the request and response. I pushed a branch `detailed-errors` to github that replaces the generic "Something went wrong" with an actual descri

[2017-06-08 06:21] ruslantalpa commented on #887
The code changes here will not work since the @@z will not carry on deeper into pgFmtFilter, you will have there @@ (but it can be worked out).

As for the interface, if you want to work on it, i would suggest another approach:
We already have things like `in`, `not.in`, `eq`, `not.eq` so i would say a better interface is
`col=@@.aa`, `col=plain.@@.aa`, `col=phrase.@@.aa`

[2017-06-08 06:31] begriffs commented on #845
Thanks, I'd love if you wanted to contribute a new section in https://github.com/begriffs/postgrest-docs about design patterns. (That's the repo that generates https://postgrest.com)

[2017-06-08 06:57] Skyfold commented on #858
Thanks for the detailed reply. Do you want to have a header for each file, [example](https://hackage.haskell.org/package/base-4.9.1.0/docs/src/Data.Maybe.html)?

I am not entirely sure what is happening in the `mingw32_HOST_OS` `#ifndef`. I want to say trying to install a handler sigHUP if not on Windows, but I'm not sure why you release the pool.

[2017-06-08 07:05] begriffs commented on #858
Yeah the mingw32_HOST_OS is for conditional compilation. Signal stuff won't compile on windows because AFAICT windows doesn't have signals.

For sigTERM we release the pool because sometimes the connections weren't properly closed (see #268). For sigHUP actually I'm not sure that releasing the pool is required...that's interesting. I guess it hasn't hurt and presumably sigHUP is a manual event tha

[2017-06-08 09:20] ldesgoui commented on #861
Hello @timwis ,
I'm currently working on a PR to make the OpenAPI generation a little better.
Would you mind telling me more about this "key" attribute you speak of ? I've looked it up in the OpenAPI Spec and I can't seem to find it. I've also looked for terms relating to "primary key", "identifier", but that didn't yield anything either.
Thanks!

[2017-06-08 09:53] timwis commented on #861
Wow, I must be losing my mind. I swear I was referring to openapi documentation . . . maybe I got mixed up with json table schema? Either way, the real problem here is that there's no way to find out a table's primary keys. But the issues go a bit beyond that: there's also no way to see the default value (and thus determine whether a field is auto-incrementing), whether it's nullable, whether it's

[2017-06-08 10:03] ldesgoui commented on #861
Thanks for the answer.
Now that I'm knee deep in it, I will probably add something really similar using the ability to extend the spec using `x-custom-field` and/or written in descriptions.

[2017-06-08 10:49] movadee commented on #879
I don't run it locally...

On Thu, Jun 8, 2017 at 12:42 AM, Joe Nelson <notifications@github.com>
wrote:

[2017-06-08 13:07] chesles commented on #724
@begriffs things are working for me right now after rebooting, but I have that branch built and will update here again if/when I start seeing this error again. Thanks!

[2017-06-08 14:16] begriffs commented on #879
It's pretty easy to do actually. You can download the binary and simply run that, pointing it at the same database instance that the Heroku one uses (unless it's Heroku Postgres which is probably inaccessible from the outside world).

[2017-06-08 15:21] priyank-purohit opened #889 "Complex boolean logic doesn't accept 3 clauses"
Can't do `or=(cond1, cond2, and(cond3, cond4))`. It must be two clauses at a time` or=(cond1, or(cond2, and(cond3, cond4)))`. Is this is a purposeful limitation?

[2017-06-08 18:18] steve-chavez commented on #889
Purpose of that was mostly keeping the and/or feature simple since it changed a lot of code, I realize now that it can be cumbersome to do that kind of expressions, I'll see if I can improve the expressiveness of the interface; @begriffs maybe you can label this as enhancement and I'll work on it when I have the time.

[2017-06-09 19:58] dapangmao opened #890 "How to keep the token unique for each user?"
It seems that a user can issue multiple tokens as he/she wants. Is there any way to make sure that at the same time only one token is valid for this particular user?

[2017-06-09 23:19] begriffs commented on #567
@russelldavies just an update -- I have a meeting next week to demo the new feature to a company that has generously sponsored the development. If all goes well the feature will be released soon thereafter.

[2017-06-10 16:15] begriffs commented on #505
By the way, I've been working on JWT changes on a local branch. The changes will make it easier to use multiple keys.

[2017-06-10 16:29] #842 closed

[2017-06-10 16:46] begriffs commented on #823
@umq what was the meaning of the blockquote involving `=1` vs `>0`?

[2017-06-10 20:01] ruslantalpa commented on #890
unique in timeframe means you either do not issue new ones (remember you already did) or invalidate old ones when you issue new ones. since jwt can not be invalidated, the only option is to record the ones you issued then mark them as blacklisted and on each request check the current one agains that list. possible using --pre-request function but i doubt you really really need that. maybe you just

[2017-06-10 20:39] eric-brechemier commented on #505
@begriffs I am working on additional unit tests for JWT secrets, in the context of #876 and #877, currently on top of `master`. I will synchronize with your branch instead if you push it remotely.

[2017-06-11 04:14] begriffs commented on #505
More tests, that's great!

My work on this feature is being sponsored by a company, so I will make it public after their review and payment.

[2017-06-12 09:01] russelldavies commented on #567
@begriffs Thanks for the update, looking forward to it.

[2017-06-12 11:57] dapangmao commented on #890
Thanks-@ruslantalpa This is a good thought!
To implement your idea, I could add a Redis layer to store all the JWT tokens and block all the login requests once a JWT token is still on use/TTL. However, the user experience may be not that good.

- So my question should really be - `how to expire the existing JWT tokens?`
I see the similar discussion #505 and @begriffs seems to be working on it. If

[2017-06-12 12:14] ruslantalpa commented on #890
the whole point of JWT is that they are stateless so you can't expire them at will. You can only have an expire mechanism if you have a `exp` field inside the jwt but once the token is issued, you can't selectively invalidate them, they are valid until they expire.
you are looking for a `regular` sessions solution where they are stored in a table in the db somewhere and it's possible using --pre-r

[2017-06-12 18:32] dapangmao commented on #890
@ruslantalpa Thanks a lot for the discussion!

I have some use cases - for example, a mobile device will do long polling and keep the session with the backend app or the DB for more than 1 hour.  Therefore, I have to increase the `exp` time for the JWTs in Postgrest.

Currently a registered user can issue unlimited JWT tokens (each token grants the access privilege) for unlimited devices by callin

[2017-06-12 20:15] ruslantalpa commented on #890
you dont need to have exp longer then an hour.
what you do is whenever a token is about to expire, the client requests a new token (which again, is valid for one hour) ... refreshing the token

your tokens could have in thier payload the device id or something so you could make it so that a token issued is valid only for the device from where the login was generated

[2017-06-13 20:03] dapangmao commented on #890
@ruslantalpa Thanks - you raised a good point. The user can always refresh the JWT tokens on the device and keep her/his status, as long as she/he is willing to login again and again after the 1-hour duration.

I asked this question, since I used to deal with a business model that tries to sell subscriptions for an application. Sometimes a few subscribers tend to resell their accounts again for pr

[2017-06-13 20:31] ruslantalpa commented on #890
the user does not need to login again, from time to time, you (the code) makes an authenticated call using the old but still valid token to something like /refresh_token which returns a new token, and from that point on you use that token.
what you need to do is have inside the jwt payload an identifier like deviceid or ip address.
whenever login is called, you generate the jwt with this data insi

[2017-06-19 13:45] dapangmao commented on #890
@ruslantalpa Thanks! Your thoughts are really appreciated! I will try the approaches and keep updated.

[2017-06-19 13:45] #890 closed

[2017-06-20 21:25] ACPK opened #893 "Caching Data (ex: post categories)"
When using PostgREST, how would I go about caching the data? Due to the amount of categories (8,000), it can take awhile for the PostgREST endpoint to finish loading.

[2017-06-21 02:38] begriffs commented on #652
This issue has been resolved, closing.

[2017-06-21 02:38] #652 closed

[2017-06-21 05:52] #889 closed

[2017-06-21 06:50] ruslantalpa commented on #893
8k records is no big deal for the db/postgrest (unless there are a lot of columns and json encoding takes time). I think your problem is that it takes a while to send that data over the network so in this case, cache on the server side won't help.
But to answer your question, you would cache the response in front of postgrest using the proxy (nginx/openresty)

[2017-06-21 15:51] priyank-purohit commented on #889
@begriffs It would be better to release v0.4.3.0 with this merge before the docs are updated for v0.4.2.0. Otherwise it'll just be 2x the work.

[2017-06-22 05:04] begriffs commented on #893
You bring up a good point. I'm searching for the issue but can't find it...perhaps I never made an issue for this.

Postgrest currently doesn't provide a way to add http caching response headers. A workaround is to add them for certain routes with nginx on top of your server.

In the long run we could consider having a separate metadata table like this:

[code]

When a request comes in postgrest w

[2017-06-22 05:19] movadee commented on #879
I run postgrest locally pointing to the external database and it's working perfectly fine. Host name is proper. I think the problem is in Heroku config

[2017-06-23 17:39] loveencounterflow opened #894 "How to post a binary file?"
I have a table for binary content:

    create table files (
      id serial primary key,
      content bytea
      )
      ;

that I can, of course, query with

    GET http://127.0.0.1:3000/files?id=eq.1&select=content
    Accept: application/octet-stream

However, I have not managed to POST binary data (i.e. upload a file). It should be most natural to use

    curl -F "content=@path/to/file" h

[2017-06-24 10:37] ruslantalpa commented on #894
Your best bet probably is to have a separate `/files` location that rewrites for get and for post uses the module you mentioned. Or go for openresty and script this with lua (only a couple of lines probably)

[2017-06-24 21:54] loveencounterflow commented on #894
OK thanks for the pointers!

[2017-06-24 21:54] #894 closed

[2017-06-26 01:21] begriffs opened #896 "Boolean environment variable interpolation in config file"
As reported by @frosenb, attempting to read a boolean value from the environment from the config file causes an error. For example,

[code]
then
[code]

Postgrest issues an error and dies:

[code]

[2017-06-28 01:22] monemihir opened #898 "v0.4.2.0 does not run on Windows 10"
I have read the notes in "**Installation instructions on Windows #813**" issue but that hasn't worked.
I have PostgreSql 9.5 installed. I am running on Windows 10 x64.

- First error: **libpq.dll** was not found which was known acc. to the issue above.
- Second error: **libintl-8.dll** was not found which I found under the **bin** folder of PostgreSql
- Third error: See screenshot below
![postgres

[2017-06-28 05:54] monemihir opened #899 "v0.4.2.0 does not run on CentOS 7"
Following error is received:
[code]

This is my conf file
[code]
I am running on CentOS 7
[code]
PostgreSql version is 9.5. I can connect to the Postgres server using **psql** as well as **pgadmin3**.

[2017-06-28 22:05] jmagnusson commented on #286
What about - until a good way of utilizing HTTP2 connections can be established - just supporting a simple ‘/transaction‘ endpoint which handles RFC6902 JSON PATCH-esque payloads with a very specific content-type? This way we'd have a good stable baseline for what I feel is an absolutely essential part of a REST API today, and perhaps especially in this project, considering the transactional natur

[2017-06-29 05:45] joehealy commented on #899
Not sure I understand the resolution completely, but we were able to make it work using "*4" rather than localhost as the server-host parameter.

I would have thought that localhost would have been treated as a hostname as I believe server-host is a HostPreference (https://www.stackage.org/haddock/lts-8.5/warp-3.2.11.1/Network-Wai-Handler-Warp.html#t:HostPreference)

[2017-06-29 10:48] twistedlizard opened #900 "version 0.4.2.0 on Windows server 2012 R2"
Application won't start on windows server 2012 R12
Does anyone else have it working on this os?
Anything I can do to get some error log or output describing the problem at the command line?

[2017-06-29 15:20] begriffs commented on #900
I built the executable in a 64-bit virtual machine running Windows 10, not sure if there's an incompatibility in Windows versions. If you run postgrest without any command line arguments does it print out a usage message?

[2017-06-29 15:26] twistedlizard commented on #900
No, I just get a 'postgrest.exe has stopped working' window.

[2017-06-29 15:28] begriffs commented on #899
It appears that `localhost` is traditionally set in `/etc/hosts`, and perhaps it is missing from that file on your system.

[2017-06-29 15:36] begriffs commented on #900
I wonder if you could help me out and try building postgrest from source on your machine. I'm curious if there's just some difference between windows versions that makes it incompatible.

Here are instructions for building it: https://postgrest.com/en/v4.1/install.html#build-from-source

[2017-06-29 15:43] twistedlizard commented on #900
I'll have a go, although I'm not C programmer.
Will get back here if I get stuck.

[2017-06-29 17:39] twistedlizard commented on #900
ok, I've downloaded & installed stack
Typing stack at the command prompt gives a whole load of options, no matter what directory I'm in,
So, I change to the postgresr-0.4.2.0 directory, where the source is unzipped.
Could you advise on those command line switches?
Are they going to install stuff? If so, where?

stack build --install-ghc --copy-bins --local-bin-path /usr/local/bin

[2017-06-29 17:42] begriffs commented on #900
Initially, in the directory where the source is unzipped, try running

[code]

[2017-06-29 18:13] twistedlizard commented on #900
Eventually, after downloading masses of stuff to
C:\Users\myusername\AppData\Local\Programs\stack\x86_64-windows
and seemingly created a c:\sr directory:

CAUTION
This is your first start of MSYS2
You must restart shell to apply necessary actions.

???

[2017-06-29 18:34] twistedlizard commented on #900
Well, it downloaded loads of stuff to
C:\Users\myusername\AppData\Local\Programs\stack
created, I think
C:\sr
but printed error into to the command line. No exe generated as far as I can see.

[2017-07-01 13:24] gitfirenz commented on #899
I'm on centos7  (digitalocean) and it works too with listen "*4"
I add issues however with postgrest using IP V6 to connect to postgresql (and so have to fix pg_hba).

[2017-07-01 14:12] begriffs commented on #899
Can you explain what you had to do so I can document it?

[2017-07-01 16:32] begriffs commented on #899
I'm not sure from that Haskell library doc whether `*4` will be accessible to the outside network if your firewall allows the port through. For safety's sake wondering if 127.0.0.1 works on centos. Can you check?

[2017-07-01 23:44] begriffs commented on #505
Just an update here, the company accepted the work based on a demo and I'm awaiting payment now.

[2017-07-01 23:47] begriffs commented on #808
Just another friendly reminder about this. If you no longer feel like doing it let me know and I'll stop bugging you -- no pressure! 😁

[2017-07-01 23:53] begriffs commented on #828
Here's an idea, and maybe we've discussed and rejected it already but just in case... What if in addition to qualifying the schema for all names to match the `--schema` parameter we also set the search_path to that schema for the requests? The qualified names means we won't be changing the semantics of which tables/views/procs the user sees, but the extra search_path change would fix the computed

[2017-07-02 02:46] begriffs commented on #835
I had an idea about the search path which I added to #828. That plus qualifying the `jwt.xyz` will help.

[2017-07-02 02:57] begriffs commented on #837
It's interesting, I'm not sure how postgrest should interpret a json object like

[code]

For instance if the column called "type" was json or jsonb then that json object would be a perfect match for insertion. I'm not sure how postgrest should know that in this case a key-value object should be inserted as a tuple, with "a" coming first and "b" second.

Maybe the fault here is that it was output

[2017-07-02 03:31] begriffs commented on #823
Yep, tried this example with postgrest built from latest master (7cc3833) and verified it's still broken as described, and that deleting the app_api.books view makes the literary_works embedding start working again. Thanks for the simple and reproducible case @nickmyatt.

Also the `allSynonyms` function has a quite a different form nowadays than it did in the linked code.

[2017-07-02 03:45] monemihir commented on #899
Yes, 127.0.0.1 works.

[2017-07-02 04:12] begriffs commented on #790
I agree with @majorcode's excellent detailed assessment that much information in our openapi output is sadly both verbose and incomplete. One thing I liked about the spec was that I could connect interactive api exploring tools to postgrest and it would look pretty. I thought there was a wow factor in seeing a collapsable list of endpoints and verbs with buttons to make the web requests. But the r

[2017-07-02 04:17] begriffs commented on #861
Not to muddy the waters, but as I was just commenting in #790 we might consider a simpler format than api description format than openapi, whether it be a big official standard or no. Just thinking what will actually be simple and usable for people. Feel free to jump in on that discussion.

[2017-07-02 04:25] begriffs commented on #870
@michalskop any interest in helping to contribute this test? If not, you did describe the problem clearly so I could work on the test, but just appreciate the help if you're up to it.

[2017-07-02 04:26] begriffs commented on #876
@eric-brechemier probably base64 encoding would be a workaround, but do you already have an idea of the cause of this problem?

[2017-07-02 04:28] begriffs commented on #877
@eric-brechemier any progress with this?

[2017-07-02 05:09] begriffs commented on #889
Yep, I'll apply your docs pr to 4.3 when that version is released and available on docs.

[2017-07-02 05:15] begriffs commented on #879
Ohh, do you know what I think it is? The heroku buildpack is looking for an env var called `SERVER_PROXY_URL` ([here](https://github.com/begriffs/postgrest-heroku/blob/master/env-to-config#L13)) whereas our template that powers the Heroku fill-in-the-blanks deployment screen uses `SERVER_PROXY_URI` ([here](https://github.com/begriffs/postgrest/blob/master/app.json#L33)). Postgrest itself uses the

[2017-07-02 05:17] begriffs commented on #879
OK i updated the heroku buildpack so a redeployment should work now.

[2017-07-02 05:19] begriffs commented on #894
Yeah I'm having a hard time coming up with what the correct HTTP interface would even be for this in postgrest itself. See if the workaround works for you, and if someone has an idea for a clean way to express that kind of a post request feel free to comment here for future consideration.

[2017-07-02 05:22] begriffs commented on #899
Cool. I'm closing this issue but have an issue open in docs to mention the situation you discovered.

[2017-07-02 05:22] #899 closed

[2017-07-02 05:23] begriffs commented on #900
Yeah it had to download some Haskell build files. Can you paste the error in this issue? I'll help you get it to build.

[2017-07-02 05:37] begriffs commented on #846
@bradleyf any luck building using techniques from the links above?

[2017-07-02 05:41] begriffs commented on #800
Closing. Can re-open if anybody runs into a problem with it.

[2017-07-02 05:41] #800 closed

[2017-07-02 05:46] sunbing81 opened #901 "a corner case of truncated response"
Conditions to reproduce the bug:
1. a postgres function  returns a table;
2. the function returns only one row;
3. the table has a column named exactly the same as the function.

Steps to reproduce:

1. create a function:
[code]

2. expected result:
[code]

3. the truncated response  of (```curl localhost:3000/rpc/test -XPOST -d''```):
[code]

Tested against both postgrest-0.4 (centos 6) and postg

[2017-07-02 05:50] jackfirth commented on #790
I'm in favor of primarily using a PostgREST-specific schema format and secondarily using content negotiation to support other formats like OpenAPI or JSON Table Schema. The `describedby` relationship from a table resource to a schema resource is format-independent, so clients can operate in terms of whatever formats they understand.

Throwing out my two cents, what I'd like from the reflection cap

[2017-07-02 05:51] jackfirth commented on #790
Oh and one other thing: for the root resource, you might consider something like a [JSON Home document](https://mnot.github.io/I-D/json-home/).

[2017-07-02 06:01] begriffs commented on #901
Interesting, thanks for reporting. That's behavior is how functions used to work more generally, so this is probably some old logic bleeding through on the corner case.

[2017-07-02 06:31] sunbing81 commented on #901
that will be still ```"hello"```

[2017-07-02 10:44] monemihir commented on #899
Yup, you can close the issue but there still is an issue with CentOS 6. It looks like the binaries are built on CentOS 7 which means that they don't run on CentOS 6.

I had to build from source to make it run. Probably should be reported as a new issue?

[2017-07-02 11:58] michalskop commented on #870
@begriffs I am afraid my current knowledge does not go so far, I have never done such tests.
I am not against learning new things, but it can take time (especially now as I am on vacations(-: ).

[2017-07-02 14:11] ruslantalpa commented on #790
I would say this is outside the scope of PostgREST
- one can write a (complicated) query that would return the list of endpoints, their columns, their description and the relation between them even in pure SQL (i've done it)
- as a format, able to describe relations, the best would be to use the schema description json that graphql uses. Once you have that, you can leverage a lot of existing clien

[2017-07-02 15:41] begriffs commented on #899
Yeah I did build the binary on CentOS 7. Didn't realize it wasn't compatible with an earlier version. Open another issue and I'll make sure I release the next version for 6 as well as 7.

[2017-07-02 16:25] russelldavies commented on #837
I like the way that the the fields of the type are enumerated and returned as a JSON object rather than a tuple, even if displaying it as a tuple may be more correct. It certainly makes it a lot more semantically useful than just displaying a tuple.

The Postgres JSON creation and processing functions seems to respect field order so as long as the JSON object has the same order of keys then insert

[2017-07-03 03:41] monemihir opened #902 "v0.4.2.0 does not run on CentOS 6"
It seems like the binaries are built on CentOS 7 and are not backward compatible.

When trying to run the pre-built ones I get the following error:
[code]

Building from source works though.

Read on most forums that GLIBC 2.14 can be installed side-by-side with the one that comes default on CentOS 6 but it is a very bad idea I reckon to do this since there is no way to know which other packages w

[2017-07-03 08:36] eric-brechemier commented on #876
@begriffs Yes.

1. [secret is defined as `Text` instead of `Secret`](https://github.com/eGullGolf/postgrest/commit/2649098b5c9766e51122065e062ce1d1e3fbc28a#diff-d6621ea7eea0dc9e1ea18f49f17cdc6bL42)
2. [secret is corrupted by the conversion to `Text`](https://github.com/eGullGolf/postgrest/commit/2649098b5c9766e51122065e062ce1d1e3fbc28a#diff-cf0c4471495584a946dc7035028102e7L95) instead of [being sa

[2017-07-03 08:42] eric-brechemier commented on #877
@begriffs Yes, I [started to add tests](https://github.com/begriffs/postgrest/compare/master...eGullGolf:issue876) but I got sidetracked when I realized that the unit tests do not run the `App` but define their own configuration harness instead, which makes it hard to test the reading of a secret from a file.

Could you give me a hint of where to start to add such a unit test? I was wondering whet

[2017-07-06 08:34] twistedlizard commented on #900
Yes, I can run it again, but first can you tell me where it's going to put stuff? When I asked that question before, you said:

but it hasn't done that.
Its put a ton of stuff in both C:\Users\myusername\AppData\Local\Programs\stack and C:\sr

Secondly, that was running

now its downloaded all those files, would it be sufficient to run

?

[2017-07-07 04:02] priley86 opened #903 "highly available / load balanced / clustered pg configurations"
are there any documents describing how one might configure postgREST to work in a highly available environment? It seems like this would be a nice addition to the current documentation.

I.e. suggested practices & configurations which might allow the following:
https://wiki.postgresql.org/wiki/Replication,_Clustering,_and_Connection_Pooling

If this exists, please link me :)

thanks for this amazi

[2017-07-07 16:10] chrissound opened #904 "Is it possible to filter based on a related table?"
https://stackoverflow.com/questions/44972593/postgrest-filter-does-not-seem-work-with-fields-from-related-table

I'm not really able to determine if this is possible or not reading the docs.

[2017-07-07 16:46] ruslantalpa commented on #904
@chrissound you have your answer in stackoverflow, :) please close

[2017-07-07 17:02] chrissound commented on #904
Well seems like it's not possible. :( Thanks for the response.

[2017-07-07 17:02] #904 closed

[2017-07-07 22:00] steve-chavez commented on #901
This was already fixed in #895 refactor commit, I've added a test case with the reported ```test() returns table(test text..``` function.

[2017-07-08 03:34] #883 closed

[2017-07-08 03:34] #901 closed

[2017-07-08 04:41] ruslantalpa commented on #903
@priley86 PostgREST is a stateless* application, thus you can run as many as you like in parallel.
You can have nginx in front of them for loadbalancing or an AWS LB.
Probably an easier way to manage multiple parallel versions is through containers on AWS ECS, we are moving in this direction here https://github.com/subzerocloud/postgrest-starter-kit/tree/master/cloudformation
Running multiple inst

[2017-07-08 11:40] twistedlizard opened #905 "curl: (52) Empty reply from server"
Please somebody redirect me if this isn't the best place for this question.

I couldn't get postgrest to work on the windows server I use (see other thread) so I've installed it on linux instead. Now, I'm following Tutorial 0.

I have a database, schema, table, roles & permissions all set up on a remote postgresql server, as per the tutorial. From the linux machine I'm testing on, I can connect to

[2017-07-08 15:48] begriffs commented on #900
Stack stores global Haskell stuff for its own uses in system folders like you noticed. It also stores build files specific to the project you're building in a `.stack-work` folder in the project folder. On my system the final binary is put in `<project folder>/.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/build/postgrest/` but your path will differ a little since you're on Windows. You can get a list

[2017-07-08 15:59] begriffs commented on #903
I'll also note that postgrest uses read-only transactions when possible so that queries can be run on read replicas of the database. (Original discussion in #547)

[2017-07-08 16:12] begriffs commented on #879
@movadee let me know if that fixes things and I'll close this issue.

[2017-07-08 16:18] begriffs commented on #877
This is an area where the tests are nonexistent, which is probably why we've traditionally had more problems on the config side than the HTTP side.

I'm OK if you make the fix without tests for this one.

Ideally we should get the app configuration under test as well. Anybody who wants to tackle that would be my hero, but I'm going to leave that to the community. 😄

[2017-07-08 16:28] begriffs commented on #790
We could remove the self-documentation from postgrest and suggest other standalone database api documenting servers people could use. However our internal code will still be gathering the db structure to handle the requests (embedding etc) so it's kind of a waste to not serve even a simple api self-description endpoint since we have the info and all.

True that many people will want the whole grap

[2017-07-08 16:35] begriffs commented on #837
Order semantics are *lost* when outputting json, right? Maybe what you mean is it makes the output easier for a client to parse.

Can we count on javascript client libraries to serialize json with keys in a certain order? This discussion makes it seem uncertain: https://stackoverflow.com/q/280713/2375346

[2017-07-08 16:49] priley86 commented on #903
@ruslantalpa i noticed this CloudFormation template. thanks very much for sharing this (I may end up collaborating w/ you there) - also a huge plus for Graph QL. AWS RDS is great until you start to scale (and then vertical scaling can become quite expensive). For that reason, I prefer the horizontal path (although seeing these numbers on vertical capabilities is quite encouraging). I will need to

[2017-07-08 17:11] priley86 commented on #903
@ruslantalpa can you elaborate on how your parallel ec2 instances share storage? This seems to be a good option...I should add, I have done a lot of research in the area of ec2/kubernetes recently, and it can become quite expensive running these configurations. Scaling w/ something more affordable in mind up front is a personal goal...

[2017-07-08 17:14] begriffs commented on #903
@priley86 sharding strategy depends on your use case. Are you making a a multi-tenant app where each tenant could get its own resources?

[2017-07-08 17:25] priley86 commented on #903
@begriffs single tenant. single app purposes here. just want the ability to scale horizontally and affordably.

[2017-07-08 17:48] ruslantalpa commented on #903
@priley86 horizontal scaling https://www.citusdata.com/ that's  the best  solution i have seen
You can share a EFS if you want but postgrest does not need storage.

the ECS cluster has an autoscaling group linked with a launch configuration. and in that launch configuration, you do

[code]

http://docs.aws.amazon.com/efs/latest/ug/mount-fs-auto-mount-onreboot.html

[2017-07-08 19:18] priley86 commented on #903
@ruslantalpa thanks a lot for all the advice here. I will try this out soon.

[2017-07-08 20:15] begriffs commented on #903
We'll have to double-check whether postgrest is compatible with Citus. Postgrest uses CTEs in its queries which can prove difficult with Citus when the queries need information from multiple shards. If you were using postgrest in a multi-tenant manner then the entire query could be "pushed down" to a single node in the distributed database because all the tenant specific data could be stored in on

[2017-07-08 21:21] posix4e opened #906 "Why do we have to use the jwt claim role"
It'd be helpful if we can do custom as now you need to namespace returns in the id_token. Maybe we can just define the namespace?

[2017-07-10 11:33] russelldavies commented on #837
Good point. [JSON.stringify()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) certainly doesn't preserve the ordering:

But does this matter since you can just use `json_populate_record` which reconstructs the type regardless of the order of the json keys? For example, using the composite type `mytype` defined above:
[code]
So order semantics are l

[2017-07-10 21:40] twistedlizard commented on #900
begriffs> Can you paste the error in this issue?

There were a few places where the log contained personal identifying information that I've changed. Otherwise:

stack : postgresql-libpq-0.9.3.0: configure
At line:1 char:1
+ stack build --install-ghc > out2.txt 2>&1
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (postgresql-libpq-0.9.3.0: configure:String)

[2017-07-12 05:17] begriffs commented on #294
This audit was pretty long ago, we should do it again and add it to CI. In particular might want to include a check that headers and jwt claims cannot create an injection.

Talked with @elimisteve tonight who brought this up.

[2017-07-12 14:54] devton commented on #896
having same issue when passing a number on DB_SCHEMA=1
[code]

[2017-07-12 14:57] begriffs commented on #896
What if you quote it like `db-schema = "1"`?

[2017-07-12 14:59] devton commented on #896
@begriffs this errors is on deploying using the postgrest-heroku, i think that is on env-to-config.
Directly on postgrest.conf works fine.

[2017-07-13 05:07] begriffs commented on #475
I followed up on the hasql-notifications library which seems to have run into a race condition bug last year. We'll see if that gets resolved, and then it'll be pretty easy to finally get this issue closed.

[2017-07-13 13:47] scottgrayson opened #907 "Resource Embedding Unexpected Behavior: table is being treated as pivot"
[code]
http://localhost:8080/rest/users?select=name,forms(name)
creates this query
[code]

### intended behavior:
users (one to many) forms
### recieved:
users (many to many through pitches) forms

[2017-07-14 03:39] ruslantalpa commented on #907
when embedding parents, one can force the foreign key by using
`alias:column_fk(...)` but this is not enough to fix the path to a child relation

I was first thinking of saying `alias:table.column_fk(...)` for children but when there are multiple children, this only solves the path to direct relations, not the one through an intermediate table.

Should we jus add the support for `table.column` now

[2017-07-14 03:57] ruslantalpa commented on #907
maybe it could work also for many to many if we make a convention that those are table names like
`alias:link_table.table( ... )` since the name of the FK columns can be determined in that case just from table names.

[2017-07-14 08:44] bduisenov opened #908 "406 status code returned when no records found requesting a singular object"
According to the documentation, a status code should be 404 https://postgrest.com/en/v4.1/api.html#singular-or-plural.

@ruslantalpa tells:

[2017-07-14 08:45] ruslantalpa commented on #908
currently it's like this
[code]

[2017-07-14 14:49] scottgrayson commented on #907
Does postgrest look at the `references` on the `data.users data.forms` even though i am querying the `api.user api.forms`?

[2017-07-14 14:56] pycal opened #909 "conf file parsing error"
I'm new to postgrest, apologies in advance if I've just plain missed something, but I believe I've found a parsing error with the way conf files are handled.

I am getting an error at step 5 of the tutorial here: https://postgrest.com/en/v4.1/tutorials/tut0.html

This conf file doesn't work (note the $ in my password):
[code]

It produces this error:
[code]

This conf file works as expected:
[code

[2017-07-14 15:54] omani opened #910 "Change database on the fly"
Hi everbody,

first of all thank you for this great piece of software.

I wonder if it is possible to change the database on the fly so HTTP requests go to the appropriate db in backend.

imagine a web application which is multi tenant. I create a database for every tenant. now if somebody hits the url http://tenantsubdomain.awesome-app.com/rpc/login I want to switch to the right database named te

[2017-07-14 15:58] omani commented on #910
other options that come to my mind would be:
* create one schema per tenant rather than database
* use one schema for all tenants (with proper ACL and RLS probably easily doable)

[2017-07-14 17:54] steve-chavez commented on #900
I think that's an underlying issue with [postgresql-libpq](https://github.com/lpsmith/postgresql-libpq), if you cannot call the command ```pg_config``` from cmd it won't build, the easiest way to work around that is to install postgresql with the graphical installer, here are some [instructions](https://github.com/lpsmith/postgresql-simple/pull/66#issue-15152384), after that retry building PostgRE

[2017-07-14 18:33] steve-chavez commented on #905
Are you behind a proxy? If that's the case you may need to modify ```http_proxy``` env var to not proxy localhost.

[2017-07-14 18:49] ruslantalpa commented on #907
yes, views don't have foreign keys between them but we look at where the column comes from and check if it's  view

[2017-07-14 18:54] ruslantalpa commented on #910
you can do that like this:
each customer has a database
to each database, you connect a dedicated postgrest instance (id does not use a lot of memory),

then, in front of all of them, you have one instance of openresty. there you have a location where you define a proxy_pass to an upstream config.

now here comes the interesting part. inside the upstream definition, since it's openresty, you can h

[2017-07-14 18:56] ruslantalpa commented on #910
here is how an upstream definition looks like
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/openresty/nginx/conf/includes/http/postgrest_upstream.conf

(please close)

[2017-07-14 19:21] omani commented on #910
@ruslantalpa,

I think I will stick to one schema per tenant since it makes it easier to create new tenants via trigger functions rather than manually have to create a database, migrate or fill it and then define an upstream in openresty. of course this only works if I really cannot get access to header.host of the HTTP within my functions (I assume I can).

so the concept would look like this:
*

[2017-07-14 19:28] ruslantalpa commented on #910
it's sane but you are missing a crucial step. postgrest is tied to a particualr schema so usually you would have to boot up a new postgrest instance for each customer .... but ... due to a "hack" i would say ... you might be in luck

if you specify to postgrest the schema as an empty string, then whenever it will generate a quuery, it will not fully qualify it, giving you the option to use search

[2017-07-14 19:38] omani commented on #910
alright. thank you very much for your help. :+1:

[2017-07-14 19:38] #910 closed

[2017-07-14 20:17] twistedlizard commented on #905
No, I'm using curl from the same machine as postgrest is running on, although the postgresql server is elsewhere.

There's no requirement that postgrest run on the same host as postgresql?
I can connect to & use the database from the machine on which I'm testing postgrest.

[2017-07-14 21:58] steve-chavez commented on #905
No requirement, postgREST doesn't need to run in the same host as postgresql server.
How about doing a ```curl -v http://localhost:3000/todos```(with the -v verbose flag) and then paste the output.

[2017-07-14 22:07] omani opened #912 "Can we pass through HTTP headers?"
Hi all,

sometimes it is useful to be able to get the HTTP headers from a request in the database.

can we pass the whole HTTP header as a key:value map into request.headers please? I do see request.headers.host and request.headers.origin. but request.headers.host is "postgrest" here, which does not seem to be the HTTP Host header (which should be localhost:8080).

so it seems request.headers.* we

[2017-07-15 04:31] ruslantalpa commented on #912
they are not random and the host header is kind of correct.
you are used to the host being a domain with a port or something but that is a notion from the webserver where it manages multiple vhosts, here it's just one webserver, and it's "postgrest".

what you want to do is have nginx in front then forward the headers that you need and not as expected like this

https://github.com/subzerocloud/pos

[2017-07-15 07:34] twistedlizard commented on #905
% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 3000 (#0)

  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0* Empty re

[2017-07-15 07:59] twistedlizard commented on #900
ok. That's the problem. The postgresql bin directory wasn't on the path.
Once I've added it, postgrest starts ok and going to
http://localhost:3000/todos
in a browser gives the expected output!

So, there's no problem with that build on windows server 2012 R12, although maybe it could give a helpful error message if it can't find the postgresql binaries, or whichever one it needs.

Thanks to all.

[2017-07-15 22:43] omani commented on #912
Yes I did it exactly like that. I used openresty to set some headers so I can grep them with request.headers.XXX

[2017-07-15 22:43] #912 closed

[2017-07-16 13:35] omani commented on #910
another example that comes to my mind is:
* start postgrest with default schema rather than empty string
* use SET search_path to "schema of tenant" to update underlying table in appropriate table of customer (schema)
* and use only the views defined in this default schema as postgrest documentation explains.

with this I don't have to SET a schema within my "PRE_REQUEST" procedure. I just SET a s

[2017-07-16 14:28] ruslantalpa commented on #910
This will not work, views can not dinamically change the source table.

[2017-07-16 18:09] omani commented on #910
yes you are right. I think then it is not possible what I want to achieve.

because setting the schema beforehands (before the request comes in) with a pre_request, sets the schema to $tenantSubDomain. and now I would have to create views in every schema of a tenant. basically the same sql schemas I am using in the boilerplate postgrest starterkit, I would have to execute them after every signup f

[2017-07-16 18:14] omani commented on #910
which still wouldn't solve the isolation problem. I would need two schemas for each tenant. one publicly exposed schema and one for his tables (hidden tables I reach via views in the public schema of the tenant)

so the more easier way would be to start a new postgrest instance with a different database. this results in one database per tenant.

[2017-07-16 18:19] omani commented on #910
more thoughts on this:
one database per tenant sounds like a lot of maintenance issues to me.
imagine I want to update my SaaS application with an additional view in the public schema. I would have to update every postgrest instance. (sure I could use a central repo for all my sql files, so I don't have to deal with N tenant files.)

beside that I would have to setup each subdomain in the reverse

[2017-07-16 18:46] ruslantalpa commented on #910
why do you need to isolate customer data, each with his own schema in the first place?

[2017-07-16 19:17] omani commented on #910
Because I dont feel good putting all tenants into same tables. Also to be able to scale up/out in tge future.

[2017-07-16 19:23] ruslantalpa commented on #910
- feeling good is not a technical reason
- you don't have either an app or users right now to think about scaling
- don't complicate things and use normal tables, views, rls.
- the only real reason to use schema separation is when the data model for each customer will be different (different columns/tables), almost every other reason is a mistake.

[2017-07-16 19:30] omani commented on #910
Ok I will start with all tenants in one db. Still I will make use of the subdomain somehow by asserting the json web token claim eg "tenant" equals the X-Shbdomain header set by openresty. And several other securities. I think RLS is enough to realize tenant data isolation.

[2017-07-17 07:14] fluffybonkers commented on #906
As I am new to the project, I do not really know where to look for the code to change this configuration, but I too am eager to allow arbitrary extraction of of information from a JWT for roles and other information, rather than being bound to using `scope`, especially as to be OIDC compliant custom scopes are now expected to be namespaced.

Where might one start on this? Are there any plans in pr

[2017-07-17 11:59] ruslantalpa commented on #906
can you be more specific as to what exactly you want to accomplish and why the key `role` in hte jwt payload is not good enough?

[2017-07-17 12:48] fluffybonkers commented on #906
My understanding of [this](https://auth0.com/docs/jwt#payload) article is that we should not use `role`, we should use, for example, `"https://www.example.com/role": "admin"` so that roles/claims are collision resistant and JWTs are OIDC compliant.

[2017-07-17 12:52] ruslantalpa commented on #906
so why can't role be thought of as "private claim"?

[2017-07-17 13:00] fluffybonkers commented on #906
It could be, but then the claim, as I understand it, is not collision resistant and `role` is possibly a common key.

Perhaps none of this matters, but I have just always understood it to be recommended that claims be namespaced and I think Auth0 suggest this in a few different bits of their documentation.

[2017-07-17 14:35] begriffs commented on #906
If you'll be using the same jwt across multiple servers I guess there's the chance of a conflict for a name like `role`, but I'm not eager to change it and break compatibility. This is especially true since JWT has been an area of postgrest that already confuses people.

[2017-07-17 16:35] posix4e commented on #906
Joe you need to fix this if you want to use auth0 with its new API. In
addition there's a question of whether or not assuming role is standards
complain private claim. Nowadays people namespace non standardized claims.

Perhaps make a note of what versions you support and tell people we are
broken with the new auth0 API. By the way this stuff works fine in
postgraphql. If we don't fix it I'll have

[2017-07-17 16:50] begriffs commented on #906
I see, I had overlooked the consequences for Auth0. I can't dedicate the time to think about this at the moment, but am flagging it for more thorough review.

[2017-07-17 19:41] posix4e commented on #906
@begriffs Thanks for the quick reply. I am happy to test this for people and update the documentation v.v. auth0. I am happy to make the patch but I am such a haskell noob that it will probably take more mentoring than it's worth.

[2017-07-19 02:22] movadee commented on #879
Hello. Sorry for the late reply. I restart all dynos, but problem remains.

On Sat, Jul 8, 2017 at 12:12 PM, Joe Nelson <notifications@github.com>
wrote:

[2017-07-19 07:35] daurnimator opened #915 "distinct/unique"
PostgREST should have a way to perform a `SELECT DISTINCT` query.

I suggest a new reserved query word 'distinct'.

  - With no value it would just do a `select distinct` e.g. `/mytable?distinct`
  - Otherwise it is a comma separated list of columns (or computed columns) e.g. `/mytable?distinct=name`

Note that the columns that you are distinct on will also need to have order applied.

[2017-07-19 10:21] eric-brechemier commented on #877
@begriffs I wrote the first unit tests for PostgREST I/O in shell script:

https://github.com/eGullGolf/postgrest/blob/issue877/test/io-tests.sh#L84

These tests could benefit from being rewritten in Haskell: for integration with other unit tests and to avoid arbitrary delays (1 second `sleep` to wait for the PostgREST server to start in each test).

[2017-07-20 04:56] begriffs opened #917 "Allow full control over HTTP status code on RPC error"
Currently raising an exception goes through our standard exception-to-status mapping logic. However not all codes are covered. Allow the user to `raise sqlstate 'PTxyz'` and then use xyz as the status code.

[2017-07-20 14:21] #877 closed

[2017-07-22 15:10] ruslantalpa commented on #907
soon :) ... #918

[2017-07-25 16:01] #907 closed

[2017-07-25 18:09] drawks commented on #567
Any updates here?

[2017-07-26 16:27] deinspanjer commented on #917
So this would specifically be for any sort of function that is invoked by the /rpc endpoint?

Would we be able to specify all the things you can specify in the raise statement such as hint and detail in addition to the err code??

Right now, several of our functions being invoked through postgrest are using the plv8 engine.  In that, you return an error by using `throw new Error(message)`.  I'm st

[2017-07-27 09:36] omani opened #920 "octet-stream for rpcs (related to #895)"
hi all,

if I add "Accept: application/octet-stream" to my rpc function call (a POST request) I get:
"none of these content-types are available: application/octet-stream".

the function returns bytea.

is it because of the type bytea I return? the reason I want it to be binary is because the default return is as string (and decoding the bytes I get results in a string representation of the hex (by

[2017-07-27 11:24] begriffs commented on #920
Which postgrest version are you running? The binary output support for RPC is on master but not yet in a released version.

[2017-07-27 16:56] omani commented on #920
ah then it makes sense. I am using version "0.4.2.0" in my Dockerfile.

can we expect the above merge in the next release? can I switch to master already? (still testing).
is master a dev branch or stable branch?

[2017-07-27 17:00] begriffs commented on #920
The feature will be incorporated into the next release. Master is usually pretty stable -- all the tests pass. However to use master you'll need to [build the binary from source](https://postgrest.com/en/v4.1/install.html#build-from-source).

[2017-07-27 17:35] omani commented on #920
Alright. Thank you for this awesome piece of software. I enjoy it very much.

[2017-07-27 17:35] #920 closed

[2017-07-28 02:07] dthree opened #921 "Cross-schema joins?"
It does appear that you can only specify one schema per instance of Postgrest.

Is there at least any way to join across schemas?

I would really like to use Postgrest on a large project, however this database has over 10 schemas that all need to talk to each other. Collapsing to a single schema isn't an option.

[2017-07-28 02:27] begriffs commented on #921
You can make views in one schema that select values in an underlying table in another, but that would quickly become cumbersome. Can you explain why you have so many schemas? Is it for multi-tenancy?

[2017-07-28 02:33] dthree commented on #921
Thanks for the faster answer!

Let's say I want to store data on:

 - HR
 - Users
 - Finance
 - Customer

These are very separate and will span hundreds of tables. However, they do very much need to cross-reference.

Perhaps I just have had the idea that it's bad practice to bunch them all together. I could be wrong.

Your thoughts on the matter would be appreciated!

[2017-07-28 14:07] omani opened #922 "Support for multipart/form-data?"
hi,

are there any plans to support multipart/form-data uploads? I need to upload raw binary. since json is encoding it to base64 I am not only suffering from 33% more space consumption but also more cpu usage for encoding/decoding.

it would be helpful to be able to upload raw binaries with eg. multipart/form-data.

[2017-07-28 16:12] steve-chavez commented on #898
I had the same dialog with the error message on a Windows 10, I fixed it with the following:

On a cmd check if you can run `pg_config`, if you can't you need to add `pg_config` to your path, by default this is on a `Program Files/PostgreSQL/9.6/bin` directory. After that try running the binary release or building from source.

[2017-07-28 17:37] omani commented on #922
or is there a way to post raw binary to postgrest so I can insert bytea in postgresql?

[2017-07-28 18:14] steve-chavez commented on #922
Right now posting raw binary is not possible in postgREST, but I think you could encode base64 in the client, post the payload in an `/rpc` then decode it in the procedure to finally insert it in a table, if you don't want to encode/decode base64 you could do it directly in nginx with ngx_postgres, as suggested in this previous issue #894.

[2017-07-29 02:27] omani commented on #922
ok that works. thanks.

[2017-07-31 16:40] posix4e commented on #906
Any updates?
On Mon, Jul 17, 2017 at 9:58 AM Joe Nelson <notifications@github.com> wrote:

[2017-07-31 17:08] 9too opened #924 "Slow relations initialization"
# Context
PostgREST version : 0.4.2.0
PostgreSQL : 9.6.3
OS : Gentoo & RHEL 6.9

The source of the problem is unclear and I cannot provide a simple reproducible case.
( I provided @ruslantalpa with a _minimal_ database dump )

# Observation
On a particular database, requesting resource embedding for the first time causes a **significant** computation over a long period of time. On the sample provi

[2017-07-31 19:35] 9too commented on #924
With a bit more troubleshooting and a dose of luck, I have found the potential culprit.
The table which caused the problem to disapear contains 2 foreign keys which are exactly the same reference, they only have different names. Of course this is an error and shouldn't be there, but by dropping any of the two, the problem goes away.
Now I tried recreating a simple case with only 2 tables, but it d

[2017-07-31 20:10] ruslantalpa commented on #924
Interesting case, although i think there are valid cases for 2 Fks to the same table so this still is interesting to investigate.

[2017-08-01 06:40] ruslantalpa commented on #921
If you configure PostgREST with `db-schema = ""`than the generated query will not be schema qualified, so the usual search path mechanism will apply, thus allowing you to work with any table/view with the condition that the names in different schemas do not clash (or search_path somehow takes care of that).

While it's possible to do this, I would not recommend it since you can no longer have the

[2017-08-01 06:40] #921 closed

[2017-08-01 06:55] dthree commented on #921
You solved this for me, by suggesting I use a schema that solely consists of views.

[2017-08-01 10:08] omani opened #925 "Out of memory during RPC call"
Hi all,

after finishing my project I am experiencing many oom on my server running:
* postgrest
* postgresql
* openresty (nginx reverse proxy)

[code]

this is part of the kernel call trace. it says that postgrest will be sacrified to get free memory.

What am I doing:
* I am writing files to and from postgresql (in a table) chunk-wise
* mostly rpc calls (read_blob, write_blob)

hardware specs:
*

[2017-08-01 10:18] omani commented on #925
if you need more information please tell me and I will provide if I can.

[2017-08-01 12:55] ruslantalpa commented on #925
this seems to be a problem with how the binary was build (built on ubuntu box, used in debian docker).
please reopen if a proper build does not solve this

[2017-08-01 13:32] omani commented on #925
after building postgrest for ubuntu:16.04 as described here: https://postgrest.com/en/v4.1/install.html#build-from-source

I am still suffering from out of memory issues.

[2017-08-01 13:39] ruslantalpa commented on #925
so you are building the binary on a ubuntu box and then you copy that binary to a docker image that is based on the same ubuntu?

[2017-08-01 13:56] omani commented on #925
yes

[2017-08-01 16:00] 9too commented on #924
After more testing it seems my assumption was incorrect, the problem is likely related but not exactly caused by identical FK duplicates.

I could find out by diffing a local database that I had fixed doing this with a preproduction version that was slightly altered from my version, where the problem still showed up after applying the above change.

In the diffing process, I found a FK that after

[2017-08-01 17:43] 9too commented on #924
Here's a profiling of an unfinished initialization of a few seconds :
[code]

Something odd to me, is that many-to-many takes so much time, but when I drop a FK that is a one-to-many, to problem disappears. After dropping that constraint, none of the sections above appear in the profiling.

[2017-08-01 21:40] ruslantalpa commented on #924
This is a very good lead, at the root of combinations we have `subsequences`
[code]
which would be very inefficient on big arrays.
In this particular case, i think big arrays happen when there is a specific table with relations to multiple other tables, i.e. many of its columns are FKs to other tables.

I'll confirm that with your schema (you can also do that) then we'll think of another way to wr

[2017-08-01 21:43] 9too commented on #924
I placed a Debug.Trace at the exit of subsequences, I will try to compare the results when that FK is present vs not.

[2017-08-02 01:27] 9too commented on #924
Now, we found out that the definition of `addManyToManyRelations.combinations` can be improved for cases where alot of relations have to be computed.

I will try a some alternative definitions and compare them, then I'll open a PR.

[2017-08-02 07:25] CMCDragonkai commented on #223
I'd suggest considering raster support as well.

[2017-08-02 07:25] CMCDragonkai commented on #223
I'd suggest considering raster support as well.

[2017-08-03 05:23] dthree commented on #256
@begriffs was this ever implemented? I could really use upsert syntax.

[2017-08-03 07:26] ruslantalpa commented on #13
This can be implemented outside PostgREST.
For example, Take this query https://gist.github.com/ruslantalpa/b2f10eb1b5f6dd0fc1c154e071a1c91b
which does the same kind of introspection as PostgREST, format it a bit to return a GraphQL type schema output, make it a view, then use something like https://apis.guru/graphql-voyager/ to visualize it

[2017-08-03 07:26] #13 closed

[2017-08-03 07:28] ruslantalpa commented on #56
They can create a custom view that describes their schema with all the details they need.
Here is a base query to start from
https://gist.github.com/ruslantalpa/b2f10eb1b5f6dd0fc1c154e071a1c91b

[2017-08-03 07:28] #56 closed

[2017-08-03 07:32] ruslantalpa commented on #103
I don't think this has ever come up in discussions as a problem and it's somehow at a deeper level (the db) so not sure PostgREST is the place to solve this.
Let's reopen when it comes up and the user can explain why it's a problem for them and they can't work around it.

[2017-08-03 07:32] #103 closed

[2017-08-03 07:36] ruslantalpa commented on #222
Implemented in #885 plus you can have your custom view describing the api in the format you want by using a query/view like this one https://gist.github.com/ruslantalpa/b2f10eb1b5f6dd0fc1c154e071a1c91b

[2017-08-03 07:36] #222 closed

[2017-08-03 07:41] ruslantalpa commented on #236
Will be tracked in #133

[2017-08-03 07:41] #236 closed

[2017-08-03 07:46] ruslantalpa commented on #242
Closing this since OPTIONS no longer exists, Everything was moved to openApi response on the `/`.
Another avenue to implement this using your custom rpc/view with a query similar to this https://gist.github.com/ruslantalpa/b2f10eb1b5f6dd0fc1c154e071a1c91b

[2017-08-03 07:46] #242 closed

[2017-08-03 07:48] ruslantalpa commented on #246
This can be implemented in the future using a plugin (when/if PostgREST will support that).
Until then it can be implemented in the proxy like this https://github.com/subzerocloud/postgrest-starter-kit/wiki/Beyond-Data-Access#restricting-filtering-capabilities

[2017-08-03 07:48] #246 closed

[2017-08-03 07:50] ruslantalpa commented on #240
Closing, no reply for a long time. Please reopen if this is not yet fixed.

[2017-08-03 07:50] #240 closed

[2017-08-03 08:02] ruslantalpa commented on #250
This seems like a very big complication to the logic with marginal benefits for a small number of users. I would not expose a public api for a table that is that big and this vulnerable to DOS attacks. Maybe a better approach is "lock down" the order in a view.
I personally don't see this type of feature being implemented in PostgREST in the near future.
Please reopen if someone comes up with an i

[2017-08-03 08:02] #250 closed

[2017-08-03 08:10] ruslantalpa commented on #254
PostgREST so far is a stateless* system, introducing cursors will be a massive complication (not just for us, but for users also).

I think one can do fine with LIMIT/OFFSET +  implement keyset pagination in the client ( `/?id=gt.ID_OF_THE_LAST_RECORD_FROM_PREV_REQUEST&limit=10` ).

[2017-08-03 08:10] #254 closed

[2017-08-03 08:16] ruslantalpa commented on #282
I think with the latest version this works (if i am understanding the problem correctly) by sending the header `-H "Accept: application/vnd.pgrst.object+json"`

a full request to insert one object looks like this
[code]

[2017-08-03 08:16] #282 closed

[2017-08-03 08:24] ruslantalpa commented on #467
I don't think this is a bug with PostgREST. The FDW used probably does not allow a `SELECT * FROM statistics_real_time` type of query. Nothing PostgREST can do about that.
If you can actually run that query on the foreign table, please reopen

[2017-08-03 08:24] #467 closed

[2017-08-03 08:31] ruslantalpa commented on #519
Since there are no table definitions here it's hard to say what exactly is going on, but if its a case of a table having two columns which are FK's to the same table, it's possible to embed both rows by specifying the fk column instead of the table name.

[2017-08-03 08:31] #519 closed

[2017-08-03 08:34] ruslantalpa commented on #520
No reply for a long time, since then, however, a few bugs were fixed since then.
PS: try to avoid `*` always specify the full list of columns and try to always include the `id` of rows because of #411 bug

[2017-08-03 08:34] #520 closed

[2017-08-03 08:38] ruslantalpa commented on #539
Per @steve-chavez comment, i would say it's dangerous to have this kind of feature by default and regexp in db is generally a bad idea. A user can work around this limitation by using a RPC for his specific case (which can do some additional custom check to prevent abuse)

[2017-08-03 08:38] #539 closed

[2017-08-03 08:41] ruslantalpa commented on #541
I don't see a clear way of how to fix this in PostgREST in a general way for everybody.
The best suggestion, for now, is to have a proxy in front (openresty) and to sanitize the error response.

[2017-08-03 08:41] #541 closed

[2017-08-03 08:43] ruslantalpa commented on #546
Closing. known limitation, possible solutions discussed in #709

[2017-08-03 08:43] #546 closed

[2017-08-03 08:45] ruslantalpa commented on #548
probably is :)

[2017-08-03 08:45] #548 closed

[2017-08-03 08:51] ruslantalpa commented on #568
There was bug fixed when the tables were in the public schema.
Please try the latest version. If that does not fix it, please reopen.

[2017-08-03 08:51] #568 closed

[2017-08-03 08:52] ruslantalpa commented on #591
Closing as a duplicate of (same core problem) #709

[2017-08-03 08:55] ruslantalpa commented on #670
I think this is answered/solved

[2017-08-03 08:55] #670 closed

[2017-08-03 09:04] ruslantalpa commented on #684
I've seen this error recently and it was due to the fact that the content type was not properly set, and form the PHP code above i am not sure what this part does

[code]

make sure you are sending this header `"Content-Type: application/json"`

[2017-08-03 09:04] #684 closed

[2017-08-03 09:09] ruslantalpa commented on #690
Is this still a thing?
I remember it being a thing in #360 but that thread says it was fixed in 3.0

[2017-08-03 09:12] ruslantalpa commented on #692
errors leaking info seems like the same thing described here https://github.com/begriffs/postgrest/issues/541#issuecomment-319906694

closing as duplicate but at the same time the solution for now seems to be code in the proxy level

[2017-08-03 09:12] #692 closed

[2017-08-03 09:19] ruslantalpa commented on #710
This is probably fixed in #885

[2017-08-03 09:19] #710 closed

[2017-08-03 09:21] ruslantalpa commented on #717
This can be implemented outside PostgREST as explained here https://github.com/begriffs/postgrest/issues/13#issuecomment-319890673

[2017-08-03 09:21] #717 closed

[2017-08-03 09:46] Sigura commented on #568
@ruslantalpa it works, good job! Thank you!

[2017-08-03 09:58] ruslantalpa commented on #727
Closing this since it will be hard to compile for such an old system (12 April 2007) without stack supporting it

[2017-08-03 09:58] #727 closed

[2017-08-03 10:06] ruslantalpa commented on #734
The name of the env vars changed a bit
Use this convenience lib to get the values
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/db/src/libs/request/schema.sql

[2017-08-03 10:06] #734 closed

[2017-08-03 10:10] ruslantalpa commented on #773
Closing this since implementation in OpenResty is the preferred way. The only way to add is there is a better way to read the cookie like this
[code]

[2017-08-03 10:10] #773 closed

[2017-08-03 10:28] ruslantalpa commented on #790
just  the simple list is easy to implement with a view https://gist.github.com/ruslantalpa/b2f10eb1b5f6dd0fc1c154e071a1c91b

also some ideas here https://github.com/begriffs/postgrest/issues/13#issuecomment-319890673

[2017-08-03 10:35] zalmarge opened #927 "Empty pre-request value should indicate that PostgREST should not execute any procedure"
The way ```pre-request``` configuration variable is being set up in ```Dockerfile``` (```begriffs/postgrest:v4.2.0```) finally leaves everyone with non-functioning PostgREST container if ```PGRST_PRE_REQUEST``` environment variable is left as it is (empty) because PostgREST is trying to execute statement ```SELECT ()``` right before any query.

[2017-08-03 11:18] #792 closed

[2017-08-03 11:20] ruslantalpa commented on #796
the source of this has just been tracked and there is an upcoming PR fixing it #926

[2017-08-03 11:20] #796 closed

[2017-08-03 11:27] ruslantalpa commented on #804
maybe like this (didn't try)
[code]

[2017-08-03 11:27] #804 closed

[2017-08-03 11:29] ruslantalpa commented on #817
fixed by #885

[2017-08-03 11:29] #817 closed

[2017-08-03 11:35] ruslantalpa commented on #821
seems like you have two fk columns pointing to the same table.
try specifying the name of the column instead of the table.
also check if this recent feature helps https://github.com/begriffs/postgrest/pull/918

[2017-08-03 11:37] bradleyf commented on #846
Looks like there now is an Arm build of Stack, so I might try again soon. See here (at bottom): https://github.com/commercialhaskell/stack/issues/2103

[2017-08-03 11:41] ruslantalpa commented on #830
closing this since it's been a while, it's o priority since there is a way to implement this feature with nginx or the client making the correct request.

As @begriffs if someone really needs this in PostgREST, please reopen the issue with suggestions.

[2017-08-03 11:41] #830 closed

[2017-08-03 11:42] ruslantalpa commented on #833
Some example of how to do extra stuff https://github.com/subzerocloud/postgrest-starter-kit/wiki/Beyond-Data-Access

[2017-08-03 11:42] #833 closed

[2017-08-03 11:49] ruslantalpa commented on #846
tell us how it went

[2017-08-03 11:52] ruslantalpa commented on #838
Closing this since DB2 support is not "in the stars", at least for now :)
PS: as for GraphQL, it is the thing that sparked the work on `&select` parameter, and GraphQL on top of PostgREST is here https://subzero.cloud 😛

[2017-08-03 11:52] #838 closed

[2017-08-03 11:54] ruslantalpa commented on #845
The way to implement this seems to be answered here. A separate issue for documentations can be opened in the docs repo

[2017-08-03 11:54] #845 closed

[2017-08-03 11:58] ruslantalpa commented on #861
This seems to be implemented with #885

[2017-08-03 12:04] ruslantalpa commented on #862
This is not a workaround (wrapping the body), this is the correct way of calling a function, the body of the request (calling rpc functions) needs to be a single json object with parameter names as keys for the json object, even if it's just one parameter.

[2017-08-03 12:04] #862 closed

[2017-08-03 12:09] ruslantalpa commented on #881
those queries are tested using "integration tests" and therea are only a few of them and they never change, i don't see much value in testing them separately for now

[2017-08-03 12:09] #881 closed

[2017-08-03 12:15] ruslantalpa commented on #893
I was able to implement caching with custom logic in nginx using a combination of
http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_path
and
https://github.com/cloudflare/lua-upstream-cache-nginx-module

[2017-08-03 12:15] #893 closed

[2017-08-03 12:18] ruslantalpa commented on #903
The original question seems answered (to an extent) if there is a follow-up, please reopen

[2017-08-03 12:18] #903 closed

[2017-08-03 12:22] ruslantalpa commented on #908
Closing this since 406 is the correct response as discussed in #913 (docs issue opened here https://github.com/begriffs/postgrest-docs/issues/95)

[2017-08-03 12:22] #908 closed

[2017-08-03 12:38] zalmarge commented on #909
My guess is you have to escape $ with hex equivalent. From documentation:

**db-uri**
    The standard connection PostgreSQL URI format. Symbols and unusual characters in the
    password or other fields should be percent encoded to avoid a parse error.

[2017-08-03 15:48] 9too commented on #924
After reading #796, it reminded me of a thought I also had;

If it would be possible to make `allRelations` (or create a new request if needs be) return only relations that are linked with the exposed schema ?

The problem is not so much the query itself, but rather how it can leverage the mapping done by `addManyToManyRelations` so that the minimum required relations are fetched.

If I compare so

[2017-08-03 17:14] ruslantalpa commented on #924
Negligible effect, for 1 request. This is overthi king it. It's good as it is now

[2017-08-03 19:30] 9too opened #928 "Transitive embedding with composite FK"
Consider a case of a [weak entity](https://en.wikipedia.org/wiki/Weak_entity)
[code]

It is currently impossible to request transitive embedding
[code]

It is possible to declare it explicitly
[code]
But it gets quickly out of hands if you add more levels, and you must at least specify the full FK in the intermediate table (_i.e._ a_b)

The easy workaround is to simply add a direct FK on the weak

[2017-08-05 04:54] elimisteve commented on #256
I could, too, starting very soon!

[2017-08-05 14:20] omani commented on #925
please see https://nopaste.linux-dev.org/?1160385 for my prof file.

[2017-08-05 14:21] omani commented on #925
the line is: ```trimNullChars = T.takeWhile (/= '\x0')```

[2017-08-05 19:24] 9too commented on #924
Fixed in #926

[2017-08-05 19:24] #924 closed

[2017-08-05 21:24] begriffs commented on #505
^^^ The switch to another JWT library is now available in the linked PR.

When it is suitable to merge we can start working on allowing multiple keys in the config file.

[2017-08-05 21:26] begriffs commented on #808
Well, looks like I can close this issue. If there are particular problems with the docker setup nowadays we can open new issues for them.

[2017-08-05 21:26] #808 closed

[2017-08-05 21:48] begriffs commented on #837
Interesting, I didn't know about `json_populate_record`. That may provide a way to do it, although postgrest will need to detect the situation and conditionally call that function, so it doesn't seem to be an easy fix.

[2017-08-05 23:52] begriffs commented on #906
Can you point me to an example of the new auth0 api, like a howto guide? I can use that to learn more about how postgrest should fit in.

One piece of good news is that there is now a PR ready (except for a performance improvement) which allows asymmetric encryption keys, which I thought someone mentioned is another new auth0 requirement.

[2017-08-05 23:57] omani commented on #925
switched from rpc to view with a trigger. solved.

[2017-08-06 00:38] begriffs commented on #925
Hmm, glad you found another way to do it, but wondering if this is still an RPC problem that other people will run into.

[2017-08-06 00:42] omani commented on #925
I am sure people will run into this problem when using rpcs. @9too, @ruslantalpa and me discussed this in gitter. maybe you guys can get together and spend time on this. for me this is solved now but I think it is worth to investigate nevertheless.

[2017-08-06 00:47] begriffs commented on #925
OK, makes sense. Well I'm going to open this issue again since it has useful information for the ongoing RPC problem.

[2017-08-06 01:00] #900 closed

[2017-08-06 01:07] begriffs commented on #896
Can you check whether it works if you deploy a fresh Heroku app? I fixed a typo in the buildpack and perhaps you deployed initially pre-typo and subsequent deploys are messed up because of it.

[2017-08-06 01:27] begriffs commented on #909
@pycal did escaping help?

[2017-08-06 01:33] begriffs commented on #905
@twistedlizard can you enable db logging and see what queries your web requests trigger? There are instructions for how to do this here: https://postgrest.com/en/v4.1/admin.html#debugging

[2017-08-06 01:40] begriffs commented on #915
This has certainly been a frequently requested feature. My only hesitation is making "distinct" another reserved word, meaning it would block any filters on a column that happened to be called "distinct." However, like "select," this one is a sql reserved word too so it makes sense that we reserve it as a special url parameter.

I hesitate to try messing with the url parsing and query generation p

[2017-08-06 02:00] begriffs commented on #917
Yeah, this would be an exception type you could raise in any function (at least plpgsql functions...maybe other languages?). It allows setting message, details and hints. Check out the postgres docs about it - https://www.postgresql.org/docs/9.6/static/plpgsql-errors-and-messages.html

This would be an example:

[code]

Would generate HTTP 400 with the "message" key set.

[2017-08-06 02:05] begriffs commented on #898
I made a note to document this. Thanks for the report, @monemihir. Let me know if Steve's suggestion doesn't fix it for you.

[2017-08-06 02:05] #898 closed

[2017-08-06 04:46] posix4e commented on #906
Great will do . https://github.com/posix4e/reserve-my-life should have it
but I haven't checked the code in a while.
On Sat, Aug 5, 2017 at 4:52 PM Joe Nelson <notifications@github.com> wrote:

[2017-08-07 22:21] ruslantalpa commented on #925
Looking at https://hackage.haskell.org/package/interpolatedstring-perl6-1.0.0/docs/src/Text-InterpolatedString-Perl6.html
there is a lot of recursions and reversing going on, probably where the high memory usage comes from.

While these symptoms are avoided for insert, they can not be avoided for rpc and update.
we use `qc` mainly for "nice code" but i don't think it was designed to extremely long

[2017-08-08 01:31] daurnimator opened #930 "Fill in openapi 'summary' field"
Currently the comment on a table is used for the 'description' but the 'summary' field is left blank.
https://github.com/begriffs/postgrest/blob/2243f4b6539577a6534e11bee66052ae5cda7e71/src/PostgREST/OpenAPI.hs#L188

I propose using the *first* line of the comment as the 'summary', and anything following as the description (sort of like a git commit).

[2017-08-08 02:33] daurnimator commented on #930
This should happen for columns (as well as tables/view): if there is no summary, then swagger-ui prefills `<input>` boxes with the whole column description.

[2017-08-08 04:27] daurnimator opened #932 "OpenAPI 3.0.0"
https://www.openapis.org/blog/2017/07/26/the-oai-announces-the-openapi-specification-3-0-0

[2017-08-08 06:05] daurnimator opened #933 "Release checklist: update openapi external url in code"
The link in the openapi specification https://github.com/begriffs/postgrest/blob/2243f4b6539577a6534e11bee66052ae5cda7e71/src/PostgREST/OpenAPI.hs#L257 should point to the *current* release's docs.

Otherwise someone may click through from a postgrest 0.4.3 application to docs for postgrest 0.7.0 (once it exists).

[2017-08-08 12:33] 9too commented on #925
Here's a minimal working example :
[code]
[code]

Basically, you really need **big** chunks.

[2017-08-09 05:35] fab1an commented on #190
I think it would be great if postgrest could be configure to serve `index.html` (and only that) from a view in the database.

Benefits:
* Single-page-apps are possible (javascript and images can be easily inlined nowadays).
* no file-access for postgrest
* no routing logic.

[2017-08-09 10:17] just1689 commented on #867
@mcarans Any news?

[2017-08-09 10:58] mcarans commented on #867
It seems to be stable for me - no issues - but then it is not receiving that many requests, certainly not the millions per minute necessary to surface the bug.

[2017-08-09 11:32] grudda commented on #896
The same for me when deploying on jelastic paas. I can define the env variable by a form and there are set then on startup. But I got the same error message as above.
![image](https://user-images.githubusercontent.com/18442458/29119632-37dea126-7d07-11e7-831b-1cb6291c664d.png)

[2017-08-09 13:42] #567 closed

[2017-08-10 01:42] NikolayS commented on #800
For those (like me) who wonder how to use it, this one works:
[code]

[2017-08-10 06:55] begriffs opened #934 "Upgrade hjsonschema version(or remove it) in cabal file"
We held it back because later versions made the test suite fail (even though it appears that they generate valid OpenAPI).

[2017-08-10 20:53] omani opened #935 "Enable GET requests on RPCs"
Hi,
I have this case where I need GET requests on rpcs rather than POST.

I would like to call: http://localhost:3000/rpc/myfunc?param1=value1&param2=value2

any plans to implement GET requests on rpcs?

[2017-08-10 21:05] begriffs commented on #935
It was discussed in https://github.com/begriffs/postgrest/issues/328#issuecomment-162029728 for stored procs which are marked as immutable. I haven't looked at that issue for some time, so I don't recall the consensus, but have a look at it and see what you think about the proposals there.

[2017-08-10 21:46] omani commented on #328
hi,

my two cents: I don't need an rpc to act as a table. we should make our decision simple here. make GET requests available for immutable procs and otherwise use POST. the DBA's intent should be clear about how he wants to treat data or use an rpc.
and also:

I like this idea of having only proc args.

[2017-08-10 21:47] omani commented on #935
I've commented on the issue. I'm not a haskell developer. so I can't really contribute to this project by code. so the only thing I can do is giving my opinion as a user/dba from that perspective.

[2017-08-12 02:08] Jimexist opened #936 "Can you update the docker hub's latest tag"
It took me a while before figuring out that `latest` is actually 8 months older, 6 months older than `v0.4.2.0`.

Thanks!

[2017-08-12 02:46] Jimexist opened #937 "Got endOfInput even if config file is mapped and readable"
This is pertaining to docker v0.4.2.0

[code]

[2017-08-13 11:27] Jimexist commented on #937
some update: i think it was due to invalid config file. After i populated all the envvars the problem goes away.

I think it'll be helpful to output more explanatory error messages in this case.

[2017-08-13 21:25] begriffs commented on #933
I see what you mean. Interested in diving into more Haskell to help out? 😉

[code]

Now `pgrstVer` is an array of numbers. To turn it into a string you can do

[code]

[2017-08-13 21:47] begriffs commented on #505
The JWT branch is merged now!

In case anybody wants to help out with this multiple-key issue, what you need to do is have it parse a [JWKSet](https://hackage.haskell.org/package/jose-0.6.0.3/docs/Crypto-JOSE-JWK.html#g:5) rather than simply JWK in [parseJWK](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/Auth.hs#L77). It should have a built in instance to parse it from JSON, so c

[2017-08-14 02:32] daurnimator commented on #933
I'm no haskell developer.... what I tried + error:
[code]
[code]

[2017-08-14 03:24] gregelenbaas opened #940 "Set Custom Response Headers Feature Request"
Hi PostgREST team,

Been reading through the docs and building out a test schema for most of the day. I found how to access request headers but haven't found if it is possible to add response headers from rpc stored procedures. If it's not already a capability, I think it would be really useful. My use case would be for adding Set-Cookie headers that would store the JWT token as well as a second c

[2017-08-14 08:33] ruslantalpa commented on #940
Why would parsing the response in ngxin in order to add the additional header be inefficient?

[2017-08-14 09:44] omani commented on #940
@ruslantalpa, although I don't think settings headers in nginx is inefficient, I like the idea of being able to add respond headers within an RPC, because sometimes only within the RPC you know your data and you can set your right headers. nginx (after getting the response back from backend) can set headers yes but more like general purpose headers. not specific, data-releated headers.

[2017-08-14 09:45] omani commented on #935
what are your thoughts? I would love to hear from you that you will implement this. I really have a use case and am looking forward seeing this feature in the next release/and or master.

[2017-08-14 13:00] docteurklein opened #941 "where is the "hypermedia" or "hateoas" word ?"
Hey there :)

Sorry to bother you with an [already discussed](https://github.com/begriffs/postgrest/search?q=hypermedia&type=Issues) subject, but I think this is important.

I think those discussions miss one important part of what makes REST successful: **discoverability**.
The `OPTIONS` support [(lack of)](https://github.com/begriffs/postgrest/issues/790)  is only a small stone of the whole hype

[2017-08-14 14:01] ruslantalpa commented on #941
@docteurklein can you show a client that takes advantage of this "autodiscovery" thing and does something interesting besides things like swagger-ui?

[2017-08-14 14:17] docteurklein commented on #941
Thanks for the quick answer!
Forgot to tell I'm totally new to postgrest, but I find the idea amazing. Also discovering the existence of a gitter chat room, maybe I should have started with that.

back to the question:

- I would try to generate (relative?) URLs pointing to associated resources directly inside the returned representation (using `_links` with json-hal) or json-ld context) instead o

[2017-08-14 14:28] docteurklein commented on #941
same kind of browser but with json-ld  + hydra: http://www.markus-lanthaler.com/hydra/console/?url=http://www.markus-lanthaler.com/hydra/event-api/

[2017-08-14 14:43] ruslantalpa commented on #941
The example you gave is still something like swagger-ui which is basically a form of documentation.

Ppl say "autodiscovery" and "how the web works" like in "if this feature was available, magic things would happen and clients would suddenly become sentient and start crawling the open APIs without developer telling them what to do" but it is never so, ultimately it's still a human clicking those l

[2017-08-14 14:49] ruslantalpa commented on #941
a note on my previous comment. Side things that help developer to work with apis are of course important even if they don't run in production and an example of such a tool is GraphiQL but i've not seen such a good quality tool for the REST world. Even if there was such a thing, GraphiQL is still driven by what is essentially a static JSON file for which you don't need any special features in postg

[2017-08-14 15:10] docteurklein commented on #941
My main motivation is more conceptual indeed. I'm convinced that maintenability and evolutability of RESTful APIs is rooted in correctly following [REST principles](https://martinfowler.com/articles/richardsonMaturityModel.html)  and that open-api specs is a bad idea (or as good as WSDL was with SOAP).

Hardcoded clients are mainly the reason why we need server-side versioning.
Now I fully agree w

[2017-08-14 15:16] docteurklein commented on #941
Another really concrete reason why we need to push more around those concepts is the recent trend of graphQL replacing RESTful APIs. It either means REST is bad or that it misses something.

[2017-08-14 15:52] steve-chavez commented on #328
Aside from detecting volatility for GET procs, I think we can have the rpc acting as a table(filters and order enabled) by detecting if the proc returns a postgres [composite type](https://www.postgresql.org/docs/9.6/static/rowtypes.html)(record type, list of field names).

For procs that returns non-composite type(scalars) we can ignore filters and order query params or maybe just output a sql er

[2017-08-14 17:56] steve-chavez commented on #935
See my proposal on #328 if we all agree on the interface I could implement this feature.

[2017-08-14 19:03] omani commented on #328
what does topic mean there? isnt an rpc just expecting function arguments. where does topic belong to here?

[2017-08-14 22:17] steve-chavez commented on #328
It's an example for a column name filter, filtering, embedding and other table query params are supported on rpc, see the tests here:

https://github.com/begriffs/postgrest/blob/master/test/Feature/QuerySpec.hs#L516-L535

[2017-08-15 00:39] #884 closed

[2017-08-15 08:30] ruslantalpa commented on #328
@steve-chavez there is no need to detect what proc returns since the filters on the result of the proc are applied to the data it returns. If the user specifies some filters on a rpc that returns non-table like response, he will simply get an error from the db.
what you need to know for each proc it the name of its parameters (but don't go into their types)

so that for a query like this
`/rpc/pro

[2017-08-15 08:31] ruslantalpa commented on #935
duplicate of #328

[2017-08-15 08:31] #935 closed

[2017-08-15 08:49] ruslantalpa commented on #941
Probably my biggest argument against implementing this (besides it not being actually useful beyond documentation and developer tooling) is that it can be implemented using the features already present as I've explained [here](https://github.com/begriffs/postgrest/issues/13#issuecomment-319890673) and [here](https://github.com/begriffs/postgrest/issues/343#issuecomment-154342755)

I'll close this

[2017-08-15 08:49] #941 closed

[2017-08-15 09:59] omani commented on #328
I already do this with openresty and it is painful. Not only you have to rewrite headers or set additional headers, it is also somewhat weird to turn a POST into a GET at proxy level, just because your backend can't handle it.

I would like to say that I do not think that this feature is not crucial. I think we really need this. any other attempt to solve this on any other level than the backend i

[2017-08-15 10:06] ruslantalpa commented on #328
@omani since when 5-10 lines of config is "painful"? You are exaggerating.
If this feature is that important for you, PR's are always welcomed :)

[2017-08-15 14:22] danilobuerger commented on #867
@mcarans Could you please provide an up to date Dockerfile thats using ghc from testing?

[2017-08-15 14:38] mcarans commented on #867
[code]

Replace XXX above appropriately. Note that I wanted to use one of our org's base images and so was restricted to a non-current version of Alpine, hence the checkout of a specific commit, the last to support the Alpine version.

[2017-08-15 15:25] steve-chavez commented on #915
Not sure if this should be implemented, by allowing `distinct` to be applied to any column unrestricted it could potentially ddos a database.

I've bumped into a slow distinct query in postgresql a while ago and solved it by using a `group by` instead of `distinct`, remember distinct generating a more expensive seq scan, I don't have the details anymore but a quick googling suggest the problem cou

[2017-08-15 15:33] begriffs commented on #328
Just thought of another simplification. We may not need to detect the volatility of functions in order to selectively allow GET requests. If someone calls a function with GET we can simply run the transaction in read-only mode, via: https://github.com/begriffs/postgrest/blob/d89937a6f300d2ca6bcda15cb84198450537467a/src/PostgREST/App.hs#L91

If the stored proc tries to modify anything I believe it

[2017-08-15 15:40] steve-chavez commented on #328
@begriffs I agree, so then we may not need to detect the proc volatility or if it returns a composite type(just let the db err).

@ruslantalpa  To avoid the input/output ambiguity I proposed the `args=(person_id.5,group_id.10)` query param, that clearly differentiates from the traditional filters.

[2017-08-15 16:14] ruslantalpa commented on #915
@steve-chavez this is a good point against this. PostgrREST should expose only safe/fast operations

[2017-08-15 16:23] ruslantalpa commented on #328
@begriffs i was not saying it should not be done, i was saying it can be implemented in other ways so it should not take precedence over other potential features (which can not be implemented in other places).

@steve-chavez i saw the proposal i just think it's an *ugly* interface :), especially when ppl just call the function without filtering its result

HTTP does not forbid having two query par

[2017-08-15 16:32] russelldavies commented on #915
For what it's worth, `DISTINCT` is just syntactic sugar for `GROUP BY` and I think in modern versions of postgres it's even implemented using the same code. (And `DISTINCT ON` is a postgres extension from way back that's a bit of a performance hack). So @steve-chavez's conclusion is correct.

[2017-08-15 16:49] ruslantalpa commented on #328
if i think about it, my proposal i guess it's the same as `p=arg.1` without the `arg` part so reading your original comment, how it that proposal inconsistent, inconsistent with what?

most of the calls to rpcs will not be doing filtering (i think) so i think the interface i proposed is usually what one would expect (and not have to learn a special format for the `args` parameter which will get co

[2017-08-15 17:24] steve-chavez commented on #328
The inconsistency was in in the `arg.` part of `id=arg.5`, since that syntax is already used for operators `id=eq.5` in filters. One other reason of why I proposed the `args=(gender::bit.1,codename::int.13)` was to also be able to specify the type of the arg and avoid those cases of ambiguity(proc with same name different args types), and perhaps avoid having another `gender=type.bit` as it was me

[2017-08-15 22:28] PierreR opened #944 "Add postgrest to stackage LTS-9"
I say in another issue that `postgrest` was on stackage but I can't see it anymore.

Would be nice to add it.

Cheers,

[2017-08-15 22:32] PierreR commented on #944
Well I guess it is not there because both `configurator-ng` and `critbit` are not there ...

[2017-08-16 00:02] daurnimator commented on #915
I have *many* situations where I've wished for postgrest to have a distinct operator.
e.g. a table that contains events `(timestamp, device, event_type, data)`, I want the latest event for each device subject to filters such as timestamp/event_type. So how would you allow a query to be written that accomplishes this? with my proposal it would be `http://myapp.com/api/events?timestamp=lt.2017-08-08

[2017-08-16 00:22] steve-chavez commented on #915
The query would have to be behind a stored procedure/view, it's definitely necessary to use `distinct` for some cases, but as I've mentioned before exposing `distinct` unrestricted poses a threat for the database, a similar argument has been made for `group by` support in https://github.com/begriffs/postgrest/issues/158#issuecomment-223765083.

[2017-08-16 00:53] steve-chavez commented on #286
Aside from the http2 interface to implement this feature, we also need a way to restrict the cost of what could be many expensive queries/mutations in a single transaction and that way avoid the risk of clients ddosing the database.

I think this would be better enforced at the database level with a `statement_timeout` or perhaps an `explain` cost maximum, so maybe it would be better to address #2

[2017-08-16 01:48] daurnimator commented on #915
When it's behind a view/stored procedure then you can no longer support the arbitrary filters that I love above postgrest.

In that case I think it's a requirement that we include the functionality.

If you are afraid of performance issues, then perhaps we can only allow distinct when the jwt claim (or other setting?) permits it?
However I think there are already performance questions around postg

[2017-08-16 01:56] steve-chavez commented on #249
I see this as a requirement for #286, I think we need to restrict the clients api usage for that case.

I think this kind of measure would be better enabled at the database level than at the api level, say the dba needs to set the timeout for each user of the api as in:
[code]

Just gonna throw an idea here, maybe PostgREST could have a `force-timeout=true`(by default true) config param, that coul

[2017-08-16 02:26] steve-chavez commented on #915
You can create a stored procedure that `returns setof events` and apply filters like in a table see the [tests](https://github.com/begriffs/postgrest/blob/master/test/Feature/QuerySpec.hs#L516-L535), the same for a view you can create it as in: `create view distinct_devices as select distinct device, timestamp..` and do regular filters on that.

[2017-08-16 02:38] daurnimator commented on #915
But the filtering needs to happen *before* the distinct operation

[2017-08-16 07:08] docteurklein commented on #941
thanks for the pointers. I'll try it!

[2017-08-18 00:26] jlsphar commented on #937
I'm seeing this message despite an hour or two trying to solve it. Populating all envvars doesn't change the outcome for me. Running docker v0.4.2.0. @Jimexist any chance you can share your configs (dockerfile+postgrest.conf)? I've checked against various issues/docs ~ 10 or so times now.

[2017-08-18 02:38] Jimexist commented on #937
@jlsphar i'm just filling out all the envvars with values in the config then i'm all good

[2017-08-18 06:58] krueger71 opened #945 "Slow query, possibly due to regex, affects start-up time severely"
The sql-query in the function
[code]
in [src/PostgREST/DbStructure.hs](https://github.com/begriffs/postgrest/blob/build-0.4.2.0/src/PostgREST/DbStructure.hs) runs very slowly in 0.4.1.0/0.4.2.0 compared to version 0.4.0.0 and 0.3.2.0.

The single change of the query between 0.4.0.0 and 0.4.1.0/0.4.2.0 is the following expression containing a regex:

[code]
Analyzing that line further one can see t

[2017-08-18 13:07] jlsphar commented on #937
@Jimexist dang, i haven't been able to crack this shell. wish i had some haskell chops... my only experience with the language is using xmonad, a piece of software so great that i only need to play with the configuration. i'll take my issue over to gitter and see if we can't get this working :) thanks @Jimexist

[2017-08-20 11:18] bgamari commented on #601
I am also quite interested in this feature. Does the design presented above sound reasonable?

[2017-08-20 19:36] begriffs commented on #940
This has been a feature we've discussed every now and then. For instance Ruslan once created a pull request to allow stored procs to set cookies, and then we discussed generalizing to setting any kind of response header:

https://github.com/begriffs/postgrest/pull/664#issuecomment-231635405

If one of the approaches in that thread is viable I think it would be a pretty awesome feature. As you ment

[2017-08-20 22:16] allochi opened #949 "Resource Embedding is not working as stated in documentation"
Resource Embedding is not working as stated in documentation

OS: macOS 10.12.6
postgrest: 0.4.2.0

Schema
[code]

[code]

The second request returns the error
[code]

Based on https://postgrest.com/en/v4.1/api.html#resource-embedding it should work.

The way around this is to include `id` of `owners` in the select `owners(id,name)` instead of only `owners(name)`
[code]

This took me few needed ho

[2017-08-22 06:39] ruslantalpa commented on #949
it's mentioned in the docs that are not yet live
https://github.com/begriffs/postgrest-docs/blob/master/api.rst
*The primary key of the table of the resource being embedded must be specified, either explicitly, like in the example above, or implicitly through a wildcard.*

and is tracked here https://github.com/begriffs/postgrest/issues/411 although not sure when/if it will be fixed

[2017-08-22 06:39] #949 closed

[2017-08-22 10:12] fab1an opened #950 "Option to serve index.html from DB"
Minor suggestion from this issue: #190

If `postgrest` could be configured to serve *only* index.html  for`GET /` from a view in the database, many users could spare running an extra webserver.

Benefits:
* Single-page-apps are possible (javascript and images can be easily inlined nowadays, client-side hash-based routing is also a thing).
* No file-access or routing-logic necessary
* Everything st

[2017-08-24 00:36] jsvalgonc opened #951 "No information refresh"
I'm installing the Catarse application ( https://github.com/catarse/catarse) in Cloud 9 development environment and I'm having a refresh problem with Postgrest.

I update the database table(countries) . I select the data and I confirm that it had change.

Then I make a call to that the Postgrest API for that table ("\countries").

I have already check my conf file and this connected to the right d

[2017-08-24 10:59] ussernamenikita opened #952 "JWT invalid then add "exp" claim"
I run  postgrest with "secret" password. And then i build simple token it's work :
[code]
But if i add "exp" it's doesn't work:
[code]
Run postgrest on Centos 7 64 bit, version of postgrest is 0.4.2.0
Postgrest config is:
[code]

Permisions web_anon:
[code]

[2017-08-24 12:45] witsch opened #953 "Caching issue with `current_setting`?"
There seems to be some weird caching issue when trying to get header values using the `current_setting(…)` function.

I've defined the following function:
[code]

This works fine both with and without the `X-Foo` header set, except if it's called with the header first and then without it within a couple of seconds…
[code]

However, if I increase the `sleep` to 10 or more seconds, things are fine a

[2017-08-24 12:48] witsch commented on #953
I'm using version 0.4.2.0 on OSX 10.11.6 installed via 'homebrew' and I'm attaching the PostgreSQL error log of the "successful" last example, i.e. waiting 11 seconds: [pg-log.txt](https://github.com/begriffs/postgrest/files/1248837/pg-log.txt)

[2017-08-24 22:30] ruslantalpa commented on #952
exp needs to be an int, you have a string in your jwt payload

[2017-08-24 22:30] #952 closed

[2017-08-25 02:43] begriffs commented on #952
Also, I know the docs are misleading on this point. It's been fixed on the master branch of docs and will appear in the next version.

[2017-08-25 05:37] ussernamenikita commented on #952
Thank you very much.

[2017-08-26 09:41] ruslantalpa opened #954 "OpenAPI output depends on the user making the request. Is this correct?"
**TL;DR**
While for tables, the swagger output considers the privileges of the user making the request
https://github.com/begriffs/postgrest/blob/master/src/PostgREST/DbStructure.hs#L208-L210
when it comes to stored procedures, it does not
https://github.com/begriffs/postgrest/blob/master/src/PostgREST/DbStructure.hs#L156-L170
This is inconsistent and should be fixed.

This thing came up in gitter

[2017-08-26 11:29] litriv commented on #954
Thanks again @ruslantalpa for looking into this !  No need to apologize over not noticing the inconsistency - it was a fair assumption to make and I could have taken a closer look at the SQL query myself too. No harm was caused and thanks for your time :)

I'm for option A.  I don't have any strong arguments in support of B.

The only thing that sort of briefly poped into my head before being disc

[2017-08-26 12:41] ruslantalpa commented on #953
Please post here the script that is doing the requests, its output (with timestamps preferably) then the db log for the entire period, with success     And errors

[2017-08-26 19:35] ruslantalpa commented on #951
Postgrest does not do any caching, is there some kind of transparent proxy in in cloud9?

try using something liek postman, and for each request, try have ing a custom random header like `X-Random-Header: 234234`  and see if somehow making each request unique makes the proxy behave

i am not familiar with could9 but one more thing you could check is to make sure that each request that you make act

[2017-08-26 19:58] ruslantalpa commented on #950
**In regard to this particular request:**
`/` is reserved for openapi, having a configuration change the route behaviour would be an inconsistency.

One could probably create a RPC that responds with `HTML` and the only thing needed in postgrest would be to reply with a different content-type header and it should work.

There is a desire to have a feature where an RPC could control  the reply head

[2017-08-26 19:58] #950 closed

[2017-08-26 20:00] ruslantalpa commented on #936
even the 4.2 image has problems if you use env vars and not a mapped config file.
next week we should have 4.3 out and along with it a correct docker image

[2017-08-26 20:00] #936 closed

[2017-08-26 20:07] ruslantalpa commented on #928
I think when you say "impossible" you actually mean you encountered an error
that is because ab is related to a in 2 diffrent ways, and where (was) no way to say which link to use, but that got added by this PR https://github.com/begriffs/postgrest/pull/918
which is in master but unreleased yet. i think this is what you are looking for.

I'll close, please reopen if that does not solve your case

[2017-08-26 20:07] #928 closed

[2017-08-26 20:14] ruslantalpa commented on #915
There will always be a fight between the two opposing needs expose more sql features vs protecting the database, striking the balance is hard. in this particular thread i am with @steve-chavez for now.

No if features like this http://www.databasesoup.com/2015/02/why-you-might-need-statementcostlimit.html make it into the core, we might relax a bit and expose more of the sql, in that situation i w

[2017-08-26 20:17] ruslantalpa commented on #902
for 4.3 we'll switch to an autobuild script #923 which has centos6 as a target

[2017-08-26 20:17] #902 closed

[2017-08-26 20:21] ruslantalpa commented on #896
@begriffs i think all the issues related to env vars and configs were fixed by your 2 PRs
(comment/reopen if not so)

[2017-08-26 20:21] #896 closed

[2017-08-26 20:22] ruslantalpa commented on #868
this auto reconnect feature was implemented and is in 4.2 already i think.

[2017-08-26 20:22] #868 closed

[2017-08-26 20:30] ruslantalpa commented on #601
@bgamari @NikolayS it sounds reasonable, with a small change.
in this recent PR https://github.com/begriffs/postgrest/pull/938 we made a small change and renamed `@@` to `fts` (full text search), the old operator is still supported but deprecated.

We already have a thing like `col=eq.2` and `col=not.eq.2`
we could have the same thing with fts like `col=english.fts.apple` although it kind of makes

[2017-08-26 20:35] ruslantalpa commented on #601
there is also a related issue here https://github.com/begriffs/postgrest/issues/887

[2017-08-26 20:53] ruslantalpa commented on #823
Could it be that the views in question are related in two different ways and you are hitting that problme and the name is not a problem?
the reason i think that is because it starts to work when books view is dropped.

i added a pr recently https://github.com/begriffs/postgrest/pull/918 that deals with specifying the exact fk's to use when going the embedding.

can you try the same query with all

[2017-08-26 20:57] ruslantalpa commented on #562
this is a duplicate of #823
please reopen if not so

[2017-08-26 20:57] #562 closed

[2017-08-26 21:00] ruslantalpa commented on #542
duplicate of #601

[2017-08-26 21:00] #542 closed

[2017-08-27 01:47] daurnimator commented on #915
This is probably my *most* wanted feature; and it certainly gets requested a lot in the chat room.

Perhaps we could have a toggle in the config file `allow_distinct` for the performance concerned?

[2017-08-27 02:22] bgamari commented on #601
An index of the Wikipedia link graph for use in information retrieval research. Indeed, we will also have multiple languages and the query language will be determined at runtime.

[2017-08-27 02:48] NikolayS commented on #601
`to_tsquery` supports its own "micro language", which includes NOT "operator", see https://www.postgresql.org/docs/current/static/datatype-textsearch.html#DATATYPE-TSQUERY:

It would be awesome to support all this. I'll think how the mapping between URI and tsquery would look like.

[2017-08-27 03:22] steve-chavez commented on #915
@ruslantalpa I also think that the idea of the cost limit is a good one, though is not that [reliable](https://stackoverflow.com/questions/21154780/how-reliable-is-the-cost-measurement-in-postgresql-explain-plan) a max limit could be worked out, that also is a must for other features like multiple requests in a transaction, I made a related comment on "Customize query timeouts" #249, maybe we shou

[2017-08-27 09:27] fab1an commented on #950
I agree that you shouldn't break OpenAPI compliance for this.

It's not only useful for prototyping. In small business there are many many
projects that only ever see 5-50 users, you don't need nginx for that.

Docker config is already too complex for such users. More complex than
having one binary + one config file on a machine.

On Saturday, 26 August 2017, Ruslan Talpa <notifications@github.com

[2017-08-27 13:45] russelldavies commented on #915
@daurnimator Have you had a look at [pREST](https://github.com/prest/prest)? It exposes more SQL directly, at the cost of potential performance issues, so may satisfy your `DISTINCT` needs via its `GROUP BY` support.

[2017-08-27 22:55] russelldavies opened #955 "JWT verification fails with audience claim"
In the [jose](https://hackage.haskell.org/package/jose) library if the `aud` claim is present in the JWT then during verification it validates this claim.

Currently, there is no way to disable this or set the audience claim so verification is unsuccessful. Specifically, the `JWTNotInAudience` message is generated during JWT verification.

[2017-08-27 22:59] begriffs commented on #955
Can you provide more information please, such as the http request and error message?

[2017-08-27 23:01] russelldavies commented on #955
@begriffs I accidentally tabbed and hit return and the form posted before I had a chance to finish typing. I've edited it now.

[2017-08-27 23:03] begriffs commented on #955
Oh man that sounds bad, so if `aud` is present then it just lets any claim through??

[2017-08-27 23:11] russelldavies commented on #955
Not at all, it just fails with a `JWTNotInAudience` error. In the `defaultJWTValidationSettings` unless the `aud` claim is set to what is in the JWT `aud` claim then the JWT is rejected.

So a solution is to either disable this check or to instruct the jose library what the audience to check should be, through the postgrest configuration file.

[2017-08-28 13:40] daurnimator opened #956 "Computed columns don't show up in swagger output"

[2017-08-28 21:23] nobless opened #957 "support for debian or windows x32"
Hello, plans for supporting debian or windows x32 ?

[2017-08-29 11:16] ruslantalpa commented on #957
Once this PR https://github.com/begriffs/postgrest/pull/923 is merged next week, it will be relatively trivial to add other linux distros as long as there are base docker images for them and they are supported by haskell/stack.

You can check the status of the PR in a week or so, then submit a new PR with additional changes to those scripts to build the platforms you want (it's a matter of a few b

[2017-08-29 11:16] #957 closed

[2017-08-30 14:30] ruslantalpa commented on #945
@krueger71 can you attach a sample (big) schema that exposes this problem?
you can try your schema and rename to gibberish all the table/column names.
the important part is to see how this query performs on the schema

[2017-08-30 16:49] ACPK opened #958 "Multiple Databases"
Is it possible to connect multiple PostgreSQL databases to one Postgrest server?

[2017-08-30 17:07] ruslantalpa commented on #958
No, and that is because postgrest is the wrong place to implement this.

The way to do it is to have postgresql/postgrest pairs (on different ports) and then put a reverse proxy in front (nginx) and do the routing there.

It's far more flexible the then postgrest could ever be if it implemented this.

[2017-08-30 17:43] ACPK commented on #958
@ruslantalpa - Thanks for the quick response! Do you have an example of what the reserve proxy would look like?

[2017-08-30 17:56] ACPK opened #959 "Heroku database rather than RDS"
Has anyone found a way to use Postgrest with a Heroku PostgreSQL database?

[2017-08-30 17:56] ruslantalpa commented on #958
https://postgrest.com/en/v4.1/admin.html#hardening-postgrest

https://github.com/subzerocloud/postgrest-starter-kit/blob/master/openresty/nginx/conf/includes/http/server/locations/internal_rest.conf

[2017-08-30 17:56] #958 closed

[2017-08-30 18:09] ruslantalpa commented on #959
Postgrest uses database roles to manage access/security and since heroku does not allow multiple users https://devcenter.heroku.com/articles/heroku-postgresql#connection-permissions if you expose it directly with postgrest, api users will have the same level of access as your db admin users, i.e. not possible, unless you put some kind of proxy in front and manage the security yourself.

PS: this i

[2017-08-30 18:09] #959 closed

[2017-08-30 18:13] will-ob commented on #906
Details ++

Overview
-------------------

Things are getting rowdy over at Auth0, but it’s all in the name of progress.

In order to bring their authentication process in line with published standards, Auth0 is making an effort to push people to a new authentication flow. A recent change, noted in [this memo](https://support.auth0.com/notifications/59a48d15ecfc320008bea3f1), makes the new flow the

[2017-08-30 18:18] ACPK commented on #959
@ruslantalpa - How often do people search Gitter's history? I've always used Github issues, even for questions, as I always try to search the Github repo for the answer before asking a question.

[2017-08-30 18:20] will-ob commented on #955
^^ So,
[code]
That sounds like it wouldn't break anything for existing deployments.

[2017-08-30 19:18] ruslantalpa commented on #959
i'm not sure, maybe you are right, there is no hard rule/correct way.
My comment was more based on this logic (although not necessarily correct)

- since it's neither an issue/bug/feature request, it's more of a question on how to do a certain thing, as such, the task/question is not very well defined, so it's more of an exploration, a situation where a interactive discussion is better.
- managing

[2017-08-30 19:21] ACPK commented on #959
@ruslantalpa - Traditionally, I see Github issues (as it is an issue for the person posting it as explained by one of my friends at Github) are labeled as questions, bugs, features, etc. Maybe there's a tool to automate that step.

[2017-08-30 19:25] ruslantalpa commented on #906
@will-ob great research, helps A LOT with implementing this compatibility
Well done, this will surely speed things up 👍

[2017-08-30 22:18] cbandy commented on #945
The change made matching on `vcu.table_schema` optional. If that's okay, then I think we can just remove this group completely. The preceding `.*?` will cover it, and only the column name and alias are needed from the captures.

[2017-08-31 15:17] BrandonChubb opened #960 "Self-referencing foreign keys with resource embedding works in only one direction"
It seems that queries with resource embedding work differently if using SRFKs:

testdb=# create table family_tree (
testdb(# id text not null primary key,
testdb(# name text not null,
testdb(# parent text);
CREATE TABLE
testdb=# alter table only family_tree add constraint pptr foreign key (parent)
testdb-# references family_tree(id);
ALTER TABLE
testdb=# insert into family_tree values ('1', 'Paren

[2017-09-01 16:07] will-ob commented on #906
@ruslantalpa of course :)
I think `aud` will be figured out shortly in #955. So really, if we want to go forward with supporting Auth0, the only decision here is to decide how role information will be passed.

In `scope`, or in a configurable claim like `https://mypgst/role`, are the two options that jumped out at me.

Most of the work will be in updating the documentation, I suspect.

[2017-09-02 21:11] posix4e commented on #906
So excited that y'all are working on this.
On Fri, Sep 1, 2017 at 9:07 AM will-ob <notifications@github.com> wrote:

[2017-09-03 15:27] yeedle opened #961 "Partitioned table causes 500 internal server error"
I have a partitioned table (using [the approach described in the docs](https://www.postgresql.org/docs/9.6/static/ddl-partitioning.html), with an empty "master" table, tables inheriting from the master table, and a trigger to redirect INSERTs to the appropriate child table). I have no problem inserting into child tables directly, but when inserting into the master table, I get a 500 response, with

[2017-09-03 15:38] ruslantalpa commented on #961
@Yeedle postgrest does nothing more than generate queries and execute them.
turn on query loging on your database and observe the postgrest generated query that fails and paste it here if you can't figure out the problem

[2017-09-03 17:00] begriffs commented on #961
Also if you're not familiar with how to get verbose postgresql logs, we have a section in the docs to help - https://postgrest.com/en/v4.1/admin.html#debugging

[2017-09-03 17:14] Yeedle commented on #961
Here are the results from `postgrest.log`.

The database name is `yeedle`. The following is the DDL I used to set up the schema and tables:

[code]

I then created a function and a trigger as follows:

[code]

I should add that adding to the master table via psql works perfectly fine with no problems. Using a POST request with the following body:

[code]

produces an error.
[code]

[2017-09-03 18:56] ruslantalpa commented on #961
i think i know what's the problem, your trigger needs to do
`return new` or something like that

try to do a manual query like
insert .... into master returning * ...
and i bet the result will be a null instead of the row you just inserted.

you need to fix your trigger so that inserting with returning works the same way when you insert in a simple table

(pls confirm that's the problem then close

[2017-09-03 21:17] yeedle commented on #961
You are right about that. changing `return null` to `return new` fixes the issue, but I'm not sure it's a complete solution, since the return value of the function gets inserted into the master table. The idea of partitioning is to keep the master table empty and only insert the value in the appropriate child table, which is why the documentation suggest returning null in the first place.

After l

[2017-09-03 21:17] #961 closed

[2017-09-04 05:50] ruslantalpa commented on #961
try sending the header
`Prefer: return=minimal`
https://postgrest.com/en/v4.1/api.html#insertions-updates

[2017-09-04 13:31] fab1an commented on #828
I just stumbled over the same problem with latest version. I think that the cleanest way overall would be to do `set schema '<appschema>'` (which is completely equivalent to `set search_path='<appschema>'`).

Maybe in the future, if that's feasable, postgrest should drop all custom schema referencing (which could break by weird database-configurations anyway) and just do a `set schema` do enforce

[2017-09-04 22:33] nlefler commented on #870
I believe I'm running into this issue as well on select. Here are two tables that illustrate the issue. The tables were created by https://github.com/jinzhu/gorm but the foreign key relation was added by hand.

[code]

[code]

[code]

[code]

[2017-09-05 06:17] ruslantalpa commented on #870
@nlefler your problem has nothing to do with this one
2 things
- use `()` instead of `{}` in select.
- when embedding parents, always include the primary key, i.e `&select=...,places(id,name)` (actually, always include the primary key for all object)

[2017-09-05 11:29] nlefler commented on #870
@ruslantalpa thanks for the help, including `id` in the select does fix my issue.

[2017-09-06 04:07] begriffs commented on #906
It appears that the [scope](https://auth0.com/docs/scopes/current#api-scopes) claim encodes which actions (read/write/delete) are permitted on which API endpoints. In PostgREST this is managed inside the database and cannot be specified by the client except indirectly by identifying the desired database role. Therefore I think using a custom claim is more appropriate for specifying the role.

As f

[2017-09-06 04:15] begriffs commented on #955
Yeah sounds straightforward. I'll open a PR to implement this.

[2017-09-06 04:57] ruslantalpa commented on #906
@begriffs or forget all of that, and just provide a config value like
`role-claim-key = 'role'`
where the default is the old name (backward compatible) and then each user can choose his own custom key (be that url or anything else)

[2017-09-06 05:14] begriffs commented on #906
That sounds nice, just let them use whatever they want. 👍

[2017-09-06 09:07] ruslantalpa opened #962 "Confusing error when requestion `/` openapi and `api` schema missing"
in `accessibleTables` (or somewhere in that region) because we expect at least a few tables or rpcs there, we get a strange error when it's an empty database

error is `{"details":0,"message":"Unexpected amount of rows"}`

to reproduce it, connect to an empty database (only authenticator/anonymous roles are created)

[2017-09-06 14:52] steve-chavez commented on #887
The `phraseto_tsquery` function is only available starting from PostgreSQL 9.6, I realized this while testing the feature in CircleCI https://circleci.com/gh/steve-chavez/postgrest/409, should we increase the required PostgreSQL version to implement this feature?

[2017-09-06 16:44] will-ob commented on #906
That makes sense to me :+1:

It does not. It actually doesn't even allow `.` periods in the 'domain name' oddly enough

I like this. Especially if `role` is the default value. Then existing postgrest users need not worry about additional configuration.

With 10k stargazers, Okta or Keycloak might invest some engineering attention themselves. This would be a great opportunity for them to expand the

[2017-09-06 17:51] ruslantalpa commented on #887
i would say no, let this feature be present and if used in <9.6 let the query fail.
as for tests in circle, if we can't get 9.6 there, then just mark the specific tests as pending (after testing offline with 9.6) and leave them pending until there is 9.6 in circle

[2017-09-07 06:58] ilovezfs opened #965 "0.4.3.0 fails to build due to problems with Auth.hs"
[code]
Full build log is here: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/8122/version=el_capitan/console

Tested with postgrest.cabal with 8.2.1 and 8.0.2.

[code]
[code]

[2017-09-07 07:46] abhinaycha opened #966 "How to convert pl/sql AES code to postgreSQL AES"
declare
   input_string       VARCHAR2 (200) := 'Secret Message';
   output_string      VARCHAR2 (200);
   encrypted_raw      RAW (2000);             -- stores encrypted binary text
   decrypted_raw      RAW (2000);             -- stores decrypted binary text
   num_key_bytes      NUMBER := 256/8;        -- key length 256 bits (32 bytes)
   key_bytes_raw      RAW (32);               -- stores 256-

[2017-09-07 09:14] ruslantalpa commented on #966
this is not a repo for the PostgreSQL database server, this is PostgREST.
the question has nothing to do with this repo

[2017-09-07 09:14] #966 closed

[2017-09-08 18:16] #965 closed

[2017-09-09 15:17] #887 closed

[2017-09-09 15:31] #601 closed

[2017-09-10 00:31] begriffs commented on #898
Now documented in https://postgrest.com/en/v4.3/install.html

[2017-09-10 01:23] begriffs commented on #899
Note: I documented the special host binding values in https://postgrest.com/en/v4.3/install.html#configuration

[2017-09-10 20:15] StefanScott opened #969 "Is it possible use "Resource Embedding" to INSERT related parent and child records in a _single_ POST request?"
I am very impressed with PostgREST! Currently, I am attempting to build a simple CRUD front-end (in Elm) - also using Postman (plus Postman Interceptor) to formulate and monitor API requests and responses.

I have successfully used PostgREST's "Resource Embedding" with a _GET_ request - to return _multiple_ "child" records for each "parent" record in the JSON response, using a _single_ GET request

[2017-09-10 21:00] ruslantalpa commented on #969
Not possible.

[2017-09-11 07:39] ruslantalpa commented on #969
a bit more info here https://github.com/begriffs/postgrest/issues/667#issuecomment-231573405

[2017-09-11 07:39] #969 closed

[2017-09-12 03:40] steve-chavez commented on #962
Only a nonexistent schema setup in the config file as in `db-schema = "nonexistent"` was required to reproduce the error, disregarding the roles or if the database had other tables/schemas.

[2017-09-12 05:10] steve-chavez commented on #954
I think that B) would be the right choice because:

I believe that [Obscurity is a Valid Security Layer](https://danielmiessler.com/study/security-by-obscurity) and in more conservative environments, like government IT departments with data governance managers and so, it may be a hard requirement not to show frontend devs all the available tables/views/functions in a schema for "security reasons"(

[2017-09-13 10:41] ruslantalpa commented on #954
@steve-chavez good points,
if we go with option B (as I see you've already implemented) how would you configure a system so that all endpoints are visible (auto docs) regardless of who is requesting /

[2017-09-13 13:23] kishyr opened #971 "Swagger/OpenAPI JSON only contains RPC endpoints"
Hi,

I'm trying to figure out how to access the full OpenAPI docs for the database that I've built. When I access `http://localhost:3000/` or `http://localhost:8080/rest/` all I get back are the custom RPC calls that I've created.

I've set my `Accept` header to `application/openapi+json` when making these requests.

Is there a way to get the full database spec for use in Swagger-UI?

Thanks

[2017-09-13 13:42] ruslantalpa commented on #971
@kishyr the opneapi output depends on the privileges of the user making the request, you need to send also a jwt token

the fact that you see the RPCs is a bug that is being fixed in #970

[2017-09-13 13:42] #971 closed

[2017-09-13 14:52] kishyr commented on #971
Thanks, it works! This is just what I needed

[2017-09-13 16:31] steve-chavez commented on #954
I think that's something that'll most likely be needed on a local development environment, if the developer wants to use the full Swagger UI output while doing features then he could run PostgREST with a maximum privileged anonymous role like `db-anon-role="postgres/${whoami}"` then for his tests switch the `db-anon-role` to the only login role `anonymous`.

If something like that is needed for a

[2017-09-13 17:38] ACPK opened #972 "Question: Passing Variable to a View statement"
How would I pass a variable to a SQL view using Postgrest? For example, I need to pass it the line below that is inside of a group by:

    WHERE portfolio_id in (73, 74)

[2017-09-13 23:25] steve-chavez commented on #411
This happens only in `Parent` embeds because when detecting this relation PostgREST executes a different [sql query](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L259)(doing explicit joins) than the queries used for the `Child` and `Many to Many` embeds(they use implicit joins), a way I see to fix this is to change the Parent query to a query similar to the other

[2017-09-13 23:37] ruslantalpa commented on #411
i am completley against that.
having to request and aditional filed is a minor inconvinience.
a drop in performance by 100 is a big problem.

the direction should be how do we make child embeds faster, not the other way arround.

it would be mich better to make it so that if the user requests a parent without an id, we automatically add the id to the select so that we do not generate a bad query,

[2017-09-14 00:48] steve-chavez commented on #411
I mentioned that the complete solution will have all the embedding queries doing explicit joins(lowest costs).

[2017-09-14 01:00] ruslantalpa commented on #411
but dont we have that right now with parrent embedding, and in this type of join, you need the id,
and seccond, i don't think you can do explicit joins for everything because that would be a "flat" thing, so there is no tree like structure/recursive nature to the query which you need.

I mean you are welcome to try :) and even if you are doing this for one level (up or down) think how it will work

[2017-09-14 11:53] amaurymartiny commented on #223
@begriffs Ok for adding computed columns, pretty easy. However how would I do inserts?

This is an example query:
[code]

Would be nice to be able to `POST /countries` with a GeoJSON object.

[2017-09-14 11:58] ruslantalpa commented on #223
before insert trigger
NEW.the_geom = _GeomFromGeoJSON(NEW.the_geom)

[2017-09-14 15:07] statik opened #973 "Release 0.4.3 to dockerhub?"
Hi!

I am excited about the 0.4.3 release because #567 means that I can use postgrest with Keycloak. I have been using postgrest via the docker images published at https://hub.docker.com/r/begriffs/postgrest/tags/, but I don't see any tag for 0.4.3. Could you push the new release to dockerhub as well?

Thank you for postgrest, it's a very useful tool.

[2017-09-14 15:20] statik commented on #973
I have now found https://hub.docker.com/r/postgrest/postgrest/tags/ which has 0.4.3. This repo doesn't show up until the 4th page of results on dockerhub when searching for postgrest, but I'm sure that will improve over time as we start using it.

I think this issue can be closed, but perhaps a sentence could be added to the top of the description for https://hub.docker.com/r/begriffs/postgrest/ p

[2017-09-14 15:24] begriffs commented on #973
Good idea, I'll make a note to add that message, and will close this issue when it's done. Even better would be if dockerhub allows me to set up a redirect from the old repo to the new one, but don't know if dockerhub can do that.

[2017-09-14 20:07] Jacob-Kroeze opened #974 "rpc function(with OUT parameters) must have return named same as function name"
If I have a function
`create function my_rpc( foo int, OUT bar text)`
I get an error like this
`{
  "details": "Row number 0",
  "message": "Row error: unexpected null"
}`
The function works if the OUT parameter is named the same as the function (which is a nice practice anyway). So this works:
`create function my_rpc( foo int, OUT my_rpc text)`

[2017-09-14 20:09] ruslantalpa commented on #974
paste a sample function (working/nonworking) and the full query that generates that error

[2017-09-15 14:24] statik commented on #955
I've managed to configure postgrest 0.4.3 with a JWK retrieved from keycloak, and specify a custom mapper in keycloak so that I can force a "role" claim to be included in the JWT to satisfy postgrest. However, I'm now running into the error JWTNotInAudience from postgrest. I have not been able to find any way to configure keycloak to leave the "aud" claim out of the JWT, so I think the workaround

[2017-09-15 16:04] rvernica commented on #973
*postgrest/postgrest* is indeed very hard to find on Docker Hub. Another aspect that might help with its visibility is to have the repository build automatically from source.

[2017-09-15 18:45] rvernica opened #976 "Clarify secret/token wording in Tutorial 1"
The wording in *Step 2. Make a Secret* and *Step 3. Sign a Token* of [Tutorial 1](https://postgrest.com/en/v4.3/tutorials/tut1.html#step-2-make-a-secret) is a bit unclear.

1.

It's unclear who the three parties us: *clients*, *server*, and *us*. Aren't we the *client* in this tutorial?

In a real scenario, I would guess that the clients authenticate with an authentication service which generates

[2017-09-15 22:03] rvernica opened #977 "JWSError JWSInvalidSignature"
It does not seem that the JSON Web Token verification works as intended or maybe the documentation is outdated. I am getting a `401` `JWSError JWSInvalidSignature` on the `POST` requests with authorization token.

I followed [Tutorial 0](https://postgrest.com/en/v4.3/tutorials/tut0.html) and [Tutorial 1](https://postgrest.com/en/v4.3/tutorials/tut1.html) word-by-word and this is what I get:

[code

[2017-09-15 22:20] begriffs commented on #977
In v4.3 we require a secret of at least 32 characters. See if that helps, and we can update the docs. Thanks for your report.

[2017-09-15 22:46] rvernica commented on #977
I secret of 32 characters works. Thanks.

[2017-09-18 00:29] titomarifrancis opened #979 "Middleware-level data encryption"
With PostgREST encrypting data before it is written to and decrypting data read from the database, the data in the database is secured even from the DBA for confidentiality. The encryption/decryption key can be part of the PostgREST configuration.

[2017-09-18 12:52] russelldavies commented on #906
I think specifying a config value as @ruslantalpa suggested is the best approach. However, I'd like it to be flexible enough to handle whatever the structure of the JWT (not just a top level claim key). To do this, I think using [jspath](http://hackage.haskell.org/package/jspath) would be a good choice.

So if you want to select the top level key "role" (the default) you could specify it as:

[2017-09-19 00:01] Jacob-Kroeze commented on #974
I see, this is hard to replicate. I'll try again tomorrow! Here is the shape of the function that led me to submit the issue.
`create or replace function v1.save_facts(tbl text, ref text, val jsonb, timeagg text DEFAULT NULL::text, ef_at timestamp with time zone DEFAULT now(), txtime timestamp with time zone DEFAULT now(), add boolean DEFAULT true, OUT result jsonb) returns jsonb
LANGUAGE SQL
AS $

[2017-09-19 01:05] statik commented on #906
I do like the idea of being able to specify the path. As an example, here is how keycloak exposes roles for realms and for clients (where I was specifically configuring a "member" role in keycloak that I want to line up with the member role I defined in postgrest):
[code]

[2017-09-19 09:25] ruslantalpa commented on #979
for now there is no near future plan for this especially since this is a very very edge case of working with the database.

I can see this asa way to encrypt passwords that end up in the database (and you can encrypt them before they reach postgrest at the proxy level) but to encrypt every single field, i don't see the point in that mainly because i do not see how one would use the database (write

[2017-09-19 09:25] #979 closed

[2017-09-19 09:28] #977 closed

[2017-09-19 10:44] russelldavies commented on #906
@statik I also use Keycloak so this is exactly the reason I suggested it although I was also thinking about other systems.

[2017-09-19 14:11] ruslantalpa commented on #953
reopen if you can replicate and paste the log here

[2017-09-19 14:11] #953 closed

[2017-09-19 14:12] #930 closed

[2017-09-19 14:42] ruslantalpa commented on #328
the original issue was about some error but it diverged into this rpc/get thing which was implemented so closing this.
if the issue about incorrect query being generated still persists, a new issue should be opened, this one dragged on for too long :)

[2017-09-19 14:42] #328 closed

[2017-09-19 15:06] ruslantalpa commented on #905
this is either a firewall issue. closing until more detail is givevn

[2017-09-19 15:09] ruslantalpa commented on #876
4.3 has a lot of new stuff related to jwt which probably fixes this (since you can use base64 to encode it)

[2017-09-19 15:12] ruslantalpa commented on #870
i am not sure the problem here is the underscores, you might have hit an issue with tables being related in multiple ways which was addressed in a previous pr.

if you still have this issue, please provide a sample schema and request that reproduces the error

[2017-09-19 15:12] #870 closed

[2017-09-19 15:14] ruslantalpa commented on #867
we now have an automated release script. you could add a PR to build the alpine specific binary and docker.

[2017-09-19 15:15] ruslantalpa commented on #867
a PR would be welcomed.

[2017-09-19 15:15] #867 closed

[2017-09-19 15:17] ruslantalpa commented on #846
@bradleyf  We now have an automated build process for release here https://github.com/begriffs/postgrest/blob/master/.circleci/config.yml

if you figure out how to build for ARM, a PR would be welcomed

[2017-09-19 15:17] #846 closed

[2017-09-19 15:21] ruslantalpa commented on #823
please reopen if the fix added in #918 does not work (it's included in 4.3)

[2017-09-19 15:21] #823 closed

[2017-09-19 15:24] ruslantalpa commented on #621
i think the way we are using CTE now does not hurt the performance so i'll close this for now

[2017-09-19 15:26] ruslantalpa commented on #730
we now have automated release build (in docker :) )

[2017-09-19 15:26] #730 closed

[2017-09-19 15:28] ruslantalpa commented on #566
please try the 4.3 relaase in docker `postgrest/postgrest` and see if it works there.

[2017-09-19 15:28] #566 closed

[2017-09-19 17:01] NikolayS commented on #621
The thing is related not only to performance.

Yes, CTEs are optimization fences and in some cases lead to bad plans chosen, but what I'm more concerned about is that PostgREST now cannot be used with Citus tables, because Citus doesn't work with CTEs: https://docs.citusdata.com/en/v7.0/faq/faq.html?highlight=cte#are-there-any-postgresql-features-not-supported-by-citus

This might be the case for

[2017-09-19 18:28] ruslantalpa commented on #621
Agree, good reason to reopen and try removing the cte

[2017-09-19 18:30] ruslantalpa commented on #621
@begriffs could you ask citus if they would look at our current query (we'll provide a schema and query) and suggest a new one that would work with citus?

[2017-09-20 02:36] begriffs commented on #621
I wrote the FAQ entry you linked to actually, and most of the Citus docs. 😛

Citus supports CTEs when it can determine that the query can be run in a single node of a database cluster. The problems happen when more complicated queries like CTEs must access data on multiple nodes.

Queries get run on a single Citus node when they filter a distributed table by its distribution column. This happens m

[2017-09-20 04:23] begriffs commented on #976
Thanks for the suggestions! I'll fix up the tutorial and clarify the sloppy writing.

[2017-09-20 14:09] ryanfmurphy commented on #950
Hi @ruslantalpa, I agree with @fab1an that there is something to be said for the simplicity of the single web server, and docker is overkill for what some people want to do.

Besides, it's pretty sweet having a fast webserver in Haskell that's specially designed to talk well/fast with Postgres!  It's a shame to necessarily have to tell Nginx how to do a similar connection to Postgres on the side j

[2017-09-21 09:37] litriv commented on #954
Actually, i am leaning towards B, as the front-end dev on my team is finding it useful to have the OpenAPI spec restricted according to a specific user's privileges.

[2017-09-21 10:02] litriv opened #981 "column level privileges are not reflected in swagger UI"
would be nice to have the OpenAPI spec reflect column level privileges.  i'll take this on once #954 had been merged

[2017-09-22 14:57] eric-brechemier commented on #876
@ruslantalpa I'll uncomment the unit tests and check then ;)

[2017-09-22 15:40] wildsurfer opened #982 "Automated builds at Docker Hub are broken"
Automated build at Docker Hub seems to be broken. Version `v0.4.3.0` is released but still not there.

![screenshot at sep 22 18-36-47](https://user-images.githubusercontent.com/1456389/30752524-35624048-9fc5-11e7-81c6-3356ef10f64d.png)

[2017-09-22 16:27] ruslantalpa commented on #982
It's at postgrest/postgrest

[2017-09-22 16:30] #982 closed

[2017-09-22 16:31] wildsurfer commented on #982
Good to know! Thanks :)

[2017-09-22 17:02] wildsurfer opened #983 "FatalError. Malformed proxy uri"
This bug seems to be related to merge request #968. It says that issue is fixed but it isn't.

When I try to run `postgrest/postgrest:v0.4.3.0` I face with issue:

[code]

Here is a quick repo that will help to reproduce the issue:

[code]

[2017-09-22 17:12] wildsurfer commented on #983
Same is happening for `postgrest/postgrest:latest`

[2017-09-22 17:12] ruslantalpa commented on #983
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/docker-compose.yml#L47

[2017-09-22 17:12] #983 closed

[2017-09-22 17:19] wildsurfer commented on #983
@ruslantalpa, would you be so kind to provide some explanations? Should I add this env variable to my code? If so, what is a value for it? I'm not using any proxies.

[2017-09-22 17:22] ruslantalpa commented on #983
yes, add it, make it the same as the url where you'll be accessing it, probably `http://localhost:3000`
(this is temporary until 4.4)

[2017-09-22 17:31] wildsurfer commented on #983
As far as I see in docs `server-proxy-uri` is no required to be set. Is this an issue in docs?

![screenshot at sep 22 20-29-42](https://user-images.githubusercontent.com/1456389/30756875-0610f8f6-9fd5-11e7-9d6a-227269068833.png)

[2017-09-22 17:32] eric-brechemier commented on #876
@ruslantalpa the tests still fail in v0.4.3.0:

[code]
Please reopen.

[2017-09-22 18:01] wildsurfer commented on #983
Oops, I missed end of your last message `(this is temporary until 4.4)`. Thanks for explanation. Now it is clear for me

[2017-09-22 18:37] ruslantalpa commented on #876
so do your tests show that the secret from file works as long as it's text/base64 and only raw binary does not work?
do we really need to support binary if binary as base64 works?

[2017-09-22 18:39] ruslantalpa commented on #983
it is a issue with the docker image, if you do not pass the var, it sends to the exacutable an empty string, which is not the same as missing param and the 4.3 binary tries to parse an empty string as a url. in 4.4 the binary will consider an empty string as a missing param

[2017-09-22 19:57] eric-brechemier commented on #876
No: the failed tests number 2, 4 and 6 show that text secrets are read incorrectly when the file ends with a newline.

[code]

I, personally, would be fine with a requirement for secret files to be encoded in base64. If other types of encodings are allowed, there is some work left.

[2017-09-22 20:36] ACPK opened #984 "Heroku -Postgres Roles"
With Heroku's Postgres roles, can we now use Heroku' Postgres private spaces rather than RDS?

https://devcenter.heroku.com/articles/heroku-postgresql-credentials

 Note: Heroku Postgres credentials are available only to production-class plans (Standard, Premium, Private, and Shield) on Postgres 9.6 and above. Hobby-tier plans include only the default credential, which cannot create other credenti

[2017-09-23 18:02] ruslantalpa commented on #876
for 2,4,6 i actually consider that to be the correct behaviour. The moment you start disregarding `\n` it means you have a specific file format.
The file should contain the secret in the same way you define that secret in the postgrest.conf file, i.e. if you do not write `secret="somesecre\n"` and expect the new line to be ignored, then don't do it in the file either, i.e. everything in the file i

[2017-09-25 08:33] eric-brechemier commented on #876
Not really. This would go against Unix conventions:

* [Why should text files end with a newline?](https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline)

See also the discussion related to the end of line at the end of base64 files:
https://github.com/begriffs/postgrest/issues/877#issue-229784129

Obviously not, because it is
1. visible, escaped as `\n`
2. explicit,

[2017-09-25 16:41] barbalex opened #985 "PostgREST not switching to the database role of the JWT role claim"
Sorry for bugging as this is most likely just me getting everything wrong :-(

I tried to follow the auth documentation (https://postgrest.com/en/v4.3/auth.html).

Result:

- the post to /rpc/login returns a valid token that contains everything I wanted to have in it (tested on https://jwt.io) :-)
- when I use `db-anon-role = "anon"` in `postgrest.conf`, the next call to the api after posting the

[2017-09-25 17:18] ruslantalpa commented on #985
in the docs we call it `authenticator` role because it's the role with which postgrest authenticates itself to the db, hence, that role is defined in the connection string `db-uri`

never use with postgrest a `superuser` role like `postgres`, you need to create a separate role which does not have any privileges

although this is a docker based setup, you can still look at how things are setup, so,

[2017-09-25 17:18] #985 closed

[2017-09-25 20:12] barbalex commented on #985
thanks a lot for helping

I changed `postggrest.conf` now to:

    db-uri = "postgres://authenticator:authenticator_secret@localhost:5432/apflora"
    db-schema = "apflora"
    db-anon-role = "anon"
    server-port = 4001
    jwt-secret = "jwt_secret"

And have these roles (ignore the ones prefixed with org_ - they stem from a different database):
![roles](https://user-images.githubusercontent.com

[2017-09-26 06:09] #933 closed

[2017-09-26 06:09] #954 closed

[2017-09-26 06:09] #962 closed

[2017-09-26 06:38] ruslantalpa commented on #981
#970 is merged now :)

[2017-09-26 13:13] nelsonfncosta commented on #974
I updated to PostgREST `0.4.3.0` from `0.4.0.0`, and started getting the same error, changing the OUT parameter name to the function name solves the problem **but** the output format changes.
output on `0.4.0.0`
[code]
output on `0.4.3.0`
[code]
Not sure if i missed something on the release notes or the doc

[2017-09-26 13:27] marsouin commented on #955
@statik this is great, I have the same issue, can I update Postgrest with your work?

[2017-09-26 15:36] steve-chavez commented on #974
There isn't explicit support for OUT parameters in PostgREST, that's why that change wasn't documented.

Why use the `OUT` syntax instead of `RETURNS TABLE(cols..)`, they are equivalent and personally I find the `RETURNS TABLE` much more clearer since it's easier to visualize what's being returned.

[2017-09-26 15:49] statik commented on #955
@marsouin this was just merged to master an hour ago, I am currently running with a version I built from source until the next release comes out and it's working ok for me.

[2017-09-26 15:55] nelsonfncosta commented on #974
@steve-chavez  For my use case I cannot use `RETURNS TABLE(cols..)` because I do not know how many cols I have or the type and name of the columns.
thanks for the reply

[2017-09-26 16:02] marsouin commented on #955
Oh awesome! Any tips on building it? I'm very new to Haskell...

[2017-09-26 18:19] BrandonChubb opened #987 "self-reference foreign keys, can get "parent" but not "child""
Refiling our problem as the last one was poorly worded to our intent (#960 which I'll close in a moment).

For reference sake, here's a FK example with 2 separate tables:
[code]

Some queries:
[code]

Now with self-referencing FKs
Table creation...
[code]

Now some queries against the above:
[code]

Does that all make sense?  So we think we should be able to pull in not only the entries pointed AT

[2017-09-26 18:20] BrandonChubb commented on #960
This was poorly worded from the point of view of our intentions -- so I filed 987 as hopefully a better description.  Perhaps the 2 have the same underlying cause, but will close this now.

[2017-09-26 18:20] #960 closed

[2017-09-26 21:01] russelldavies commented on #955
@marsouin The [build instructions](https://postgrest.com/en/v4.3/install.html#build-from-source) cover this.

[2017-09-26 21:29] russelldavies commented on #955
I've created a pull request in the docs for this (begriffs/postgrest-docs#106) so closing this now.

[2017-09-26 21:29] #955 closed

[2017-09-27 12:21] eric-brechemier commented on #876
I have a pull request ready: https://github.com/begriffs/postgrest/pull/988

[2017-09-27 12:25] robertjpayne commented on #553
@nerfpops I disagree, this is an extremely important feature for Postgrest because it's the only way to avoid continuous polling to detect changes in the database. Every application has it's own needs but this would be an extremely useful tool for many use cases, even if only used to avoid polling…

[2017-09-27 13:12] ruslantalpa commented on #553
Having this in postgrest is certainly not the only way and also probably not the right way to do this.
You send the changes from the database to a message queue and clients connect to it and listen for events
https://github.com/subzerocloud/pg-amqp-bridge
https://github.com/subzerocloud/postgrest-starter-kit

[2017-09-27 16:28] barbalex opened #989 "connection error"
I get this error when connecting like this: `./postgrest postgrest.conf`:

![error](https://user-images.githubusercontent.com/669783/30924939-819574dc-a3b0-11e7-9c30-ecd24a12a29f.png)

`postggrest.conf` is:

    db-uri = "postgres://authenticator:authenticator_secret@localhost:5432/apflora"
    db-schema = "apflora"
    db-anon-role = "anon"
    server-port = 4001
    jwt-secret = "jwt_secret"

db

[2017-09-27 16:37] ruslantalpa commented on #989
what is the version of postgrest, postgresql, can you connect using psql using those connection strings?

[2017-09-27 16:39] barbalex opened #990 "current_setting('request.jwt.claim.username', true) returns nothing"
This function sets the claims:

    create or replace function
    apflora.login(username text, pass text)
    returns basic_auth.jwt_token
      as $$
    declare
      _role name;
      result basic_auth.jwt_token;
    begin
      -- check username and password
      select basic_auth.user_role($1, $2) into _role;
      if _role is null then
        raise invalid_password using message = 'invali

[2017-09-27 16:40] barbalex commented on #989
PostgreSQL is v9.6
postgrest is v0.4.3.0

[2017-09-27 16:46] ruslantalpa commented on #990
wrap it in a function
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/db/src/data/todo.sql#L5
PS: these however are not postgrest questions 😛

[2017-09-27 16:46] #990 closed

[2017-09-27 16:54] barbalex commented on #989
I got it now: user `authenticator` needed to be granted connection an db apflora. That is what psql told me when I tried to connect as authenticator. So thanks a lot for helping!

The nature of the error that occurs when this permission does not exist is a bit misleading.

This step is missing from https://postgrest.com/en/v4.1/auth.html#permissions.

I am of course a complete and total roles-noob

[2017-09-27 16:54] #989 closed

[2017-09-27 17:00] barbalex commented on #990
Thanks a lot!

The wording in the docs (https://postgrest.com/en/v4.1/auth.html#web-users-sharing-role) does not lead a noob like me to notice that this needs to be packed into a function though. It sounded to me as if this were a function that postgrest provided. Which is why I also thought it was a postgrest issue.

[2017-09-27 17:08] maximsch2 commented on #690
I'm seeing similar problems with CSV uploads as well.

[2017-09-28 13:30] BrandonChubb commented on #987
This was CentOS7 binary version 0.4.3.0.

[2017-09-29 02:55] begriffs commented on #876
Pull request is now merged!

[2017-09-29 02:55] #876 closed

[2017-09-29 05:16] begriffs commented on #937
@jlsphar in the project chat @jcasto reported the same problem.

Can you try running the `file` command on your config file, like

[code]

I'm curious if it will report a different encoding than I see locally for my own config file that works properly.

[2017-09-29 12:15] bradleyf commented on #846
I've tried several times to build it on arm using the orignial build instructions, however there is a problem with one of the haskell libraries requiring too much RAM to compile on the PI.   I believe it's the json library.   Tried several work arounds.  No luck yet.  Bummer

[2017-09-29 12:21] ruslantalpa commented on #846
did you try `-j1` parameter when doing `stack build`? did you have swap setup?

[2017-09-29 12:28] bradleyf commented on #846
Yes, but it still errors out with a memory error (Haskell stack trace).   Sooo close!

From: Ruslan Talpa [mailto:notifications@github.com]
Sent: Friday, September 29, 2017 8:22 AM
To: begriffs/postgrest <postgrest@noreply.github.com>
Cc: Bradley Feldman <bradley@bradleyloritheo.com>; Mention <mention@noreply.github.com>
Subject: {Disarmed} Re: [begriffs/postgrest] Rasperry Pi 3 / ARM build? (#846

[2017-09-29 12:33] ruslantalpa commented on #846
check this out
https://medium.com/@saurabhnanda/building-haskell-specifically-lens-library-in-a-low-memory-environment-5ef58ec294a2

[2017-09-29 13:27] bradleyf commented on #846
I’ll give it a try

From: Ruslan Talpa [mailto:notifications@github.com]
Sent: Friday, September 29, 2017 8:33 AM
To: begriffs/postgrest <postgrest@noreply.github.com>
Cc: Bradley Feldman <bradley@bradleyloritheo.com>; Mention <mention@noreply.github.com>
Subject: {Disarmed} Re: [begriffs/postgrest] Rasperry Pi 3 / ARM build? (#846)

check this out
https://medium.com/@saurabhnanda/building-haskell

[2017-09-30 00:25] begriffs commented on #828
I haven't experimented with trying to change the code, but `set schema 'abc'` sounds more elegant than our prepending `abc.` to the names of tables in queries.

[2017-09-30 00:29] begriffs commented on #835
What if we issue `set schema 'abc'` as part of each postgrest query, along with setting the role?

[2017-09-30 03:48] begriffs commented on #837
...if anyone wants to work on this I'd accept a pull request.

[2017-09-30 03:57] begriffs opened #991 "Improve error message: "JWSError JWSInvalidSignature""
This is often caused by using sub-32 character jwt keys, but https://github.com/frasertweedale/hs-jose/issues/46#issuecomment-321754582 mentions a new `checkJWK` function we can use to get more specific errors for display.

[2017-09-30 04:13] begriffs commented on #879
Sorry for *my* late reply. We've released postgrest 4.3 and added some improvements to the config parsing. Could you do me a favor and try deploying a fresh instance of your app on heroku with the newer postgrest?

[2017-09-30 04:20] begriffs commented on #256
I understand why this feature would be useful for you, but implementing it is not high on my personal list of priorities. If anybody wants to give it a try and send a pull request by all means go for it and I'm happy to help review your work.

There are just other things in my personal life I'd prefer to be working on right now over implementing this feature.

[2017-09-30 04:25] begriffs commented on #925
Thanks for the steps for reproducing. I wonder if this has a similar cause as #690

[2017-09-30 04:29] begriffs commented on #950
Wanted to mention that there is a PR now that allows setting custom headers from a stored proc, so that proc could now mark its contents as `Content-Type: text/html` for clients. https://github.com/begriffs/postgrest/pull/986

[2017-09-30 04:30] begriffs commented on #940
In case you guys haven't seen it yet, we've got a PR now to help with this! https://github.com/begriffs/postgrest/pull/986

[2017-09-30 04:39] begriffs commented on #959
By the way, I think that the Heroku database now allows you to create multiple roles.

https://devcenter.heroku.com/articles/heroku-postgresql-credentials

This might make Heroku pg as feasible as RDS for postgrest apis.

[2017-09-30 04:42] begriffs commented on #973
I added a reminder for myself in another place. Closing this issue because it is complete at least as named.

[2017-09-30 04:42] #973 closed

[2017-09-30 04:45] begriffs commented on #976
I copied this issue to the docs repo, so closing it here.

[2017-09-30 04:45] #976 closed

[2017-09-30 04:53] begriffs commented on #984
Ha, it was *you* who alerted me to this! Sorry I replied in another issue with this link back to you. Got confused. 😉

Could you open this issue on https://github.com/begriffs/postgrest-docs ? I think it's more a matter for documentation than for the main project. In fact if you want to contribute a pull request there that would be great as well...

Closing this issue.

[2017-09-30 04:53] #984 closed

[2017-09-30 05:06] elimisteve commented on #256
Is there an non-bulk upsert feature in place that I missed?  Or is this issue really about upsert?

[2017-09-30 05:12] begriffs commented on #985
Does that byte come from your jwt secret? If so you can save the secret to a separate file and load it with

[code]

or base64 encode it and use

[code]

Then again your output looks like it's getting past the parsing of the config file since it knows the server port to bind on. Maybe open a new issue just about this problem if you haven't solved it.

[2017-09-30 05:21] begriffs commented on #987
I think this is a question for @steve-chavez who has done a lot of work on the embedding logic.

[2017-09-30 05:25] begriffs commented on #690
@maximsch2 would you be interested in helping us track down the problem? The issue that Ruslan linked to includes information about running how to run the binary with profiling enabled. If you're feeling brave you could do a similar thing and include a graph of memory allocation.

[2017-09-30 07:25] fab1an commented on #828
That is what i‘m doing now in the startup-procedure. So far everything
works.

On Saturday, 30 September 2017, Joe Nelson <notifications@github.com> wrote:

[2017-10-01 13:19] ryanfmurphy commented on #950
Great, thanks for mentioning that @begriffs!  Looks like what I'm looking for.

[2017-10-01 20:28] skinkie opened #992 "Compound references how should they be entered as query?"
#987 was helping me a lot documentation wise. But I still have a question regarding the example below.
[code]

What should be used to get both linerefid and linerefversion?
[code]

[2017-10-01 20:49] skinkie opened #993 "row_to_json(text) does not exist"
While creating an example for #987 i ended up in this error.

[code]
[code]
[code]

[2017-10-01 20:55] skinkie commented on #987
Also subscribing to this issue. I also find myself the problem that a table only having ingress references is not able to automatically beyond the direct relation. In my case:

[code]

[code]

[2017-10-02 05:35] ruslantalpa commented on #992
`http://localhost:3000/Line?select=id,version,name,Route(id, version)`

PS: never use `*`, always write the fields explicitly and also a good idea is for each entity to include it's primary key(s)

[2017-10-02 05:35] #992 closed

[2017-10-02 05:39] ruslantalpa commented on #993
you have to select at least one field (primary key preferably) from table one (that's your first problem.) and don't use `*`, specify the primary key form table two and any additional fields you need

if that does not solve your problem, check what version of PostgreSQL you are using, has to be 9.3+ (although i see no reason for not using 9.6)

[2017-10-02 05:39] #993 closed

[2017-10-02 05:47] ruslantalpa commented on #987
@skinkie i don't see a reason for that to exist, it's a very niche use case and if you really need that you can use views/computed columns

PS: as i've mentioned in other issues, you are not using `&select` right, you need too include columns from both tables.
you are writing this
`http://localhost/one?select=two(*)`
but actually you are thinking of this
`http://localhost/one?select=*,two(*)`
howe

[2017-10-02 05:58] skinkie opened #994 "Automatically find the path between tables"
Split from #987

As user I expect that postgrest is able to infer the shortest path between two tables using foreign key relations via the catalogue. At this moment the user would need to mention the joins manually.

[code]

[code]
Currently it is required to explictly add:
[code]

[2017-10-02 06:11] ruslantalpa commented on #994
what it the usecase for this (specific example)?
provide also a sample output shape
can you write manually a query that returns this type of response?

[2017-10-02 12:25] skinkie commented on #994
@ruslantalpa would the following answer your question?

The use case would be to completely ignore the table schema. And trust that inference is enough to build the query.

[code]
[code]

This creates the path:
[code]

Inference will give:
[code]

Naively permutate over all results, but ignore same start and end points.
[code]

In a more advanced example to infer relations using multiple tables re

[2017-10-02 13:23] ruslantalpa commented on #994
i was asking for a specific example, not theoretical things like "ignore schema".
something like "i want to make a call, and get this data, in this shape because ... and i can not use the current interface because ..."
your reply is more in the sense "i don't like the current url format"
in a reasonably large schema (even from 10+) tables start being related in different ways and there are multipl

[2017-10-02 13:54] skinkie commented on #994
Let's go for real life examples then. Consider the schema below, which is basically NeTEx / Transmodel.

Given that I want to show all DestinationDisplays available for a single Line. PostgREST does not allow me to filter on embedded attributes. The query would become:
[code]

But ideally I would like to write:
[code]
Or even **better**:
[code]

Similar for getting the route of a ServiceJourney.
[

[2017-10-02 17:31] movadee commented on #879
Hi Joe! Thank you. I'll try it. Alla

Sent from my iPhone

[2017-10-04 19:02] wildsurfer commented on #977
I believe postgrest should notify user somehow that secret is less than 32 characters :)

[2017-10-04 21:22] lgfausak commented on #724
i just had this issue occur.  reading here i see that it could be caused by postgrest starting before the database.  i did a kill -1 on the postgrest process and it started working.  i am pretty sure this is the issue, i am running a postgres container, and a postgrest container.  sometimes the postgrest start faster than postgres. not sure what to do about that. i am using the begriffs postgrest

[2017-10-05 03:55] begriffs commented on #724
@lgfausak which version of postgrest are you using? The latest version should detect that the db is not yet started and retry the connection with exponential backoff.

[2017-10-06 00:40] steve-chavez commented on #249
More thoughts on this, I think restricting the statement cost is the best choice, so I've been testing the [plan_filter](https://github.com/pgexperts/pg_plan_filter) module, originally I thought that it would be enough to setup the roles each with it's own cost in the db without changing PostgREST code but that doesn't work.

Say we enable the `plan_filter` module and then do `ALTER ROLE .. SET pl

[2017-10-06 00:46] steve-chavez commented on #249
I think is important to solve this issue, though PostgREST now doesn't directly expose expensive operations users can still do a:
[code]
That gives a cost of `1627324.37..1627324.39`, relying on the `pg_plan_filter` avoids these kind of queries.

I propose to have this feature as **experimental**, also it would only work for postgres instances where you can load the `pg_plan_filter` module.

The f

[2017-10-06 01:53] jackfirth commented on #286
Comment from the peanut gallery about request batching: there's a standard [`application/http`](https://tools.ietf.org/html/rfc7230#section-8.3.2) content type defined in the HTTP/1.1 spec that represents a sequence of requests or a sequence of responses.

[2017-10-07 01:12] steve-chavez commented on #974
A simpler function for reproducing the error:
[code]
When doing:
[code]
The following response is obtained:
[code]

[2017-10-07 15:35] begriffs commented on #977
I opened a docs pull request to help clarify the 32-char minimum.

We can improve postgrest's error message later when https://github.com/frasertweedale/hs-jose/issues/46 gets closed due to https://github.com/frasertweedale/hs-jose/commit/59ca5e656370e5b7812faadf5234aa9b0724e782 in check-jwk branch of jose

[2017-10-08 14:05] barbalex opened #999 "authentication: how to check local role"
Me again :-|

I am still trying to get authentication to work.

These are the configured roles in my database `apflora`:
![roles](https://user-images.githubusercontent.com/669783/31317353-8efd512a-ac3f-11e7-8d05-1f2148e50942.png)

When I log in as user `z` this user gets role `apflora_artverantwortlich` as defined in the `users` table.

And it seems that login worked:
![login_response](https://use

[2017-10-08 15:18] barbalex commented on #985
@begriffs
Thanks for helping. I could solve the problem, see here: https://github.com/begriffs/postgrest/issues/989#issuecomment-332586313

[2017-10-09 15:45] #974 closed

[2017-10-09 18:35] jcasto commented on #937
I am also fighting this problem.

`
$ file postgrest.conf
postgrest.conf: ASCII text
`

[2017-10-09 21:09] PierreR commented on #944
No love for this. I don't mind enough as to go and propose the deps on stackage myself.

[2017-10-09 21:09] #944 closed

[2017-10-09 21:17] begriffs commented on #944
Sorry, didn't mean to ignore this issue. I was just waiting for the verdict on configurator-ng. Looks like lpsmith doesn't care to maintain that project. (I too don't care to take over maintenance for configurator-ng, I can barely maintain my existing stuff. 😉)

So I guess to get on stackage we'll need to find an alternate configuration parser.

Out of curiosity, what benefits are there for postgr

[2017-10-09 21:44] PierreR commented on #944
The benefit as a nix user would be to have the package build on Hydra. But at this point I don't care that much as I can easily build `postgrest` locally (and I need to repackage it to add the `postgrest-ws` middleware anyway)

That said I believe it is best to keep non-stackage deps to the bare minimum when possible (as a general rule)

As a nix user, to improve build comfort, there is something

[2017-10-09 22:21] jcasto commented on #937
It would appear that my password for my user was too complex, and the special characters in the file were causing the binary to not function as expected.

[2017-10-11 23:39] steve-chavez opened #1001 "Bad csv output on queries with embeds"
When doing:
[code]
The following is obtained:
[code]
I guess that csv queries with embeds aren't been used as much because until now this hasn't been reported. Since a tree structure cannot be done in csv, I think the most appropriate output would be:
[code]
This corresponds more to a single query with joins, unlike our current queries that can have many subqueries with their own joins, so doesn't

[2017-10-12 10:30] ruslantalpa commented on #1001
Dont think its worth the effort, just a 400 bad request would be better

[2017-10-12 12:25] barbalex commented on #999
I realize that this issue is more likely to be caused by my noobnes in dealing with roles than a real issue in postgrest.

On the other hand: I have some experience in dealing with databases and postgres in general. And also in developing javascript apps. And seeing that postgrest would totally appeal to devs with my background (though not only) I might not be the only one to run into similar prob

[2017-10-12 12:57] ruslantalpa commented on #999
@barbalex there is no "magic" inside that does the switching.
at the end of the day, postgrest is just a client that connects to the database and executes a bunch of queries. Almost all errors that you get are generated by the database (including this one).

what you need to do is enable query logging in your database, make the request using postgrest (which will run a few queries in a transction)

[2017-10-12 13:19] barbalex commented on #999
@ruslantalpa thanks a lot. I will chew on that (I'm on Windows and have never used perl before) and come back to tell you how well I digested your friendly bone :-)

[2017-10-12 13:31] ruslantalpa commented on #999
that is just a line to replace a string in a file, you cna always do it manually

[2017-10-12 13:57] barbalex commented on #999
Got it.

Problem is: the get calls are logged. But the post to `/rpc/login` not

[2017-10-12 13:59] ruslantalpa commented on #999
that can't be, all the calls a re queries, the database does not have a notion of get/post

[2017-10-12 14:05] barbalex commented on #999
This is the log:

    2017-10-12 13:54:46 GMT FEHLER:  keine Berechtigung für Relation projekt
    2017-10-12 13:54:46 GMT ANWEISUNG:
    	      WITH pg_source AS (SELECT  "apflora"."projekt".* FROM  "apflora"."projekt"    ) SELECT null AS total_result_set, pg_catalog.count(_postgrest_t) AS page_total, array[]::text[] AS header, coalesce(array_to_json(array_agg(row_to_json(_postgrest_t))), '[]')::

[2017-10-12 14:06] barbalex commented on #999
I realize the post to login happened in a separate schema but tho log covers the entire database, doesn't it?

[2017-10-12 14:08] barbalex commented on #999
Are there multiple logs? I am now looking at `C:\Program Files\PostgreSQL\9.6\data\pg_log\postgresql-2017-10-12_072207`

[2017-10-12 14:13] barbalex commented on #999
Also missing: Should the log not log postgrest connecting to the database?

[2017-10-12 14:31] barbalex commented on #999
Seems like restarting the postgresql service on windows was not enough. I am getting a second log-file now after rebooting windows. It's times are two hours off but it looks like it contains the correct logs.

The log is a little hard for me to understand. What seems clear is that after running the login function the role is set to `anon` instead of the role according to the users table.

[2017-10-12 14:33] barbalex commented on #999
Here is the log:

    2017-10-12 14:23:37 GMT LOG:  Ausführen 0: BEGIN ISOLATION LEVEL READ COMMITTED READ WRITE
    2017-10-12 14:23:37 GMT LOG:  Anweisung: set local role 'anon';set local "request.jwt.claim.role" = 'anon';set local "request.header.host" = 'localhost:4001';set local "request.header.connection" = 'keep-alive';set local "request.header.content-length" = '27';set local "request.head

[2017-10-12 14:43] ruslantalpa commented on #999
that's because you are not sending the correct authorization header
you are doing
`Authorization: TOKEN`
and the correct way is
`Authorization: Bearer TOKEN`

[2017-10-12 16:39] barbalex commented on #999
Hm. That _does_ change the log but still does not work. The weird thing is that the following two get requests are not logged any more:

    2017-10-12 16:26:42 GMT LOG:  Ausführen 0: BEGIN ISOLATION LEVEL READ COMMITTED READ WRITE
    2017-10-12 16:26:42 GMT LOG:  Anweisung: set local role 'anon';set local "request.jwt.claim.role" = 'anon';set local "request.header.host" = 'localhost:4001';set lo

[2017-10-12 16:49] ruslantalpa commented on #999
you've pasted the log for login which is not the problem (the requests after it are the problem), then a printscreen of your browser which is irrelevant.

don't test your api with your full frontend. start making each request by hand (preferably curl) and see the log after each request

[2017-10-12 22:35] steve-chavez commented on #835
Seems like a good idea, it could also reduce some of the code, I'll clear the computed columns issue first since it's part of the error I got in this one.

[2017-10-13 10:17] barbalex commented on #999
The fact that the requests _after_ login are now the problem is due to you telling me to add `Bearer ` before the jwt. Something I had initially done. But one of several things I had played around with and finally left wrong because authorization never got working. Thanks a lot for pointing that out!

the log after each request

I now did that using the advanced rest client extension of chrome. An

[2017-10-13 10:17] #999 closed

[2017-10-13 11:56] barbalex commented on #985
For people finding this later: The ultimate reason this was not working was that `jwt-secret` needed to be at least 32 characters long which at the time of writing is undocumented.

[2017-10-13 16:47] ruslantalpa commented on #999
If you change the jwt secret, the only thing that would happen is the clients that have a token now would receive 401 unauthorized. I dont know how your frontend is built but in cases like this it should probably redirect to login. If you dont have this functionality, then first implement it in the frontend, push a new version, and after that when fronted can handle 401, upgrade postgrest and chan

[2017-10-13 16:54] barbalex commented on #999
Yep, that seems to work. Thanks for great help!

[2017-10-17 16:32] steve-chavez commented on #956
What would be the most useful format for computed columns in openapi? Say we have:
[code]
Then for openapi output I was thinking of having this:
[code]

[2017-10-17 21:24] posix4e commented on #906
ANy updates here?

[2017-10-18 09:04] allochi commented on #501
Any updates or plans to address this? I would have loved to help, but I only recently started learning Haskell.

Currently the only workaround for me is to preprocess in Javascript arrays as strings formatted in Postgres way with `{}` instead of `[]`, but it seems that Postgrest should be able to do that for me.

Appreciate any advice or help, I could be missing something. Thanks!

[2017-10-18 13:09] begriffs commented on #501
The workaround, if your db design allows it, is to use json or jsonb for the column type rather than text array. I had kind of lost track of this issue but I'll mark it as something to look into. It's not high priority for me at the moment, but I'll look into the good suggestion about `json_array_elements_text`.

[2017-10-18 13:18] allochi commented on #501
thanks @begriffs, but then I can't use `?tags=cs.{example, new}` or `?values=cd.{1,2,3}` in queries, since I can't post tags field as an array, I'm not sure how to achieve the same results with `jsonb` array, but I will look it up.

I would still recommend implementing it.

[2017-10-18 17:32] russelldavies commented on #837
I'd be happy to do this but I need to get a bit more familiar with the codebase first.

[2017-10-18 20:30] begriffs commented on #837
Cool! You can even open a pull request with your initial progress and I can help you if you run into Haskell errors.

[2017-10-18 21:18] chesles commented on #724
Started seeing this again today, and I noticed I actually had 2 postgrest processes running. It seems to happen when the parent process exits (e.g. terminal window is closed) and postgrest doesn't exit cleanly. Here is the output from the `detailed-errors` branch:

[code]

Steps to reproduce on OSX:

1. start postgrest in a terminal window
2. close that terminal
3. start a new postgrest process in

[2017-10-18 22:29] steve-chavez commented on #925
I think this is more related to `trimNullChars` than `qc`, the custom input sanitizing can be avoided with a parametrized query;  using [this function](https://github.com/begriffs/postgrest/blob/master/test/fixtures/schema.sql#L1292-L1294) as an example, I've come up with this new query for `callProc`:
[code]
The key is the `json_to_record` function(avalaible from pg >= 9.4), with this we could in

[2017-10-19 00:33] #917 closed

[2017-10-19 00:34] steve-chavez commented on #940
Implemented in #986.

[2017-10-19 00:34] #940 closed

[2017-10-19 13:54] ruslantalpa commented on #925
we already use json_populate_recordset https://github.com/begriffs/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L290

can you use that?

PS: interesting approach but somehow is seems too elaborate :) though i don't mind it if it works out

[2017-10-19 17:51] steve-chavez commented on #925
The problem is that `json_populate_recordset` needs a type in the first arg like `null::type` and I didn't found a way to specify a "dynamic type" in that way so `json_to_record` is convenient because it can specify that.

[2017-10-20 00:35] allochi commented on #501
@begriffs thanks, I stand corrected, `jsonb` arrays works, and the queries using `cs` and `cd` works too. Thanks a lot.

[2017-10-20 21:47] steve-chavez commented on #925
New `callProc` query solves the problem, at least now I'm getting practically the same memory usage as when using INSERT. I'll show some profile reports proving this, I'll be using the function provided [here](https://github.com/begriffs/postgrest/issues/925#issuecomment-320942107) and for contrasting with INSERT I'm using this table:
[code]
With this `100mb` file as payload:
[code]
I'm getting th

[2017-10-20 21:53] steve-chavez commented on #925
So I'll change the code to use the new callProc query to avoid the custom input sanitizing and the high memory usage.

Also wanted to comment that right now the memory usage is really high for big payloads, for a 100mb file we get like 6GB in memory allocation, also I've tried uploading a 300MB file and couldn't get the operation to finish, it used all my available ram plus swap and leaved my syst

[2017-10-26 19:02] marsouin commented on #906
I wish I'd stumbled upon this earlier. In my case I just changed the `role` claim directly in the postgrest code and built it from source again. Adding this as a parameter in the config file would be awesome.

[2017-10-27 20:52] begriffs commented on #994
Thanks for providing schema details. I created the db locally and pointed postgrest at it. Confirmed your request `/line?publiccode=eq.1&select=route(id,servicejourneypattern(id,destinationdisplay(*)))` completes without an error, although it returned no results because I haven't loaded any data inside.

I must admit that inferring the foreign-key hops between distant tables seems like asking for

[2017-10-27 21:00] skinkie commented on #994
If you are interested I could obviously you with a PostgreSQL dump. If you would consider "asking-for-trouble" problematic because there _might eventually_ exist a use-case that is ambiguous, then what about returning the result as a HTTP redirect as a form of "advanced query builder"?

[2017-10-27 21:05] begriffs commented on #994
You're saying if there *were* more than one route for the shortcut the server would return HTTP 300 Multiple Choices with perhaps multiple Location headers for the options?

[2017-10-27 21:09] skinkie commented on #994
Actually I didn't even know that was possible :) But my suggestion would be if you feed the system a query where a path does exist and it is unique it would do a HTTP 302 with the full query that would be required to get the result. If you say HTTP 300 might facilitate the ambiguous case, that might indeed be a very clear way to give the user an informed choice.

[2017-10-27 21:17] begriffs commented on #994
I think this HTTP interface we've discussed makes sense: a simple redirect when the path is unique, or a disambiguation when it isn't. Now the amount of work it might take in the code could be pretty substantial and possibly difficult to get right. I'm personally not keen to implement it myself, but would consider reviewing a PR if it looked like it didn't make the code way more complex.

At least

[2017-10-27 21:23] jackfirth commented on #994
FYI, multiple `Location` headers in a `300 Multiple Choices` response isn't RFC 7231 compliant, because section 6.4.1 explicitly states that only _one_ such header may be provided:

To provide multiple choices, the server should define a content type (such as `application/vnd.postgrest.route-choices+json`) that represents a list of links for the client to choose. This lets you include arbitrary me

[2017-10-27 21:24] skinkie commented on #994
@begriffs thanks, then I'll put it on my never ending todo list :-)

[2017-10-27 21:54] begriffs commented on #987
OK I ran through the original issue again more carefully. Looks like the crux of the matter is that it's possible for a table to embed itself *through* another table, but not embed itself through *itself*.

[code]

This does seem like a bug, unless I'm overlooking something about how the foreign keys operate. @steve-chavez does this look like a bug to you as well?

[2017-10-27 22:01] skinkie commented on #987
Mmm... I have got the itself through itself working though (latest version).

/servicejourney?id=eq.cxx:SJ:148316-777@201712&select=*,servicejourneypattern(*),baselineid(*,servicejourneypattern(*))

[code]

[2017-10-27 22:15] begriffs commented on #987
@skinkie interesting, can you try with @BrandonChubb's example schema and see if you get different results? There might be a clue here between the keys in your example vs those in the original.

[2017-10-28 00:20] begriffs commented on #249
@steve-chavez thanks for the research on this one. I was looking through the postgresql source to try and see if there is a hook for `set role`. Was thinking that pg_plan_filter is pretty simple inside and could listen for the change to reload its variable. However it doesn't look like that's possible, so your suggestion seems like our best option.

[2017-10-29 02:15] jcrben commented on #667
In theory, it seems like constraints should express some of the intent here? We shouldn't have to write triggers. A good ORM figures this out based upon the constraints without boilerplate.

If nothing else, perhaps Postgrest could have a feature which automatically sets up the triggers.

[2017-10-29 05:33] ruslantalpa commented on #667
@jcrben please show me that "good ORM" :)

[2017-10-29 08:47] jcrben commented on #667
@ruslantalpa I've used a bunch, but SQLAlchemy is the one I'm using right now and it's OK altho I'll admit it's got kind of a steep learning curve. 😄 Still, I'd rather not use SQLAlchemy for simple CRUD updates - planning to use it for async work or complex business logic

I'm looking at using PostGraphQL right now as it seems that it allows for efficiently persisting an entity including its relat

[2017-10-30 08:43] jlsphar commented on #993
This also seems to appear for me when I selected a column from a referring table which has the same name as it's table. I.e.
[code]
It seems that in this case, `http://localhost:8000/parent?parent_id=eq.1&select=child(child_id, child)`
would result in `row_to_json(text) does not exist`, with the solution being to rename the `child` column in the `child` table to something other than the name of th

[2017-10-30 10:19] skinkie commented on #993
@ruslantalpa should this bug than be reopened?

[2017-10-30 15:13] steve-chavez commented on #993
Can reproduce the errors in both examples in **v0.4.3.0** but not on **master**.

The fix was done in https://github.com/begriffs/postgrest/pull/996, tests were added here https://github.com/begriffs/postgrest/commit/e1cab584a3671171dc1b93cf9e94f0a51b9d381a.

[2017-10-30 15:23] GameEngine1 commented on #905
I'm having the same issue. This is my log:

[code]

[2017-10-30 15:35] GameEngine1 commented on #905
Downgrading to 0.4.0.0 fixes the issue. I'm using the 32 bit version. Problem occurs in 0.4.1.0 to 0.4.3.0

[2017-10-30 16:11] nerfpops commented on #905
... Forgot to write that it's the 32 bit Ubuntu version we're using.

[2017-10-30 22:48] jotpe commented on #462
@SebAlbert Good point.
I am using a mediawiki api and a key column is called *. It fails, in the select list and in the "where" list. I expected that quoting identifiers should work :(

[2017-10-31 02:16] StefanScott opened #1006 "After the user does a RPC POST Request, how do I make the server Response send a bunch of JSON back to the user - eg, multiple recordsets?"
I'm trying to figure out how to use RPC to send a bunch of JSON to the server, to POST records to multiple tables - and then I want the server Response to send back a bunch of JSON to the client - possibly with some modifications (some records failed to INSERT, some field values altered due to validation errors, etc.).

For example, if the user attempted to POST an Order Line for a Quantity of Pro

[2017-11-02 20:05] barbalex commented on #989
The same error occurs if authenticator's password is wrong. It would be a lot of help if these errors were more precise.

[2017-11-05 02:40] begriffs commented on #905
Due to the multiple reports of this issue I'm reopening it for further examination.

[2017-11-06 10:15] ddarno opened #1008 "Handling colums names containing spaces"
Below is an example of the SQL I'm trying to get via the API

psql -d <DBNAME> -c "select \"cHostname\",\"Server Model\" from \"Server Today\" where \"cHostname\" ilike '%nim%';"

 cHostname  |      Server Model
------------+-------------------------
 argnim1    | IBM,9113-550 (P5-550)
 argnim2    | IBM,9113-550 (P5-550)
 daaa2nim71 | IBM,9131-52A (P5-52A)
 daah3nim71 | IBM,8406-71Y (P7-PS701)
 hb

[2017-11-07 17:54] amadeuspagel opened #1009 "curl http://localhost:3000/todos returns {"hint":null,"details":null,"code":"42P01","message":"relation \"api.todos\" does not exist"}"
I followed the tutorial and

`curl http://localhost:3000/todos`

returns:

`{"hint":null,"details":null,"code":"42P01","message":"relation \"api.todos\" does not exist"}`

[2017-11-07 18:18] ruslantalpa commented on #1009
Cet the connection string from postgrest.conf, use it to connect to the db using psql then make sure you can run select * from api.todos

First thought ys that you are connecting to the wrong db or you have not actually created the table (in the correct schema)

[2017-11-07 18:21] amadeuspagel commented on #1009
I already tried that and that works, I get:

[code]

[2017-11-07 19:15] ruslantalpa commented on #1009
although it's not likely, try restarting postgrest.

after that please post a copy/paste of the entire console session for the following commands
- cat postgrest.conf
- psql <connectionstring>
  - select * from api.todos;

[2017-11-07 19:29] amadeuspagel commented on #1009
Restarting didn't help.

I'm using c9, so I can't access postgrest.conf

But here is:

[code]

[2017-11-07 19:45] ruslantalpa commented on #1009
this does not help, the point was to compare the connection string you put in postgrest.conf with the way to connect directly to the db and make sure you are not mixing things. the result of th query is irelevant

[2017-11-07 21:19] amadeuspagel commented on #1009
I read "postgres.conf" thought it was something related to postgresql not postgrest.

I have a tutorial.conf file:

db-uri = "postgres://postgres:mysecretpassword@localhost/postgres"
db-schema = "api"
db-anon-role = "web_anon"

[2017-11-08 07:28] ruslantalpa commented on #1009
ok, so here is what i don't get.
you say you are using c9 (which i am not familiar with) then you paste your conf file which references the `localhost`.
If you are running postgrest in c9 that means `localhost` is that remote computer, not your computer, while you are probably using using psql with the same connection string and that gets you connected to the postgre instance on your actual comput

[2017-11-08 21:48] adam8810 opened #1010 "Prevent Postgrest from analyzing view"
What's the best way to prevent Postgrest from scanning through a view or table? Is there a whitelist/blacklist config we can utilize or should we do it on the user/role level? We have a huge view that's needed to interface with some of our legacy applications and it's completely bombing our database whenever Postgrest starts.

[2017-11-08 21:49] #1010 closed

[2017-11-09 08:47] ruslantalpa commented on #1006
here is a function that receives a single param (json) and outputs it back as json
https://github.com/begriffs/postgrest/blob/master/test/fixtures/schema.sql#L340-L344

here it is being called
https://github.com/begriffs/postgrest/blob/master/test/Feature/RpcSpec.hs#L290-L304

the junction just needs to return json type, whatever it returns will be sent back to the user

[2017-11-10 12:22] karrapetta opened #1011 "PostgREST + PgBouncer - How to use different pool methods in PostgREST?"
Hi,

We're using PostgREST with PgBouncer in our project.

PgBouncer pooling supports Session, Transaction or Statement.  (pgbouncer.github.io/usage.html)

We tested only changing the pool mode in pgBouncer to Transaction or Statement, and it occurred the error bellow:
{"hint":null,"details":null,"code":"42P05","message":"prepared statement "0" already exists"}

We need to know how to use transact

[2017-11-10 12:39] ruslantalpa commented on #1011
what are you using pgbouncer for?

[2017-11-10 13:59] begriffs commented on #1011
It looks like the hasql-postgres library may have a counter it uses to name prepared statements, and that counter isn't getting incremented? https://github.com/nikita-volkov/hasql-postgres/blob/5c815ec13655b7d49b3d727ab4303ea41f18f7b1/library/Hasql/Postgres/Session/Execution.hs#L55

Maybe it's the way we're calling the library, or an interaction with connection pooling.

@nikita-volkov can you adv

[2017-11-10 16:36] nikita-volkov commented on #1011
Are you sure you're using "hasql-postgres"? That library was deprecated ages ago in favor of just "hasql". But yes, we do name the prepared statements the same way in the present versions.

It's not clear to me what the issue here is though.

[2017-11-10 16:36] nikita-volkov commented on #1011
Are you sure you're using "hasql-postgres"? That library was deprecated ages ago in favor of just "hasql". But yes, we do name the prepared statements the same way in the present versions.

It's not clear to me what the issue here is though.

[2017-11-11 00:22] guiuprado commented on #1011
Hi everyone.
Some good reason it's in production cases with or without cluster or citusdata, the pgbouncer or other pool manger service can help to optimize the use of active and idles connections. Mostly cases when several applications with pool enabled tend to access the PostgresSQL not only the PostgrREST. Actually we currently use exactly this way. So to both work together we need to set the p

[2017-11-11 03:24] ruslantalpa commented on #1011
if you have a single database server then i don't see why you need pgbouncer.
PostgREST already maintains it's own connection pool (connections are being reused).

[2017-11-11 23:53] vecchp opened #1012 "Docker image v0.4.3.0 not built."
It doesn't seem that the v0.4.3.0 release had a docker image built

[2017-11-12 01:50] begriffs commented on #1012
I'm seeing one here - https://hub.docker.com/r/postgrest/postgrest/tags/

Is that where you were looking?

[2017-11-12 04:58] vecchp commented on #1012
Hmm, I must have been looking at the wrong repo.  Thanks!

[2017-11-12 04:58] #1012 closed

[2017-11-13 11:13] litriv opened #1013 "comments on columns aren't reflected in swagger"
comments on columns don't seem to show up in swagger.  would be cool if it shows under "description" ?

[2017-11-13 12:09] EmpireFleet opened #1014 "Scalar returning function's weird (not backward-compatible) response"
Definition like the following

`CREATE FUNCTION postgrest_foo()  returns text as $$ SELECT 'bar'::text $$ LANGUAGE SQL`

that used to be returning in version 3.2 response like this

`[{"postgrest_foo":"bar"}]`

in version 4.* emits just

`"bar"`

Is that behavior by design or some little lapse while dealing with corner cases?

_Tested on_
PostgreSQL 9.6.4 on x86_64-pc-linux-gnu, compiled by gcc (D

[2017-11-13 12:11] ruslantalpa commented on #1014
by design, `"bar"` is valid json

[2017-11-13 13:40] EmpireFleet commented on #1014
So, the issue is response compatibility - not json validity.
[code]

Apparently, this sequence of interactions is by design too
[code]
[code]
?

[2017-11-13 13:44] ruslantalpa commented on #1014
the behaviour for the first function is correct, it returns a string, thus you get a string.
for the section function it looks like it not very good, i guess for it it should have been a array of strings.

[2017-11-13 14:26] steve-chavez commented on #1014
On master branch:
[code]
[code]

[2017-11-14 12:09] skinkie commented on #987
@begriffs  I think I can reproduce the problem of @BrandonChubb. If I would add an extra table, I can only do so for the first level, but not the second level.

So this would work:
/servicejourney?id=eq.cxx:SJ:148928-51@3123951-F302-171113&select=id,servicejourneypattern(*,pointsinjourneypattern(*),servicejourneypattern(*))

But this wouldn't:
/servicejourney?id=eq.cxx:SJ:148928-51@3123951-F302-17

[2017-11-14 12:35] skinkie opened #1015 "Embedded filters and ordering doesn't work"
The documentation https://postgrest.com/en/v4.3/api.html#embedded-filters-and-order suggests that the following should work:

[code]
Hence the objects should follow sorted order by the column order_. While this works in the simple case.

[code]

The output of the first:
[code]

[2017-11-14 12:47] ruslantalpa commented on #1015
your order parameter should be `servicejourneypattern.pointsinjourneypattern.order`.

[2017-11-14 12:47] #1015 closed

[2017-11-14 15:05] guiuprado commented on #1011
Hi everyone;

@ruslantalpa, the pgBouncer is not only used for proxy multiples postgres database, it's use for manager the connection pool on hight concurrence pool scenarios. For exemple, my Postgres can handle max 100 connections. But I have not only postgrest, but multiples postgrest for others api, all using the same Postgres, other applications, build in .netcore, a geoserver, some others cli

[2017-11-14 16:00] begriffs commented on #1011
@guiuprado glad session pooling works. If we can make sure the prepared statement identifier is unique we should probably be able to support transaction pooling, I think we're within the acceptable [SQL features](https://wiki.postgresql.org/wiki/PgBouncer#Feature_matrix_for_pooling_modes) for transaction pooling. (We use `SET LOCAL` rather than `SET` for variables.)

I wonder what the recommendati

[2017-11-16 03:58] EmpireFleet commented on #1014
If on master branch the topic-starting function yields
[code]
then the issue should be closed.

[2017-11-16 18:37] ruslantalpa opened #1016 "Things broken when jwt aud is specified"
This line is wrong
https://github.com/begriffs/postgrest/blob/master/src/PostgREST/Auth.hs#L42
when aud is specified and a request without jwt comes (anonymous), things break.
Also config should treat empty string for aud as Nothing (for docker.)

I have the code for this, i'll make a pr, just documenting so that we don't forget and do a release

[2017-11-16 18:37] #1014 closed

[2017-11-16 18:39] ruslantalpa commented on #1009
did you figure it out? was ti the c9 thing?

[2017-11-16 18:40] #1006 closed

[2017-11-16 18:47] ruslantalpa commented on #994
even if one could infer a path between two tables, the shape of the response would still include all the intermediate tables, it's just how postgrest works and this is unlikely to change.
in this case, there will be a disconnect between the url and the shape of the response so ppl will start complaining that it's a bug.
in short, it's just not worth it, it a few keystrokes that you write once (whe

[2017-11-16 18:47] #994 closed

[2017-11-16 18:49] ruslantalpa commented on #972
you pass it as a header then in sql read it with `current_setting`.
to make it more like a real param, you can have it as a normal query param then in the proxy convert it to a header

[2017-11-16 18:49] #972 closed

[2017-11-16 18:49] #951 closed

[2017-11-16 23:14] skinkie commented on #994
I am happy to agree to disagree.

[2017-11-17 18:48] amirsaber opened #1017 "Query Grammer"
Is there any sort of documentation on what is the grammer for postgrest queries?

[2017-11-17 20:01] ruslantalpa commented on #1017
literally at the top of the projects github page .... https://postgrest.com

[2017-11-17 20:11] begriffs commented on #1017
@ruslantalpa, please be respectful to people's questions on this project.

@amirsaber I'd like to get a better idea about your question. Are you wondering if there is a BNF sort of grammar describing the syntax of queries on the URL?

[2017-11-17 21:42] amirsaber commented on #1017
@ruslantalpa thanks unfortunatly I couldn't find what I was looking for there.
@begriffs Yes, I was looking for something like a BNF.

[2017-11-17 22:07] begriffs commented on #1017
The short answer is there is no exhaustive grammar in the docs, although there are examples of use.

This may be less helpful than you hoped, but here's the relevant part of the code:

The life of a read request gets parsed out in [parseReadRequest](https://github.com/begriffs/postgrest/blob/cf19ad036926b31f9982e80f79a14e7cd93eaba3/src/PostgREST/DbRequestBuilder.hs#L65), which gets you into Parser