[2017-11-17 22:17] amirsaber commented on #1017
@begriffs thanks I will read through it and if I could write a BNF for it I will definitely share. I really enjoyed your projects and we are using it in production for some serious services. It's amazing

[2017-11-18 00:00] amirsaber commented on #1017
I'm trying to write a typescript client library for Postgrest. This is my first try to define the language and it's been a while that I didn't do this. Please help and correct me if I am making a mistake.
[code]

[2017-11-18 14:05] ppooppoo opened #1018 "Resource embedding: how can I filter on sub relations?"
Hi,

I have a question regarding resource embedding. I have a table `team` and a table `player`. A player can belong to one or more teams.

I want to express something like the following:

    http://localhost:3000/team?select=identifier,name,player(identifier,name)&or=(player.name.eq.Messi,player.name.eq.Suarez)

So I want all teams and for each team, I want the players `Messi` and `Suarez` (if t

[2017-11-18 14:35] ppooppoo commented on #1018
Side question: Is it also possible to retrieve only the teams which have `Messi` or `Suarez` in their player list? I can of course invert the query and start with `/player`, but let's assume I want to start with `/team`.

[2017-11-18 15:15] ppooppoo commented on #1018
Regarding my first question, I managed to get it working with `&player.name=in.(Messi,Suarez)`. But I am still curious how to do it with an `or` so I can filter on multiple conditions. For example: `players with name Messi/Suarez or players with active set to true`. How can I do that?

[2017-11-18 15:17] begriffs commented on #1018
As described in https://postgrest.com/en/v4.3/api.html#embedded-filters-and-order, it's not possible to retrieve only the teams which have Messi or Suarez. Selecting `team` and filtering by `player.name` would just end up giving you the same teams as before, but some of them would have empty player lists because the filter applies inside the embedded list.

You can use [stored procedures](https://

[2017-11-18 15:29] ppooppoo commented on #1018
@begriffs Thanks for feedback. I will try it out with stored procedures/views. Very interesting to play with!

[2017-11-18 16:25] #1018 closed

[2017-11-18 16:29] ppooppoo opened #1019 "Filter on sub-relations not possible according to BNF"
I have tables `team` and `player`. I want to express something like:

`or=(player.name.in.(Messi,Suarez),player.active.is.true)`

In chat, Joe provided link to BNF: https://github.com/begriffs/postgrest/issues/1017. Unless I am misreading the BNF, this does not seem to be possible. This is becuase of the following rule:

`<and-or-clause> ::= <string> "." <filter-type1> "." <string> | <string> "."

[2017-11-18 16:37] ppooppoo commented on #1019
Sidenote, it surprises me that an `and` or `or` does not just embed a `filter` directly.

[2017-11-18 19:36] ppooppoo commented on #1019
Answered on chat:

`Try player.or=(name.in.(Messi,Suarez),active.is.true), there are other examples on the tests here https://github.com/begriffs/postgrest/blob/master/test/Feature/AndOrParamsSpec.hs#L28-L41`

It works! Thanks!

[2017-11-18 19:36] #1019 closed

[2017-11-19 06:56] elimisteve commented on #1013
Relatedly, the description currently says things that it seems like should be in the schema, like "this is a foreign key to api.todos".  Seems like that info can go elsewhere?

[2017-11-20 16:58] begriffs commented on #1017
Thanks @amirsaber, that looks accurate to me. @steve-chavez can you confirm? If it's all good I'll add it to docs.

[2017-11-21 11:50] nextstopsun opened #1020 "Slow allcolumns query when DB has foreign tables"
I've got a lot of foreign tables in my DB and postgrest takes a very long time to start. The cause is [this query](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/DbStructure.hs#L329).

So when I add just one single schema in a `WHERE` clause [here](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/DbStructure.hs#L434)
Like so
[code]
It gets magnitudes faster.

Can th

[2017-11-21 13:41] guiuprado commented on #1011
Hi @begriffs sorry for delay. Thanks for your return. Actually we set 1000 connections. The idle time is about 1min,  for now we can use only the session because we don't setup a building environment, but I believe using transaction will be better for the all "ecosystem". Ours server run with 24cpus, 32gb ram, and some table's with millions of data.
We have a 3 services set, 1) exyension partman,

[2017-11-21 19:02] amirsaber commented on #1017
@begriffs  There was a missing part in relations for renaming relation using ":" notion that I added, I also moved the "and or" part from <clause> to <filter> rule

[2017-11-25 23:46] priyank-purohit commented on #861
Looks like it's still not showing keys, should be re-opened.

[2017-11-26 03:28] steve-chavez commented on #1017
Good initiative @amirsaber, I've improved your proposed BNF a bit, the [ABNF](https://en.wikipedia.org/wiki/Augmented_Backus%E2%80%93Naur_form):
[code]

@begriffs @ruslantalpa see if I've made any mistake.

[2017-11-26 04:07] begriffs commented on #1020
I merged your PR, so closing this issue.

[2017-11-26 04:07] #1020 closed

[2017-11-26 04:09] begriffs commented on #1016
Ah man, yet another config file "empty string vs Maybe"  bug. Well hopefully it'll be the last. 😄

Yeah send over the PR when you get the chance.

[2017-11-26 20:19] ldesgoui opened #1023 "4.3.0 fails to install using nixpkgs due to missing dependencies"
Hello,

I forgot how to fix this, this happens on any recent nixpkgs channel.

[code]

[2017-11-26 23:01] begriffs commented on #1023
Thanks for reporting. Probably happened when we bumped dependency versions or messed with the stack.yaml file. Could you try doing a `git bisect` to identify which commit broke it?

[2017-11-27 18:05] elimisteve opened #1026 "[Request] Update postgrest Docker Hub image"
v0.4.3.0 isn't there, and that's the version I need: https://hub.docker.com/r/begriffs/postgrest/tags/

Thanks!

[2017-11-27 18:08] ruslantalpa commented on #1026
Notice the docker badge in the reademe at the top, the link is different

https://hub.docker.com/r/postgrest/postgrest/

[2017-11-27 18:08] #1026 closed

[2017-11-27 18:12] elimisteve commented on #1026
`docker pull postgrest/postgrest:v0.4.3.0` indeed, thanks :-)

[2017-11-29 13:01] meroujanantonyan commented on #1008
Same problem with "." in column name

http://127.0.0.1:3000/vulns_details?pluginattributes.vuln_information.cpe=like.*microsoft*

pluginattributes.vuln_information.cpe is the column name, condition is never triggered..

[2017-11-29 19:55] guiuprado opened #1028 "PostgREST with Nginx"
Hello everybody! If anybody have envolves with this type off task would be helpful some suggestions.

I have setup a environment with using 3 equal database. The environment was build using a Nginx + Upstream pointing to a PostgREST setter like a service on Linux CentOS 7x64.

All is great but I'm worried if I need to setup more environments with services configurations and ports to set on Nginx a

[2017-11-29 19:58] ddarno commented on #1008
This may not be suitable for others, but in my use case I've got a workaround for now.

1. Create a separate schema for Postgrest use. (obviously need to update the config file to use it)
2. Using CREATE TABLE newschema.newtable (LIKE public."old table" INCLUDING ALL); To newtable has the space removed to fix that bit.
3. Simple use INSERT to take a copy of the source table into the new schema wit

[2017-11-30 10:05] PierreR commented on #1023
@ldesgoui I don't believe this has anything to do with postgrest, do you ?

`nixpkgs` is using the `stackage-lts` and the missing reported dependencies are not on the current lts at that required version bound. You will need to override `nixpkgs` to fix this yourself (or send a PR to nixpkgs).

Using the nix `overlays` system, it is going to be something like this:
[code]

[2017-11-30 10:11] PierreR commented on #1016
By the way I would like to suggest the replacement of `configurator-ng` which is not actively maintained, not on stackage and used by one package only (you guess `postgrest`) by `[dhall](https://github.com/dhall-lang/dhall-haskell)` ?

Would such a proposition (with PR) be accepted ?

[2017-11-30 10:11] ldesgoui commented on #1023
I'm mostly ignorant on the subject.

I can't test right now, but if this is a solution and the fix should happen in `nixpkgs` rather than here, I think it's okay to close it, hopefully in the meanwhile, people looking for that issue will find this archived.
I'll let @begriffs make the decision to close this issue.

Thanks!

[2017-11-30 10:43] chaim1986 opened #1029 "The docker-compose.yml file can not work now , please emerge a rigth one."
Since 0.4.3 the docker hub have changed to postgrest/postgrest , the docker-compose.yml file in “docker” directory can not work now.
I think it will be very nice to update the README  and give a example to start postgrest.

----a worked docker-compose

version: '2'
services:
  postgrest:
       image: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: wlc1986
      POST

[2017-11-30 16:45] begriffs commented on #1016
@PierreR yeah I'd consider the PR as long as Dhall can interpolate environment variables into the config file, as required for our Docker setup. For instance: https://github.com/begriffs/postgrest/blob/master/docker/postgrest.conf

[2017-11-30 16:54] begriffs commented on #1029
Yeah the change to the new docker hub repo wasn't announced very well. We did change the link in our docker badge at the top of the readme but not much else. Also other people's postgrest docker files around github point at our old repo.

Would really like it if there was a way to automatically redirect from docker hub itself. So anyone visiting that repo would get a big message to see the new one

[2017-11-30 17:11] PierreR commented on #1016
@begriffs it can surely do that ;-)

[2017-11-30 17:56] #411 closed

[2017-12-01 14:25] waghanza opened #1030 "Troube installing v0.4.3.0"
Hi,

I'm using **Haskell** `8.0.2` and I'm facing this on `cabal install postgrest.cabal`

[code]

Has somebody face this problem ?

Regards,

[2017-12-01 14:41] begriffs commented on #1030
It looks as if you're using the wrong version of the `jose` library or something. We're currently using package versions pinned at Stackage's [LTS-9.6](https://www.stackage.org/lts-9.6), so compare the package versions there with what cabal has installed locally.

If it turns out that this problem was a dependency version thing I'll tighten up the constraints in our cabal file. Even though we rely

[2017-12-01 14:44] waghanza commented on #1030
@begriffs so quick ^^

In fact, I'm (still) building binaries to distribute into **debian** community, and for this I'm using the official cabal way and `stackage` is not supported ;-)

Are binaries (hosted on https://github.com per release built by `stackage` ?)

[2017-12-01 14:53] begriffs commented on #1030
Stackage doesn't build any binaries for us, it just has a server where they test the compatibility of package versions with one another, and publish "snapshots," each of which is recommendations for a set of dependency versions that appear to work properly together.

We make binaries with a continuous integration script that triggers for tagged versions in git. And I personally build it for a few

[2017-12-01 14:54] begriffs commented on #1030
Try running `cabal freeze` and paste the output it writes in `cabal.config` and we can see what dependency versions it is trying to use.

[2017-12-01 14:55] waghanza commented on #1030
sorry, I have removed my answer since I am not sure my affirmation is still actual

[2017-12-01 15:02] waghanza commented on #1030
@begriffs The result of `cabal freeze` is https://git.io/vbqol

It seems to be a problem with the JWT lib (I think)

[2017-12-01 16:08] chaim1986 commented on #1029
Maybe there isn't a way to redirect to the new repo automatically now...
So I think it will be very nice enough to update the section of 'Usage' in README.md , and show a right docker-compose file (as my first comment.).  or just update the 'docker-compose.yml' in the docker directory

[2017-12-01 20:13] danilobuerger opened #1031 "OpenAPI format uuid"
If I have a uuid column it appears like
[code]
in the spec. However when using with something like swagger ui, I can't enter the uuid with an operator:
[code]
This will throw an error in swagger ui (as intended) as it doesn't match the format.

[2017-12-01 20:17] begriffs commented on #1031
Thanks for reporting. What is the format that Swagger-UI is expecting for UUID?

[2017-12-02 08:37] danilobuerger commented on #1031
Looking at the source code I am guessing its this:
[code]

[2017-12-02 16:02] puny-d opened #1032 "Question about production"
When l close ssh, the api would be "Something went wrongHTTP/1.0 500 Internal Server Error".
Any demo code about keep it on server service and auto start with system?

[2017-12-02 16:08] begriffs commented on #1032
Autostart is operating system dependent, but there's a section in the docs about keeping postgrest running after ssh closes: https://postgrest.com/en/v4.3/install.html#running-the-server

[2017-12-03 04:25] puny-d commented on #1032
thanks!

[2017-12-03 04:25] #1032 closed

[2017-12-06 03:06] puny-d opened #1033 "Make postgrest more advanced"
Hello, I would like to move from [parse-server](https://github.com/parse-community/parse-server) to postgrest, here are some few question:

- hope there cloud be an ACL control over rest api，I know this could be done by postgresql，but it is not convenient for debug & testing

- the config support more features, like set some column readonly/(could not read) to some roles , just likes [pREST](https

[2017-12-07 20:10] msalvadores opened #1034 "sslmode value "require" invalid when SSL support is not compiled"
Thanks for the time and effort dedicated to this awesome project.

I have been trying to connect to a postgres 9.6 database server that enforces SSL and have not been able to successfully do so.

Via psql I can connect just fine with:

[code]

With postgrest version 0.4.3.0 on OSX I get:

[code]

My db-uri in the pgrest conf file is exactly the same as the one in psql. When I change my server conf

[2017-12-08 01:35] devton opened #1035 "new version bump?"
any planning about new version with GET rpc?

[2017-12-08 01:40] begriffs commented on #1035
Yeah, we were planning to get the open pull requests taken care of and then release a new version.

[2017-12-09 02:23] #1035 closed

[2017-12-11 14:40] maverickk89 opened #1036 "problem with bulk insert"
when I try to call a csv file so composed:

location_sel_id,temperature_mean,temperature_min,temperature_max,rainfall,phrase,comparison,mday
50453,4,-20,32,178,5,6,'2017-7-11'
50454,5,-30,14,150,3,7,'2017-7-12'
50455,6,-15,2,134,4,8,'2017-7-13'

with the command:
curl -X POST "http://MY_IP/rpc/FUNCTION_TO_INSERT" -H "accept: application/json" -H "Content-Type: text/csv" --data-binary @file.csv

I

[2017-12-11 18:57] joshgummersall opened #1037 "Version v0.4.3.0 missing in Docker Hub"
Just want to start by thanking you, @begriffs, for such a useful piece of software. That said, it appears that version `v0.4.3.0` is missing from https://hub.docker.com/r/begriffs/postgrest. I was able to build this version locally and verify that the build worked without issue.

Again, thanks for your time and continued efforts.

[2017-12-11 19:03] begriffs commented on #1037
The correct repo is actually https://hub.docker.com/r/postgrest/postgrest/

We link to it in a badge at the top of the readme, but you're not the first person to use the older repo. Maybe I should add a more prominent note about the move...

[2017-12-11 20:03] joshgummersall commented on #1037
That makes sense - I was using the other repo as it ranks higher in a Google search for "postgrest docker". Thanks for the correction!

[2017-12-11 20:03] #1037 closed

[2017-12-12 13:31] #1016 closed

[2017-12-12 14:26] ruslantalpa opened #1038 "Some tests fail on PG 10"
If the local db where the tests run is 10, these tests fail, everything works ono 9.6.
all the failing tests relate to `text_search_vector`

(there is a small chance lines numbers might be a bit off since this is my custom build and i might have added a few test)
[code]

[2017-12-12 14:38] steve-chavez commented on #1038
For me on master, with PostgreSQL 10.1, only one test fails:
[code]
It's related to the order of the json objects in the array, it's been like this for a while and I've just been ignoring it.

[2017-12-12 14:40] ruslantalpa commented on #1038
hmm, interesting, i'll close this for now since it might be something on my end though i don't think i touched that part

[2017-12-12 14:41] ruslantalpa commented on #1038
actually I'll reopen, I think this is affected by some lang config

[2017-12-12 14:52] ruslantalpa commented on #1038
yeah, tried on master, test fail as described above, there is one config setting that throws them off

[2017-12-12 14:53] #1036 closed

[2017-12-12 15:02] ruslantalpa commented on #1038
doing a diff between 9.6 and 10 config, i see these changes that might affect this (especially the last one, try checking you 10.1 config and see if changing that line breaks the tests)

[code]

[2017-12-12 15:09] steve-chavez commented on #1038
It's the `default_text_search_config = 'pg_catalog.simple'` config, that gives me the same `12 failures` of your first comment.

[2017-12-12 15:22] ruslantalpa commented on #1038
i guess it's a case of "fixing tests" and making sure they don't depend on the server config. maybe somehow we can have this particular setting tied to the authenticator user.

[2017-12-12 15:28] steve-chavez commented on #1038
Yeah, I think a `SET default_text_search_config TO english` in the fixtures will do.

[2017-12-13 15:38] Chaz6 opened #1039 "http://www.postgrest.com shows "SORRY This page does not exist yet.""
When browsing to http://www.postgrest.com/ instead of a page about postgrest it shows the default "Read the Docs" page with the following message:-

[code]

[2017-12-13 15:59] ruslantalpa commented on #1039
Its without the www part

[2017-12-13 16:38] begriffs commented on #1039
I added another server rule just now so `www.postgrest.com` will redirect to the non-www version.

[2017-12-13 16:38] #1039 closed

[2017-12-16 22:00] mithold opened #1040 "Doc Improvement - Running on Windows"
Hello,

In the documentation (https://postgrest.com/en/v4.3/tutorials/tut0.html) It states -

However there is a simpler way than the suggested link. All of the DLL files that are required to run PostgREST are available in the [windows installation of PostgreSQL](https://www.postgresql.org/download/windows/) server. Once installed they are found in the BIN folder eg: C:\Program Files\PostgreSQL\10

[2017-12-16 22:54] begriffs commented on #1040
Cool, thanks for letting me know about that. Want to send a pull request to update the docs?

Also the environment variable approach sounds better than copying the postgrest binary to a special directory.

[2017-12-19 09:50] ruslantalpa commented on #1034
The build is done inside docker here
https://github.com/begriffs/postgrest/blob/master/.circleci/config.yml
PostgREST uses hasql, which in turn uses postgresql-libpq, a low level bining to the C lib, so in theory ssl should be supported and postgresql-libpq has some "ssl logic" https://github.com/lpsmith/postgresql-libpq/blob/master/src/Database/PostgreSQL/LibPQ.hsc

checking out where the error c

[2017-12-19 10:02] ruslantalpa commented on #1034
looks like that error comes from the libpq itself
https://stackoverflow.com/questions/36186935/postgres-sslmode-value-require-invalid-when-ssl-support-is-not-compiled-using

The PostgREST mac version is the only one being built manually so it just might be that the libpq on that particular box did not have ssl support.
Have you tried running postgrest from docker and connect to this db?

[2017-12-19 15:52] msalvadores commented on #1034
Thanks @ruslantalpa for the links.

According to the SO link it might get fixed compiling with the `--with-openssl` option.  If that does not work I will try the docker release. I will post my findings here.

[2017-12-22 23:08] dbohdan opened #1041 "Add repository topic "automatic-api""
Could you add the topic `automatic-api` to your repository? Software that automatically exposes APIs to databases type isn't well-cataloged. (There didn't even seem to be a GitHub list, so I [started one](https://github.com/dbohdan/automatic-api).) It will be easier to discover if there is a standard [GitHub topic](https://help.github.com/articles/about-topics/), and `automatic-api` seems as good

[2017-12-22 23:18] begriffs commented on #1041
Done. 😄

[2017-12-22 23:18] #1041 closed

[2017-12-22 23:19] dbohdan commented on #1041
Thanks!

[2017-12-27 16:41] abbapappa opened #1042 "About PGRST_SERVER_PROXY_URI"
Hi,

Is it possible to make the environment variable `PGRST_SERVER_PROXY_URI` optional? It took me half a day to figure out why a standard deployment with just `PGRST_DB_URI`, `PGRST_DB_SCHEMA` and `PGRST_DB_ANON_ROLE` isn't working.

Thanks guys!

[2017-12-27 16:46] ruslantalpa commented on #1042
what was the error? what version/image were you using?

[2017-12-27 16:50] abbapappa commented on #1042
I am running via Docker. If I run without `PGRST_SERVER_PROXY_URI`, I get:

[code]

[2017-12-27 16:51] ruslantalpa commented on #1042
what is the image url/version?

[2017-12-27 16:52] abbapappa commented on #1042
I am using image `postgrest/postgrest:latest`.

[code]

[2017-12-27 16:53] ruslantalpa commented on #1042
this has been fixed (but not released), see changelog.
#968, Treat blank proxy uri as missing - @begriffs

[2017-12-27 16:53] #1042 closed

[2017-12-27 16:55] abbapappa commented on #1042
Great! Thank you for your very quick reply.

[2018-01-02 20:17] eric-brechemier commented on #495
For future reference: this was done in commit e770570ce and merged with PR #988.

[2018-01-05 05:22] luke-clifton opened #1043 "Asymetric CSV encoding/decoding"
If you want to import a `NULL` you have to use the string `NULL` in the CSV, but when downloading a CSV, `NULL` is converted to an empty string.

Is this expected/intended behaviour? I want to be able to round trip the CSVs.

[2018-01-05 09:03] danilobuerger commented on #1031
@begriffs any news on this? Wouldn't it be enough to just remove the `"format": "uuid"` then we could enter any string.

[2018-01-06 17:23] egeste commented on #465
+1

[2018-01-07 12:37] gabriel-sevecek opened #1044 "Unable to get embedded resource via view in a specific scenario"
[instrospection.json.txt](https://github.com/begriffs/postgrest/files/1609752/instrospection.json.txt)

[schema.sql.txt](https://github.com/begriffs/postgrest/files/1609751/schema.sql.txt)
I'm using PostgREST 0.4.3.0 on macosx 10.13.2 and docker postgresql container with version 10.1. I have two similar views referencing the same table, one with join:

[code]

Selecting any embedded resource works

[2018-01-09 15:06] pycal commented on #991
This can also be caused by using a different secret key to sign the JWT

[2018-01-10 04:41] msalvadores commented on #1034
The docker release has no issues in terms of SSL. I am going to move forward with that solution.

[2018-01-10 04:41] #1034 closed

[2018-01-10 04:46] begriffs commented on #1034
@msalvadores sounds good. Also I tested the new [v4.4 release](https://github.com/begriffs/postgrest/releases/tag/v0.4.4.0) OS X binary with an `?sslmode=required` connection string and it worked. Want to give it a try and see if the new build works better?

[2018-01-10 14:50] #828 closed

[2018-01-10 14:50] #835 closed

[2018-01-10 16:24] msalvadores commented on #1034
Sure, thanks for letting me know @begriffs  I will give it a try and will provide feedback here.

[2018-01-10 16:43] #925 closed

[2018-01-11 16:46] lifepillar opened #1045 "Bind to localhost?"
Is it possible to bind postgrest to a specific interface (e.g., localhost)?

[2018-01-11 17:07] begriffs commented on #1045
Yep, check out `server-host` in https://postgrest.com/en/v4.3/install.html#configuration

[2018-01-11 19:02] lifepillar commented on #1045
Great, thanks! Somehow I had missed that setting.

[2018-01-11 19:02] #1045 closed

[2018-01-13 16:02] ilkosta commented on #286
The approach seems something like https://github.com/tobyhede/postgresql-event-sourcing, but it would need a complete rewrite of the application logic, something that is not always possible.

[2018-01-22 08:48] ahtik opened #1049 "Ensure deprecated Docker Hub image at begriffs/postgrest is clearly announced and new location clearly visible"
A good example could be https://hub.docker.com/_/elasticsearch/
What could be the easiest way to contribute this announcement to the old image description at https://hub.docker.com/r/begriffs/postgrest/ ?

Badge alone doesn't seem to be enough as people are having trouble (#1029 #1037 #1012 #982 #973) to migrate to the latest, especially as google search keeps returning the old Docker Hub link.

[2018-01-22 18:33] Arm1nE commented on #987
@begriffs @steve-chavez I have the same problem, Is there any solution?

[2018-01-23 20:22] zharikovpro opened #1050 "Support Heroku Postgres out of the box"
PostgREST uses DB_URI env var to read connection string, but Heroku Postgres stores connection string in DATABASE_URL.  Reading connection string from that var would make Heroku Button a joy to use with Heroku Postgres!

Simply copying DATABASE_URL content to DB_URI is not enough, cause Heroku may rotate credentials and update connection string. Also, DB owner can force credentials rotation, too.

[2018-01-23 20:32] begriffs commented on #1050
The big reason we haven't integrated with Heroku Postgres is because it doesn't offer admins the permissions to create new database roles. Roles are the basis for how we do [access permissions](https://postgrest.com/en/v4.4/auth.html), so at the moment Heroku Postgres is suitable only for apps where every API client has the same level of access.

If Heroku relaxes this restriction then I'm all for

[2018-01-23 20:34] begriffs commented on #1049
I agree that it's causing confusion. Thanks for pointing out the elasticsearch thing as an example. I'll make some time to fix this up.

[2018-01-23 20:44] zharikovpro commented on #1050
On professional plans Heroku to [add roles via dashboard/cli](https://devcenter.heroku.com/articles/heroku-postgresql-credentials). That way app can have many roles with different access rules.

For sure, each user won't have a unique role (as Heroku doesn't allow to execute SQL to create roles). Yet, it's rarely needed to create a role for each individual user.

It's possible to create "anonymous

[2018-01-24 09:54] geohuz commented on #937
I have the same problem and solved by manually create a new file and typing all the lines in the file.

[2018-01-25 21:07] christiaanwesterbeek opened #1051 "When doing user management entirely through SQL, how to create a user"
I want to support logins entirely through SQL. No use of an external service like Auth0. When following this guide (https://postgrest.com/en/v4.4/auth.html#sql-user-management) to do that, I end up with a hidden schema `basic_auth`. For checking credentials through functions, that's fine. What if I want to create new users through the REST api? The table in the schema to create the user in is hidd

[2018-01-26 00:25] steve-chavez commented on #837
Can't reproduce @russelldavies [test case](https://github.com/begriffs/postgrest/issues/837#issuecomment-291567909) on master.

Both `{ "type": { "a": 3, "b": 4 } }` and `{ "type": "(3,4)"}` payloads succeed when POSTed.

Thought this was recently fixed(unintentionally) but even as far back as `v0.3.2.0` the test case succeeds with no error.

Seems to me that the POST in the test case was done wit

[2018-01-26 04:03] steve-chavez commented on #837
My bad, I was running the test case on `PostgreSQL 10` and in this version the bug got fixed, this is mentioned in the [CHANGELOG](https://www.postgresql.org/docs/devel/static/release-10.html):
[code]

[2018-01-26 04:04] ruslantalpa commented on #1051
2 (grant create) is wrong.
Anon only needs execute on that function (no rights to the table) and you make the signup function absecurity definer.
(As before, this is implemented in the starter kit)

[2018-01-26 08:09] christiaanwesterbeek commented on #1051
Thank you. That means, I'm thinking in the right direction. Also, thank you for your starter kit! I found the [signup function](https://github.com/subzerocloud/postgrest-starter-kit/blob/master/db/src/libs/auth/api/signup.sql) too.

[2018-01-26 08:09] #1051 closed

[2018-01-26 15:56] steve-chavez commented on #336
I think this issue can be closed by:

- Adding a test to ensure that a `jsonb` column can be filtered by equality.
- Enable the `Location` header only for tables with a PK. If the table has no PK the `Location` will be misleading, also don't think `json/jsonb` columns are good candidates for PK so I'll add a test with a different data type for this.

@begriffs Let me know what you think.

[2018-01-30 02:36] begriffs commented on #1049
OK, I updated the project info to redirect people to the new one.

[2018-01-30 02:36] #1049 closed

[2018-01-30 10:23] bylee5 opened #1052 "Failed to query the database."
I built from source.
I run the server like:
$ stack exec postgrest -- tutorial.conf
$ cat tutorial.conf
db-uri = "postgres://bylee:bylee@localhost:5432/agens"
db-schema = "public"
db-anon-role = "bylee"

The error is like:
$ stack exec postgrest -- tutorial.conf
Listening on port 3000
Attempting to connect to the database...
Failed to query the database. Retrying.
{"hint":null,"details":null,"code

[2018-01-30 10:53] ruslantalpa commented on #1052
What postgresql version are you using?

[2018-01-30 17:09] michimau opened #1053 "OData compliant?"
Dear friends,
is the service established by postgres anyhow in line with Odata guidelines?

best!
michimau

[2018-01-31 00:38] bylee5 commented on #1052
I am using version 9.6.2.

[2018-01-31 14:46] kljensen commented on #1013
@litriv If you put the comments on the API views, they will show in swagger. The comments on your tables in the data schema do not.

[2018-02-01 11:43] litriv commented on #1013
@kljensen ah okay thanks yes that makes complete sense - i guess i must've been tired.  i'll close the issue then.

[2018-02-01 11:43] #1013 closed

[2018-02-01 15:50] steve-chavez commented on #669
This was fixed in https://github.com/begriffs/postgrest/pull/978 and released in [v0.4.4.0](https://github.com/begriffs/postgrest/releases/tag/v0.4.4.0).

[2018-02-01 16:55] steve-chavez commented on #519
This is related to #987. I added [tests](https://github.com/steve-chavez/postgrest/blob/self-reference-fks/test/Feature/QuerySpec.hs#L457-L500) in #1054 to make sure the two self reference foreign keys embed use case works.

[2018-02-01 19:14] steve-chavez commented on #821
Not related to #918. The issue here is that aliased embeds cannot be used aliased in filters.
I've come up with a reduced test case:
[code]
The wanted response is:
[code]
Reproducing the errors:

[code]
[code]
The problem here is that the filters are applied to only the first embed.

[code]
[code]
The problem here is that the aliased filters(`zones` and `stores`) are ignored and not considered in

[2018-02-02 02:21] ACPK opened #1055 "Column only for insert"
I'm able to successfully create a record, but I have a required column that is needed for a create action but is not needed for an update or view. How would I specify this in the table's view?

[2018-02-02 02:41] ACPK commented on #1055
I'd also like to limit the created_at and updated_at columns so they can only be viewed.

[2018-02-02 04:42] ACPK opened #1056 ""WITH local check option" where user_id is in a different table"
How would I add  "WITH local check option"  to a table where the user_id is in a different table. The issue is that I need to grab the user_id via a left_join.

[2018-02-02 17:52] ACPK commented on #1055
@steve-chavez - This produces an error that the column is not in the view.

[2018-02-02 23:24] devguf opened #1057 "Resource Embedding for 'Self Joins' does not work anymore in 4.4"
[code]
The following query
`http://localhost:8080/person?id=eq.3&select=id,name,manager(id,name)`
gives with 4.3 the correct result:
`[{"id":3,"name":"Person 3","manager":{"id":1,"name":"Person 1"}}]`
In the new 4.4 version the resource is missing:
`[{"id":3,"name":"Person 3","manager":null}]`

[2018-02-03 01:26] steve-chavez commented on #1057
The regression was caused unintendenly in https://github.com/begriffs/postgrest/pull/978, there's a fix in progress here https://github.com/begriffs/postgrest/pull/1054, and in addition self join embedding now works for child relations as well(e.g.
`GET /person?select=id,name,managees:person.manager(id,name)`).

[2018-02-04 00:13] begriffs commented on #667
I'm cautiously closing this issue, since it appears to be a special case of https://github.com/begriffs/postgrest/issues/286

[2018-02-04 00:13] #667 closed

[2018-02-04 01:07] begriffs commented on #989
@barbalex so that weird error about "invalid UTF-8 stream" is actually caused by attempting to use an authenticator role that doesn't have access to the database? Can you give me the minimal test case to reproduce?

I tried to reproduce this error by altering `pg_hba.conf` to reject all connections. However the error message I get is clearer. I'm on PostgREST v4.4

[code]

[2018-02-04 01:23] begriffs commented on #1008
✔️ reproduced:

[code]

[code]
[code]

[2018-02-04 01:25] begriffs commented on #1009
@amadeuspagel did you make any progress with this?

[2018-02-04 03:27] begriffs commented on #1028
Can you explain a little more about your concern?

[2018-02-04 03:35] begriffs commented on #1023
Sorry, I don't know much about the details of using Nix. What are the full steps to reproduce? Based on the issue description I'm assuming:

1. Install nix, `bash <(curl https://nixos.org/nix/install)`
2. Pull the latest postgrest master
3. In the postgrest source root, run `nix-shell --pure`

Is that right?

[2018-02-04 05:40] begriffs commented on #1030
OK, I tried building the master branch on a fresh Debian 9.3 machine and it worked for me. This is what I did:

[code]

Could you see if the build problem has gone away for you with postgrest 0.4.4?

[2018-02-04 05:52] #1040 closed

[2018-02-04 06:34] begriffs commented on #1043
Yeah it's inconsistent. Not sure the best way to resolve it either, should we `COALESCE(col, 'NULL')` for each column in the csv output?

[2018-02-04 06:50] begriffs commented on #1031
Oh, because the `eq.` part at the beginning is considered part of the value? That's annoying. Wouldn't the same logic apply to types like integers too since `eq.42` is not itself an int?

[2018-02-04 19:08] danilobuerger commented on #1031
I just checked with `smallint`, those get rendered as
[code]

[2018-02-05 12:21] steve-chavez commented on #1044
This is the same problem reported in #823, #562. Basically the relation cannot be found due to a second view. I've found that the [raiseRelations](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/DbStructure.hs#L282-L283) function is not adding a `Parent` relation in this case.

[2018-02-05 22:12] pauldzy opened #1058 "Support for empty JSON input to rpc function"
Hello,

PostgREST is great.

I have a function with JSON parameters that I would like to expose through the rpc interface.  These parameters are optional and various js apis submit them as an empty parameter such as /rpc/myfunction?myjson=&otherparam=1

PostgREST seems to currently pass this empty parameter as an empty string to a JSON constructor such that the result is
{"hint":null,"details":"Th

[2018-02-07 16:21] kmsarabu opened #1059 "Inline SQL for allSynonyms causing regression"
The inline SQL from [allSynonyms ](https://github.com/begriffs/postgrest/blob/516976e32fa3d8b8e8cc6b6e02bc02ee1e4964ca/src/PostgREST/DbStructure.hs#L669) taking couple of hours when PostgreSQL database has 100+ views from different schemas.

Inline SQL that's causing regression:

select distinct
            v.oid as view_oid,
            nv.nspname::information_schema.sql_identifier as view_schema

[2018-02-07 16:28] begriffs commented on #1059
Which version of postgrest?

[2018-02-07 16:35] kmsarabu commented on #1059
Thanks for quick response.

We are using version 0.4.4.0.

[2018-02-07 17:02] begriffs commented on #1059
I asked because 4.4 has an improvement (#1021) in collecting the metadata at startup time, but it is for `allColumns` rather than `allSynonyms`.

Maybe there's a similar improvement possible for this query? Does the `EXPLAIN` command reveal the expensive part of the slow query you identified?

[2018-02-07 17:14] kmsarabu commented on #1059
Explain plan looks fine to me. I suspect it has to do with the number of attributes and the repetitive iterative calls on "pg_get_viewdef(v.oid):" for each attribute for same object. Some views have over 600 attributes, combined with dependent objects join, might be amplifying the regression.

select
            v.oid as view_oid,
            nv.nspname::information_schema.sql_identifier as view_s

[2018-02-08 10:15] ruslantalpa commented on #1052
i see the word `match` in this query https://github.com/begriffs/postgrest/blob/516976e32fa3d8b8e8cc6b6e02bc02ee1e4964ca/src/PostgREST/DbStructure.hs#L669-L735

try running it directly in your db and check if it gives you an error.

[2018-02-08 22:47] canadaduane opened #1060 "Show introspection for all endpoints, even if current permission is lacking?"
Here's what I'm trying to accomplish:
- I'm using swagger to show documentation for the API that PostgREST has so kindly created for me
- Most of the API requires a jwt token, and is therefore inaccessible to anonymous users
- When I visit the Introspection endpoint `/`, I can only see endpoints that are publicly visible

How can I configure the postgresql permissions to allow anonymous users to S

[2018-02-08 22:53] begriffs commented on #1060
That's actually how things used to work until #954 caused the change in #970 so I guess we can't please everybody. 😛

[2018-02-08 23:11] canadaduane commented on #1060
Hmm, that's unfortunate. I'd like documentation to be complete and unobscured, without logging in. Perhaps this should be a configuration setting? (I'm not asking you to actually change anything, just curious about the acceptability of adding it as a config).

[2018-02-09 18:04] canadaduane commented on #1060
Interesting approach, thank you. I'm using nginx in front as well.

[2018-02-09 21:40] canadaduane opened #1062 "Where to store secrets in database?"
I've been following along with the excellent documentation at https://postgrest.com/en/v4.4/auth.html, and the suggested place to store app secrets is as a property of the database:

[code]

However, it appears that this is not allowed on Amazon RDS:

[code]

(the same `ALTER DATABASE` call works locally for me).

Do you have any other suggestions for keeping app secrets in a secure place, i.e. no

[2018-02-10 13:22] Arm1nE commented on #987
@begriffs @steve-chavez is there any release version based on this fixed?

[2018-02-10 15:55] begriffs commented on #987
Not yet. There's a pull request with the fix, but it has not yet been merged and hence not released.

[2018-02-10 17:34] ruslantalpa commented on #1062
Why not store them in tables?
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/db/src/init.sql#L30
https://github.com/subzerocloud/postgrest-starter-kit/blob/master/db/src/libs/settings/schema.sql

It's more secure then a global env var.
Setting them as a "session var" as you've started with your PR also a good idea

[2018-02-11 18:13] guiuprado commented on #1028
When an environment is configurated we basically use Ngnix to expose PostgREST hiding the IP and Port. So, we create a linux service because we want PostgREST start automatically.

For each API we expose we need to create manually these settings:

1) Create a service file on systemd

/usr/systemd/system/postgrest-env1.service

[Unit]

Description=PostgREST Http RESTfull
After=pgbouncer.service

[S

[2018-02-12 00:16] bylee5 commented on #1052
@ruslantalpa thank you. I checked a same error.

[2018-02-12 01:08] TAQ2 opened #1064 "Environment variables in the configuration file"
Hello,

I am on the lastest version of postgrest and I work in a team, in which we all use individual databases. I am wondering if I can set up an environment variable so that a dev must pass in their db uri to make postgrest work, while keeping values of the schema or the jwt-secret the same. Any ideas how I can do this?

Thanks!

[2018-02-12 03:15] ruslantalpa commented on #1052
the postgres code is being tested agains pg 9.6 (and was also running on pg 9.3) so a query givving you an error is odd. My guess is you are using the clinet version 9.6 (psql) but the server you are connecting to is older.
try running the query `select version()`.

[2018-02-12 03:18] ruslantalpa commented on #1064
So you are saying each dev has his own "config file" for his postgrest deployment?
OR are you saying you want to run a single PostgREST instance and have it connect to different database depending on what developer is accessing it? (not possible)

[2018-02-12 10:24] TAQ2 commented on #1064
Thanks for getting back to me! Yes the former, each dev has their own config file, but the only difference will be the db-uri. Everything else must stay the same

[2018-02-13 06:59] ruslantalpa commented on #1064
You could use docker to be able to use env vars but i don't see a big difference from each dev having his own config file and running his instance of postgrest

[2018-02-13 17:08] canadaduane opened #1065 "test/Feature/AndOrParamsSpec.hs:185 failing"
I'm on master and I'm getting this spec failure locally. It appears to be a simple case of an unordered hash or map in json results:

[code]

[2018-02-13 17:31] steve-chavez commented on #1065
Happens on PostgreSQL version >= 10, on CircleCI we test with 9.4 and 9.6.

If the json is reordered the test fails on 9.4/9.6, for now I've just been ignoring that failure when working locally.

[2018-02-13 19:37] ACPK opened #1066 "Updating app using postgrest-heroku's buildpack"
Is upgrading Postgrest is as easy as changing the "POSTGREST_VER" ENV? I'm assuming there will be breaking changes as it's not at 1.0 yet.  :)

[2018-02-14 13:31] TAQ2 commented on #1064
yeah makes sense, I guess I was trying to control what is in this config file (to avoid bugs) but as you say each dev with a config file is not that big of a deal :)

[2018-02-14 19:26] BrandonChubb opened #1067 "filtering question"
Looking for some filtering advice.  Consider the following:
`create table albums (
  id integer not null primary key,
  name text not null,
  year integer not null,
  leader integer
);

create table artists (
  id integer not null primary key,
  name text not null
);

alter table only albums add constraint leadid foreign key (leader) references artists(id);

grant all on table albums to testuser;

[2018-02-14 20:13] ruslantalpa commented on #1067
your select param is not right
`http://localhost:3000/artists?name=eq.Miles&select=id,name,albums(name, year)`

[2018-02-15 18:16] mdr1384 opened #1068 "RPC Function object response schema seems randomly inconsistent"
REF: [https://stackoverflow.com/q/48793114/1571426](https://stackoverflow.com/q/48793114/1571426)
When calling a REST function that returns JSON and requesting the object return schema, sometimes (randomly it seems) the result is wrapped in an object that has the function name as the only key. This makes parsing the result a bit tiresome, e.g.:

With a DB function:
[code]
And a REST call:
[code]
S

[2018-02-15 18:40] steve-chavez commented on #1068
The function response shape depends on the database structure cached by PostgREST(we detect if the function is scalar to return it unwrapped), my guess is that you see the `{"conf_test": { "auth": ..}` when you create the function after PostgREST was started, and you see `{"auth": ..}` when you restart PostgREST or create the function then start it.

Maybe you can give it a try to see if that's th

[2018-02-15 20:57] mdr1384 commented on #1068
Actually I had tried restarting posgrest to see if it would get fixed but it did not. Also tried restarting postgres.   One time in particular the change from the expected `{"auth":...}` to the (broken in my opinion) `{"conf_test":...}` happened before my eyes many days after the api schema was built and the server had been restarted many times. In this instance it was working fine for days from o

[2018-02-16 12:57] giangstrider commented on #804
Hey guys, I'm newcomer.
And this issues very urgent for our product now.
it's expose everything in root path.
So anyway to disable OpenAPI until now?
Many thanks for support!

[2018-02-16 13:30] ruslantalpa commented on #804
@giangstrider  you control access to `/` through nginx that you put in front of postgrest

[2018-02-16 17:43] begriffs commented on #804
@giangstrider also remember that even if openapi shows the endpoints, you can control people's access to each of them using postgresql role permissions.

[2018-02-16 18:32] BrandonChubb commented on #1067
OK that was great advice.  But I didn't quite get to the point here.   Here's a query to get all 1958 albums with Miles as leader:

% curl 'http://localhost:3000/albums?year=eq.1958&artists.name=eq.Miles&select=name,artists(name)'
[{"name":"Milestones","artists":{"name":"Miles"}}]

Perfect!  Same thing, but get the 1958 albums with Trane as a leader:

%curl 'http://localhost:3000/albums?year=eq.19

[2018-02-16 20:21] ruslantalpa commented on #1067
Mot possible out of the box
See https://github.com/begriffs/postgrest/issues/696#issuecomment-239876019

[2018-02-16 20:21] #1067 closed

[2018-02-16 20:26] ruslantalpa commented on #1067
If your case is exactly as in your examole then you can request artist and embed albums and get the results you want

[2018-02-17 15:05] begriffs commented on #804
A slight correction to what I said. If you remove access for a given role to read a table/function/etc then that object will not appear in OpenAPI output.

[2018-02-19 00:15] SebAlbert opened #1069 "Concurrency control in multi-user environments"
Dear PostgREST community

Is there an "idiomatic" way (meaning PostgREST principles) to handle concurrent updates in a multi-user environment? I.e., with PostgREST as "backend", having a frontend (say webapp) for users to retrieve, edit, and then store changes to entities (rows in tables). How would you handle two users attempting to edit the very same entity (row) concurrently, while maintaining

[2018-02-19 00:58] begriffs commented on #1069
Concurrency issues are handled by the database. I wrote an article about the different kinds of concurrency problems and how PostgreSQL handles them: https://begriffs.com/posts/2017-08-01-practical-guide-sql-isolation.html

See which of those issues might apply in your situation. PostgREST uses the "Read Committed" level of transaction isolation. Your question makes me think maybe this level shoul

[2018-02-19 01:09] begriffs commented on #1069
One more note: if we turn the isolation higher we can run into the `serialization_failure` exception. The client would need to retry the request if it received that exception, or else we'd need to add logic inside PostgREST to retry with perhaps exponential backoff.

[2018-02-19 10:53] jackfirth commented on #1069
@begriffs HTTP etags and conditional requests would be a good way to expose retryable concurrent update failures to clients. See the `ETag` and `If-Unmodified-Since` headers along with the `412 Precondition Failed` status code. Also, PostgREST can include a `Retry-After` header in 412 responses so clients don't have to implement the logic for calculating exponential backoff themselves - they can j

[2018-02-19 18:41] #1062 closed

[2018-02-19 19:27] SebAlbert commented on #1069
My concern really wasn't about database transactions (although it would be neat if we could control them for PostgREST, too!) - it is usually strongly discouraged anyway to hold a database connection with a transaction open during the time a user (human being in front of the computer :-)) takes to edit fields of some entity (and maybe goes away for any amount of time - maybe even forever).

@jackf

[2018-02-20 19:26] BrandonChubb commented on #1067
We're trying to allow the most freedom for the end user -- which could include more arbitrary searches than a pre-canned function would allow.  Given that we could design SQL to apply all the conditions to filtering the main table, it seems like it should be possible to do the same with postgREST.  Are there technical obstacles to providing this functionality, or is it just a resource/priority pro

[2018-02-21 12:33] #256 closed

[2018-02-21 12:54] steve-chavez opened #1070 "Respond with HTTP 200 instead of 201 when no rows inserted"
Currently this is happening with POST when the payload is `[]`, see: https://github.com/begriffs/postgrest/blob/108f3cd651a448fad065faf81a2090cee8a8d9fb/test/Feature/InsertSpec.hs#L129-L135

And when `Prefer: resolution=ignore-duplicates` is specified and all rows in the payload are duplicates: https://github.com/begriffs/postgrest/blob/108f3cd651a448fad065faf81a2090cee8a8d9fb/test/Feature/UpsertS

[2018-02-21 14:23] #987 closed

[2018-02-21 14:26] steve-chavez commented on #1057
This is now fixed on master.

[2018-02-21 14:26] #1057 closed

[2018-02-21 16:20] ptrwis opened #1071 "Return raised messages (debug, log, info, notice, warning)"
Example pl/sql procedure below inserts a car into a table, but before it does few validations (they may not make sense, it is just an example). If any of them fail it raises notice and goes further, and ultimately if there were validation errors it throws an exception. This way multiple validation errors/messages can be returned:

[code]
The problem is when calling this proc, only exception is ret

[2018-02-21 16:50] steve-chavez commented on #1071
Related to this old issue #362, there's a workaround in https://github.com/begriffs/postgrest/issues/362#issuecomment-156655422 that could achieve what you want.

[2018-02-21 18:30] ptrwis commented on #1071
Thank you. I will leave it open because I believe it should be implemented as a standard feature.

[2018-02-22 17:38] revs-subdu opened #1072 "ERROR: total size of jsonb array elements exceeds the maximum of 268435455 bytes"
Hi,

I am facing this issue when I try to update row (of type jsonb).
Is there any to fix this issue and increase its size?

We are using Postgres 10.
Thanks

[2018-02-23 12:45] jacobreto opened #1073 "Case insensitive queries are not supported."
I would like to use postgrest as an API front-end for a login database. However, I can't find any case insensitive equality operator to look up usernames in our database, e.g. we want to find "PlayerBob" even if a user types "playERBob", eq. `SELECT * FROM users WHERE LOWER(username)='playerbob'`.

We have an index on `LOWER(username)`, so this is not bad (i.e. a serial query), but I can't find a

[2018-02-23 13:45] steve-chavez commented on #1073
You could do that with a view or with a [computed column](https://www.postgresql.org/docs/9.3/static/xfunc-sql.html#XFUNC-SQL-COMPOSITE-FUNCTIONS):

[code]

[code]

[2018-02-23 14:39] jacobreto commented on #1073
That's such an elegant solution, thank you so very much! Do you know the resulting query is indexed?

[2018-02-23 18:01] begriffs commented on #1073
If you have access to install extensions in your database, "citext" would be a perfect type for this column. Also works with indices.

For an example, see the email address section of my article:
https://begriffs.com/posts/2017-10-21-sql-domain-integrity.html#email-addresses

[2018-02-24 23:15] #1060 closed

[2018-02-26 12:32] jacobreto commented on #1073
Perfect. Thank you very much for writing this!

[2018-02-26 21:00] BrandonChubb opened #1075 "filtering on main table with embedded table criteria(inner join)"
Per issues like https://github.com/begriffs/postgrest/issues/696 and https://github.com/begriffs/postgrest/issues/1067 it seems there's no way to apply all filters of embedded tables to the main table -- though there would be a way to do that via SQL.

- Would it be reasonable to file a enhancement request for this?
- Is there a large technical barrier to implementing this (perhaps we would attemp

[2018-02-27 13:14] jacobreto commented on #1073
Here is a small followup:

Both of the proposed solutions work. However, both of them have issues when used on a database with multiple schemas. We have a `public`, and then we have `login`, which is the `db-schema` that I have selected in the config file passed on to postgrest.

When I try to do a computed column, it works great if the function lies under the `public` schema, but not if it lies i

[2018-02-27 13:49] jacobreto commented on #1073
Nevermind, fixed by adding `login` to the user's search_path. Sorry, I'm too new at postgresql for this.

https://stackoverflow.com/questions/39261729/additional-module-citext-is-installed-but-type-citext-not-found

[2018-02-27 13:49] #1073 closed

[2018-02-27 14:44] ruslantalpa commented on #1073
Check your postgrest version. The function in the login schema should work in the latest version (or at least it is like that in the master)

[2018-03-01 19:18] steve-chavez opened #1076 "CPU usage while idle"
Testing this on an Archlinux x64 - i7 4790 - 8GB RAM, when running `top -p $(pgrep postgrest)` about every 1 sec I see a `%CPU 0.7` usage.

Did a profile on an idle postgrest running about 5 mins and I got:
<details>
<summary>Idle profile</summary>
<pre>
     postgrest +RTS -N -I2 -p -h -RTS config

  total time  =        0.03 secs   (31 ticks @ 1000 us, 1 processor)
  total alloc =   5,617,728 by

[2018-03-01 22:32] christiaanwesterbeek opened #1077 "Get binary data with image/* Accept header that is used by browsers for img tags"
Thanks to #802 we can get binary output using the `Accept: application/octet-stream` header. Works fine. I can fetch my binary, which is an image using Postman:
![image](https://user-images.githubusercontent.com/465989/36872853-fcf80110-1da6-11e8-9eaf-712fd0569581.png)

But now, I want to get that image in an [img tag](https://github.com/begriffs/postgrest/issues/506#issuecomment-216045702) like s

[2018-03-01 23:35] mbj commented on #1076
I suggest to check strace if these processes create any meaningful system calls helping you to identify what work postgres is doing.

[2018-03-02 16:08] begriffs commented on #1077
Regardless of whether it's a good idea to serve images from the database, and many people advise against it, this does seem like a postgrest bug. Your Accept header included `*/*` so the server is free to make a response with `application/octet-stream`. The blank response is odd.

[2018-03-02 16:34] christiaanwesterbeek commented on #1077
It would indeed be a very bad idea to serve every image for every person from the database, but I'm going to put a CDN in front of it, so it'll be every image just once within the expiration period from the database and the rest from the CDN.

Would be great if it could. I'm sorry to say I have zero experience in Haskell. Otherwise, I'd give it a go. I'd need to find some free time first to learn

[2018-03-02 16:40] begriffs commented on #1077
Oops, I missed that in the first message. Seems fine then. Stored procedures allow you to set a sql variable btw that allows you to set response headers, so you can set the caching the way you need to.

I'll look into it over the weekend, it may not be so hard to fix.

[2018-03-02 16:43] christiaanwesterbeek commented on #1077
Excellent

You rock!

Btw, I'm using Postgrest on Heroku deployed with the buildpack.

[2018-03-02 18:17] mordae opened #1078 "Add the ability to specify source column for view embedding"
Let's say I use the following schema:

[code]

Now, when I ask for the key-based table embedding, everything looks fine:

[code]

But when I try to embed the view instead, I get something unexpected:

[code]

Both users are the same! Well... the generated SQL looks like this:

[code]

Let's see if we can guide it a little bit more closer to the home:

[code]

Well, that's the end of the road, isn'

[2018-03-03 13:22] christiaanwesterbeek commented on #1077
I'm now using Cloudfront as a CDN in front of the image api that I configured to change the accept header.

So the img tag causes a request to Cloudfront with Accept: image/*, etc. Cloudfront than alters it to application/octet-stream and calls the api that serves the binary. So, I'm good now.

Functionally this is not a requirement for me anymore...

[2018-03-03 15:15] PierreR commented on #934
This is still an issue see https://github.com/begriffs/postgrest/pull/1081

Getting the test suite to work (without a docker) is getting quite painful because of this kind of pinning. As a matter of context, I was hoping to have a go with the replacement of `configurator-ng` with `dhall` and these kind of issues are not encouraging me to go further.

[2018-03-04 19:04] begriffs commented on #1077
Glad you found a way to integrate it with the CDN. I was thinking about this feature more and running into a difficulty for the general solution. If a client specifies `*/*` for the accept header, most probably they want json, but RPC calls also support csv and octet-stream. I'm not sure how the accept header the browser sends should be enough of a hint in your case, unless we interpret `image/*`

[2018-03-08 01:46] omani opened #1082 "Add securityDefinitions to openapi/swagger spec"
Hi,

it would be nice if we could include a securityDefinitions field to the swagger.json. By doing this we can have a custom header field in swagger-ui where you can paste your jwt.

right now I can't set an Authorization Bearer token with each request. but swagger-ui would show a button if some securityDefinitions is included in the openapi/swagger json spec I get from the root path.

or is ther

[2018-03-08 11:57] mdr1384 commented on #1068
I believe now that this likely has something to do with postgrest's internal caching of the api which only gets updated when postgrest is started, assuming that things could break randomly minutes or hours after schema changes are made. However it is unclear exactly what changes require a restart -- changes to the api schema obviously, but what about changes to dependent tables, functions, sequenc

[2018-03-08 15:13] NikolayS commented on #1058
You can achieve what you want using POST instead of GET, and using `Prefer: params=single-object` header in your requests.

From the docs:

Example:
[code]

Then calls like these will work:
[code]

with no params provided:
[code]

[2018-03-09 19:14] omani commented on #1082
I've figured out this is enough in the swagger.json to have an "Authorize" button:

[code]

notice that `name` is a name I've chosen. in this case swagger does append a query parameter `?access_token=...` everytime I make a request.

[2018-03-10 02:15] makeitrein commented on #1009
Ran into the same issue - resolved by turning off PostgresApp... Postgrest connected to my local Postgres rather than Docker - cheers!

[2018-03-12 10:36] mordae commented on #1069
Raising `serialization_failure` exception is a good way to signal client that their update failed and that they need to reload the data in order to retry. I would advise against automatic retries, not all transactions are idempotent.

[2018-03-12 12:20] kishyr opened #1083 "Blank role does not exist"
Hi,

I just set up a brand new Postgres database instance on Azure and am running Postgrest from a docker container. On my local machine Postgrest talks to the database fine and works great. The moment I point the Postgrest docker container to the production Postgres database instance, I get the following error for every API call:

[code]

Any idea where I can start to debug this? I've double chec

[2018-03-12 13:15] kishyr commented on #1083
Using the latest version of the official Postgrest docker container fixes this.

[2018-03-12 13:15] #1083 closed

[2018-03-12 15:28] begriffs commented on #1083
The role is part of the connection string you use to connect to the db, so my guess is that it was blank. I see you closed the issue, is that what the problem was?

[2018-03-12 19:29] nathan-rice opened #1084 "Debug configuration option for more informative error messages"
I recently ran into an issue where a query was failing because of a bad trigger, and I had to re-create the insert statement postgrest was executing to see the problem.  The post reply only contained the following information:

`ERROR:  column "type" does not exist`

While psql was much more informative:

[code]
Since more verbose errors by default could potentially be a security risk, it would be

[2018-03-12 19:34] begriffs commented on #1084
One thing you can do is increase the verbosity of the database's log itself. There's a section about that in https://postgrest.com/en/v4.4/admin.html#database-logs

Then if weird things happen you can review a log of exactly what statements postgrest executed.

[2018-03-13 07:48] kishyr commented on #1083
It worked on my local machine because the docker image was built a few months ago using an older version of postgrest, before the PGRST_ prefix. The newer docker image that my server used required the new prefix and once I added it in, it worked as normal. 

On 12 March 2018 at 17:28:29, Joe Nelson (notifications@github.com) wrote:

The role is part of the connection string you use to connect to t

[2018-03-13 11:06] ruslantalpa commented on #1078
try
[code]

(avoid using `*`, always list columns in select)

[2018-03-13 21:59] Tehvan commented on #501
Bump

[2018-03-14 01:39] bensweeney commented on #951
did you ever get your catarse to work in cloud 9 just curious?

[2018-03-14 14:34] steve-chavez commented on #501
Closing. Also as a side note I think we should avoid adding more json processing logic since it'll contribute to more memory usage specially in bulk inserts, we already have a problem with this, see https://github.com/begriffs/postgrest/issues/690.

[2018-03-14 14:34] #501 closed

[2018-03-14 14:36] #837 closed

[2018-03-15 13:47] Sebastianbrg commented on #660
Anyone that have created a go through on how to combine Postgrest with Auth0?

[2018-03-15 14:03] Sebastianbrg commented on #906
Updates on this?

[2018-03-15 14:19] mordae commented on #1078
I have tried both the query you suggested and a variant using the `person` table instead of the view and PostgREST does not seem to follow. Both failed with _"Could not find foreign keys between these entities, No relation found between message and ..."_.

[code]

Help?

[2018-03-15 14:28] ruslantalpa commented on #1078
Did you restart PostgREST after you created your view. Try restarting

Also can you paste complete url string, not http commands, it’s hard to follow and not sure how it’s syntax works

[2018-03-16 08:52] mordae commented on #1078
Yes, I have restarted PostgREST several times and have tried current `master` built using `stack` to make sure I am using the most recent version available.

[code]

I have trouble following the code. It's mostly not commented and functions are dense and long. 11 indentation levels in `addRelations` is simply too much. I would normally try to submit a patch or at least sketch a possible solution,

[2018-03-16 19:21] steve-chavez commented on #1078
@mordae When you specify the `person_detail.<colname>` part in
[code]
The `<colname>`(`sender` or `recipient`) part is meant to reference a column of `person_detail`, and as per your schema that view doesn't have that column, that's why you get the no relation detection error(this error message could be improved), also that's why this request works:
[code]
Since `sender,recipient` are columns of `

[2018-03-17 12:53] #1044 closed

[2018-03-17 13:59] pauldzy commented on #1058
Thanks for the attention.
I am not able to prevent users from using GET so perhaps will just drop JSON and use a comma delimited string for the parameter. I think what you are saying is go all JSON or no JSON.  Mixing and matching scalars with JSON chunks is not supported.  Thanks again.

[2018-03-19 11:51] mordae commented on #1078
@steve-chavez I suspected that to be the reason. Consider this a feature request.

[2018-03-19 12:54] pododesk commented on #1078
@jg nein, leider nicht

David Getto

reach us at +49 621 681 27533

begriffs/postgrest on March 19, 2018 at 12:52pm wrote:

@steve-chavez ( https://github.com/steve-chavez )I suspected
that to be the reason. Consider this a feature request.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
( https://github.com/begriffs/postgrest/is

[2018-03-19 18:53] steve-chavez commented on #1078
This would require to extend pgrst with an additional operation in the url, also disambiguating embeds can get more complicated with composite keys.

To provide a more generic solution without complicating the url too much how about if we disambiguate embeds based on foreign keys(the CONSTRAINT names), an example:

[code]

This would be enough if we only had tables but since we have views that hav

[2018-03-19 20:17] ruslantalpa commented on #1078
i for example don't have them named specifically, they are auto generated so i am not sure a lot of people give much attention to their name. If you start using constraint names, then you need to start looking into their definitions (to see what columns they are using) so this would involve a lot of changes.

Why can't we use `column.table` format?
We already have this format for the other relatio

[2018-03-20 15:37] steve-chavez commented on #1078
For me the `table.column/table.table/column.table` notation is confusing, `table.column` makes me think this notation it's related to pg namespace syntax but then `table.table/column.table` don't follow.

I think this notation(same for Child/Parent):
[code]
Would be more intuitive because it reflects the operation of embedding the table plus `+` adding precision(both requests will work without `+`

[2018-03-21 18:23] steve-chavez commented on #1078
For now I've added the option to use the same notation for specifying the source column, now this works:
[code]

[2018-03-21 19:18] hkgumbs commented on #906
Hello everyone. I ran into this today, and it seems to be a showstopper. Even after disabling OIDC compliance in Auth0, I am unable to set non-namespaced keys on new clients. ([Reference to forum discussion](https://community.auth0.com/t/is-the-namespace-qualifier-required-in-custom-claims-added-by-rules/9302/2)).

I would be glad to implement one of the suggestion here in a PR. Adding a configura

[2018-03-23 18:47] steve-chavez commented on #1078
Forgot there was a problem with the `+` character(https://github.com/begriffs/postgrest/pull/864#issuecomment-298828830), so the `person_detail.sender` notation will stay.

[2018-03-23 19:06] steve-chavez commented on #1064
There's been support for env vars in the config for a while now, since [v0.4.2.0](https://github.com/begriffs/postgrest/releases/tag/v0.4.2.0)("Env var interpolation in config file" in CHANGELOG), you have to quote the config value like in `db-uri = "$(DB_URI)"`, there's an example here https://github.com/begriffs/postgrest/blob/master/docker/postgrest.conf.

[2018-03-26 13:08] mordae commented on #1078
@steve-chavez Your `self-reference-fix` branch (with the above commit) works for me.

I am a little bit nervous about the number of possible meanings of the detail field, though. The selectors might benefit from some disambiguation. For example:

[code]

I wouldn't go as far as to propose full path specification (with unlimited remote part repeats), because that would open the door to some serious

[2018-03-27 20:55] omani opened #1086 "Treat transactions read-write by default again. Suggestion proposed."
So apparently #561 was made due to the issue of not being able to treat read-only dbs (replica slaves) in a proper way.

another reported issue is #547. OP demonstrated a simple curl to localhost on a replicated psql server. it fails due to having the transaction mode set to read-write.

impact:
the above merge makes pratically any rpc which wants to modify the db unusable with a GET request.

my

[2018-03-27 21:10] begriffs commented on #1086
That's right, and in fact it's the primary motivation. A GET request is considered [safe](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) by the HTTP spec, meaning it should not modify server state. Call the RPC via POST if you want to be able to update the database.

(The only time that this is kind of annoying is when the RPC wants to simply log the GET request internally in the db. The

[2018-03-27 21:19] omani commented on #1086
I understand that it fits and conforms to the HTTP spec defining a GET as safe and idempotent. do we apply the same reasoning on an RPC call? I see a procedure differently than a view/table. A function is an isolated closed-system which can do various things, in fact I am using procedures to do things I am not able to do with only tables and views.

and also: a (transactional) procedure in psql pr

[2018-03-27 21:41] omani commented on #1086
maybe I should point out more clearly how I see it:
* the HTTP spec conformity is a good thing, because views/tables are just bare, naked piece of elements you can interact with (a sort of gate to the underlying db). by using HTTP in a restful manner we define what a view can do for us. (I hope I could explain myself)

* a function on the other hand is something isolated. a closed system. like a m

[2018-03-27 21:41] begriffs commented on #1086
I don't see why not, since some RPCs provide information, and others modify things. It's useful to preserve HTTP semantics there as well as anywhere else.

Hm, I can see how that's troublesome. Sucks that the browser user-agent has always been too underpowered to support links with arbitrary verbs. In your email you could link users to a page with javascript inside that makes the API call to the R

[2018-03-27 21:41] omani commented on #1086
maybe I should point out more clearly how I see it:

the HTTP spec conformity is a good thing, because views/tables are just bare, naked piece of elements you can interact with (a sort of gate to the underlying db). by using HTTP in a restful manner we define what a view can do for us. (I hope I could explain myself)

a function on the other hand is something isolated. a closed system. like a math

[2018-03-27 21:50] omani commented on #1086
you mentioned few good points, which really point out the limitations I see in this and why I have such a trouble:

my application has no web UI or website. it is a pure cli application. yes I can use third party tools and eg. let the user put the activation code inside my cli app and use libs to make a POST request. I see no problem in finding workarounds to this. for me it is more about the prin

[2018-03-27 21:54] omani commented on #1086
we then would reduce the HTTP verbs on procedures to the point where we use two verbs, only for defining **how** we want to pass arguments, like in old days where you had the choice of either using GET with all your params as query strings, or a POST action on a form.

this way we give people the freedom to do whatever they want to do with a procedure and let them choose how they want to pass thei

[2018-03-27 22:00] begriffs commented on #1086
Except it's not. It can modify the state of the database. If this is acceptable behavior then a user may call it with POST. Otherwise use GET and enjoy the protection elegantly provided by read-only transactions.

Many people resort to RPCs in PostgREST in order to provide views that require more sophisticated queries than are currently possible via the URL query building functionality. The rpc-as

[2018-03-27 22:21] omani commented on #1086
I knew this would come. @begriffs I highly appreciate your effort for making things right and provide us with this great piece of software. by no means I am trying to find a solution to my own problem here. as I've said I can find ways to do a workaround to this. I already have one workaround which works and it's ok and I would stick with it.

the thing is just, the more I thought about this (when

[2018-03-27 22:52] omani commented on #1086
maybe worth mentioning:

- from the docs at postgrest.com

**The functions can have arbitrary and surprising behavior, not the standard “post creates a resource” thing that users expect from the other routes.**

so we (you) already realized that an RPC is something different. because it is purely dependent on the user what it does. by saying, we serve you with safetyness on a GET verb is imo restr

[2018-03-27 23:03] omani commented on #1086
ok so to summarize my points:
* we want restful communication which is fine
* we can't do it on rpcs, since it makes no sense. but we did our best to comply with the http specs. even on rpc, that said.
* but we can't use DELETE, PATCH on rpcs, because they make no sense. which is right, so maybe not that restful regarding rpc
* but we make GET read only because refering to the HTTP spec (or restfu

[2018-03-28 03:25] ruslantalpa commented on #1086
@omani if you want to hack your way out of the RPC in regards to GET, you can easily have the proxy rewrite the request verb and everybody is happy.

A function as @begriffs said is not free to do whatever it wants and yet "lie" that it's idempotent/pure.
To eliminate the confusion (look at it as maybe a future implementation) one can not call a "stable/immutable" function using POST, and one can

[2018-03-29 20:35] gavrilyak opened #1087 "Bulk insert with only one record fails when no primary keys specified in select="
postgrest fails with cryptic message when only one record is posted in bulk insert (or simple insert) and select parameter does not ask for  primary key.
When more then one record posted then everything works fine.
As I understood the problem is with headers field, database returns null in this case and with
[code]
In this case postgres unexpectedly wants to return location header and fails.

Simp

[2018-03-30 12:09] dday1058 opened #1088 "Add headers to all responses through "response.headers" GUC"
Our development  is trying to add the response headers per latest rest  documentations.
Our client tools see no addition to the headers.

 pkg info | grep rest
postgrest-0.4.4.0              RESTful API for PostgreSQL

FreeBSD 11.1

i.e

I am suspicious about your test for version_num and version ( 9.6.8 vs  9.6 )   I am not familiar enough with haskell to claim that definitively but if this versi

[2018-03-30 13:13] steve-chavez commented on #1088
I think the problem is that you're expecting that the ROLE settings will apply when pgrst changes ROLEs(with `set local role`) but per pg [set role docs](https://www.postgresql.org/docs/9.6/static/sql-alterrole.html) and [alter role docs](https://www.postgresql.org/docs/9.6/static/sql-alterrole.html):

Try with a function like this one https://github.com/begriffs/postgrest/blob/master/test/fixture

[2018-03-30 19:10] dday1058 commented on #1088
Thanks we will try that out.  I do note that both the initial role and the role switched to,  both had this ALTER role setup.  It was my observation that the setting persisted from the role doing the role switch.

[2018-04-01 11:35] vfaronov opened #1089 "Shortcomings in HTTP compliance"
Thank you for making PostgREST. It clearly attempts to comply with the HTTP protocol, but it falls short in a few places. I’m reporting these all in one issue, because I don’t know if you’re interested in fixing them. These problems are somewhat theoretical: they might trip up generic HTTP components (like caches), but it’s likely that none of your current users really suffer from them. If you pre

[2018-04-01 11:37] vfaronov commented on #133
`Accept-Encoding` and, at least for some responses, `Prefer`.

[2018-04-02 03:01] begriffs commented on #1050
@boblauer if you'd like to sponsor this work I can work on improving Heroku support. (I'm not willing to work on this issue for free due to a new [personal policy](https://begriffs.com/posts/2018-04-01-no-more-freebies.html))

[2018-04-02 16:09] boblauer commented on #1050
I ended up forking the postgres-heroku application and adding the following to the `env-to-config` file:

[code]

Perhaps not the most elegant solution, but it worked perfectly.

[2018-04-02 16:09] #821 closed

[2018-04-02 16:09] #1078 closed

[2018-04-02 16:33] steve-chavez commented on #1078
@mordae About limiting the depth of embeds there's some ideas in this issue https://github.com/begriffs/postgrest/issues/249#issuecomment-334629208, main idea is to do it a the pg level by limiting the query cost, also if you have suggestions for improving pgrst query grammer check https://github.com/begriffs/postgrest/issues/1017#issuecomment-346981443.

[2018-04-02 19:05] steve-chavez commented on #1087
The test case doesn't fail on master:
[code]
This is because of [this coalesce](https://github.com/begriffs/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L126) that was introduced in #1048.

A problem that comes with that change is that the `Location` header will be missing for successful POSTs and it shouldn't,  I think the best solution for this issue would be making the `Location` header

[2018-04-02 19:44] dnielrodrigues opened #1090 "How to run two instances of postgrest with different databases and api domains"
When i tried run the postgrest.conf file with:
``` server-host = "mydomain.com.br" ```

The error:
[code]
Without server-host param it works normaly, but a i need to run many domains with different databases, schemas, etc...

[2018-04-02 21:07] rvernica commented on #1082
Could you say more about what you did? Where is the `swagger.json` file located? Do you get an Authorization Bearer token from Swagger UI now?

[2018-04-02 21:10] rvernica commented on #1060
@ruslantalpa how could one add an Authorization Bearer token field to Swagger UI? The user would then provide a token or credentials and get access to the complete API.

[2018-04-02 21:27] omani commented on #1082
I wrote a script to fetch my swagger.json from the backend and append the above mentioned part to it.

[code]

[2018-04-02 21:31] omani commented on #1082
oh and I start a simplehttpserver with python to serve the swagger json from where I start the server (that directory):
[code]

then you can run swagger (docker) and pass it the API_URL:
[code]

then hit localhost:9000 and you should see swaggerUI with an authorize button.

[2018-04-02 21:35] rvernica commented on #1082
Thanks!

It would be nice for postgrest to have a flag and include this extra JSON content in the file it produces.

[2018-04-02 21:40] omani commented on #1082
yes either a flag or I say let's just put it in there anyway. it depends on the user if he wants to use authorization. the above snippet is enough to have it working. if you have endpoints which do not require an access token it will just be discarded anyway (because we are sending it as a query here).

[2018-04-03 01:17] ruslantalpa commented on #1090
server-host is not important, you need to change the port parameter for each instance

[2018-04-03 15:13] steve-chavez commented on #1090
The `server-host` is the address where to bind the pgrst web server(defaults to `127.0.0.1` that's why it works without it), see the docs https://postgrest.com/en/v4.4/install.html#configuration on that.

For multiple databases you need multiple instances of pgrst, if they're on the same domain you'll need to handle the locations with `nginx/openresty`(pgrst relies on the proxy for this kind of us

[2018-04-03 15:29] steve-chavez commented on #1088
Maybe this example will help understanding the problem:
[code]

[2018-04-03 17:30] dday1058 commented on #1088
Steve,

Thanks for your comments.
I did try your first linked suggestion and it worked successfully.
Your second comment seems to show that the switch from the initial role to the temp role inherits the setting of the custom.value from the original role.   i.e setting a role is not the same as loging in.
So as long as the starting role had this option set I would have expected  that definition to

[2018-04-03 17:59] thebf commented on #171
@joaoportela  You say that you were able to implement this, could you share it as an example?

[2018-04-03 19:13] steve-chavez commented on #690
I have a proposal for avoiding the json payload processing in `INSERT` and clearing this out, I'll use the [articles table](https://github.com/begriffs/postgrest/blob/master/test/fixtures/schema.sql#L380-L384) as a reference.

Currently when receiving a payload like `[{"id": 11, "body": "uno"}, {"id": 12, "body": "dos"}]` we process this in Haskell to check if the json is an `array/object` to adeq

[2018-04-04 14:47] dnielrodrigues commented on #1090
Thanks for your answers... But...
Guys, i think that you are dont see the real situation... see:

for sample, using nginx to set:
mydomainA.com.br for postgrest in localhost:3000
mydomainB.com.br for postgrest in localhost:3001
mydomainC.com.br for postgrest in localhost:3002

this is a ball of mud... dont?????
AND SEE:
Actually in postgrest IS NOT POSSIBLE to set (in the SAME server):
mydomainA.c

[2018-04-05 05:04] ruslantalpa commented on #1090
well..., your big ball of mud was created by the person who decided to have a separate database instance for each client ... so :)
in the end, it's as simple as this: for each database instance, you need one postgrest instance running. The number of postgrest instances needed is not a consequence of the number of clients, but the number of databases running.

However... if you have multiple client

[2018-04-05 13:14] steve-chavez commented on #1088
Actually I've realized that if we would add the `response.headers` to all pgrst responses(probably just GET responses) it could be possible to use the `pre-request` function to set the `response.headers` conditionally(with the help of the `request.*` settings), this could be worth discussing.

[2018-04-05 14:17] dday1058 commented on #1088
The use of the "pre-request" option had occurred to me after your prior rpc restriction note.. I suggested it to the developer,  I have not heard any feedback with regards to that experiment.  Our project  uses GET and POST techniques for table and view access, so I am curious to your GET option restriction.

Setting response.headers option based upon a claim in guc request.* options would certain

[2018-04-08 20:16] steve-chavez commented on #906
Couldn't get the proposed jspath lib to work, so I implemented a subset of the [jspath](https://github.com/dfilatov/jspath) dsl, now is possible to use the `role-claim-key` config value like:
[code]
Anyone can checkout #1091 and see if it works for its use case.

[2018-04-08 21:08] jxv commented on #906
@steve-chavez Hey, I've been working on this bug too. I'll check it out.

[2018-04-10 18:50] chrstphrhrt commented on #1044
Minor note, we ran into this error and took a while to debug. Turns out is was user error for not requesting the right RLS-scoped views in the URL. The response message was that relation doesn't exist so we went down the analysis rabbit-hole to make sure we didn't have conflicting view names or anything.

It would be great if RLS-scoped request errors wouldn't say 400 relation doesn't exist, but r

[2018-04-10 19:05] ruslantalpa commented on #1044
@chrishepner permissions have nothing to do with relations, if you got the 400 error, for some reason postgrest is not seeing that relation exist

[2018-04-11 01:33] ejdoming opened #1092 "Slow initialization with big schemas"
I have a database with so much tables and view. I created a new schema, with just one view, and informed this schema name into config file. When I start postgrest, it takes 20 minutes to start. With other database, with few tables, it start immediately.

[2018-04-12 00:35] steve-chavez commented on #945
Was thinking that this query could be optimized by using the [pg_depend](https://www.postgresql.org/docs/10/static/catalog-pg-depend.html) catalog instead of the regex, but according to http://bonesmoses.org/2014/11/05/on-postgresql-view-dependencies/ with this catalog:

[2018-04-12 14:07] ejdoming commented on #1092
@steve-chavez
Really, I think the query is the culprit. Follow the explain analyse of it:

Sort  (cost=2320.37..2320.38 rows=1 width=192) (actual time=1779253.649..1779257.353 rows=3098 loops=1)
  Sort Key: c.view_schema, c.view_name, c.table_name, c.view_column_name
  Sort Method: quicksort  Memory: 548kB
  CTE view_columns
    ->  Hash Join  (cost=183.43..1080.34 rows=866 width=36) (actual time=

[2018-04-12 14:41] steve-chavez commented on #1092
@ejdoming That's helpful, I've copied your report on https://github.com/begriffs/postgrest/issues/945#issuecomment-380828011 let's follow the discussion on that issue, I'll close this one.

[2018-04-12 15:09] steve-chavez commented on #945
Can't come up with a way to meaningfully optimize the `allSynonyms` query, I don't think that can be done without pg adding support for detecting view source columns in `pg_depend`.

So how about this:

- Impose an additional restriction for view embeds to work: **the view must not rename the foreign key columns**, this way we can drop the regex, since there's no alias the view col is the same as

[2018-04-12 20:05] Vladimir-Golub opened #1093 "How to insert an entry by specifying not all attributes ?"
How to insert a record with id (auto increment) PostgREST?
I have a function
[code]
It inserts an entry in the table. Its works.

But when I do not specify the id. It does not work. (id serial PRIMARY KEY).
[code]
This does not work
`POST http://localhost:3000/unitsmeasure 401 (Unauthorized)`

SQL Code Table
[code]

[2018-04-12 22:01] Vladimir-Golub commented on #1093
Create function
[code]
How to create a query?

`http://localhost:3000/rpc/insertname` ?

[2018-04-13 09:16] gavrilyak opened #1094 "Requests with invalid JWT should not touch database"
### Environment

* Version of postgrest:
4.4
* Operating system:
Ubuntu 16.04
* Running in docker:
  * [x] yes
  * [ ] no

### Description of issue
When processing request with expired JWT postgrest connects to database and executes
[code]
Expected behavior: postgrest should not connect to database at all

### Support level

In addition to free community support, are you interested in priority con

[2018-04-13 12:49] steve-chavez commented on #1093
What's the error message on `POST http://localhost:3000/unitsmeasure 401 (Unauthorized)`?

Maybe the SEQUENCE privilege is missing, perhaps you need to run `GRANT USAGE on SEQUENCE unitsmeasure_id_seq TO $your_anonymous_role`.

There are docs on stored procedures and how to call them here https://postgrest.com/en/v4.4/api.html#stored-procedures.

[2018-04-13 14:58] ejdoming commented on #945
Of course, @steve-chavez

Unique  (cost=1086.66..1086.91 rows=17 width=224) (actual time=698.165..723.925 rows=5679 loops=1)
  ->  Sort  (cost=1086.66..1086.70 rows=17 width=224) (actual time=698.158..705.919 rows=5679 loops=1)
        Sort Key: ((nv.nspname)::information_schema.sql_identifier), ((v.relname)::information_schema.sql_identifier), ((nt.nspname)::information_schema.sql_identifier), ((

[2018-04-13 15:24] nathan-rice opened #1095 "Postgrest fails with Row number 0, Row error: unexpected null on insert"
### Environment

* Version of postgrest: 4.4
* Operating system: Ubuntu 16.04
* Running in docker:
  * [ ] yes
  * [X] no

### Description of issue

I have a table defined as the following:

[code]
When I try to perform an insert into this table via postgres with the following json:

[code]
I get back a 500 "Row error: unexpected null" response.  Performing this insert directly via psql (with the

[2018-04-13 18:10] ruslantalpa commented on #1095
Recently saw this error, not sure why, try restarting postgrest and see what happens

[2018-04-13 18:29] nathan-rice commented on #1095
That worked, thanks.

[2018-04-13 18:29] #1095 closed

[2018-04-13 18:41] ruslantalpa commented on #945
@steve-chavez i would say projects with with hundreds of views and thousands of columns are much less common (and maybe indicative of other problems) then projects that use the full power of the views (which means having the ability to rename columns)

We usually say "you can use views to decouple your data model from the api", if you remove the ability to rename columns, that statement is no long

[2018-04-14 16:56] ranjanprj opened #1096 "Plans to support OpenAPI 3.0"
Hello Guys, thanks for this wonderful project.
Just wanted to know if there are plans to supporting OpenAPI 3.0

[2018-04-14 17:35] steve-chavez commented on #945
@ruslantalpa Projects with non-trivial business domains(government systems, ERP) will have complex databases(hundreds of tables, many columns), those don't mean design problems, also in particular the idea of connecting to a big legacy database and be able to create an api schema is what drew me to PostgREST, I'd say these dbs are a major use case while though are more cases of trivial dbs(that co

[2018-04-14 17:36] steve-chavez commented on #945
About your long term vision:

Having a single sql file that outputs the DbStructure in json is something I thought as well but more as means for easier maintenance but providing a way to override that through a config value gives place for users to make mistakes and add more support burden.

Don't see the need for that, could be abused and expose expensive joins and as of now users can do the same

[2018-04-16 15:15] steve-chavez commented on #1096
What would be the advantages of moving PostgREST to OpenAPI 3.0?

As far as I've seen the OpenAPI changes are mostly renaming/regrouping the metadata, don't see in what way this would benefit PostgREST.

[2018-04-16 15:27] steve-chavez commented on #790
Reopening, issue contains good points against OpenAPI and with 3.0 it seems to get even more verbose/complex.

Having an user run a separate sql query is redundant work(also could get out of sync with what pgrst exposes) since we already have a structure cached, would be better to expose this structure in a standard way.

Even a simple non-standard json structure(like tables with insertable/updata

[2018-04-16 19:10] steve-chavez commented on #1075
This has been requested many times(check also https://github.com/begriffs/postgrest/issues/994#issuecomment-333541197 and this [stackoverflow question](https://stackoverflow.com/questions/44972593/postgrest-filter-does-not-seem-work-with-fields-from-related-table)) and all current workarounds seem lacking to me.

The feature seems doable, basically the current queries need to use explicit JOINs in

[2018-04-16 19:34] ruslantalpa commented on #1075
ok, now do this for 3 levels deep...

[2018-04-16 19:36] ruslantalpa commented on #1075
how about 3-4 levels deep

[2018-04-18 02:48] Hrysa opened #1097 "How set a default where condition if does not get declaration from url?"
TABLE

	id	|	title			|	app_id
	1	|	app1's article		|	1
	2	|	app2's article		|	2
	3	|	app2's article		|	2

now

	https://a.com/articles?select=*;

	id	|	title			|	app_id
	1	|	app1's article		|	1
	2	|	app2's article		|	2
	3	|	app2's article		|	2

expect

	https://a.com/articles?select=*;

	#expect query sql
	SELECT * FROM articles WHERE app_id = 0;
	id	|	title			|	app_id

	https://a.com/articles?sel

[2018-04-18 13:05] steve-chavez commented on #1097
If I understand you correctly you would have to make a view like:
[code]
Then you would do:
[code]

[2018-04-18 14:12] steve-chavez commented on #56
As mentioned in https://github.com/begriffs/postgrest/issues/790#issuecomment-381645515 having the users provide their own query is redundant work, the ideas here are worth considering, let's follow this issue on #790.

[2018-04-19 14:05] EmpireFleet commented on #1014
The problem, possibly, remains.
[code]

[code]

[code]
[code]

[code]

[code]

[2018-04-19 14:27] steve-chavez commented on #1014
That's expected behavior, the db structured needs to be cached and refreshed if there's a change, for this to be automated in development there's now https://github.com/begriffs/pg_listen. There are instructions of how to use it in https://postgrest.com/en/v4.4/admin.html#schema-reloading.

[2018-04-19 14:39] EmpireFleet commented on #1014
But that means the answer to the [above comment](#issuecomment-344808968) is effectively NO

[2018-04-23 13:51] EmpireFleet commented on #1014
To be clear.
[Specification](https://postgrest.com/en/v4.4/api.html#singular-or-plural) declares

but actual tests reveal that scalar function does not follow the spec (unless it's beyond PostgREST’s database schema cache)

[2018-04-23 13:54] steve-chavez commented on #906
@jxv Did the PR work for your use case?

[2018-04-23 14:10] steve-chavez commented on #1014
That's true, we should add to the docs the RPC dependency on the db cache and warn that the restart is needed.

As it is now, there's no way to differentiate scalar from row return type in the function unless we query the db cache.

I can see how that can be a problem for development environments, that's why I added the suggestion to use the utility above, however in production environments change

[2018-04-23 15:29] EmpireFleet commented on #1014
And, also, the docs should probably specify that for now scalar function returns its result in a JSON-value, not a JSON-array (which is, i suppose, breaking change from v3.2)

[2018-04-23 16:33] steve-chavez commented on #1064
Considering this resolved.

[2018-04-23 16:33] #1064 closed

[2018-04-23 17:41] steve-chavez commented on #1033
PostgREST establishes the db as the single source of truth, having custom ACL in the config file would diverge from that and would actually give you one more thing to maintain/debug.

For seeing pg user privileges in `psql` you can use `\dp your_api_schema.*`, this coupled with pgrst error responses or [pg logs](https://postgrest.com/en/v4.4/admin.html#database-logs) should be enough for debugging

[2018-04-23 18:35] steve-chavez commented on #1084
For now I'm also on the side of just checking the db logs, but we can continue the discussion in #540.

[2018-04-23 18:35] #1084 closed

[2018-04-25 17:00] steve-chavez commented on #945
Was thinking that if we would have a `MATERIALIZED VIEW` as the DbStructure input we could obviate the `SIGHUP` and let the user do the db cache refreshing with just SQL, a `REFRESH MATERIALIZED VIEW` and then PostgREST would LISTEN to that event, unfortunately that's not currently supported according to the [event matrix](https://www.postgresql.org/docs/current/static/event-trigger-matrix.html)

[2018-04-25 18:30] PierreR opened #1099 "Add array index support to jsonb"
### Environment

* Version of postgrest: v0.4.4.0
* Operating system: RHEL 7.4
* Running in docker:
  * [ ] yes
  * [x] no

### Description of issue

I have this output where `ret` is of type `jsonb`:

http://nixpaste.lbr.uno/BJw5QeGX?json

In the example, I would like to be able to filter the output from all `ret` records that have a 'fun' equal to `
saltutils.find_job`.

### Support level

In ad

[2018-04-25 18:35] PierreR commented on #1099
Here is a short example of output limited to 2 records:
[code]

[2018-04-30 13:57] respondcreate opened #1100 "Feature request: Customizable OpenAPI title and description."
First off: thanks so much for open sourcing this great project! After taking a look through the docs and the code, it appears that there's no way to customize the OpenAPI title ([as defined here](https://github.com/begriffs/postgrest/blob/f9e770b583a4bea019e2618a1285c72597bc1c6e/src/PostgREST/OpenAPI.hs#L259)) or description ([as defined here](https://github.com/begriffs/postgrest/blob/f9e770b583a

[2018-04-30 16:01] steve-chavez commented on #1100
It'd be a reasonable addition, there's already a [server-proxy-uri config](https://github.com/begriffs/postgrest/blob/108f3cd651a448fad065faf81a2090cee8a8d9fb/src/PostgREST/Config.hs#L130) that's also related to OpenAPI, maybe it makes sense to add the `openapi-` prefix to that as well and deprecate the previous key.

I think it should be straightforward to add what you ask, follow the [encodeOpen

[2018-04-30 16:09] steve-chavez commented on #906
I'll consider the PR enough for all the use cases.

[2018-04-30 16:31] #906 closed

[2018-04-30 19:03] respondcreate commented on #1100
Great! Thanks so much for the pointers, @steve-chavez !

[2018-04-30 20:17] steve-chavez commented on #1100
My bad, I forgot the description part was already implemented(in #885), you just need to do:
[code]
This will be included in the `description` part of the OpenAPI output, no need for new config values.
Now, the `title` part is still hardcoded to `PostgREST API`, what you can do is to split the comment by the newline, the same way it was done in #931 for table comments.

[2018-05-01 17:19] steve-chavez commented on #1096
Let's continue the discussion in #932.

[2018-05-01 17:19] #1096 closed

[2018-05-01 17:31] steve-chavez commented on #1033
I don't see how this feature request can progress, as it goes against the PostgREST philosophy, so I'll close this.

About improving debugging we could continue the discussion on #540.

[2018-05-01 17:31] #1033 closed

[2018-05-01 17:34] steve-chavez commented on #1097
@Hrysa Did the suggestion worked for you?

[2018-05-01 17:35] steve-chavez commented on #1093
@Vladimir-Golub  Did the suggestion worked for you?

[2018-05-01 17:44] steve-chavez commented on #1055
@ACPK Did the suggestion worked for you?

[2018-05-03 17:37] steve-chavez commented on #906
If anyone has a working example of the new `role-claim-key` config working with the new Auth0 flow please consider adding it to the docs https://github.com/begriffs/postgrest-docs/issues/85.

[2018-05-05 18:16] steve-chavez commented on #1093
Considering this resolved. Also for getting acquainted with PostgREST I suggest first using  `curl` or any http cli/gui, after that you can use your preferred lib with more confidence.

[2018-05-05 18:16] #1093 closed

[2018-05-07 08:00] nextstopsun opened #1102 "Feature request: option to change delimiter character for CSV output"
Now you can only output CSV as a comma-separated file, but in many cases semicolons, tabs and other characters are needed.
I would be great to have such an option.

[2018-05-08 18:25] steve-chavez commented on #945
I've been checking the project's history and I've noticed that the main motivation for having this regex is for detecting renaming of foreign key columns in a camelCase way and still be able to embed views, see https://github.com/PostgREST/postgrest/pull/353.

So I think we could enhance my [proposal](https://github.com/PostgREST/postgrest/issues/945#issuecomment-380839539) and allow renaming fore

[2018-05-08 18:58] steve-chavez commented on #1052
According to:

This is already solved so closing.

[2018-05-08 18:58] #1052 closed

[2018-05-09 21:11] priyank-purohit opened #1105 "Feature request: column to column comparison"
### Description of issue
Currently PostgREST supports only column-to-value(s) comparison, however column-to-column comparisons are extremely common and too important to not support.

### Implementation
This is a somewhat tricky feature to implement because you need to differentiate values from column names. The best solution I came up with is to add a `.c.` prefix between the operator and the colu

[2018-05-09 23:33] steve-chavez commented on #1105
Why not define that in the view you're exposing?, say like:
[code]
A computed column will also work, then you could do:
[code]

For now I'd be against implementing this, as it's more clean to represent that kind of comparisons in the db.

[2018-05-09 23:47] priyank-purohit commented on #1105
@steve-chavez  That works for that one particular query, but not for any other queries (you can create any column-to-value comparison query otherwise). Is there any other reason besides the cleanliness of the PostgREST code?

Alternatively, I could implement something like this in a custom version of PostgREST; but I'm wondering if would this be a difficult undertaking for someone with 0 Haskell k

[2018-05-10 00:15] steve-chavez commented on #1105
Considering the difficulty required towards implementing this and defining views/computed columns in a few lines of SQL, I'd say the latter is a much more easy option.

I think this kind of comparisons are core business logic, and as so, they should be defined at the db level with an appropriate name/comment on the column so the REST API can have proper documentation, as your project matures you'r

[2018-05-10 03:57] priyank-purohit commented on #1105
I would say that something like 'regular expression comparison operator' is a use-case specific feature, as in not everyone will want/need that (and it increases risk of ReDoS). Hence, that is something you can expose via custom functions if you need.

I think of PostgREST as a way to create API for **any** PostgreSQL db, and a way to execute some common queries. I would say that `SELECT * FROM ta

[2018-05-10 04:49] steve-chavez commented on #1105
Better to drop the `.c.` prefix if you want to do a PR, as this would make your job harder on the Parsers module and looks somewhat confusing on the url, didn't give it much thought but maybe another set of operators like `col_{eq,gt,is}` would be more appropriate, this needs more discussion.

[2018-05-10 19:26] steve-chavez opened #1106 "Proposal for allowing multiple schemas in a single instance"
This is needed both for **api versioning** and **schema based multitenancy**, currently it can be done with many PostgREST instances but it's unwieldy as there's considerable ops overhead, I'll make my proposal from the api versioning perspective.

## Specifying the API version

Traditionally this has been done by having a prefix url path like `/v1/projects`, other options include a header that sp

[2018-05-11 20:26] respondcreate commented on #971
@kishyr and @ruslantalpa !

Do you have any tips/suggestions about how I can configure swagger-ui so that a user could provide a JWT token to the Swagger interface and have it re-fetch the spec from PostgREST (so that they can see all the endpoints they are allowed to interact with)?

[2018-05-11 20:31] respondcreate commented on #1060
@rvernica That's exactly what I'm trying to implement now...did you ever figure out how to do it?

[2018-05-11 20:36] rvernica commented on #1060
No, I did not and I'm still interested in figuring it out. I was hoping to get some guidance from the postgrest team.

[2018-05-11 22:30] glw opened #1107 "test stored procedure not working as expected"
### Environment

* Version of postgrest: 0.4.2
* Operating system: Ubuntu 16.04
* Running in docker:
  * [ ] yes
  * [X] no

### Description of issue
Just testing a function on my local machine. I tried creating the test stored procedure as in the docs ```add_them``` ( https://postgrest.org/en/stable/api.html#stored-procedures ). Im getting an error instead of the suggested output.

[code]
output

[2018-05-11 23:03] michelp commented on #1107
PostgREST vertical filtering options require an operator, so `?a=eq.1&b=eq.2` is the right syntax.  There are many operators

https://postgrest.org/en/v4.4/api.html#horizontal-filtering-rows

[2018-05-11 23:06] steve-chavez commented on #1107
Also, specifying the arguments in the querystring as `?key=value` are only available for GET, for POST they are treated like filters.

[2018-05-11 23:15] michelp commented on #1107
Ah good point, my reading comprehension skills are obviously poor today. @glw, it works if you drop the `-X POST` as @steve-chavez pointed out.

[2018-05-14 12:44] steve-chavez commented on #781
Fixed in #1104.

[2018-05-14 12:44] #781 closed

[2018-05-14 16:10] joaoportela commented on #171
I didn't do it for PostgREST in particular; but I had the server providing a valid client with the upload url.

Your probably better of following the linked guides, but here is my method:
[code]

Where `uploader` is just metadata for me to know who requested the upload and `_sign_read_url` is a similar method for signing the read url.

[2018-05-14 20:10] glw commented on #1107
Hi guys thanks for the help.

Unfortunately, Im getting the same thing. I changed the command to:
[code]

[2018-05-15 05:08] ilovezfs opened #1108 "Hackage should use canonical repository URLs"
https://hackage.haskell.org/package/postgrest

says

homepage https://github.com/begriffs/postgrest
head: `git clone git://github.com/begriffs/postgrest.git`

But should be

homepage https://postgrest.org/
head `git clone https://github.com/PostgREST/postgrest.git` (also note https)

[2018-05-15 05:12] ilovezfs opened #1109 "GHC 8.4.2 build failure"
### Environment

* Version of postgrest: 0.5.0.0
* Operating system: macOS
* Running in docker:
  * [ ] yes
  * [x] no

### Description of issue

[code]

[2018-05-15 05:17] ilovezfs opened #1110 "GHC 8.2.2 build failure"
### Environment

* Version of postgrest: 0.5.0.0
* Operating system: macOS
* Running in docker:
  * [ ] yes
  * [x] no

### Description of issue

[code]
https://gist.github.com/ilovezfs/f5ce9ff7a67ff1840188d2162d70c788

[2018-05-15 11:08] barbalex commented on #945
I _think_ this could be the reason postgrest needs _hours_ to start up (until it logs "connection successfull") on my database.

This has become an absolute killer for our use case. Which is why I am actively migrating to postgraphql which takes two seconds to start up.

I have spent hours searching for any one else having this problem. And this seems the most likely candidate. Our database has hu

[2018-05-15 12:53] krueger71 commented on #945
Using a separate api-schema, served by Postgrest, on top of a data schema with the relational model worked really well for us in a small government system backend. We would not have used Postgrest unless we had the possibility to layer the access to the data in this way. Apart from this start-up performance issue (which we avoided by not upgrading from 0.4.0.0) it has been extremely straightforwar

[2018-05-15 14:31] steve-chavez commented on #945
Sorry about the inconveniences caused @barbalex, if you could send me a copy of only your db schemas, **no data required**(you can use `pg_dump --schema-only your_db > big_schema.sql`), that would help me in fixing the slow query. My email is in my profile, you can mangle the views/tables/columns names before dumping the schema if you like.

[2018-05-15 14:54] barbalex commented on #945
@steve-chavez Never mind the incoveniences: postgrest and postgraphql are saving me from having to build a backend on my own. Thanks a lot for pushing this great project! Structure coming in email.

[2018-05-16 04:52] kaiwu opened #1112 "singular behavior inconsistent with v0.5.0.0"
### Environment

* Version of postgrest: postgrest/postgrest:v0.5.0.0
* Operating system: docker-18.03.1-ce
* Running in docker:
  * [x] yes
  * [ ] no

### Description of issue

[doc](https://postgrest.org/en/v4.4/api.html#singular-or-plural) regarding `singular` become invalid
with the latest release

### Actual

HTTP status 200 and the empty array was returned instead of 406, this behavior is n

[2018-05-16 12:09] wweultjes opened #1113 "Error when UPSERT records with capitals in primary key field"
### Environment

* 0.5.0.0:
* Linux:
* Running in docker:
  * [ X] yes
  * [ ] no

### Description of issue
I use the UPSERT method to POST a bulk of records. The following error message is returned:
"hint": "Perhaps you meant to reference the column \"dUnitTest.idUnitTest\" or the column \"*SELECT*.idUnitTest\".",
    "details": null,
    "code": "42703",
    "message": "column \"idunittest\" doe

[2018-05-16 13:37] steve-chavez commented on #1112
I've tried the latest release and the singular feature is working as usual, the test suite is also green.

Include how you're making the request(say with `curl` or `httpie`) and the DDL for the table, view or function that you're targeting. That would allow me to reproduce the issue.

[2018-05-16 15:37] steve-chavez commented on #1113
Reproduced:
[code]

[code]

[2018-05-16 16:39] steve-chavez commented on #1113
Check #1114, see if you can fetch the PR and [build from source](https://postgrest.org/en/v4.4/install.html#build-from-source) to make sure this is fixed.

[2018-05-16 19:18] steve-chavez commented on #945
@barbalex Thanks for providing your db structure, I've tried it and it took around 8 mins for PostgREST to start, with the change in #1115 it takes around 22 seconds, if you want to try that out you could fetch the PR and build from source, instructions here https://postgrest.org/en/v4.4/install.html#build-from-source.

[2018-05-16 19:35] barbalex commented on #945
@steve-chavez I'd rather not try to test this yet: I work on Windows and it looks like it might be a bit of a challenge for me to build from source.

Will https://github.com/PostgREST/postgrest/pull/1115 be merged anyway? I'd gladly test afterwards.

[2018-05-16 19:36] barbalex commented on #945
@steve-chavez Thanks a lot for testing!

[2018-05-17 03:58] kaiwu commented on #1112
right, it was totally my fault, the `Accept` header didn't go through nginx, which the other day i added `proxy_pass_request_headers off;` to turn off some gzip side effects, so postgrest was unaware of this header.

i am sorry to waste your time

[2018-05-17 03:58] #1112 closed

[2018-05-18 13:44] mpls00 opened #1116 "how can i use edbwrap function or spi function?"
PostgreSQL version: EDB 10 or PG 10
* PostgREST version: 0.5
* Operating system: centos

code 1 is ::
CREATE OR REPLACE FUNCTION edbwrap_1(str text) RETURNS text AS $$
  BEGIN
    RETURN a1 || || now();
  END;
$$ LANGUAGE plpgsql;

http://localhost:3000/rpc/edbwrap_1?str=hello
return ok;

code 2 is ::
CREATE OR REPLACE FUNCTION edbwrap_2(str text) RETURNS text AS $$
  BEGIN
    RETURN a1 || || now

[2018-05-18 14:01] steve-chavez commented on #1116
The error when calling `edbwrap_2` might be due to a stale schema cache(PostgREST uses this to differentiate scalars from row functions), restart PostgREST and it should work, also see https://postgrest.org/en/v4.4/admin.html#schema-reloading for other options besides restarting.

[2018-05-18 14:45] steve-chavez commented on #1116
SPI functions should work fine, bear in mind that you have to name the functions arguments to be able to call them with PostgREST though, like:
[code]

[2018-05-18 16:31] mpls00 commented on #1116
thank steve-chavez

restart PostgREST and all is ok!!

[2018-05-18 16:31] #1116 closed

[2018-05-19 22:40] rsubr commented on #1106
I'm building a schema based multi-tenancy app and for the most part PostgREST ver 0.4.4.0 works for me.

The ability to set `search_path` via a JWT claim would be highly useful. I'm presently doing this via `pre-request` DB function, but it has some limitations described below.

My schema structure:
[code]
Tenant schemas are exact copies from base. DB functions are created only once in base and us

[2018-05-20 14:31] cuducos opened #1117 "Docker image compatible with ARM: is that possible?"
### Environment

* PostgreSQL version: `postgres:10.4`
* PostgREST version: `v0.5.0.0`
* Operating system: Raspbian GNU/Linux 9 (stretch)

<details>

[code]

</details>

### Description of issue

Probably related to #846, but I would like to ask about the possibility of a Docker image ready for ARM processors. So far I think the PostgREST Docker image is not compatible:

[code]

Also I see only `a

[2018-05-21 19:44] steve-chavez commented on #1117
I've uploaded a PostgREST binary for ARMv7 here https://github.com/steve-chavez/postgrest/releases/download/v0.5.0.0/postgrest-v0.5.0.0-debian-armv7.tar.xz, maybe you can test it so I can later see how to create a docker image for that and make it an official release.

If you'd like to you can also build your own docker image with that binary by following this https://github.com/PostgREST/postgres

[2018-05-22 10:59] allochi opened #1118 "Bulk UPSERT Confusion"
Hi,

I'm sorry if this is not the place to ask this question, I wouldn't have if there was a section about it in the documentation.

I'm trying to use Bulk UPSERT with a simple table

[code]

I then insert these records

[code]

When I try to UPSERT with this

[code]

1. if I set `id` to null in the last item, I get error 400 `null value in column "id" violates not-null constraint`
2. if I don't i

[2018-05-22 15:58] steve-chavez commented on #1118
One way to achieve what you want could be to define a trigger on your table that converts the null to the default, like:
[code]
Then you could have the `{ "id": null, "name": "PostgREST"}` in UPSERT working, the trigger should have a slight overhead on the INSERT as there's no DML. Another option is to adjust your use case at the application level, UPSERT is better when you have natural keys(must

[2018-05-22 16:14] steve-chavez commented on #1113
@wweultjes Glad it's working ok, however I'd like to leave the issue open until I merge the fix on master branch(just in case another user hits the same problem), want to give the PR one last review before merging.

[2018-05-23 14:40] allochi commented on #1118
@steve-chavez Thanks for your reply, it seems that UPSERT will not serve the purpose I want to use it for, so I will just create SQL functions for that.

I would expect UPSERT to check objects with an `id` for a conflict for `UPDATE`, and `INSERT` objects without `id`, but unfortunately it doesn't seems to be designed this way.

[2018-05-23 14:40] #1118 closed

[2018-05-23 14:58] steve-chavez commented on #1118
@allochi It's a limitation for now, internally the UPSERT request is translated to:
[code]
The undefined `id` attribute in the json is treated as a null, ideally PostgreSQL would turn that into a `DEFAULT` and it would use the sequence `nextval`(as possible when using VALUES) but it doesn't work that way, I can see how that's inconvenient maybe this could be raised on `psql-hackers` and see if it'

[2018-05-23 15:07] allochi commented on #1118
@steve-chavez thanks for the clarification.

I have already created a function to deal with my use case through RPC. But I would love to see PostgREST addresses this in the future. Thanks again!

[2018-05-25 02:00] sevagh opened #1119 "[Question] SIGHUP behavior to reload jwt-secret"
### Environment

* PostgreSQL version: 10
* PostgREST version: (if using docker, specify the image) 4.4
* Operating system: Linux

### Description of issue

(Expected behavior vs actual behavior)
I source my JWT secret from a file:

[code]

When I change this file and send Postgrest a SIGHUP, it reloads itself:

[code]

However I don't think it re-reads the contents of the JWT secret file. Is it s

[2018-05-25 02:57] nicolastarzia commented on #1117
Hey @steve-chavez,

Didn't work for me, I tried to build docker image with that binary, but, didn't work, can you help me?

I can see `arm` in the image inspector:
[code]

But my container log is:
[code]
Maybe the postgrest it's differente architecture?

I changed this line in Dockerfile:
[code]

[2018-05-25 13:32] steve-chavez commented on #1119
True, as it is now `SIGHUP` doesn't reload the configuration file, it only refreshes PostgREST schema cache, maybe a `SIGUSR1` would've been more appropriate for this since `SIGHUP` has a standard behavior. I'll make sure to add this for the next release.

[2018-05-25 15:06] steve-chavez commented on #1117
@nicolastarzia Maybe you're missing a change to this line https://github.com/PostgREST/postgrest/blob/f6c1ff810e92321f2cd522058d5c6fd74cb64226/docker/Dockerfile#L17.

It should be like `tar -xJvf postgrest-v0.5.0.0-debian-armv7.tar.xz`.

The binary I built has this `file` output:
[code]

[2018-05-25 15:35] nicolastarzia commented on #1117
Sorry, but I changed this line too..

Now I running docker build again, and send the log!

[2018-05-27 13:54] #1110 closed

[2018-05-28 02:20] john-kelly opened #1121 "Feature request: support for filter/condition that is always false (ie. where false)"
First and foremost, **thank you very much for your time**

### Summary
I've discussed this issue in the past on gitter, however, I thought I'd make a more formal request for this functionality. In short, I'm in need of support for a filter/condition that always fails (ie. where false). This request is a matter of elegance/beauty + handling edge cases rather than desiring new functionality.

In sql

[2018-05-28 03:01] john-kelly opened #1122 "Feature request: Empty SELECT Lists"
Once again, **thank you very much for your time**

### Summary
I believe that I'm in need of *Empty SELECT Lists*

Based on my readings, with regards to "is this possible?" we're in luck (in regards to postgresql support). [See docs here](https://www.postgresql.org/docs/current/static/sql-select.html#id-1.9.3.165.10.4):

Now, whether or not we want to support this is what I'm here to discuss.

As

[2018-05-28 17:53] steve-chavez commented on #1121
It makes sense to allow LIMIT 0 from the PostgreSQL side, however from the HTTP side we're mapping the usage of `limit` to the `Range` header semantics defined in [RFC 7233](https://tools.ietf.org/html/rfc7233), my understanding of the RFC is that requesting an empty range should be a 416(client error) and even if we allow this don't see how to send a valid `Content-Range` that describes the empty

[2018-05-28 23:05] steve-chavez commented on #1118
Docs on UPSERT are now available in https://postgrest.org/en/v5.0/api.html#upsert.

[2018-05-29 02:20] iaskwho opened #1123 "jwt-secret do not work"
### Environment

* PostgreSQL version: 9.6 10.4
* PostgREST version: v0.5.0.0
* Operating system: mac and windows

### Description of issue
i touch a config like this:
db-uri = "postgres://postgres:123456@localhost:5432/postgres"
db-schema = "api"
db-anon-role = "todo_user"
db-pool = 1
server-host = "*4"
server-port = 3000
jwt-secret = "jfdsfkdfjdlsfjkdlsjfldsfklsfjlsdfldfjldskfsdkfjfjdslf"

but w

[2018-05-29 07:43] allochi commented on #1118
@steve-chavez Thanks a lot, I would also like to thank the team for a job well done on PostgREST.

[2018-05-29 13:10] steve-chavez commented on #1123
PostgREST works with Bearer tokens, when you include the header like `Authorization: fdas fdas` PostgREST will ignore it(not a bearer token) and default to the anon role, in your case `todo_user` which I guess has INSERT permissions on the `todos` table(paste `\z todos` output to confirm), that's why it succeeds.

If you had `Authorization: Bearer fdas fdas` then you would get a JWT decoding error

[2018-05-29 13:22] steve-chavez commented on #1123
The `db-anon-role` shouldn't be high privileged, you usually will have an `anon` role that has at most `SELECT` permissions, you can follow the tutorial https://postgrest.org/en/v5.0/tutorials/tut0.html#step-4-create-database-for-api for more detailed instructions.

[2018-05-29 15:01] steve-chavez commented on #1117
@nicolastarzia Before creating the docker image would be better to see if the binary is working in your rpi, see if you can run `./postgrest`(it should show a help output) only requirement should be to `apt-get install libpq-dev`.

[2018-05-29 15:19] cuducos commented on #1117
Just a quick update:

I opened the issue a couple of days ago and since then I'm being idle because my memory card is corrupted so I cannot test it myself.

I already ordered a new one more than a week ago, but then a truck drivers strike has been delaying the delivery.

Many thanks @steve-chavez and @nicolastarzia for the inputs, I'm gonna get back to you as soon as my Raspberry Pi gets a new mem

[2018-05-29 15:26] steve-chavez commented on #1090
Mapping databases to subdomains is outside of the scope of PostgREST, that should be done at the proxy level(Nginx, Caddy, etc). About schema based multi-tenancy with a single PostgREST instance, we can continue that discussion in #1106.

[2018-05-29 15:26] #1090 closed

[2018-05-29 15:45] steve-chavez commented on #558
This is no longer the case since the docker image moved to https://hub.docker.com/r/postgrest/postgrest/.

[2018-05-29 15:45] #558 closed

[2018-05-29 16:17] steve-chavez commented on #1072
This is more of a PostgreSQL limitation than a PostgREST issue, saw you submitted this in [psql-bugs](https://www.postgresql.org/message-id/151933308143.1365.3106046996770708952%40wrigleys.postgresql.org), did you manage to work around this?

[2018-05-29 16:32] michelp commented on #1107
I run into this myself often, bash will interpret the '&' to run the curl as a background process.

[2018-05-29 18:41] john-kelly commented on #1121
The suggested

**would work well for my needs**, however, I don't know that I have enough postgrest specific context to weigh in on whether or not this change makes sense for the project as a whole.

With that being said, I *am* under the impression that the surface level client API issues (presented in this issue) *will* occur in other clients (assuming they create a `Condition` abstraction)

[2018-05-29 19:10] steve-chavez commented on #1058
I think in most cases is preferable to err on the invalid json `""`, would not like to give up on that strictness and let PostgreSQL do all the validation so for now I don't see this being implemented, but you have a couple of options:

- As per Nikolay's suggestion you can have a single json param, but I'll add that you can also use `Prefer: params=single-object` with GET, so if you have:

[code]

[2018-05-29 21:32] cip123 opened #1124 "limit and offset in subqueries ?"
### Environment

* PostgreSQL version: 9.6
* PostgREST version:   Docker 4.4.0
* Operating system: Debian

### Description of issue
Hello, we are using PostgREST in our project for some quite complex database views.

From some point on, when we are using limit and offset (x-range headers or query parameters) with sub-selects we get very high response times.

From what we have read, it seems like t

[2018-05-29 23:11] steve-chavez commented on #1124
Offsets on large data sets are expensive because of row rescans, maybe you can craft your queries based on keyset pagination, see this article for more info on that https://www.citusdata.com/blog/2016/03/30/five-ways-to-paginate/.

Also there was a related discussion in https://github.com/PostgREST/postgrest/issues/254.

[2018-05-30 01:43] iaskwho commented on #1123
thanks! @steve-chavez

[2018-05-30 03:49] michelp opened #1125 "Recent set_schema change breaks postgis views/function"
### Environment

* PostgreSQL version: (if using docker, specify the image)

mdillon/postgis:10

* PostgREST version: (if using docker, specify the image)

docker image tag v0.5.0.0-6bcbb12

* Operating system:

Ubuntu 18.04

### Description of issue

PostGIS install its functions and types into the public schema, but a recent postgrest change sets the search path explicitly to the configured api

[2018-05-30 05:29] cip123 commented on #1124
Thanks for your answer. However, I would like to try the offset approach a little more before going the keyset pagination way mainly because of its limitations.

So getting back to my question, I was thinking I could use the pre-request procedure to get the limit/offset values in a variable, and then use that variable in a subquery.

I noticed that I can retrieve the headers using request.headers.

[2018-05-30 13:07] steve-chavez commented on #1123
Ok, I'll consider this resolved then, reopen if not.

[2018-05-30 13:07] #1123 closed

[2018-05-30 13:15] steve-chavez commented on #1124
Saw your [SO question](https://stackoverflow.com/questions/50593323/postgrest-using-limit-and-offset-in-subqueries-or-cte), bear in mind that it's possible to use `limit/offset` in subqueries, for example you can do:
[code]
This is documented in https://postgrest.org/en/v5.0/api.html#embedded-operations.

[2018-05-30 13:27] cip123 commented on #1124
Thank you, I didn't mention in the question but my structure is a little more complicated than this and we can't allow our clients to do the join  by theirselves . We are just exposing the database views which the clients can filter both horizontally and vertically

[2018-05-30 14:22] steve-chavez commented on #1124
There's no out-of-the-box way to obtain the query parameters, recently there was a request for obtaining the uri as well so maybe it makes sense to add these capabilities, for now your best bet is to do it a the proxy level as I've shown above.

[2018-05-30 16:07] cip123 commented on #1124
thanks Steve for your input. I will try your suggestions. One more question, if both the <code>Range</code> header and the <code>limit</code> and <code>offset</code> parameters are present, which one will take precedence?

[2018-05-30 18:00] steve-chavez commented on #1125
You can fix your function without explicit qualification by adding it a `search_path` like:
[code]
This PostgreSQL feature is documented in https://www.postgresql.org/docs/9.5/static/sql-createfunction.html#SQL-CREATEFUNCTION-SECURITY.

Want to clarify that views will work normally, assuming that when you created them you were logged with a user that had `search_path=public`:
[code]
You can call t

[2018-05-30 18:13] michelp commented on #1125
Excellent! that works great, I like the explicit path.  This actually clarifies a few other weird things I've seen before so thank you!

[2018-05-30 18:13] #1125 closed

[2018-05-30 18:40] steve-chavez commented on #1125
Yeah, I think not relying on the authenticator implicit `search_path` will be better in the long run, I'll make sure to add a note about this in the docs.

[2018-05-31 14:11] jmealo commented on #475
@begriffs: https://github.com/JarvusInnovations/lapidus/issues/19

[2018-05-31 14:39] steve-chavez commented on #1125
Added a section for this in the docs https://postgrest.org/en/preview/api.html#explicit-qualification (preview, not yet released), @michelp what do you think, is it clear enough?

[2018-05-31 15:11] michelp commented on #1125
Looks good!  I got a report this also effect pgjwt users who install pgcrypto in public (uses public.hmac) so I'll make a new release with the alter tables in place and all should be good.  Thanks!

[2018-05-31 15:54] mojinfu opened #1126 "how can i use function sum() or max() ,or min() something like that , in my request url."
### Environment

* PostgreSQL version: (if using docker, specify the image)
* PostgREST version: (if using docker, specify the image)
* Operating system:

### Description of issue

(Expected behavior vs actual behavior)

(Steps to reproduce: Include a minimal SQL definition plus how you make the request to PostgREST and the response body)

[2018-05-31 15:55] mojinfu commented on #1126
does postgrest support that ?

[2018-05-31 16:07] steve-chavez commented on #1126
You have to create views to use aggregate functions, and then you can query them through the url using all of PostgREST filters normally, we don't include expensive operations by default to prevent DoS attacks.

[2018-05-31 16:09] steve-chavez commented on #1126
Check the view example in https://postgrest.org/en/v5.0/api.html#horizontal-filtering-rows.

[2018-05-31 16:57] #1113 closed

[2018-06-01 01:10] mojinfu commented on #1126
i exactly  known what you mean,  and exactly known  how to do ..
but  I need a api  which  will output summed
 data by a time range I give.
so  if I creat a view  with summed data   , time column will not in this view..  I can not make up a api with a time range parameter.

[2018-06-01 01:46] mojinfu commented on #1126
and  i found a way to solve the problem  by create a function to sum data .  and the time range parameter as the function parameter.
but this way is so getting complex when i sum  group by something else, it not support page split natively.

[2018-06-01 01:57] mojinfu commented on #1126
i got a theory  :  if PostgREST do not support data calculation (like sum, min..) functions in request url,  then PostgREST is not able to do any data calculation job without creating functions in sql, it is only able to show data.
@steve-chavez

[2018-06-01 02:19] steve-chavez commented on #1126
Stored procedure is another option, post a sample of the query you want to achieve to see how it can be done.

[2018-06-01 02:31] steve-chavez commented on #1126
To create more complex queries than the ones PostgREST supports out of the box you have to use stored functions, this is explicitly stated in the docs in https://postgrest.org/en/v5.0/api.html#custom-queries.

It may be possible in the future to support aggregate functions, see https://github.com/PostgREST/postgrest/issues/915 for a discussion on this, but for now this is not possible as we requir

[2018-06-01 11:52] mojinfu commented on #1126
When I create a function as a api .
how can I set a count number into response header  like the formate that  (0-20/132)??

[2018-06-01 12:45] mojinfu commented on #1126
i found it already has been added into my header  .  great !!!!

[2018-06-01 15:51] glw commented on #1107
@michelp you're probably right, because all the other non-function requests I made went thru fine without quotes.
@steve-chavez Im using Xfce

[2018-06-01 16:05] steve-chavez commented on #1107
Added an issue on the docs, I'll see how to include this as a note.

[2018-06-01 16:05] #1107 closed

[2018-06-01 17:12] steve-chavez commented on #1124
`Range` takes precedence over `limit/offset`, though bear in mind that they intersect, I recommend to just use one at a time, could be possible that I change this behavior to make `Range` override what `limit/offset` specifies if both are used at the same time.

[2018-06-04 18:41] steve-chavez commented on #1086
The way I see it is that PostgREST must work with the medium, for exposing a SQL feature we always seek to comply with HTTP semantics, for example, though in SQL you can do a `LIMIT 0` you can't do that through PostgREST since we adhere to `Range`([RFC 2616](https://tools.ietf.org/html/rfc2616)) semantics.

I agree with Ruslan that the `/rpc` prefix must be dropped as it's the source of this confu

[2018-06-04 21:35] omani commented on #1086
@steve-chavez I like your proposal. I think both under root would be a good thing.

[2018-06-05 17:40] steve-chavez commented on #1102
There's a media type for tabs, [text/tab-separated-values](https://www.iana.org/assignments/media-types/text/tab-separated-values), however there's no media type for other delimiters like semicolons, pipes and colons.

We could make a vendor media type for [delimiter-separated values](https://en.wikipedia.org/wiki/Delimiter-separated_values), with a parameter for specifying the delimiter, was thin

[2018-06-05 18:49] steve-chavez commented on #1105
Giving it more thought, the only operators that make sense on column to column comparison are: `eq, neq, lt, lte, gt, gte`.

I think we can have another HashMap of operators [here](https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/Types.hs#L186-L212), we'd need another [constructor](https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/Types.hs#L215-L217) for them, those

[2018-06-05 20:18] ruslantalpa commented on #1105
the need to strictly compare column values is very rare. It's even less likely that those two columns are in the same table (and this is what is being suggested/requested).
usually you want to apply some kind of function to a value of a column before comparing it to another and implementing that is complicated and at the same time exposing that is dangerous.

As a test for my theory, let's see her

[2018-06-06 14:45] steve-chavez commented on #1126
Good, considering the issue resolved then.

[2018-06-06 14:45] #1126 closed

[2018-06-06 14:53] #1058 closed

[2018-06-06 22:48] priyank-purohit commented on #1105
I currently use PostgREST to work with a massive biological database. I thought there was some problem with the way it was created so I needed to do some validation.

There is a `PredictedGenes` table which has a bunch of columns, including: `GeneStart, GeneEnd, Strand`. I needed to check that `Strand = '+' and GeneStart > GeneEnd` and `Strand = '-' and GeneStart < GeneEnd`

I definitely agree tha

[2018-06-06 22:54] priyank-purohit commented on #1122
May be I don't understand your use case but regarding "As it currently stands, in the case where we want to update/delete only a single row, we need to use "return=representation" in order to get the safety of only updating (or deleting) said row": you can accomplish updating/deleting a single row using the table's primary key, you don't need to use "return=representation" to achieve only 1 row up

[2018-06-07 14:29] cip123 opened #1127 "[Question] customize error messages"
### Environment

* PostgreSQL version: 9.6
* PostgREST version: 4.4.9
* Operating system: Ubuntu

### Description of issue
Hello, is there a possibility to provide some custom error messages to the caller ? For example the body when we try to retrieve a table which does not exist we get
``
{
    "hint": null,
    "details": null,
    "code": "42P01",
    "message": "relation \"api_v1.categories\"

[2018-06-07 15:03] steve-chavez commented on #1127
For the url and querystring cases you can send both as headers through nginx:
[code]

And then you can obtain those in the `pre-request` function with `current_setting('request.header.x-uri', true)` as documented in https://postgrest.org/en/v5.0/api.html#accessing-request-headers-cookies.

[2018-06-07 15:23] cip123 commented on #1127
Thanks, we were trying to avoid nginx route because we have a different setup and it adds another layer to our setup.

[2018-06-11 14:54] gavrilyak opened #1129 "candidates sql doesn't work when table name is quoted in view"
### Environment

* PostgreSQL version: docker, postgres:10.0
* PostgREST version: docker, postgrest/postgrest:v0.4.4.0

### Description of issue
candidates  [sql](https://github.com/PostgREST/postgrest/blob/30cf1d100a8b91f199be5ffb195811ce8bc5628d/src/PostgREST/DbStructure.hs#L746) can not find candidate columns from table when table name is quoted, like data."user" (as in [subzerocloud/postgrest-

[2018-06-11 16:29] steve-chavez commented on #1129
Reproduced, formatting the test case a little bit:
[code]

[2018-06-11 18:16] FGRibreau commented on #249
`statement_cost_limit` seems indeed the best way to go, I always got that question when talking about PostgREST/SubZero/PostgraphQL/Prisma/... so If PostgREST could implement it it would easier the transition to this stack :)

[2018-06-11 19:01] steve-chavez commented on #249
@FGRibreau Bear in mind that you can use the `pg_plan_filter` module now without explicit PostgREST support, you could set a `statement_cost_limit` high enough(depends on your db workload) to your `authenticator` user and that would be enforced for the rest of your roles, if any query surpasses the cost limit PostgREST should respond with the `plan cost limit exceeded` error coming from PostgreSQL

[2018-06-12 09:35] gavrilyak commented on #1129
Oops, I missed 'references "Foo"(id)' in my test case, sorry. Thanks for fixing it.

[2018-06-12 14:31] steve-chavez commented on #1099
@PierreR Check #1128, see if you can [build the PR from source](https://postgrest.org/en/v5.0/install.html#build-from-source) and confirm it's good enough for your use case.

[2018-06-13 19:52] purpleKarrot opened #1130 "JWKS: load public keys from a well known endpoint"
Please see https://auth0.com/docs/jwks

It would be great of PostgREST could load the public key from such an endpoint.

[2018-06-13 20:13] ruslantalpa commented on #1130
Or ... you install postgrest as a system service (https://docs.subzero.cloud/production-infrastructure/ubuntu-server/) and use systemd `ExecStartPre` directive to run one `curl` call that places that key in the file postgrest is configured to read...

[2018-06-13 21:34] PierreR commented on #1099
@steve-chavez Thanks

I am trying to build on nixos and the two pain points are:
- configurator-ng-0.0.0.1
- hasql-transaction-0.5.2

FWIW the test suite of `critbit` is failing but it is easy enough to build without checking.

Is there any reason why the low version of  `hasql-transaction` is required ?

[2018-06-13 22:38] steve-chavez commented on #1099
@PierreR I build/exec on NixOS with:
[code]
Not ideal, but should work, I haven't gotten around to fixing the dependencies yet.

[2018-06-14 15:09] photz commented on #1130
@purpleKarrot Did you get PostgREST to work with the JWK from Auth0 in general? I copied the first key in mytenant.auth0.com/.well-known/jwks.json into a file and set `jwt-secret = "@thefile"` in the config file as describe in the docs  [here](https://postgrest.org/en/v5.0/auth.html#asymmetric-keys).
Unfortunately PostgREST still always responds with
[code]

[2018-06-14 19:09] PierreR commented on #1099
@steve-chavez Given that `http://localhost:3000/test1?id=eq.2&select=info` return http://nixpaste.lbr.uno/BJw5QeGX?json, how can I get all the rows where `fun` is not "saltutil.find_job" ?

[2018-06-14 20:06] PierreR commented on #1099
Just deleted the above examples which were not good. I will try this again tomorrow.

[2018-06-14 20:57] PierreR commented on #1099
@steve-chavez it works nicely with test data. Thanks again.
Little question. In this call `http://localhost:3000/test1?info->0->>fun=neq.saltutil.find_job` the parser seems to be ok with the `.` between saltutil and find_job. Is that always the case ?

[2018-06-15 04:08] jcozain commented on #1130
i was just about to ask something similar. does the jwk accepts the x5u parameter. i tried authenticating with firebase ID token (jwt signed with asymetrical RSA) and only could make it work with a node js library to transform the cert into a "standard" jwk [[jwk](https://www.npmjs.com/package/json-web-key)]. wich is not very maintainable because google has 2 public keys wich are going to change p

[2018-06-15 13:14] steve-chavez commented on #1099
Yes, filters accept any char after the dot `.`, only when using `and/or` you'd have to quote a value like that, e.g. `/test1?or=(info->0->>fun.neq."saltutil.find_job")`.

[2018-06-18 14:02] cip123 commented on #1127
We ended up writing a Lua plugin (we are using Kong) that translates the error messages to the form we desire

[2018-06-18 14:02] #1127 closed

[2018-06-18 14:11] cip123 commented on #1124
We are using Kong at this moment, which is based on Nginx. We found the Nginx template location and added the proxy headers for offset and limit. Thanks

[2018-06-18 14:11] #1124 closed

[2018-06-19 07:40] TeodorKolev opened #1131 "Set array as a parameter"
Question:
How to set array as parameter? My target is to use array of cities and get persons who has at least one of cities array. My current query is
BODY:` {"criteria":"item ->> 'name' = 'John' and 'city' = in.('Las Vegas', 'Washington', 'New York')"}`
I guess `in.()` from documentation is not correct.

[2018-06-19 08:11] #1131 closed

[2018-06-19 16:18] #1099 closed

[2018-06-19 17:58] steve-chavez commented on #1099
@PierreR The feature is now merged in master, also added docs for this in http://postgrest.org/en/latest/api.html#vertical-filtering-columns (`latest` docs represent master not a released version). Consider supporting PostgREST on [Patreon](https://www.patreon.com/postgrest) so I can keep working on enhancements.

[2018-06-19 18:01] steve-chavez commented on #336
Closing this since #1128 got merged, it included a test for jsonb equality in https://github.com/PostgREST/postgrest/pull/1128/commits/610ac4b74340badfb95905c3294104936ebdd11d.

[2018-06-19 18:01] #336 closed

[2018-06-19 18:17] steve-chavez commented on #1105
@priyank-purohit For validating data, seems more suitable to query your PostgreSQL db directly(with `psql` or any client) than to go through PostgREST.

I hesitate on including the column to column comparison feature on master for now, would like to see more compelling use cases first.

[2018-06-21 14:54] jfischoff commented on #1076
Disabling the idle GC is a common practice so +1 to that as a default.

[2018-06-21 19:21] christiaanwesterbeek opened #1132 "Block Full-Table Operations on Amazon RDS Postgres"
I'm not reporting a bug nor a feature here. This is for [Blocking Full-Table Operations](https://postgrest.org/en/v5.0/admin.html#block-full-table-operations) using the [pg-safeupdate](https://bitbucket.org/eradman/pg-safeupdate/) PostgreSQL extension. That extension is **not available** on Amazon RDS Postgres.

I posted a tweet about it, but since I have quasi-zero followers I don't think it will

[2018-06-22 15:18] steve-chavez commented on #1132
I don't hold high hopes for AWS adding that any time soon. An alternative would be to restrict the method at the proxy level. In nginx, you could do something like:
[code]
The example could be improved, and more fine-grained logic could be done with lua(OpenResty).

Another alternative could be that, in addition to headers, we add access to other request attributes in PostgREST, like the http meth

[2018-06-22 22:02] jcozain commented on #1130
i made a nodejs script to fectch the certs and mint a jwks, the individual jwk work but when i put them both in a jwks it stops validating. im guessing this is not suported. i can get by because luckyly all of the jwt provided by google firebase had been of the same "kid" so im using just one key. any info would be welcome.

[2018-06-23 10:32] enricoboos opened #1133 "Internal Server Error with postgrest"
### Environment

* PostgreSQL version: 9.5.13
* PostgREST version: 0.5.0.0
* Operating system: Ubuntu 16.04

### Description of issue
PostgREST is running and you can make first requests to the database and get results.

After a while (this time just 2 hours) it is not working anymore (without any changes on the server), if you do e.g. a GET-request.

Expected behavior:
Get the table content

Actu

[2018-06-23 12:55] steve-chavez commented on #1133
How are you running PostgREST? Do you have it configured as a systemd service?

Also check if it's related to this https://github.com/PostgREST/postgrest/issues/724#issuecomment-337730866

[2018-06-23 14:36] enricoboos commented on #1133
I should have said in the beginning that i am a beginner here.
Anyways, I am running postgREST on an ec2 instance and the database is on RDS.

It does not seem related to #724 though, I am not using node and there is just one process running.

[2018-06-24 09:14] TeodorKolev opened #1134 "Unable to connect"
### Environment
* Operating system: Windows 8.1
* Docker for Windows Version: Toolbox 18.03.0-ce, build 0520e24302

### Description of issue
[code]
### Steps to reproduce the behavior
It is working from Ubuntu!
[More info](https://stackoverflow.com/questions/50895190/docker-did-not-start-postgres-server)

[2018-06-24 17:32] InigoReiriz opened #1135 "PostgREST does not recognize jwt_claims"
### Environment

* PostgreSQL version: postgres 9.5 (docker image)
* PostgREST version: postgrest/postgrest (docker image)
* Operating system: OS X

### Description of issue
Postgrest doesn't seem to recognize the jwt_claims and encode it as a jwt after hitting _http://localhost:3000/rpc/login_ endpoint. I expected the JWT token as a response from the server. I would be very grateful if you could

[2018-06-24 18:00] tsingson commented on #1135
[code]

look this:
[code]

sign_jwt() to build the jwt token .

[2018-06-24 18:02] steve-chavez commented on #1135
Your `login` function is missing the jwt generation, there's a `login` function example in the docs https://postgrest.org/en/v5.0/auth.html#logins.

[2018-06-24 18:09] InigoReiriz commented on #1135
@steve-chavez , yes, but where is the sign function defined ?

<img width="533" alt="screen shot 2018-06-24 at 20 08 04" src="https://user-images.githubusercontent.com/16237074/41822073-68116912-77ea-11e8-9146-297b7b304492.png">

[2018-06-24 18:11] steve-chavez commented on #1135
In the `pgjwt` extension, mentioned here https://postgrest.org/en/v5.0/auth.html#jwt-from-sql.

[2018-06-24 18:36] ruslantalpa commented on #1134
2 problems here
first this repo is *PostgREST*, not *PostgreSQL* :)
the second one is that you already have something running on your box on the port 5432 (probably postgresql running natively), you need to stop that process then the docker container should start

`2018-06-17 08:44:20.755 UTC [33] HINT:  Is another postmaster already running on port 5432? If not, wait a few seconds and retry.
`

[2018-06-24 19:29] christiaanwesterbeek commented on #1132
Thanks. I'll close this for now since an alternative strategy is available. Also, people visiting this issue can continue to retweet if they like even if this issue is closed.

[2018-06-24 19:29] #1132 closed

[2018-06-25 07:14] #1135 closed

[2018-06-25 12:33] ruslantalpa commented on #1134
looked at your stackoverflow posting, you are trying to run PostgREST (which is not evident from the issue you posted here). Your problem is not with postgrest but with postgresql or more specifically how to correctly run it in docker.
You could debug the specific error you posted but i would suggest ditching the custom docker image and go with the official images for postgrest and postgresql and

[2018-06-25 14:44] TeodorKolev commented on #1134
@ruslantalpa how is that post related to code I have posted?

[2018-06-25 14:44] steve-chavez commented on #1133
Try running postgrest as a systemd service(intro [here](https://www.digitalocean.com/community/tutorials/systemd-essentials-working-with-services-units-and-the-journal)) in your Ubuntu server and see if the problem persists.

[code]

[2018-06-26 08:12] photz commented on #1130
@jcozain Yes, PostgREST seems to only support single JSON Web Keys at the moment, not JSON Web Key Sets.
I am using `jq` to extract the first JWK and remove the properties that hs-jose currently seems to be incompatible with (namely x5c and x5t).
[code]

[2018-06-26 15:22] steve-chavez commented on #1050
To add the possibility of using heroku postgres, we would need to add some logic(in the postgrest-heroku repo) to make sure that the db is in a "premium" tier and disallow free tier ones, also we'd need a section in the docs about how to handle roles in heroku.

If someone wants this sooner rather than later consider sponsoring the feature on PostgREST's [Patreon](https://www.patreon.com/postgrest

[2018-06-26 17:38] steve-chavez commented on #1066
Since `v0.4` we use a file for the configuration and this will continue to be backwards compatible for upcoming releases.

Right now just changing the `POSTGREST_VER` env var won't upgrade to a new version, that's because the previous version binary remains cached, this logic could be changed to clear the cache, download the new version and cache it. Consider supporting PostgREST on [Patreon](http

[2018-06-27 20:06] FGRibreau commented on #981
Hum, there might be a fix to do, some columns are displayed in the swagger/open-api spec, while they should not be because anonymous is not authorized to view them.

E.g. in:

`api.themes` view has other columns like "status", and "status" is present inside the generated swagger, we might not want this as it leaks information

[2018-07-04 04:36] sinogermany commented on #1105
Probably not so relevant - we are currently trying to do `UPDATE <table> SET <col1> = <col2> WHERE <blah>`. If we could introduce literals into the `PATCH` payload, that would've been really great.

[2018-07-04 06:41] miaojianxin opened #1137 "how to"
### Environment

* PostgreSQL version: (if using docker, specify the image)
* PostgREST version: (if using docker, specify the image)
* Operating system:

### Description of issue

(Expected behavior vs actual behavior)

(Steps to reproduce: Include a minimal SQL definition plus how you make the request to PostgREST and the response body)

[2018-07-04 06:42] #1137 closed

[2018-07-04 07:56] miaojianxin opened #1138 "how to use dbpool in postgrest"
i set dbpool=10 in the configfile
but when use curl to vist postgrest , i find  the connection from postgrest to postgresql  is  changed, not use the one connection all the time.

for example
 I use curl to visit postgrest (192.168.200.42:3000)
 curl -X POST "http://192.168.200.42:3000/rpc/select_with_define" -H "accept: application/json" -H "Content-Type: application/json"   -d "{ \"start_time\":

[2018-07-06 16:21] steve-chavez commented on #1138
There's a hardcoded timeout of 10 seconds for the pool([here](https://github.com/PostgREST/postgrest/blob/master/main/Main.hs#L172)), probably that's why you see new connections. Do you think this timeout should be configurable? Why would that be needed?

[2018-07-06 19:39] dudleycarr opened #1139 "JWTIssuedAtFuture failure for valid JWT token"
### Environment

* PostgreSQL version: docker:latest
* PostgREST version: 0.5
* Operating system: GCP Kubernetes

### Description of issue

Postgrest intermittently returns ```{"message":"JWTIssuedAtFuture"}``` for valid JWT tokens. I verified that there was no clock drift between the client and the PostgREST server.

(Steps to reproduce: Include a minimal SQL definition plus how you make the requ

[2018-07-08 11:29] cmnstmntmn opened #1140 "PostgREST over CockroachDB support"
can PostgREST be user over CockroachDB instead of PostgreSQL ?

[2018-07-09 02:42] miaojianxin commented on #1138
ok， i understand， ten seconds is ok

[2018-07-09 02:42] #1138 closed

[2018-07-09 03:12] steve-chavez commented on #1139
Reproduced. You're generating a JWT with an `iat` claim right?(provide a sample JWT if possible).
Now, the bug is also present in `v0.4.4.0`(see if you can test this version to double check), this was prior to the time caching addition, seems the problem appears when we upgrade the version of our jwt lib(this [PR](https://github.com/PostgREST/postgrest/pull/997)), I'll have to dig further into tha

[2018-07-09 13:50] dudleycarr commented on #1139
@steve-chavez Yes, the JWT does include the `iat` claim. I'll produce a rejected JWT later today. My bad on not checking the previous version for the existence of the bug.

[2018-07-09 20:08] jberryman commented on #565
@eric-brechemier so increasing idle GC interval also caused the memory creep you saw disappear? Why would that be I wonder?

[2018-07-09 20:11] jberryman commented on #1076
See also #565

[2018-07-11 05:39] sunbing81 opened #1141 "strange behavior of current_setting(app.settings.*)"
### Environment

* PostgreSQL version: 10.3
* PostgREST version: 0.5
* Operating system: AWS RDS

### Description of issue

The case is simple. Let the code talk.

[code]

Of course we have the corresponding setting in postgrest.conf.
[code]

Immediately after a fresh start of postgrest, a correct response is produced by
[code]

The response will be always correct as long as the request is repeate

[2018-07-11 06:31] sunbing81 commented on #1141
Alright, it seems that all the session settings are affected, including request.jwt.claim.* and others. This is really a bizarre problem since everything used to work well before.

[2018-07-11 13:41] steve-chavez commented on #1060
@respondcreate @rvernica Not ideal, but another option is to use a chrome extension to add the header.

[2018-07-11 15:18] steve-chavez commented on #1141
Reproduced. Seems this is related to the pool timeout of [10 seconds](https://github.com/PostgREST/postgrest/blob/master/main/Main.hs#L172)(I increased this value to confirm), these `app.settings.*` GUCs are session scoped and set up at startup, when the pool reaper kills connections the new ones don't get these GUCs.

Seems this was also noted in https://github.com/PostgREST/postgrest/pull/1063#i

[2018-07-11 16:14] Rackar opened #1142 "pgjwt extension sql code error"
### Environment

* PostgreSQL version: 10.4
* PostgREST version: 5.0
* Operating system: Windows

### Description of issue

for install the pgjwt extension in the windows, i follow the dos and paste the sql code into postgres to the functions
CREATE OR REPLACE FUNCTION url_encode ...
CREATE OR REPLACE FUNCTION url_decode ...
thats ok. but then next error:

[code]

error:
@extschema@.url_encode
___

[2018-07-12 01:13] Rackar commented on #1142
thank you. I delete the `@extschema@.` ,and create function completed

[2018-07-12 15:25] mcarans opened #1143 "Alpine 3.7 Docker image with PostgREST 0.5.0.0"
For those interested, I have made a Docker image for Alpine 3.7 and PostgREST 0.5.0.0.

It is here: https://hub.docker.com/r/mcarans/alpine-haskell-postgrest/

Dockerfile etc. are here: https://github.com/OCHA-DAP/alpine-haskell-postgrest

[2018-07-13 11:38] mcarans opened #1144 "Update stack.yaml to lts-12.0"
Currently the lts version is for ghc 8.0.2. [Alpine 3.8 has ghc 8.4.3](https://pkgs.alpinelinux.org/packages?name=ghc&branch=v3.8) which is in [lts-12.0](https://www.stackage.org/lts-12.0).

Please update stack.yaml to use lts-12.0.

[2018-07-13 14:07] steve-chavez commented on #1143
Just to restate why we don't offer an official alpine image:

**We discourage building and using PostgREST on Alpine Linux because of a reported GHC memory leak on that platform**.

This is mentioned in the docs, also a previous discussion in #867.

Now, if this is not the case with newer Alpine images(would have to test that), I guess we could make Alpine a target of our release pipeline but for

[2018-07-13 14:14] steve-chavez commented on #1144
Upgrading the lts is not a simple change, and I'm not sure is even possible without patching some of the libs(I remember one lib forcing an old version of a dependency when I tried), so this is not a priority for me, a PR would be welcome though.

[2018-07-14 19:20] steve-chavez commented on #945
I've discarded the old query and added a new one(backwards compatible) that finishes in about 400 milliseconds using barbalex's schema.

Would like to double check before I merge this new query, @ejdoming @krueger71 @barbalex could you share your results of running the following query?(replace `'exposed_schema'` with your big schema)
[code]

[2018-07-14 19:47] barbalex commented on #945
409 milliseconds :-)

[2018-07-14 19:48] barbalex commented on #945
409 milliseconds was on my local machine. It takes 4 to 5 seconds on the live server, which still is great

[2018-07-16 15:05] lgall3t opened #1145 "OpenAPI and materialized view : no column"
### Environment

* PostgreSQL version: 9.5.4
* PostgREST version: 0.5.0.0
* Operating system: Centos 7, reproducible on Windows 7

### Description of issue

Hello,
I have a database with materialized views. I can make queries on those materialized view, it works fine. But, in OpenApi description on /, no column is displayed ; with Swagger-UI, I have only generic fields :
![swaggerui-mv](https://us

[2018-07-16 17:29] steve-chavez commented on #1145
Our query was missing a condition for materialized views, already added a patch in #1115.

[2018-07-17 18:10] steve-chavez commented on #709
We now have a faster and better query for detecting fk columns in VIEWs with CTE/subselect, see the views used for the tests [here](https://github.com/steve-chavez/postgrest/blob/allSynonyms-perf/test/fixtures/schema.sql#L1476-L1550) and the [tests](https://github.com/steve-chavez/postgrest/blob/allSynonyms-perf/test/Feature/QuerySpec.hs#L370-L393).

It should work as long as the columns come unmo

[2018-07-18 14:43] #1129 closed

[2018-07-18 14:43] #709 closed

[2018-07-18 14:43] #1145 closed

[2018-07-18 14:55] steve-chavez commented on #1145
Most likely in the second half of next month, there are a couple bugs that need fixing. But you can [build from source](https://postgrest.org/en/v5.0/install.html#build-from-source) if you want the feature now, should be straightforward on Centos.

[2018-07-18 19:07] steve-chavez commented on #945
#1115 Got merged, so closing.

Thanks a lot @barbalex, without your help this issue couldn't have been solved.

@all Consider supporting [PostgREST on Patreon](https://www.patreon.com/postgrest) if you'd like to compensate me for the time/effort I put on for solving this, that would also ensure PostgREST keeps getting better in a sustained manner.

[2018-07-18 19:07] #945 closed

[2018-07-19 14:00] steve-chavez commented on #1139
@miaojianxin That seems more related to #991, check if your secret is at least 32 characters long.

[2018-07-19 16:52] steve-chavez commented on #1139
Can confirm that by removing the time cache the issue still persists.

[2018-07-19 21:59] uskudnik opened #1146 "Hackage still serves 0.4.4 instead of 0.5"
Hackage lists [0.4.4.0](http://hackage.haskell.org/package/postgrest) as version of postgREST while release seems to be at 0.5.0.0.

Looked through issues and couldn't find mention of 0.5.0.0 but it seems it happened before so maybe this would be a good addition to postgrest-bot (or something similar if you have it)?

[2018-07-19 22:05] begriffs commented on #1146
Thanks for pointing that out. Updating hackage was previously one of my release checklist items. I don't handle the releases any more. Perhaps hackage provides a way to grant upload access to more than one person. Ideally a few of us should have this capability.

[2018-07-19 22:17] uskudnik commented on #1146
Thanks for quick reply! :) Yup, agreed on multiple person access (bus factor if nothing else :slightly_smiling_face: ).

I'm not very familiar with hackage (just haskell experiments under my belt for now) but per [upload doc](http://hackage.haskell.org/upload) it seems it might be possible:

[code]

[2018-07-20 13:36] steve-chavez commented on #1146
My bad, somehow thought this was included in our automated release script.

Seeing this in the hackage docs:
**You can only upload a package version once and this cannot be undone, so try to get it right the first time!**

Makes me think that'll be better to have the posgrest-bot as the only responsible for doing this. Seems we're only missing a `stack upload` in our script.

I'll make sure to add

[2018-07-20 22:07] dudleycarr commented on #1139
@steve-chavez I've confirmed that removing the iat resolves the issue. Thanks!

[2018-07-20 22:40] ppKrauss opened #1147 "Docker say "No such object: postgrest/postgrest""
### Environment
docker inspect -f "etc" postgrest/postgrest

* PostgreSQL version: 10.4
* PostgREST version: waitng docker get it
* Operating system: Ubuntu 18.04 LTS
* Docker version 17.12

(tested the same with Ubuntu 16 LTS)

### Description of issue

* Expected behavior: to install after `docker inspect -f "etc" postgrest/postgrest`

*  actual behavior: *"Error: No such object: postgrest/postg

[2018-07-21 18:40] steve-chavez commented on #1147
Seems you don't have the postgrest image, run `docker pull postgrest/postgrest` and then you can do `inspect`.

More info here https://postgrest.org/en/v5.0/install.html#containerized-postgrest-with-native-postgresql.

[2018-07-21 19:39] ppKrauss commented on #1147
Hi @steve-chavez ,  sorry to not deleted this issue  after  to use `pull` (I was rush but installation was plug-and-play!).

Hum... checking the guide ... To be a "guide for dommies" it need some comment, because [docker chapter](https://postgrest.org/en/v5.0/install.html#docker),  with the `inspect` command  is before the chapter with the `pull` command, so, inducing wrong sequence.

------

A **

[2018-07-23 15:05] canadaduane commented on #1141
Hmm, strange, I haven't run into this, but that could be explained by my
not using it in production yet (or very often).

On Wed, Jul 11, 2018 at 9:18 AM Steve Chávez <notifications@github.com>
wrote:

[2018-07-24 10:38] laughedelic opened #1150 "OpenAPI: defaults of some types are lost"
### Environment

* PostgreSQL version: 10.4
* PostgREST version: 0.5.0.0 (fa1e92f)
* Operating system: macOS 10.13.6

### Description of issue

Here's an example table:

[code]

And the produced OpenAPI specification (only `definitions.defaults.properties`):

[code]

As you can see only default values for the numeric columns were preserved. Te responsible code is here:

https://github.com/laughede

[2018-07-24 16:47] steve-chavez commented on #1150
We use [this query](https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/DbStructure.hs#L359-L526)(you could run it by replacing `$1` with your schema) to get the defaults, it's based on `information_schema.columns`, and you're right in that these don't always come properly formatted:
[code]

[decode](http://hackage.haskell.org/package/aeson-1.4.0.0/docs/Data-Aeson.html#v:decode) retur

[2018-07-24 19:37] ppKrauss commented on #1106
Hi, I am using docker with external PostgreSQL and need **multiple endpoints** at the same machine (so same PostgreSQL and databases).... So, **no matter** if it is implemented as "one PostgREST instance" or "multiple PostgREST instances".  The focus of a user like me is "multiple endpoints" and the best solution (faster and good reuse of resources).

So, I am perhaps backing to #1090 (that was re

[2018-07-25 15:16] marcellodgl commented on #1117
Compiled version on Raspberry Jessie

[postgrest.tar.xz.zip](https://github.com/PostgREST/postgrest/files/2228431/postgrest.tar.xz.zip)

Marcello

[2018-07-25 15:35] steve-chavez commented on #1106
Multiple instances with docker would be better handled with `docker-compose`, I posted an example configuration in https://github.com/PostgREST/postgrest-docs/issues/160#issuecomment-407523381.

For mapping the instances to different endpoints in the same domain we recommend Nginx, we're missing an example in the docs for this, but should be something like:
[code]

[2018-07-25 15:53] steve-chavez commented on #1117
Thanks @marcellodgl, want to add that this binary(armv7) corresponds to the latest version(v5.0.0) on https://github.com/PostgREST/postgrest/commit/fa1e92fdf2d74d083eb4242de5051b0274799a17, and also that we confirmed it's working ok on Marcello's rpi, unlike my previously posted binary which presented some errors, so prefer this latest binary.

[2018-07-25 18:36] ppKrauss opened #1151 "minor bug of "no GET specification" at swagger JSON in the root"
### Environment

* PostgreSQL version: 10
* PostgREST version: 0.5
* Operating system: UBUNTU 16 LTS

### Description of issue

Example: I can run `http://localhost:3000/rpc/add_them?a=1&b=2` (it returns 3), but `/`  not say `GET`, only `POST`.

Reproduction of the bug: the root of any instance, access by HTTP. <br/>NOTE: with `docker run`  it occurs after `docker kill --signal=HUP <container>`.

[2018-07-25 23:55] laughedelic commented on #1150
Thanks for the explanation and the references. It doesn't affect my current work directly, so I'm not sure when/if I will have time to look into this and submit a PR.

[2018-07-26 17:43] mdr1384 opened #1152 "RPC function with argument name "user" quit working in v0.5.0.0"
### Environment

* PostgreSQL version: 9.6.8
* PostgREST version: 0.5.0.0
* Operating system: FreeBSD 11.1

### Description of issue

RPC function with parameter name = "user" no longer works with PostgREST 0.5.0.0.  It was working in 0.4.4.0.  There is a postgresql error:
[code]

(Steps to reproduce: Include a minimal SQL definition plus how you make the request to PostgREST and the response body

[2018-07-26 19:01] ruslantalpa commented on #1152
this line
https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/QueryBuilder.hs#L178
needs to change from
[code]

to
[code]

and it should work

[2018-07-26 19:02] ruslantalpa commented on #1152
@mdr1384 can you test and submit a PR?

[2018-07-26 19:49] mdr1384 commented on #1152
Added PR https://github.com/PostgREST/postgrest/pull/1153.

[2018-07-27 13:21] mdr1384 opened #1154 "OpenAPI not showing all overloaded RPC functions"
### Environment

* PostgreSQL version: 9.6.8
* PostgREST version: 0.5.0.0
* Operating system: FeeBSD 11.1

### Description of issue

OpenAPI result includes only one of the overloaded RPC functions, not sure how to determine which one is picked.  Ideally all should show up (somehow.)   I note the "parameters" item is an array of objects, seems it could handle more than one set of parameters, but i

[2018-07-27 18:21] steve-chavez commented on #1154
Seems that could be done with [anyOf](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/). Unfortunately that's only supported in OpenAPI v3 and [not v2](https://stackoverflow.com/questions/39927118/swagger-2-0-anyof-replacement)(which we currently use).

It's a non-trivial effort to migrate to v3 so I'm not sure when/if that will happen.

[2018-07-28 23:53] NickEmpetvee opened #1155 "Question on the 'public user interface' documentation."
Referencing this: https://postgrest.org/en/v5.0/auth.html#logins.

It's not clear to me if this SQL to create the `login(...)` function is supposed to be applied to the public or basic_auth schema. Could someone clarify?

[2018-07-29 00:20] steve-chavez commented on #1155
Should be in your exposed schema(the one you specify in `db-schema`, usually named `api`, better to have a dedicated schema for this rather than `public`). The `basic_auth` schema is internal, shouldn't be exposed.

[2018-07-29 00:26] NickEmpetvee opened #1156 "JWT from SQL documentation question..."
Regarding this: https://postgrest.org/en/v5.0/auth.html#jwt-from-sql

When I ran this SQL I got the error underneath it. However the sign() function had no problem when running the code in this section - https://postgrest.org/en/v5.0/auth.html#logins. Wondering if you might know what I'm doing wrong.

[code]
THE ERROR:

[code]

[2018-07-29 00:36] steve-chavez commented on #1156
Seems related to the `search_path`, check https://postgrest.org/en/v5.0/api.html#explicit-qualification.

[2018-07-29 04:15] NickEmpetvee commented on #1156
Thanks. I will investigate.

[2018-07-29 04:16] NickEmpetvee commented on #1155
I appreciate the fast response. I'm just getting started with PostgREST and it seems awesome! Thanks.

[2018-07-29 18:51] NickEmpetvee commented on #1155
Would `jwt_token` as described here also get created on the exposed schema (which I've named "api")?

https://postgrest.org/en/v5.0/auth.html#jwt-from-sql

[2018-07-30 04:01] NickEmpetvee commented on #1156
Hmm still no love. I don't see the sign(...) function available in my `api` schema. It's in my table schema but I'm not sure how it got there. Could it be because I added the pgjwt extension before creating the API schema? The `api` and `basic_auth` schemas obviously wouldn't have been in the search path at that time.

[2018-07-30 04:14] NickEmpetvee commented on #1156
Here's the code for the pgjwt extension in my PostgreSQL instance: Do I need set the schema for the extension to `api?`

`CREATE EXTENSION pgjwt
    SCHEMA custom_table_schema
    VERSION "0.0.1";`

[2018-07-30 10:52] nigelrmtaylor commented on #1156
I went through a similar loop last week getting the example login function to work and the trick seems to be to set the search path for the login function to include the schema where the extensions are loaded.

So, in my case, postgrest is exposing the 'core' schema, the extensions are loaded into the 'public' schema and the users table is in the basic_auth schema.

this creates the extensions...

[2018-07-30 10:57] NickEmpetvee commented on #1156
It was the search_path. Thank you the link helped.

[2018-07-30 10:57] #1156 closed

[2018-07-30 10:58] #1155 closed

[2018-07-30 14:11] #1152 closed

[2018-07-30 16:06] steve-chavez commented on #905
We had a report of this happening intermittently on a Rasberry Pi, don't know exactly why this happens but thanks to the hint by @GameEngine1 (not happening on 0.4.0.0) I managed to solve the issue by reverting this change https://github.com/PostgREST/postgrest/pull/834 which changed a connection timeout default.

[2018-07-30 17:16] steve-chavez commented on #1147
Thank you for the feedback, I've created issues with your suggestions on postgrest-docs to solve them later so I'll close this.

[2018-07-31 16:13] mdr1384 opened #1158 "OpenAPI does not produce summary for RPC functions"
### Environment

* PostgreSQL version: 9.6.8
* PostgREST version: 0.5.0.0
* Operating system: FreeBSD 11.1

### Description of issue

Unable to get a summary in OpenAPI output for RPC functions.  Related to https://github.com/PostgREST/postgrest/pull/931 and https://github.com/PostgREST/postgrest/pull/1005.
[code]

OpenAPI output:
[code]

[2018-07-31 19:00] statik commented on #1139
Interesting, we started hitting this too as soon as we upgraded to postgrest 5.0.

[2018-08-01 07:56] NickEmpetvee opened #1159 "End to end example with React (or another JS framework)?"
Hi all,

I'm using PostgreSQL 10.x, PostgREST 0.5 on a Win81 development environment. The front end is React (possibly with Redux, but don't know yet if we'll need it). Can anyone point me to a good example of how to leverage this in a JS framework, preferably React? I'm new to REST and have several questions...

For example, once you make the login API call in JS successfully, do you store the re

[2018-08-01 08:18] NickEmpetvee opened #1160 "CONF file db-uri user/password situation"
Hi all,

PostgreSQL 10.x, PostgREST 0.5.x, Win81. Not using Docker.

I'm using the a URI like the below. The situation is that no matter what value I put in the `randomstring` section, PostgREST still works. It's not checking if I've provided a proper password. Any ideas on why this might be?

`db-uri = "postgres://dba_admin_xyz:randomstring@localhost/mypostgresdb"`

Thanks in advance!

[2018-08-01 14:31] steve-chavez commented on #1160
That depends on the [authentication method](https://www.postgresql.org/docs/10/static/auth-methods.html) you have on your `pg_hba.conf`, if you have something like:
[code]
The `trust` there means no password required, `md5` would require one.

[2018-08-01 16:06] stefanosvarsanis commented on #1034
@begriffs Hey there. How did you get postgREST to work with SSL? I read here they don't support ssl
http://postgrest.org/en/stable/auth.html#ssl if there is a solution please share. Can't get the configfile to connect to an RDS database.

[2018-08-01 16:13] steve-chavez commented on #1158
If you're interested in doing a PR, the change for adding the function summary should be similar to what was done in https://github.com/PostgREST/postgrest/pull/931/files#diff-387c8dbc69527febf946f92972537ccaR189 but for [makeProcPathItem description](https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/OpenAPI.hs#L227), after that tests for this could be added in https://github.com/Po

[2018-08-02 04:34] NickEmpetvee commented on #1160
That did the trick. Thanks @steve-chavez !

[2018-08-02 04:34] #1160 closed

[2018-08-02 16:11] steve-chavez commented on #818
I have a proposal for this. Once #690 is solved, we could take advantage of the new query parameter(`columns`) to do this:
[code]
[code]
This would generate the following SQL(using [data-modifying CTEs](https://www.postgresql.org/docs/10/static/queries-with.html#QUERIES-WITH-MODIFYING)):
[code]
Since we know the tables relationship, we can infer that the `item_id` column is the fk column for `subi

[2018-08-02 16:14] steve-chavez commented on #286
Even if the http2 interface is implemented, that still wouldn't solve the problem of INSERTing a row dependent on the id of another row(child/parent table).

I made a proposal for solving that part in https://github.com/PostgREST/postgrest/issues/818#issuecomment-409981816.

[2018-08-02 16:58] steve-chavez commented on #1034
@stefanosvarsanis That section is related to exposing HTTPS with just PostgREST. We do support connecting to PostgreSQL over SSL. Check `db-uri` in the [configuration docs](https://postgrest.org/en/v5.0/install.html#configuration), it mentions that you can use `postgres://user:pass@host:5432/dbname?sslmode=require` as a connection uri.

[2018-08-03 06:31] john-kelly commented on #1159
Here's an example app I made: [john-kelly/elm-postgrest-spa-example](https://github.com/john-kelly/elm-postgrest-spa-example)

The example is a SPA in Elm + PostgREST. The example implements the relatively popular [gothinkster/realworld](https://github.com/gothinkster/realworld) spa example standard in PostgREST.

If you can ignore the following details:
1. My example is in Elm and you've requeste

[2018-08-04 07:55] NickEmpetvee commented on #1159
Thanks @john-kelly will take a look!

[2018-08-04 16:44] steve-chavez commented on #724
Thanks to @chesles report, I think I understand why this happens.

First, the default `server-host="*4"`(any IPv4 or IPv6 hostname, IPv4 preferred) is used and as mentioned in [warp docs](https://www.stackage.org/haddock/lts-8.5/warp-3.2.11.1/Network-Wai-Handler-Warp.html#t:HostPreference):
**Note that the permissive * values allow binding to an IPv4 or an IPv6 hostname, which means you might be a

[2018-08-04 16:53] steve-chavez commented on #724
A quick way to solve this would be changing the default host to `127.0.0.1`, that way the second pgrst process would get the `Address already in use` error.

However the underlying issue is that we're not using `SIGHUP` for quitting the process, I think apache/nginx can get away with using `SIGHUP` to reload because they log to a file and don't face the stdout problem, for example starting pgrst w

[2018-08-04 18:04] steve-chavez opened #1162 "No Location header when primary key is not specified in select="
[code]

[2018-08-04 18:06] steve-chavez commented on #1087
There's no error on the latest version, but the `Location` header is missing, I've opened a new issue #1162 for this, now is more of a minor bug.

[2018-08-04 18:06] #1087 closed

[2018-08-04 18:40] steve-chavez commented on #1133
Closing due to lack of activity, reopen if issue is still relevant.

I think what happened here is your ec2 SSH session dropped or you closed a terminal window, and PostgREST doesn't quit when this happens but remains in a broken state if stdout is not available, related to https://github.com/PostgREST/postgrest/issues/724#issuecomment-410462615

It's likely that you won't encounter the error when

[2018-08-04 18:40] #1133 closed

[2018-08-05 03:59] NickEmpetvee opened #1163 "Querying data in schemas not specified in db-schema"
Hi guys. Would like to hear thoughts on how to best query data that's not in the exposed schema (db-schema). Is it best to create functions in the exposed schema that carry CRUD requests to the internal schemas?

Illustrating with an example, suppose the exposed schema is called 'api' and there's an internal schema in the database called 'Supply Chain' with tables named 'products', 'warehouses', '

[2018-08-06 02:43] daurnimator commented on #1163
Normal practice is to create views in your api schema that query the other ones.
e.g.

[code]

[2018-08-06 02:47] NickEmpetvee commented on #1163
@daurnimator, thank you. Then in your api schema, would you create functions for creates/updates/deletes for the other ones?

[2018-08-07 13:23] deftsp opened #1164 "Resource embedding can not use data."user"(id) as fk, but data."user2"(id) is fine"
### Environment

* PostgreSQL version: 9.6
* PostgREST version: 0.5.00
* Operating system: Debian jessie

### Description of issue

With the following database
[code]

[code]
And the following one works
[code]

The only difference of the two examples is the table name( data."user" and data."user2").

[2018-08-07 18:08] steve-chavez commented on #1164
This is already solved in master(duplicate of https://github.com/PostgREST/postgrest/issues/1129, also mentions the data."user" table).

You can [build from source](https://postgrest.org/en/v5.0/install.html#build-from-source)(should be straightforward on Debian) if you need the fix now.

[2018-08-07 18:08] #1164 closed

[2018-08-10 21:18] NickEmpetvee commented on #1163
The above and subsequent gitter conversation closed this.

[2018-08-10 21:18] #1163 closed

[2018-08-11 23:06] steve-chavez commented on #1139
My bad. I confused myself because the test case I proposed had an `extract(epoch from now())::integer` which rounded the seconds. This issue is totally because of the time cache, I removed the casting in my test case and traced the values on the server:
[code]
When removing the time cache the problem is gone, I'm going to add a 1 second [allowedSkew](http://hackage.haskell.org/package/jose-0.7.0.0

[2018-08-13 10:29] txjoe opened #1167 "Can't find the data inserted using the api."
### Environment

* PostgreSQL version: official docker image : https://hub.docker.com/_/postgres/
* PostgREST version: 0.5.0.0
* Operating system: ubuntu 17.10

### Description of issue

I created a test table called store

[code]

created a role with my name and set the appropriate permissions on it.
Used the requests module to send a post request to postgREST and got a 201 response.

[code]

But

[2018-08-13 11:56] christiaanwesterbeek commented on #1167
Row level security that prevents that user from getting anything maybe.
An instead of trigger maybe on the table.

[2018-08-13 11:59] txjoe commented on #1167
Shouldn't that raise an error though? I'm getting 201 responses

[2018-08-13 14:32] christiaanwesterbeek commented on #1167
201 means the record is in. Or the instead of trigger did something with it. You're probably aware of any triggers. So I suspect you enabled row-level permissions but created no policies. In which case leads you to what you're seeing now. Zero records. But this is all guessing.

[2018-08-14 20:51] mdr1384 opened #1168 "How to access the authorization header value?"
### Environment

* PostgreSQL version: 9.6.8
* PostgREST version: 0.5.0.0
* Operating system: FreeBSD

### Description of issue

Trouble accessing the `request.header.authorization` variable.  I can access every other header in the request, even application-specific ones like `postman-token`.  But for some reason I cannot access the `authorization` header.   I verified that it is being sent - it h

[2018-08-14 21:28] steve-chavez commented on #1168
All raw headers available besides `Cookie` and `Authorization`([code](https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/ApiRequest.hs#L132)), those are processed and come conveniently as `request.cookie.*` and `request.jwt.claim.*` values.

What's the use case for raw `Authorization`?

[2018-08-14 21:50] ashish369in commented on #915
Just chiming in to request this enhancement be implemented. Distinct and Group-by will make quite a few views unnecessary in our case.

[2018-08-15 16:01] steve-chavez commented on #365
This would be specially useful on Windows, users keep reporting problems there.

Currently we require a full PostgreSQL installation in Windows to use pgrst and when the db is in another server that dependency seems too big. I don't know a way of getting just `libpq` on Windows(haven't tried [msys2](https://www.msys2.org/)).

[2018-08-16 12:56] mdr1384 commented on #1168
The API calls an external function, which verifies the user input prior to UPDATE/INSERT and updates associated data records. It function performs authorization (token signature verification) because it is used from multiple interfaces so I was hoping to just pass along the token, rather than re-implement the function.

[2018-08-16 14:40] steve-chavez commented on #1168
I'm not sure I follow. If that external API call verifies the signature and obtains the jwt claims why the need to go first through postgrest, you could make the client request first go to that external component and then send the claims to postgrest as headers.

[2018-08-16 16:04] steve-chavez commented on #1029
Closing, seems this was solved quite a while ago.

[2018-08-16 16:04] #1029 closed

[2018-08-16 16:15] #724 closed

[2018-08-16 18:18] mdr1384 commented on #1158
Added request #1170.

[2018-08-16 18:34] steve-chavez commented on #1158
@mdr1384 That's defined here https://github.com/PostgREST/postgrest/blob/master/test/fixtures/schema.sql#L1569-L1572.

A similar comment for the function would be needed for the test.

[2018-08-16 21:02] mdr1384 commented on #1168
The function is called from within a trigger on insert/update - it has to be atomic with each row change. I could take all the code (PHP) and try to re-implement it in SQL but it would take weeks probably. I was hoping I could just call the existing Python code directly using a plpython2u call. The function is extremely complex and does a lot of stuff for password requirement checking and auditing

[2018-08-16 21:07] mdr1384 commented on #1158
Ah no wonder I didn't see it -- I'm looking at the tagged 0.5.0.0 code.  I'll add the test to my PR.

[2018-08-16 23:17] steve-chavez commented on #1168
It's actually just removing the `k /= hAuthorization` from this line https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/ApiRequest.hs#L132.

You could have your own fork with that change for now.

[2018-08-16 23:58] steve-chavez commented on #1168
The cost in our case will be the overhead of adding one more transaction scoped GUC, but I haven't measured how meaningful this is as to oppose to the change. Do the PR, I'll see if I can add benchmarks for the next release.

[2018-08-17 08:53] nengc opened #1171 "How can i remove the function name key of the json result when calling the rpc?"
### Environment

* PostgreSQL version: 10.4
* PostgREST version: 0.5.0.0 (903a8d5)
* Operating system:windows 7

### Description of issue

As the title, when i use rpc to get a json object, how can i remove the function name key?

![image](https://user-images.githubusercontent.com/19792047/44257243-01670180-a23e-11e8-8e92-78d4eae49cea.png)

Thanks!

[2018-08-17 12:37] mdr1384 commented on #1168
Isn't the number of GUC's completely dependent on the number of headers the client puts in? If there is a performance hit then it seems to me that there is a DOS possibility...

[2018-08-17 15:45] steve-chavez commented on #1171
The function name should be gone after [reloading postgrest schema cache](https://postgrest.org/en/v5.0/admin.html#schema-reloading), try restarting postgrest and making the request again.

[2018-08-18 14:28] steve-chavez commented on #1168
I'll have to measure that first, but it's possible. To avoid that we could have a config setting that whitelists the client headers, this setting could be like `request.allowedHeaders = [Authorization, Cookie, ..]`.

[2018-08-18 21:44] #1159 closed

[2018-08-20 01:19] miaojianxin opened #1173 "what the driver does postgrest use when connect to the db？"
now， i use a graph database agensgraph which is based onpostgresql, it makes some change in the code of postgresql.
i want to use postgrest on this db, but you know, because the code changed,  the postgrest won't  be compatible with the changed agensgraph .

so i want to change the driver used in postgrest ,how can i do for this? thank you

[2018-08-20 01:33] nengc commented on #1171
Hi @steve-chavez ,I restart the postgrest container again ,but still not working. And the function as below

![image](https://user-images.githubusercontent.com/19792047/44315979-71060800-a45b-11e8-8c04-88f552ba0da3.png)

![image](https://user-images.githubusercontent.com/19792047/44316037-ed98e680-a45b-11e8-9ddb-86133d23a922.png)
Thanks!

[2018-08-20 07:58] miaojianxin commented on #1173
i know it ，and know how to be compatible  with  postgrest， thank you

[2018-08-20 07:58] #1173 closed

[2018-08-20 08:08] robertjpayne commented on #990
@ruslantalpa is this still the case? I'm having this same issue, I've tried wrapping it into a function but it never comes through. According to jwt.io my token is fine?

[code]

Just returns null even though the token has a `user_id` in the payload…

[2018-08-20 10:11] christiaanwesterbeek commented on #1159
Check out [react-admin](https://github.com/marmelab/react-admin). Those guys at Marmelab are really doing an excellent job. I'm in the final stages of getting an app into production that is build with Postgres + PostgREST + react-admin. Best stack I ever worked with.

[2018-08-20 13:58] steve-chavez commented on #990
@robertjpayne It works for me without wrapping, check the [database logs](http://postgrest.org/en/v5.0/admin.html#database-logs) and see if statements like `set local "request.jwt.claim.username" = 'John Doe'` appear.

[2018-08-20 14:37] robertjpayne commented on #990
@steve-chavez I'll have a look, what's odd is I can get the `request.jwt.claim.role` but I can't get anything else at all.

It's a bit frustrating and doesn't make much sense -- I'll keep an eye on the db logs and see if there is any commands getting executed to set others.

[2018-08-20 14:47] steve-chavez commented on #990
@robertjpayne `request.jwt.claim.role` always get set to the `db-anon-role`, even if no `Authorization` header is sent.

[2018-08-20 15:49] steve-chavez commented on #1171
When doing `GET /rpc/bb` you're basically doing a ` SELECT * FROM "public"."bb"()` which will return rows with `bb` as the only column, similar case with all functions that return `setof <scalar>`, they'll return the name of the function as the only column.

For your case you could use `GET /rpc/bb?select=bb->user_id,bb->user_name` but I don't recommend that, it'd be better to change your function

[2018-08-20 16:02] #1141 closed

[2018-08-20 17:00] robertjpayne commented on #990
@steve-chavez there is a authorisation header set though in my case and it's valid according to jwt.io and my sign methods.

And it will let me get a custom role out of the auth header not just the default one but if I try to get any other claim in the jwt payload it just always is null.

[2018-08-20 17:07] robertjpayne commented on #990
@steve-chavez yea so something is fishy, here's the log file:

[code]

The JWT I'm using is:

[code]

As you can see in the JWT is `email` `user_id` `organization_id` but according to the DDL they are never set into the settings.

Maybe I'm encoding the claims wrong or do I need to set something special up so it extracts them from the JWT payload? The documentation isn't super clear if anything ad

[2018-08-21 02:11] nengc commented on #1171
Hi @steve-chavez ,thanks again! And the "select" worked, but what my  purpose is to get dynamic columns, and neither need to set the out params nor return the default table type, so i convert the row to json. Are there any other methods to implement the function? I think it is a useful function!

[2018-08-22 13:27] steve-chavez commented on #990
@robertjpayne I see you deleted your comment(though I got it on email), did you manage to clear the issue? Probably the auth header was not being sent correctly, it needs to be like `Authorization: Bearer <token>`.

[2018-08-22 16:06] robertjpayne commented on #990
@steve-chavez it was a few things, but the primary culprit was the JWT's were not signed properly. The secret key I was using was exactly 32 textual characters long (no base-64) but I had to lengthen it to work with Postgrest.

It's all resolved now though :)

[2018-08-24 03:26] nengc commented on #1171
Hi @steve-chavez ,I tested again, and found the solution in the end. And the code as below.
![image](https://user-images.githubusercontent.com/19792047/44563044-fb69a700-a78e-11e8-98bf-7f13d661df94.png)
![image](https://user-images.githubusercontent.com/19792047/44563145-7337d180-a78f-11e8-92ac-7f8df68b3aa7.png)

And when set the result type as "json" or "setof", the result will still have the fun

[2018-08-24 16:04] steve-chavez commented on #1171
When the result is `json` or `json[]`(or any scalar) postgrest will omit the function name key(don't forget to restart or SIGHUP), I've tried your `dd` function(btw, please paste the sql code instead of images, that way I can copy it) and it outputs the json without the `dd` key, seems you missed the restart/SIGHUP.

[2018-08-25 21:56] NickEmpetvee opened #1174 "CRUD with PostgREST - Failing"
* PostgreSQL version: 10.x
* PostgREST version: 5
* Operating system: Win 8.1

My understanding is that with PostgREST, as long as the permissions are correct, you can handle CRUD by posting to the view in your public-facing schema and it will write to the underlying table even if it's in a different schema. That's not working for me. I'm able to post to a table on the exposed schema, but not to a

[2018-08-26 02:02] steve-chavez commented on #1174
Share a reproducible test case(your `postgrest.conf`, the schema, how you're making the request and the response), is not easy to track the problem in text form.

One suggestion that I can give you for now is that you check that your views are auto-updatable, see http://www.postgresqltutorial.com/postgresql-updatable-views/.

[2018-08-26 03:53] NickEmpetvee commented on #1174
Thank you. I'm pulling the information together. The views are definitely auto-updatable. I tested.

[2018-08-26 04:45] steve-chavez commented on #1174
If you want to do a PATCH with `web_anon` then you're missing a `GRANT UPDATE ON api.full_list TO web_anon`, try adding that.

Also, the connection user should be minimally privileged and using `postgres` is not recommended, you should create an `authenticator` user that has only permission to switch roles and permission for executing a `login` stored procedure.

[2018-08-26 05:03] steve-chavez commented on #1174
Also check https://github.com/subzerocloud/postgrest-starter-kit/tree/master/db/src

[2018-08-26 05:12] NickEmpetvee commented on #1174
Ok. FYI I got the same response with a POST when trying to add a new row as I did with a PATCH/update. Do I need to add another GRANT for POST?

I've created the following users based on the PostgREST docs: anon, authenticator, web_anon. Another user suggested I create a user called provisioner which I did. Can you advise which of these roles should own the api schema and the "hidden" schema?

The

[2018-08-26 20:59] #1174 closed

[2018-08-27 06:47] nengc commented on #1171
@steve-chavez  Ah! It is weird. Now the name key disappeared.

![image](https://user-images.githubusercontent.com/19792047/44644446-b6e84080-aa06-11e8-9938-2f3d7354c2ff.png)

And a more question, the filed names are now "f1,f2...", how to get the original fields except for the "for
 loop"?
`CREATE OR REPLACE FUNCTION "public"."cc"()
  RETURNS "pg_catalog"."_json" AS $BODY$
DECLARE v_rec record;
DE

[2018-08-27 12:33] steve-chavez commented on #1171
You can use `select into var json_agg(u) as "user" from "user" u` instead of `select into var json_agg(row(u.*)) as "user" from "user"` to get the original keys.

[2018-08-27 13:46] steve-chavez commented on #1146
Uploaded 0.5.0.0 to hackage but generating the docs failed because it tries to build with ghc-8.4.3(latest) http://hackage.haskell.org/package/postgrest-0.5.0.0/reports/3.

It's possible to re-upload the docs manually but the solution I've [seen](https://github.com/commercialhaskell/stack/issues/737) involves generating the docs with plain `cabal`, which I can't get to work with postgrest(we use s

[2018-08-27 15:45] adren opened #1175 "how to filter inside an array"
### Environment

* PostgreSQL version: latest (10)
* PostgREST version: 0.5.0.0
* Operating system: Debian GNU/Linux

### Description of issue

I've got a response with a list of movies where an item is like this:

[code]

Is it possible to filter movies produced in Germany (i.e. when prod_countries array contains iso:DE value)?
Maybe with a combination of ->, ->> and cs operator I suppose but the

[2018-08-27 15:51] steve-chavez commented on #1175
Master branch has the ability to filter by array index with `->`, there are some examples here http://postgrest.org/en/latest/api.html#vertical-filtering-columns, search for `jsonb`.

You could [build from source](http://postgrest.org/en/v5.0/install.html#build-from-source) if you want to try this now or wait for a new release(next few days).

[2018-08-28 05:56] nengc commented on #1171
Thanks @steve-chavez , it works fine!

[2018-08-28 08:46] mgmgh commented on #1175
For this kind of filter, I've logged the generated sql on the server and the good filter syntax is:
prod_countries=cs.[{"iso":"DE"}]
This generates this working sql where clause: "prod_countries" @> '[{"iso":"IT"}]'::unknown
which is index aware :-)

[2018-08-28 19:06] retseltony commented on #1173
how do you connect i am the same problem

[2018-08-28 19:19] steve-chavez commented on #1146
Managed to make the docs build with just cabal.

Also was told([comment](https://github.com/haskell/hackage-server/issues/559)) that the hackage server doc builder only works with ghc 8.4.3.

There are issues when trying to run postgrest on that version(for example the `critbit` dependency doesn't compile), so I'm going to have to upload the docs manually until we can upgrade to ghc 8.4.3.

[2018-08-29 15:39] dmulfinger commented on #286
Just throwing out an idea here:

Implement a /batch or /transaction endpoint.  You can POST your array of commands:

[
   { "endpoint": "/authors", "payload": { "author_id" : 1, "first": "Robert", "last": Frost" } },
   { "endpoint": "/works", "payload": { "work_id": 1, "author_id": 1,  "title": "Mending Wall" } },
   { "endpoint": "/works", "payload": { "work_id": 2, "author_id": 1, "title": "The

[2018-08-29 18:57] steve-chavez commented on #1146
Updated docs for 0.5.0.0 already up in http://hackage.haskell.org/package/postgrest-0.5.0.0.

[2018-08-29 18:57] #1146 closed

[2018-08-29 19:05] steve-chavez commented on #1109
Another dependency that's failiing in GHC 8.4 is http://hackage.haskell.org/package/critbit, there's a unmerged fix in https://github.com/bos/critbit/pull/92.

http://hackage.haskell.org/package/Ranged-sets might need a similar fix.

Until those issues are cleared out we'll have to hold the upgrade, any help would be welcomed.

[2018-08-29 19:10] steve-chavez commented on #1144
There are blocking issues for upgrading to GHC 8.4 https://github.com/PostgREST/postgrest/issues/1109. Let's continue the discussion there since what you're really after is GHC 8.4.3.

[2018-08-29 19:10] #1144 closed

[2018-08-29 20:01] dmulfinger commented on #286
The benefit is that while a json parsing /rpc function would need to be individually coded for every parent/child relationship of every project that uses PostgREST, a transaction interface as proposed above would be coded once into PostgREST.  I agree that a json parsing /rpc function can be written, but it's not necessary easy to write one well that handles error cases correctly and reports meani

[2018-08-30 05:12] daurnimator opened #1176 "Implement ETag using xmin"
An idea from @tysonclugg is to use PostgreSQL's `xmin` column to compute a [HTTP ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag).
This would allow clients to do cache validation. It could also help with preventing data races (See #1069).

For each row a query obtains data from, we should probably take the maximum `xmin`. This could be used directly as the ETag; (possibly pref

[2018-08-30 13:42] steve-chavez commented on #934
I've tried upgrading to hjsonschema 1.6.3 and 1.9.0, both cause this [test](https://github.com/PostgREST/postgrest/blob/master/test/Feature/StructureSpec.hs#L24) to fail and somehow it makes the test suite run hang while consuming 100% CPU.

Seeing the lib is now deprecated https://github.com/seagreen/hjsonschema, I think the best would be to try to remove it, we use it in this [part](https://gith

[2018-08-30 14:35] steve-chavez commented on #286
@dmulfinger Your proposal doesn't account for auto generated pks(like serial or uuid). I mean, how can you insert a parent's childs rows when you don't know it's id beforehand?

Having to come up with a json syntax that considers these things and then implement it would be brittle design(lots of bug could arise) in comparison to the HTTP2 interface and the flexibility it'd allow(also no json parsi

[2018-08-30 15:03] steve-chavez commented on #1171
Good, I'll close this then.

[2018-08-30 15:03] #1171 closed

[2018-08-31 14:11] steve-chavez commented on #1108
Added the corrections in https://github.com/PostgREST/postgrest/pull/1177. Hackage will show these on the next release.

[2018-08-31 14:11] #1108 closed

[2018-08-31 14:18] steve-chavez commented on #1030
New releases will be buildable with `cabal`, pinned package versions were missing previously(like jose) which caused some errors. Made this change in https://github.com/PostgREST/postgrest/pull/1177.

[2018-08-31 14:18] #1030 closed

[2018-08-31 14:45] steve-chavez commented on #756
Several of our latest contributors(non-nix users) have also noted difficulties when trying to run the test suite, so after the next release I'm going to simplify this process. Possibly using [pg_tmp](http://ephemeralpg.org/) which is available on [nixpkgs](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/database/pg_tmp/default.nix).

After this maybe we could make postgrest wor

[2018-08-31 14:46] steve-chavez commented on #1023
Let's continue the issue about building with nix in https://github.com/PostgREST/postgrest/issues/756.

[2018-08-31 14:46] #1023 closed

[2018-08-31 17:20] steve-chavez commented on #1167
Closing due to lack of activity. Reopen if still relevant.

[2018-08-31 17:20] #1167 closed

[2018-09-03 10:07] photz opened #1179 "Feature request: Being able to manually specify foreign keys in views"
### Description

I am still fairly new to working with PostgREST, but my understanding thus far is that when a database view is exposed through PostgREST, then PostgREST will try to detect any foreign key relationships to enable the kind of resource embedding described in the docs here:
http://postgrest.org/en/v5.0/api.html#resource-embedding

In my limited experience this works very well as long

[2018-09-03 13:40] steve-chavez commented on #1179
Try v5.1(released a few days ago), we're now able to detect fks in more complicated views(see this [comment on a previous issue](https://github.com/PostgREST/postgrest/issues/709#issuecomment-405675425)), also the query got a lot faster(noticeable in big schemas).

If the new query detection is good enough(try/share a view that doesn't work) then it may be unnecessary to have this capability.

[2018-09-03 14:15] photz commented on #1179
Thanks for your response, I'm currently using the subzerocloud/postgrest image which apparently already incorporates the changes you mention.

At the moment resource embedding on the `state` column in the following view doesn't work:
[code]

[2018-09-03 14:45] steve-chavez commented on #1179
UNION counts as modifying the origin column as I mentioned [here](https://github.com/PostgREST/postgrest/issues/709#issuecomment-405675425) and even PostgreSQL(by querying pg_rewrite) cannot tell from which table/view the column(state in your case) was coming from.

I had some ideas for manually specifying the fk [here](https://github.com/PostgREST/postgrest/pull/1115#issuecomment-404032018), but