[2019-08-09 16:49] bwbroersma commented on #790
@steve-chavez the base spec link is 404'ing, I would really like to help/work on this!

[2019-08-09 17:24] steve-chavez commented on #790
@bwbroersma I've updated the link to this fork https://gist.github.com/steve-chavez/eae6a67ec81b195c133bcb9ff0c917fb

[2019-08-10 10:56] clojurians-org commented on #1295
@steve-chavez

the updated default.nix should work with some note.

i use jailbreak to loose jose's version dependency as the jose github don't have this version.
i fetch the latest jailbreak github repo, it still is v0.8.0.0, can't validated by cabal build.

https://github.com/clojurians-org/my-env/blob/master/nix.conf/postgrest-6.0.1/default.nix

[2019-08-12 02:36] steve-chavez commented on #1292
Really interesting podcast about dhall: https://www.se-radio.net/2019/08/episode-375-gabriel-gonzalez-on-configuration

[2019-08-12 17:51] steve-chavez commented on #1295
@clojurians-org Thank you! I was able to build the static binary and published it to https://github.com/PostgREST/postgrest/releases/tag/v6.0.1.

Regarding jose, I've requested the addition of the git tag https://github.com/frasertweedale/hs-jose/issues/83#issuecomment-520525508.

[2019-08-12 23:59] pauldzy opened #1376 "Array wrapper on rpc JSONB return type"
### Environment

* PostgreSQL version: 11.2
* PostgREST version: 6.0.1
* Operating system: Ubuntu 18.04.3

### Description of issue

Under version 5.2, RPC functions returning JSONB were rendered "as-is" on output.  This allowed, for example, to return a GeoJSON collection object ready for ingestion by Leaflet.

Version 6.0.0 and 6.0.1 now return results from the same function encased in an array

[2019-08-13 11:16] fstn commented on #1126
But how we can have this view and be able to filter it for example by date? I don't want to implement all the postgrest features inside my procedure don't want to par all operator to reconstruct the query

[2019-08-13 13:07] steve-chavez commented on #1376
@pauldzy What's the wrong output you see and the desired output?

I don't see an array wrapper when testing that function myself:

[code]

[2019-08-13 13:20] steve-chavez commented on #1376
Probably a stale schema cache case http://postgrest.org/en/v5.2/admin.html#schema-reloading, make sure you restart or SIGUSR1 postgrest when adding a new function.

[2019-08-13 18:25] pauldzy commented on #1376
Thanks for the speedy review, Steve.  However, I get this result consistently with the 6.0.x version starting from scratch with no previously existing code.

Here is my bare-bones docker-compose file

[code]

when I toss my sample routine into the fresh public schema and call it via
http://localhost:3000/rpc/geojc

my response is
**[**{"geojc":{"type": "FeatureCollection", "features": null}}**]**

[2019-08-13 23:23] fstn opened #1377 "Open API ignore procedure type comment"
I declared my procedure as:

[code]

When I check the generated open api, I get:

[code]

I should have my real search user_acquisition_search_type and the comment I applied on it into the openapi json file isntead of  "type": "object".

[2019-08-14 06:04] ruslantalpa commented on #1376
AFTER you create your function in the db, postgrest needs restarting
`docker kill --signal=SIGUSR1 <postgrest-contianer-id>`

[2019-08-14 08:52] pauldzy commented on #1376
Wow, okay thanks.  I apologize for thinking this must be something else.

So there is a change in behavior from 5.2.0 as back then the schema cache would pick up fresh new rpc functions immediately but needed a manual cache reset upon any subsequent change to existing functions.

Now for 6.0.x any new rpc functions again appear immediately but with the wrapping array brackets. They must then be ca

[2019-08-14 11:31] LorenzHenk opened #1378 "Estimated count"
We would really like to have that feature implemented!

### Our ideas

#### `count=estimated`

To extract the estimated count from a explain call, you can use `EXPLAIN (FORMAT JSON) $query`.
`FORMAT JSON` makes extracting the planned row count easier (i.e. `explain_result["QUERY PLAN"][0]["Plan"]["Plan Rows"]`).
The explain call would have to be done *without* `limit` and `offset`.

#### `count=es

[2019-08-14 16:36] steve-chavez commented on #1376
@pauldzy There was a change in behavior in functions, made in https://github.com/PostgREST/postgrest/issues/1273. You seeing some correctly detected functions might be related to that. Maybe some of your functions took no arguments.

Now, if just the function body is changed then the reset is not necessary. We don't look at the function body for the schema cache. We look for function parameters, r

[2019-08-14 16:36] #1376 closed

[2019-08-15 05:29] steve-chavez commented on #1378
Definitely a long promised feature.

@LorenzHenk I'll think about this and return with some feedback once I'm done with the docs for our latest version https://github.com/PostgREST/postgrest-docs/pull/239.

[2019-08-15 05:56] nphard opened #1379 "can't execute update in read-only transaction"
I added a new rpc call for change password function as the same like signup. but the change_password request from the client always return can't execute update in read-only transaction.

[code]

The error message is :
[code]

what's the possible solution for that?

[2019-08-15 13:25] steve-chavez commented on #1379
Call the function with POST, GET wraps the function in a read-only transaction. See http://postgrest.org/en/v5.2/api.html#immutable-and-stable-functions.

[2019-08-15 13:25] #1379 closed

[2019-08-16 01:03] begriffs commented on #1378
I agree it makes sense to use EXPLAIN to get an estimate, since it'll
handle queries with arbitrary filters.

Have you experimented to see how the size of the error relates to the
size of the true count? For instance, when the true count is 28, is it
possible for the prediction to be 7, or would it be +/- something
smaller?

It may be influenced by how often the statistics collector is run...
http

[2019-08-16 12:26] sunbing81 commented on #591
It seems to me that #709 deals with foreign key detection in views. There is still no work-around to do the resource embedding for the foreign tables.

[2019-08-16 16:22] steve-chavez commented on #591
Related SO question here https://dba.stackexchange.com/questions/138591/foreign-key-references-constraint-on-postgresql-foreign-data-wrapper.

Also https://stackoverflow.com/questions/41568251/postgresql-9-5-creating-foreign-key-across-database-using-foreign-data-wrapper.

For now it seems that the PostgreSQL way to solve this is to sync the remote db to guarantee the constraint works properly.

I

[2019-08-19 02:51] steve-chavez commented on #1378
## count=estimated

I agree on using the EXPLAIN `Plan Rows` for this but how about if we allow it only for [HEAD](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) requests?

I think obtaining metadata maps pretty well to HEAD(which we currently don't support) and we would maintain our design of translating 1 http request to 1 sql query.

Pagination would involve doing two requests,

[2019-08-20 11:51] LorenzHenk commented on #1378
size of the true count? For instance, when the true count is 28, is it
possible for the prediction to be 7, or would it be +/- something
smaller?
It may be influenced by how often the statistics collector is run...

this two-step process is overkill. But if significant errors can occur
at any size then this seems like a good approach.

Estimation is a huge topic, but to sum it up:
When 10% of a ta

[2019-08-20 17:50] leblancfg commented on #223
Related project: https://github.com/tobinbradley/dirt-simple-postgis-http-api

[2019-08-20 21:53] steve-chavez commented on #223
@leblancfg Hmm. I don't see how that's related to this project.

Perhaps the name of this issue leaves the impression that PostGIS doesn't work with PostgREST but in fact there are projects that have already been done with PostGIS/PostgREST.

This issue is more about **facilities for PostGIS**, namely operators and geosjon. Those needs can be solved with some work using views/stored procedures/com

[2019-08-20 23:32] steve-chavez commented on #1378
@LorenzHenk For the `pre-request` proposal there would not be a restriction on the HTTP method. It could work with GET normally.

And yes, the header name and function body could be up to the user. But I was thinking we could offer a recommended function that does the  estimated count with the threshold you suggested. We could have this function in a [how-to guide](https://postgrest.org/en/preview

[2019-08-21 06:48] LorenzHenk commented on #1378
@steve-chavez Using a `pre-request` function seems fine to me.

Would the `pre-request` function take care of the `count=estimated` case as well or would that one still be "hard-coded" in PostgREST?

Note: When a GUC containing the generated select-statement is added, https://postgrest.org/en/preview/api.html#accessing-request-headers-cookies-and-jwt-claims must be updated / rewritten to include t

[2019-08-21 14:23] steve-chavez commented on #1378
@LorenzHenk `count=estimated` would be done with the HEAD request as proposed earlier. Using the unmodified EXPLAIN `Plan Rows`.

Currently we're missing support for HEAD and adding it should be simple enough. We could implement that as a first step, and after that give the `estimated-overfetch` design another thought.

[2019-08-21 15:34] #1348 closed

[2019-08-26 13:12] leblancfg commented on #223
@steve-chavez please excuse my terse comment back there, that wasn't very actionable! :smile:

The project I linked to has got a nice out-of-the-box set of operations for spatial tables. Possible inspiration or starting point when ever this feature gets considered. Here's a still from a 2015 video:

![Dirt-Simple PostGIS REST API](https://user-images.githubusercontent.com/15659410/63693034-8185570

[2019-08-26 13:14] sunbing81 commented on #1018
My two cents.

In our application scenarios, the clients work typically with wide tables which can be different joining set of several base data models. Resource embedding enables great flexibilities to retreive **all** (or filtered by top relation conditions) data, since the client can choose whether or not to embed how many resources (tables) according to the usage. Only the underlying base mode

[2019-08-26 13:34] steve-chavez commented on #1018
@sunbing81 Progress on this is being tracked at https://github.com/PostgREST/postgrest/issues/1075.

[2019-08-26 13:36] sunbing81 commented on #1018
I do realize it is quite difficult to handle the case of to-N relationship. But for to-1 relationship, I think there might be a way.

[code]

Assume the movie-director relationship is to-1 (a movie can only have one director, but not necessarily vice versa). A request of
[code]
may response with
[code]
GET /movie?select=*,director(*)&director.name=directorA&director=not.is.null
[code]

[2019-08-26 13:38] sunbing81 commented on #1018
My bad, didn't dig all related issues.

[2019-08-26 14:39] sunbing81 commented on #1075
Per the [comment](https://github.com/PostgREST/postgrest/issues/1075#issuecomment-511536461) of #1075 and the [comment](https://github.com/PostgREST/postgrest/issues/1018#issuecomment-524863328) of #1018, the to-1 relationship may be a simlper but also demanded case.

Taking the example in [comment](https://github.com/PostgREST/postgrest/issues/1075#issuecomment-381716276), would it be possible to

[2019-08-26 23:54] nerfpops commented on #1377
The reason seems to be https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/OpenAPI.hs#L40 having a predefined list of supported types, where everything else is treated as a string. That'll need to be changed, and also https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/OpenAPI.hs#L97 which doesn't support objects.

I have never written a line of Haskell in my life, so I p

[2019-08-27 19:40] fstn commented on #1377
Thanks this is what I finally done ;)
Stephen ZAMBAUX

0680114469

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
27/08/19
à 15:39:38

Le mar. 27 août 2019 à 15:36, Steve Chávez <notifications@github.com> a
écri

[2019-08-27 22:11] nerfpops commented on #1377
Hi @steve-chavez, thank you so much for all the work you put into this project. I see that you renamed the issue, but shouldn't postgrest **ideally** spit out a schema matching the function signature, even with composite types?

[2019-08-27 23:55] nerfpops commented on #1377
I thought this would be a simple starter issue for learning Haskell, but it seems to not be that easy after all.

I'm trying to figure out how to add type comments in openapi, but to do so, I'm imagining something like the following will have to be done...

Currently, these values are preloaded:
https://github.com/PostgREST/postgrest/blob/713b214c9ab44cad3d3df83ed6fa663901406857/src/PostgREST/DbSt

[2019-09-02 03:24] steve-chavez commented on #1378
@LorenzHenk I've implemented `count=estimated` in #1383. It works for GET(not only for HEAD as I initially proposed) and HEAD.

You can [build from source](http://postgrest.org/en/v6.0/install.html#build-from-source) to test it. Also you could check the pg logs for seeing the generated EXPLAIN query(it doesn't contain LIMIT/OFFSET, only the WHERE).

Now, I'd like to revisit the `estimated-overfetc

[2019-09-02 12:19] LorenzHenk commented on #1378
The idea is to limit the query by our threshold:
[code]

If `limited_count` returns `1000`, the total count is at least 1000. At that point, we should move on as in `count=estimated` - check what the `EXPLAIN` estimated. If the estimated rows are below `1000`, then we should stick to `1000`, as our real count told us there are at least `1000` rows.

If `limited_count` is `< 1000` we have an exact

[2019-09-02 15:48] steve-chavez commented on #1377
@nerfpops Seems like a solid approach.

You'd need to query [pg_type](https://www.postgresql.org/docs/11/catalog-pg-type.html) first and then convert to Haskell types. A type can be created on a particular schema. At first I was thinking we should only get the exposed db-schema types. But getting all of the db types seems fine.

As a first step it'd be better to focus on getting only the **types c

[2019-09-02 19:05] steve-chavez commented on #1378
@LorenzHenk Here's what we currently do with `max-rows`, on a request with `count=exact` we actualy generate two COUNTs:
[code]
As you can see the `page_total` is the query result COUNT and the `total_result_set` is the table total COUNT. The `total_result_set` is unaffected by LIMIT/OFFSET.

With `max-rows` this means that the `page_total` will always be <= 1000, even if a limit superior to 1000

[2019-09-03 13:31] LorenzHenk commented on #1378
[code]

[2019-09-03 17:29] steve-chavez commented on #1378
@LorenzHenk Much clearer now, thanks. The `max-rows` config doesn't interact with our total COUNT right now. So what you suggest makes sense and is probably what most users would want.

However, how about if we make this the behavior for `count=estimated` instead of having the additional `count=estimated-overfetched`? We could document its interaction with `max-rows` in our docs.

[2019-09-03 20:58] kosmonaffft commented on #932
There are any progress in implementing of OpenAPI 3.0 specifications?

[2019-09-04 08:23] robx opened #1384 "reserved characters section in docs could use some clarification"
### Environment

* PostgreSQL version: 10.10
* PostgREST version: 6.0.0
* Operating system: Linux

### Description of issue

I find the [documentation on escaping reserved characters](http://postgrest.org/en/v6.0/api.html#reserved-characters) to be quite confusing. I was trying to filter using `in` and parentheses, e.g. finally `column=in.(%22(parenthesized)%22)`.

Some points of confusion:

- is

[2019-09-04 09:08] LorenzHenk commented on #1378
The reason I'm talking about these two approaches separately is, that you don't know which query is built in the end. The underlying data source can be a table or a *view*.

Example:
[code]

In this case, I would use `count=estimated` to know how many rows are in t_sample, but I would only fetch and show 1 result at a time (`LIMIT 1`). Thus, the `long_running_function` is called **once**.

If I us

[2019-09-04 14:44] steve-chavez commented on #1384
It's about quoting whole strings, you're right in that the wording of that section implies individual characters.

Also, it depends on the operator. For example the filter values of `eq` and `fts` don't need quoting for parens/commas. Because `in` has parens/commas as part of its syntax it does need quoting for using them in the filter value.

I'll move the issue to docs. I'd gladly review a PR fo

[2019-09-04 15:29] steve-chavez commented on #1378
Thus, the view would be called for the first 1000 rows, but only the result of the first row would be returned - the 1000 rows are only for counting. The long_running_function is called 1000 times.

@LorenzHenk As it is right now, If you have a `max-rows=1000` and you specify `/test?limit=1` the `LIMIT 1` would be applied, not ignored. You can specify LIMITs that are lower than `max-rows`. If high

[2019-09-04 15:59] steve-chavez commented on #1378
Also, for cases like `long_running_function` I think it'd be better to call them through our [stored_procedures](http://postgrest.org/en/v6.0/api.html#stored-procedures) interface and make the function return a SETOF. That way you could have additional safeguards in the function and prevent an expensive call.

`count=estimated` could be supported for stored procedures as well and you could get the

[2019-09-05 07:17] LorenzHenk commented on #1378
But if you add a `Prefer: count=exact` header, it will still run a `count(*)` over the whole query - without limit.
You said this is what is generated at the moment:

Now think of `t_sample` as a complicated view - the statement above would query the whole view.
Even though you say `limit=1`, the count still uses the whole data set.

[2019-09-05 07:25] LorenzHenk commented on #1378
Right, was a bad example. Think of it as a long-running view and you want `limit=10`. It's still the same problem.

It's all about expectation.. if I used count=estimated, I would think of it using the optimizer statistics - not actually starting to fetch 1000 rows.

[2019-09-05 16:04] steve-chavez commented on #1378
True, I agree. The special behavior with `max-rows` would be better separated.

Ok, `estimated-overfetched` it's up for implementation now!

[2019-09-10 18:09] steve-chavez commented on #1373
To double check our CI builds are working we should run the generated binary and see if it succeeds.

[2019-09-14 19:24] steve-chavez commented on #1378
@LorenzHenk I've implemented estimated-overfetched in #1386.
The behavior is as we agreed, using `max-rows` as the threshold and avoiding another config option.

Based on your [python example](https://github.com/PostgREST/postgrest/issues/1378#issuecomment-527459511), the logic I've added is like:

[code]

I've now realized that this behavior is actually a good default. We could recommend its use.

[2019-09-17 11:39] LorenzHenk commented on #1378
If you want to recommend `count=estimated` (previously called `count=estimated-overfetched`), you should also warn about the caveats [mentioned before](https://github.com/PostgREST/postgrest/issues/1378#issuecomment-527813719) as well.
`count=planned` can be recommended without worries.

I'm fine with the name changes, go for it.

[2019-09-17 18:55] steve-chavez commented on #1378
@LorenzHenk Regarding the concern you [mentioned before](https://github.com/PostgREST/postgrest/issues/1378#issuecomment-527813719).

What I'm doing for the count query with the threshold is something like:
[code]
That `SELECT 1` will prevent `long_running_function(id)` from getting called, if and only if the `long_running_function` is marked as STABLE or IMMUTABLE. Here's a [gist](https://gist.gi

[2019-09-17 20:00] Lindenk opened #1387 "Allow requesting an empty body"
Currently with every response an estimated (or exact if requested) count of records is returned along with the data. For large datasets, it might be helpful to have an option to return only the headers with an empty body. Although this doesn't necessarily reduce the time complexity of the query, it does save on bandwidth. I realize this can also be done with a view or stored procedure, but in most

[2019-09-17 20:09] steve-chavez commented on #1387
@Lindenk That corresponds exactly to an HTTP [HEAD](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) request.

Support for that was added in https://github.com/PostgREST/postgrest/pull/1383.

[2019-09-18 19:51] steve-chavez commented on #1378
@LorenzHenk Finished the implementation in https://github.com/PostgREST/postgrest/pull/1386!

Also, based on our discussion, I added docs for [planned count](http://postgrest.org/en/latest/api.html#planned-count)/[estimated count](http://postgrest.org/en/latest/api.html#estimated-count)(any correction is welcomed).

[2019-09-18 19:51] #1378 closed

[2019-09-18 20:13] steve-chavez commented on #1387
I've changed the count examples to use HEAD in the latest docs http://postgrest.org/en/latest/api.html#exact-count.

Also as you mention the SQL query will still be executed. For the case of HEAD `count=planned`, it seems we could avoid executing the query(since we only need an `EXPLAIN {query}`) but we use the query to construct other headers. In the future we could also add a way(using the query

[2019-09-18 20:13] #1387 closed

[2019-09-19 06:56] LorenzHenk commented on #1378
Thank you, this feature is very appreciated!

[2019-09-19 13:00] soyuka opened #1388 "Status of Server-sent events"
Hi,

First of all I'm really glad that this project is still very-well maintained and I want to thanks all the contributors!

With HTTP/2 server-sent events don't have the limitations that lead to the use of Websocket in the past. Did you talk about implementing SSE for NOTIFY natively in postgREST? Is this something that could end up here or should it be developed as an extension instead?

[2019-09-23 15:57] steve-chavez opened #1389 "M2M embedding not working with a stored procedure"
Reported in https://gitter.im/begriffs/postgrest?at=5d71ac3a50508949d3e416f5.

For reproducing this with our [test schema](https://github.com/PostgREST/postgrest/blob/master/test/fixtures/schema.sql) create the following stored procedure:

[code]

And then do:

[code]

[2019-09-24 08:33] svilensabev opened #1390 "`killall` command not found when using Docker."
### Environment

* PostgreSQL version: 10.8-alpine
* PostgREST version: v6.0.2
* Operating system: Ubuntu 18.04

### Description of issue

Schema reload command is giving error when using PostgREST via Docker.

According to docs, the following command has to be used to do schema reloading

[code]

but it hits an error `killall: command not found`

---

It would be great to have this command pre-in

[2019-09-24 14:00] steve-chavez commented on #1390
Also if you don't have `killall` in your system you can use `pkill`.

[2019-09-24 15:08] #1390 closed

[2019-09-28 18:45] #1301 closed

[2019-09-28 18:46] #1389 closed

[2019-09-30 06:55] snowwindsand commented on #1373
same in 6.0.2

[2019-09-30 13:44] steve-chavez commented on #1373
@snowwindsand Could you try [building from source](http://postgrest.org/en/v6.0/install.html#build-from-source)?

[2019-09-30 13:56] steve-chavez commented on #1301
@jpincas Fixed this one in #1391. Also added docs references for [Embedding on Stored Procedures](http://postgrest.org/en/latest/api.html#embedding-on-stored-procedures) and [Embedding after Insertions/Updates/Deletions](http://postgrest.org/en/latest/api.html#embedding-after-insertions-updates-deletions)(any correction is welcomed :smiley:).

[2019-09-30 15:18] steve-chavez commented on #1088
To do this, we'd have to make getting the GUC headers independent from the callProc statement. Right now this logic is in:
https://github.com/PostgREST/postgrest/blob/eebe319bfda43a55d904b366c2897a56aba898bf/src/PostgREST/Statements.hs#L157-L160

This logic could be added to each statement in `Statement.hs` or perhaps it also could be an independent statement(the cost of getting `current_setting`

[2019-09-30 19:14] ruslantalpa commented on #1088
Independent statement is bad because it’s a roundtrip to the db for nothing in most cases, i.e.  3-8ms wasted on every request for nothing. It needs to happen in the same query as the main select (the way it works now for RPC).

[2019-09-30 20:32] steve-chavez commented on #1088
@ruslantalpa Yeah, I agree. Now that I've noticed it'll be actually simpler to implement that way too. Just have a SqlFragment for getting the response.headers and add that for the other two statements(createWrite and createRead).

[2019-09-30 20:40] steve-chavez commented on #1088
I'm mostly focusing on refactoring right now. I want to implement #1106 but first I want to make sure I'm getting all the code paths right. So I'll leave this issue for anyone that'd like to solve it.

[2019-09-30 21:16] Dansvidania commented on #1088
I'd love to help on this. I'll try to study the code and see if my understanding is sufficient to try the patch

[2019-10-06 01:46] chocobloc opened #1394 "Handling multiple foreign keys to the same foreign table"
### Environment:
* PostgreSQL version: 10.3
* PostgREST version: 0.4.4.0
* Operating system: Windows 10

### Description of issue
Consider a table orders, which references the order_status table twice (previous status,current status).

(...It's just an example to illustrate my observations)

The following native sql query:
"SELECT order_uid, prev_stat_uid, curr_stat_uid from orders where order_uid

[2019-10-06 07:30] ruslantalpa commented on #1394
the format for your select parameter is wrong

`A:B` means `SELECT B AS A`, it does not mean `SELECT from table B where the foreign key is A`

example of what you need
https://github.com/PostgREST/postgrest/blob/master/test/Feature/QuerySpec.hs#L298-L300

you want it like this
`select=order_uid,current_state:curr_stat_uid(...),previous_state:prev_stat_uid(...)`

[2019-10-08 17:41] #1355 closed

[2019-10-08 18:04] steve-chavez commented on #1088
@Dansvidania Cool! Just ping me If you have any questions.

[2019-10-10 15:47] steve-chavez commented on #540
When having several clients that access the database, it can be hard to pinpoint the log entries that belong to a particular pgrst instance.

I think we should recommend using [log_line_prefix](https://www.postgresql.org/docs/9.5/runtime-config-logging.html#GUC-LOG-LINE-PREFIX) and setting [application_name](https://www.postgresql.org/docs/12/runtime-config-logging.html#GUC-APPLICATION-NAME) in th

[2019-10-11 22:44] steve-chavez commented on #1394
@chocobloc I think Ruslan answer fixes your issue. Though we definitely need a doc reference on `Resource embedding disambiguation` that mentions these capabilities.

I'll make sure to document that for the next release. I'll close this, will reopen if there are more doubts.

[2019-10-11 22:44] #1394 closed

[2019-10-12 01:09] chocobloc commented on #1394
Sorry for not getting to you earlier.
Based on your Ruslan's answer I'm now (successfully) using this:
http://127.0.0.1:3020/orders?order_uid=eq.1260065&select=order:order_uid,status:curr_stat_uid(name:stat_name),previous_status:prev_stat_uid(name:stat_name)

[2019-10-12 21:25] Dansvidania commented on #1088
Hello @steve-chavez I have not had much time to work on this since. I am currently trying to figure out what would make good test cases for the change, and I hope I will be able to open a WIP pull request soon. Sorry for taking so long.

[2019-10-12 22:45] steve-chavez commented on #1088
Hey @Dansvidania, no problem regarding time.

Maybe a good test would be something like this [logic](https://github.com/PostgREST/postgrest/issues/1088#issuecomment-378639127) I commented previously, but done in a `pre-request` function. You could just remove the conditional and then test that all HTTP methods include the `Cache-Control` header. Testing a GET would be good enough for a WIP PR.

[2019-10-13 05:17] steve-chavez commented on #540
I have a counterpoint against doing more detailed logging in the syslog style.

Recently, I helped an user that was in need of an audit trail for PostgREST events, this was needed for compliance with a standard. The idea was to have detailed request information in JSON(payload body, headers, success/error codes, etc) and then send them to Kafka for later processing.

Naturally the first idea that

[2019-10-13 05:39] steve-chavez commented on #1094
I'm now proposing we should rely on pg logging for auditing a particular PostgREST instance. See my comment on https://github.com/PostgREST/postgrest/issues/540#issuecomment-541387371.

So for this issue, how about if we instead [RAISE](https://www.postgresql.org/docs/12/plpgsql-errors-and-messages.html) a custom error message(maybe with a special code too) to PostgreSQL. Using `log_line_prefix/ap

[2019-10-16 02:54] hughjfchen commented on #1117
Ok. So I bought an ARMv8 instance from scaleway, setup a build environment based on nix, build the postgrest 5.2.2 for aarch64 and push to my docker hub repository. You can pull it with following command:
`docker pull hughjfchen/hughjfchen:postgrest-aarch64-5.2.0`

[2019-10-16 15:20] steve-chavez commented on #1117
@hughjfchen Cool!

I think we should aim to integrate a Nix CI. Ideally we'd also offer static binaries for aarch32/64.

[2019-10-16 17:45] #1360 closed

[2019-10-18 14:58] soyuka commented on #1388
Related project https://github.com/docteurklein/pg-sse

[2019-10-18 19:38] royrusso commented on #1082
+1

[2019-10-21 15:06] steve-chavez commented on #678
In case someone stumbles into this, comparison with `jsonb` has been working since the addition of https://github.com/PostgREST/postgrest/pull/1128.

Example:

[code]

[code]

Note the single arrow head operator `->`.

[2019-10-22 09:47] NickEmpetvee opened #1396 "Patch Bug After Upgrading to 6.0"
Hi guys. I discovered an issue after upgrading to 6.0 that wasn't happening with 5.2. I'm using Axios in React 16.8.0.

In 5.2 the below code works fine. It updates base_branch's region with a new ID where it matched an old ID. If no matches were found, it closes out without making any change.

[code]
In 6.0 the same code yields this error if there isn't a match for REGION. However it works as exp

[2019-10-22 15:00] steve-chavez commented on #1396
Hmm. That's more of a bug fix than a bug.

The bug was reported on https://github.com/PostgREST/postgrest/issues/1257 and solved in https://github.com/PostgREST/postgrest/pull/1272.

Basically when PATCH didn't match any rows you'd get an incorrect `204`(your library interprets this as success and yields no error) but now we return a correct `404`(library yields error).

[2019-10-22 15:00] #1396 closed

[2019-10-24 01:10] aviaviavi opened #1397 "Unexpected compression encoding for release archives"
### Environment

* PostgreSQL version: NA
* PostgREST version: 6.0.2
* Operating system: MacOS Mojave

### Description of issue

When pulling down the release tarballs for 6.0.2, they are a `.xz` file, but from what I can tell they appear to be bzip compressed.

[code]

It's not a huge deal, just made pulling down this binary from within some of my Haskell code a bit tricky :).

I think at the ver

[2019-10-24 18:00] steve-chavez commented on #1397
That's true for the OSX release. Sorry about that.

Here I used bzip(`tar cjf`) instead of xz (`tar cJf`):
https://github.com/PostgREST/postgrest/blob/80f763448f9f84a7b783af79c05ddb92265fb31c/.travis.yml#L68

Already corrected `postgrest-v6.0.2-osx.tar.xz` on the releases page. Will fix the travis file.

[2019-10-24 18:05] aviaviavi commented on #1397
Thanks!

[2019-10-24 18:14] #1397 closed

[2019-10-29 18:16] hemantham0002 commented on #1082
@omani Your code worked for me man!!

[2019-10-30 09:44] FGRibreau opened #1398 "Follow odata v4 specifications?"
We might want to follow that in postgrest for pagination, field expansion, field selection etc... https://www.odata.org/documentation/

- pagination is done through $top & $skip https://docs.oasis-open.org/odata/odata/v4.01/csprd06/part2-url-conventions/odata-v4.01-csprd06-part2-url-conventions.html#_Toc21425354
- operators on strings are standardized https://docs.oasis-open.org/odata/odata/v4.01/

[2019-10-30 14:13] steve-chavez commented on #1398
What would be the advantages of adopting those specifications?

[2019-10-30 22:13] FGRibreau commented on #1398
Instead of postgrest own way of declaring filter operators and pagination we can rely on a standardized way of doing things. Thus promoting standard instead of doing/maintaining our own.

![](https://imgs.xkcd.com/comics/standards.png)

[2019-10-31 09:57] fortyanov opened #1399 "At a random point in time stops responding on HTTP requests."
### Environment
* PostgreSQL version: 12
* PostgREST version: 6.0.2-713b214
* Operating System: FreeBSD 12.1-STABLE

### Description of the problem
At a random point in time, it stops responding to http requests. We tried the program assembled manually and the assembly from github, the problem occurs in both cases.

Our .conf file contains options
db-pool = 15
db-pool-timeout = 1000

I cannot prov

[2019-10-31 12:42] steve-chavez commented on #1398
I had a glimpse of that spec. It uses url unsafe characters(the query string contains slashes and lots of spaces) which implies not being url friendly and needing to urlencode to share. The usage of `$` makes the url harder to read too. Overall that spec doesn't look like an improvement to what we have.

Also I don't think of it as a standard — since that would imply it's normally used/accepted —

[2019-11-01 14:59] fortyanov commented on #1399
Here is TCP dump [https://www.codepile.net/pile/akPp5Vkp](url)

[2019-11-01 15:14] fortyanov commented on #1399
Here is TCP dump.
[dump.pcap.zip](https://github.com/PostgREST/postgrest/files/3798460/dump.pcap.zip)

[2019-11-01 23:04] rbjorklin opened #1400 "Suggestion: Get Postgrest on the Techempower benchmarks?"
It would be interesting to see how this project holds up against other tech stacks.
See the [Techempower benchmarks](https://www.techempower.com/benchmarks/) for more details.

[2019-11-02 14:09] steve-chavez commented on #1400
@rbjorklin That is a really interesting idea!

I've been looking at the [required tests](https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Project-Information-Framework-Tests-Overview). One thing that's not clear to me is if we can run our own fixtures on the db?

Responses like `text/html` or `text/plain` can be done but we'd have to be able to create some stored procedures.

[2019-11-02 14:47] steve-chavez commented on #1292
We still have https://github.com/PostgREST/postgrest/issues/937.
Also, as Qu4tro mentioned, with `dhall` we'd solve #1130 for free.

I think our format is similar to toml, if a toml to dhall conversion is possible we could maintain backwards compatibility and migrate to dhall.

[2019-11-02 21:40] steve-chavez commented on #1399
I think this could be the same problem as #905. That issue is frequently visited, seems the error persists even on current versions.

Using `tshark` on the pcap file reveals nothing for me.

How about if you add this change https://github.com/steve-chavez/postgrest/commit/110314d84533311717b8d6273cc6d0de1c5fcf40 and recompile from master? Perhaps that could lead to a more meaningful error message

[2019-11-03 03:57] patleb commented on #1350
I'm getting the same issue with the official docker container on version 6.0.2 and  neither kill -s USR1 $(pgrep postgrest) nor restart works.

[2019-11-03 09:44] NickEmpetvee commented on #1396
Thanks for clearing it up @steve-chavez .

[2019-11-03 12:49] raphet opened #1402 "Suggestion: token introspection endpoint"
# Story
As an application owner storing authentication & authorization information in a central postgre database - accessible via postgREST API - I am deploying multiple distributed/independent resource servers/services.
Those need to be able to verify authentication & authorization of accessing consumers/users
a) without storing the sensitive central JWT secret &
b) without employing a separate a

[2019-11-04 12:04] dkocich opened #1403 "docs: update readme for windows"
According to http://postgrest.org/en/v6.0/tutorials/tut0.html i used `setx /m PATH "%PATH%;C:\Program Files\PostgreSQL\10\bin"` to adjust my path but terminal

[code]
(possible alternative https://stackoverflow.com/a/37304698/4114514)

This messed my path variable. It should be mentioned in docs otherwise it will do the same thing for others on windows too...

[2019-11-04 15:31] steve-chavez commented on #1403
Oh, that's not good. Thanks for reporting.

Adding the warning and the powershell alternative on the note would be good, you could submit a PR if you'd like to help us.

(moving the issue to docs)

[2019-11-05 00:14] dwagin commented on #1402
[https://gitlab.com/dwagin/pg_ed25519](url)
[https://gitlab.com/dwagin/pgjwt_ed25519](url)
asymmetric JWT signatures

[2019-11-06 08:50] fortyanov commented on #1399
I rebuilt the project with a patch 110314d84533311717b8d6273cc6d0de1c5fcf40 but when problem repeats, I still have no log messages. My haskell is very bad. Can you say in which parts of project should I turn my attention.

[2019-11-06 14:35] steve-chavez commented on #1399
Oh, the patch only adds a client error message for when the empty reply happens again. I'd like to see what's the error message in that case.

[2019-11-06 14:39] steve-chavez commented on #1399
Also, could it be an out of memory issue?

[2019-11-06 14:59] fortyanov commented on #1399
Free memory is about 2 GB minimum. Daemon not returns any error messages and do not response on any HTTP requests and do not close TCP connection.

[2019-11-06 15:12] allochi opened #1404 "I can still access the API even without passing JWT"
### Environment

* PostgreSQL version: 11
* PostgREST version: 6.02
* Operating system: ubuntu

### Description of issue

I provided a `jwt-secret` in the configuration file, run the server and called the API without passing header `Authorization: Bearer ....`, I can still `GET` data, no error is thrown, I remember from my previous installation that unless I pass the header all communications are

[2019-11-06 15:54] steve-chavez commented on #1404
If no JWT token is sent, the [db-anon-role](http://postgrest.org/en/v6.0/configuration.html#db-anon-role) is assumed(which could have SELECT privileges).
Check http://postgrest.org/en/v6.0/auth.html for more info.

[2019-11-06 16:39] allochi commented on #1404
Humm, then it's my mistake, I should not include `db-anon-role` in the configuration file, only in the `role` JWT.

Thanks a lot that was helpful.

[2019-11-06 16:39] #1404 closed

[2019-11-07 08:12] ako commented on #1398
Benefit of odata is that there are a number of useful tools that already have odata support built in.

OData is used heavily by SAP and Microsoft to expose data. On the consuming side you have tools like PowerBI, Excel, Tableau, Lyncpad, Microsoft SSIS (ETL) that can directly read odata. Odata provides users the option to do analytics on data where the database is not directly available.

[2019-11-07 08:26] synerscope opened #1405 "OpenAPI generated specs do not support type: array, and use format: ARRAY instead"
When generating an OpenAPI spec, array-valued types are annotated as having *type: string* with *format: array*. The OpenAPI specification supports using *type: array* with an *items* subkey to set the type of the items in the array.

This breaks my code when I generate (using openapi-generator) a client that needs to parse array return values, as it postgrest itself correctly returns an array typ

[2019-11-07 19:04] nikalsh commented on #1373
Thanks, building from source worked.

[2019-11-07 22:18] wscherphof commented on #1082
We use the [swaggerapi/swagger-ui](https://hub.docker.com/r/swaggerapi/swagger-ui) Docker image, and configure a _responseInterceptor_ and a _requestInterceptor_ to get the Authorization going.

**Dockerfile**:
[code]

**interceptors.js**:
[code]

[2019-11-08 00:14] steve-chavez commented on #1405
I've fiddled with the [Data.Swagger](http://hackage.haskell.org/package/swagger2-2.4/docs/Data-Swagger.html#t:SwaggerItems) types and this works for getting the string array items:

[code]

That logic should probably be moved to the `toSwaggerType` function. For starters that function could only pattern match the `text[]` type and output something similar to the above.

Open a PR if you'd like to

[2019-11-08 08:19] fortyanov commented on #1399
We set parameter
db-pool-timeout = 1
and problem not repeats about 2 days. Hope this information will helps you.

[2019-11-08 09:40] mahmoudkassem commented on #1106
Hello everyone, my team requires this functionality as well. Initially we tried using the db-extra-search-path configuration parameter. The issue with that is that if 2 different schemata contain a table with the same name it would query the table in the schema that is mentioned first in the config. So I went ahead and looked into how to implement the possibility without breaking any existing func

[2019-11-08 14:24] bwbroersma commented on #1250
There is an extension for postgres that can do a TOTP verify: https://github.com/Apsalar/ap_pgutils

Another option is implementing TOTP yourself with [pgcrypto](https://www.postgresql.org/docs/current/pgcrypto.html) according to the spec  [RFC4226](https://tools.ietf.org/html/rfc4226) / [RFC6238](https://tools.ietf.org/html/rfc6238):
[code]
Where `K` is the shared key, `C` is the counter (unix ti

[2019-11-08 16:55] steve-chavez commented on #1106
@mahmoudkassem Great idea!

I think your `/schema/table` approach can work great for **schema based multitenancy**, where each schema database objects don't touch each other and have no relationships.

The main thing we need to ensure is that our sandbox(safe) approach is maintained toward the exposed schemata . For this we shouldn't think about `db-extra-search-path` but on `db-schema`, the latte

[2019-11-08 17:19] ruslantalpa commented on #1106
@steve-chavez all the above is good except the "one PR at a time", i don't see how you can do that, it's a single (big) feature that either works correctly in all cases (and does not compromise previous security) or it does not. If in the middle of the work (after a few PRs) some corner case is discovered that makes this unfeasible or too complicated, it would be hard to revers things.
The best wa

[2019-11-08 21:06] bolerodan opened #1406 "Unable to embed through association table and truncated embed name issue"
### Environment

* PostgreSQL version:  11.5
* PostgREST version: 6.0.2
* Operating system: Ubuntu 18

### Description of issue

I've been using postgREST for the last year and everything seems to be fine, I even have another case in production where many to many embedding works fine (without needing to specify the joiner table) so Im not sure whats up.
[code]

This is a many to many. Smallmolecul

[2019-11-09 23:27] steve-chavez commented on #1406
@bolerodan I've reproduced your issue. You can get your desired result(the m2m relationship join) by doing:

[code]
(Make sure you single quote `'` the url in the curl call, otherwise the `!` trips out the shell interpreter)

Not your fault. Resource embedding actually does some kind of [AUTO JOIN](https://dba.stackexchange.com/questions/15147/why-arent-primary-key-foreign-key-matches-used-for-joi

[2019-11-11 09:55] AlgyTaylor opened #1407 "Pass authentication credentials to PostgREST"
Hi all,

I'm not sure if this is a question or a feature request, and if it's the right place to ask it.  Apologies if it isn't.

I'd like to set up a postgres database, using LDAP to define users and roles.  The hypothetical LDAP server might have three users:

- ``alice.beattie``: member of ``sales-uk``
- ``celine.dante``: member of ``sales-uk`` and ``sales-france``
- ``eric.forsyth``: member of

[2019-11-11 10:42] AlgyTaylor commented on #1407
Note to self: rtfm

[2019-11-11 10:42] #1407 closed

[2019-11-11 13:52] dafvid opened #1408 "Set permissions on unix socket"
### Environment

* PostgreSQL version: 11.5
* PostgREST version: 6.0.2
* Operating system: FreeBSD 12.0-RELEASE-p7

### Description of issue
I am using an unix socket to connect to the server with the option 'server-unix-socket'.
The created unix socket gets the default permissions of 755 but I need 660 since the web server needs to be able to use the socket. Please add the ability to set the sock

[2019-11-11 14:19] fortyanov commented on #1399
Problem repeats again but not stable.  Seems like the problem is somehow related to db-pool-timeout parameter. Do you know some more logging instruments to get more information?

[2019-11-11 15:18] steve-chavez commented on #1408
Hey @Dansvidania, perhaps you may have some advice for the unix socket permissions?

[2019-11-11 15:23] bwbroersma commented on #1250
Update which implements the full RFC4226/6238 spec: added HOTP and options for sha256 and sha512 hash algorithms + non default number of digits (and fix for prefix zeros):
https://gist.github.com/bwbroersma/676d0de32263ed554584ab132434ebd9#gistcomment-3080008

[2019-11-11 15:24] roymfibo opened #1409 "Allow casting on horizontal filtering"
### Environment

* PostgreSQL version: 10.6
* PostgREST version: 6.0.2
* Operating system: Not sure since I can't find the docker file but it's linux distribution on AWS ECS

### Description of issue

I'm trying to filters rows based on timestamp column I have called: `log_datetime`
I wish to use the ilike operator so I use:
`audit_logs?log_datetime::text=ilike.*2019-11-26*`
And it fails with:
```

[2019-11-11 15:27] bolerodan commented on #1406
Thanks @steve-chavez I just tested this and it works perfectly. I had no idea you could specify specific tables to join on. Thats a really powerful feature and I guess is used to avoid ambiguous joins if a table has many relationships or "paths".

The error reporting is going to be super helpful too that is much appreciated.

Thanks for your time.

[2019-11-11 16:05] steve-chavez commented on #1409
It's not possible to cast the column in the filter as `log_datetime::text=ilike.*2019-11-26*`. Though it could be added.

For now, you could create a computed column that returns the `log_datetime` as `text`. Or maybe you could make an equivalent request without using `ilike` and instead use `gt/lt`:
[code]

[2019-11-11 16:10] roymfibo commented on #1409
and `date(...)` can't be considered a computed function like I've used?

[2019-11-11 16:30] steve-chavez commented on #1409
What would we gain by supporting that? `select date(now()) ilike '2019-11-10'` still results in an error.

A computed column is like the one shown here http://postgrest.org/en/v6.0/api.html#computed-columns. You'd instead cast your `log_datetime` as text inside there.

But really comparing dates with `like` is frowned upon, it'd be better to use comparison operators. Check https://stackoverflow.co

[2019-11-11 16:31] roymfibo commented on #1409
I see, well it'll be nice to support the column cast then :)

[2019-11-11 17:03] steve-chavez commented on #1399
Hmm.. I'm trying to reproduce the issue. Is your pg server in the same box as postgrest?

This is what I'm doing. Have an `application_name` query param in the postgrest `db-uri`.
[code]
Then we can look at `pg_stat_activiy`:
[code]
And we can terminate the connection:
[code]
In this case the next request to postgrest will result in a 503 with the following message:
[code]
And the server will log:

[2019-11-11 17:07] ruslantalpa commented on #1409
In filters it is always a bad idea to apply a transformations (cast in this case) to a column, you basically eliminate any chance of pg using an index. So no, this is a bad feature

[2019-11-11 17:51] kevin4dhd opened #1410 "Example of making a select when executing a post"
Hi, I'm a little new at PostgRes, I'm looking for a post and get later.

![image](https://user-images.githubusercontent.com/22886367/68608698-8791e800-0481-11ea-924b-4a5189f09927.png)

I was reading the documentation and I found this, 'return = representation'

The specific documentation that I can also add 'Vertical Fitering' along with this, I have tried several ways but I don't get any results,

[2019-11-11 17:51] steve-chavez commented on #1409
@ruslantalpa True. That's a good reason for not supporting cast. We should encourage index usage.

[2019-11-11 17:56] kevin4dhd commented on #1410
I just realized that the select should be added to the post URL, doing that already works correctly.

[2019-11-11 17:56] #1410 closed

[2019-11-11 17:56] steve-chavez commented on #1410
Here's an example for that http://postgrest.org/en/latest/api.html#embedding-after-insertions-updates-deletions.

Those docs are in master though. Hoping to do a new release soon.

[2019-11-12 10:00] fortyanov commented on #1399
Yes, I have got exact same behavior on our server. Now I return db-pool-timeout=1000 and will disable keep-alive on nginx because there I have an assumption that this might be related to the problem.

[2019-11-12 20:30] Dansvidania commented on #1408
From a first attempt at researching the issue, I have not -yet- found a way to assign a custom permission set to the socket created in the Network.Socket API. I need to investigate this further.

I apologize as I momentarily do not have access to a UNIX system and cannot verify this myself; this might be a stupid question, but is specifying a custom owner and group possible?

unless Postgrest code

[2019-11-13 01:01] steve-chavez commented on #915
If one's really careful and uses the [format](https://www.postgresql.org/docs/current/plpgsql-statements.html#PLPGSQL-QUOTE-LITERAL-EXAMPLE) function, this can be done with a proc and dynamic sql.

Example for DISTINCT:
[code]

Then you can use all of pgrst filters normally:

[code]

Still, exposing DISTINCT to clients should be thought twice.

[2019-11-13 01:13] steve-chavez commented on #1408
@Dansvidania I think you're right. Maybe we shouldn't try messing with permissions.

I had a look at this SO question: https://stackoverflow.com/questions/20171747/how-to-create-unix-domain-socket-with-a-specific-permissions-in-c.

@dafvid Can you try creating a dir with your desired permissions and pointing postgrest to create the socket file inside that dir?

[2019-11-13 01:17] fenggy commented on #1373
Is compile easy?  can you provide your binary file？ thks？

[2019-11-13 07:58] dafvid commented on #1408
@steve-chavez well I already do that actually. But that only solves the problem with the group membership. I need both read and write for the group.

My setup is this. I run postgrest with a postgrest user. That user and the www user are both in the www group. I run nginx with the www user. That allows the web server to read/write over the socket. I really don't want everyone to be able to read th

[2019-11-13 10:40] Dansvidania commented on #1408
@dafvid Changing the file permission should be possible, I apologise for this massive oversight :)

@steve-chavez what do you think would be the best way to go about this? is an optional ```server-unix-socket-mode``` config option acceptable?

[2019-11-13 14:18] steve-chavez commented on #1408
@Dansvidania That sounds good! I was thinking of just changing the default but a `server-unix-socket-mode` would be most flexible.

[2019-11-14 02:13] steve-chavez commented on #1406
We'll keep improving on this(#1412) so it's clear that more than one relationship was detected. For now I'll close since the issue was solved.

[2019-11-14 02:13] #1406 closed

[2019-11-14 15:21] steve-chavez opened #1413 "Change misleading config options names"
These config options often cause confusion among users:

- [server-proxy-uri](http://postgrest.org/en/v6.0/configuration.html#server-proxy-uri): the name doesn't imply it's related to the openapi output and misleads into thinking it's a web server setting. It'd be better to change it to `openapi-server-proxy-uri`.

- [db-extra-search-path](http://postgrest.org/en/v6.0/configuration.html#db-extra-s

[2019-11-14 19:36] steve-chavez commented on #1398
Realistically speaking, if compatibility with another spec is desired, the best way to do it would be translating the request at the proxy layer. In a simillar manner to what [ppKrauss/PostgREST-writeAPI](https://github.com/ppKrauss/PostgREST-writeAPI) does.

Also, I can see the advantages for orgs that heavily use an MS/SAP stack. But at the same time, those orgs are in the conditions to pay :mon

[2019-11-15 07:12] ruslantalpa commented on #1413
first is better, second is worse
the "confusion" comes from two categories:
- ppl that are new to postgresql and do not know that a searchpath is for
- ppl who know that it is and think they can "hack" a solution to expose different schemas (and on top do not read the manual)

I think the second should stay as it is since it exactly describes what it does, the name is good and the docs are good, a

[2019-11-16 05:19] Iced-Sun opened #1414 "Order parent by child's column (for to-one mapping)"
### Environment

* PostgreSQL version: not relevant
* PostgREST version: 6.0.2
* Operating system: not relevant

### Description of issue

[code]

I want something like `GET /site?select=*,address(*)&order=address.name`. Is that possible?

[2019-11-16 14:46] steve-chavez commented on #1414
For ordering an embedded resource, the syntax is like:
[code]
Does that do what you want?

[2019-11-16 15:06] steve-chavez commented on #1413
`db-extra-search-path` is misleading because is not a one to one mapping of the pg feature to the pgrst feature.

- users that know search_path, expect it to be the way to expose schemas.
- users that don't know search_path, could look for search path official docs(instead of our docs) and then also think it's for exposing schemas.

Adding an extra search path is what we do but it's not the intent

[2019-11-16 15:10] steve-chavez commented on #1402
@raphet Did you manage to solve the issue? @dwagin suggestion helped?

[2019-11-16 18:00] raphet commented on #1402
@steve-chavez no, I thought, dwagin's comment was meant as closure. I did not solve the issue, so far.

[2019-11-16 18:48] steve-chavez commented on #1409
I'll close since the original issue can be solved with comparison operators or a computed column.

We should document that we don't allow this kind of flexibility to ensure index usage(maybe on https://github.com/PostgREST/postgrest-docs/issues/272).

[2019-11-16 18:48] #1409 closed

[2019-11-18 08:26] fortyanov commented on #1399
In nginx configuration file
[code]
we disable keepalive parameter and now all works fine.

[2019-11-18 14:18] steve-chavez commented on #1399
@fortyanov Oh, great find!

So, we should remove that recommended `keepalive` from the [hardening postgrest doc](http://postgrest.org/en/v6.0/admin.html).

Why would that happen though? The nginx doc on `keepalive` says:

[2019-11-18 14:57] fortyanov commented on #1399
I don't understand exact cause of such bug. I guess this can happening because some kind of race condition. Keepalive is very important for performance.

[2019-11-18 16:54] steve-chavez commented on #905
For anyone bumping into this, the issue could be an nginx conf, see https://github.com/PostgREST/postgrest/issues/1399#issuecomment-554906927.

[2019-11-18 20:37] steve-chavez commented on #1402
I've been checking [RFC 7662](https://tools.ietf.org/html/rfc7662) and it seems that the introspection endpoint cannot be done with the idea I presented before(a proc in the db).

This is because PostgREST would reject an expired token before it reaches the db, and the `active` field would not be computed.

@raphet I'm reopening for further investigation. I think we should support this use case.

[2019-11-19 06:33] sunbing81 commented on #1414
I am sorry that I didn't make my intention clear.

By ordering parent, I mean "ordering **parent**", not ordering the embedded resource.

As one site can refer one and only one address, sorting the addresses belong to one site is meaningless.

Explicitly, I want
[code]
rather than
[code]

[2019-11-19 07:31] elimisteve commented on #1399
I will note that I've been using PostgREST for 3 years and I've never run into this issue. This may be worth mentioning because I always have a Go binary proxying through to PostgREST, not Nginx, which may be why!

[2019-11-19 08:02] elimisteve commented on #505
Anyone else interested in a feature that uses a different JWT signing key for different groups of users? I'd like a stolen signing key to only allow the attacker to delete some rows, not all rows :-).

Though if all the keys are right next to each other then using a bunch of different signing keys doesn't help.

Any thoughts on making this more resilient to attack under the compromised JWT signing

[2019-11-19 08:57] fortyanov commented on #1399
Do you have keepalive realization on your Go proxy?

[2019-11-19 09:18] elimisteve commented on #1399
I'm not sure.

Following the source, I see: https://github.com/EffectiveAF/effective/blob/master/server.go#L75 => https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L100-L124 => https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L24-L79 => https://github.com/golang/go/blob/master/src/net/http/transport.go#L37-L54 .

Perhaps most relevantly I

[2019-11-19 13:33] dwagin commented on #1399
https://github.com/yesodweb/wai/issues/618

Maybe this

[2019-11-19 15:13] steve-chavez commented on #1414
I see what you mean. Perhaps this could be arranged for many-to-one embeds(we currently don't detect one-to-one's). Not sure about the query string syntax but this sql could be generated:

[code]

[2019-11-19 15:38] win32nipuh opened #1416 "postgrest.exe: error 0x0000013?"
I have downloaded the latest release zip and run the postgrest.exe, received:
The application was unable to start correctly(0x0000013) .
What is wrong? How to run the postgrest on Windows?

[2019-11-19 15:42] steve-chavez commented on #1416
@win32nipuh Check the comment on https://github.com/PostgREST/postgrest/issues/1373#issuecomment-536567474 for a solution. Let's continue on #1373 since it's the same underlying problem.

[2019-11-19 15:42] #1416 closed

[2019-11-20 04:36] sunbing81 commented on #1414
IMHO, the query string could be
``` curl localhost:3000/projects?select=*,clients(*)&order=clients.name```
which seems quite consistent with the current syntax.

[2019-11-20 11:27] win32nipuh commented on #1373
I run postgrest.exe and receive the error 0x0000013 (#1416).
Then I have installed  PostgreSQL v12 on the same machine, added the c:\program files\postgresql\12\bin (there is pg_config.exe) to the Environment Path.
Then run postgrest.exe again and receive the error 0x0000013 again.
How to fix it?

[2019-11-21 14:09] sarumont commented on #1031
@begriffs Your comment above is correct - the OpenAPI spec [leaves room for interpretation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types) of the `format` field on a parameter, but there are some well-defined `format` values as well as some conventionally used ones (i.e. `uuid`).

The fact that `swagger-ui` accepts `eq.42` in a `smallint` field is probably due

[2019-11-21 17:59] steve-chavez commented on #1402
I see two options for doing this:

1. In Haskell: Offering a `/token_introspection` endpoint that would output the desired response by using our JWT lib. This endpoint would be disabled by default and enabled with a config option. We would also have to offer an Nginx conf for filtering this endpoint to the public.

2. In SQL: We'd have to offer a way to disable PostgREST JWT validation and let the

[2019-11-21 18:52] steve-chavez commented on #505
@elimisteve If your tables are protected with RLS, an attacker would only be able to delete his own rows(the ones that belong to the stolen user account key) and not all rows.

[2019-11-22 01:22] elimisteve commented on #505
@steve-chavez If the signing key is stolen then the attacker could create new JWTs with for each (especially high-privilege) user, then use those permissions granted by the self-minted JWTs to essentially do whatever all users combined could do, though perhaps requiring multiple JWTs to do it.

[2019-11-23 15:55] steve-chavez commented on #1408
Solved in #1415!

[2019-11-23 15:55] #1408 closed

[2019-11-25 20:01] ppKrauss commented on #1374
See reference about CSV conventions and how to express alternatives by JSON (CSV schema metadata),
https://frictionlessdata.io/specs/csv-dialect/

[2019-11-25 20:10] ppKrauss opened #1418 "No way to URL-encode the CSV request?"
It is not a bug, is ignorance or perhaps a suggestion... Suppose PostgREST at port 3000, it:

* returns JSON, `curl http://my.domain:3000/test_t1` <br>or  `curl --header "Accept: application/json" http://my.domain:3000/test_t1`

* returns CSV, `curl --header "Accept: text/csv" http://my.domain:3000/test_t1`

But navigating by browser (Firefox, etc.) or  loading dataset by a tool like [Orange](http

[2019-11-25 23:02] steve-chavez commented on #1418
Nginx should definitely be used in case there are shortcomings in HTTP clients. Btw, I opened a similar issue on the docs https://github.com/PostgREST/postgrest-docs/issues/157.

It'd be great to have a [how-to](http://postgrest.org/en/v6.0/#how-to-guides) for doing that.

[2019-11-29 14:45] ppKrauss commented on #1390
Hi, @steve-chavez  `docker kill --signal=SIGUSR1 <container_id>`  is not working. Step-by-step:

1. `psql databaseName`; `CRETE TABLE public.new_table (...)` .. populate table
2. testing `http://mydomain:3000/new_table` say <br/>*"code": "42P01", "message": "relation \"public.new_table \" does not exist"*
3. `sudo docker container ls` shows the CONTAINER ID
4. `docker kill --signal=SIGUSR1 <contai

[2019-11-29 14:50] ppKrauss commented on #1390
I am also adding a suggestion to [enhance online documentation on Schema Reloading](http://postgrest.org/en/v6.0/admin.html#schema-reloading), it need some explicit clues **for "docker dummy users"**. See [Steps 2 and 3 above](https://github.com/PostgREST/postgrest/issues/1390#issuecomment-559811969).

[2019-11-29 16:21] steve-chavez commented on #1390
@ppKrauss Hey! In that case the issue is not really about schema reloading(a simple `/table` request should work even with a stale schema cache) but more about pointing postgrest to another database.

To check the container configuration you can do:
[code]

See more details in http://postgrest.org/en/v6.0/install.html#docker.

[2019-11-29 16:48] brandon-welsch opened #1420 "[PaaS Deployment] Scalingo one-click button"
Hello. I'm a developer at Scalingo, [Scalingo](https://scalingo.com/) is a European and Heroku compatible PaaS.

And today I come to you because we want to make the project easily deployable on Scalingo via a one-click button.

Would you agree that we could propose our file additions as well as documentation about the deployment with us?

[2019-11-29 17:19] ppKrauss commented on #1390
Hi @steve-chavez ,

It not shows the database name,
[code]
The PGRST_DB_URI is empty.

[2019-11-29 19:29] ppKrauss commented on #1418
... Hum, is not working:

The NGINX config,
[code]
The test:

* STANDARD ROOT IS WORKING:  `curl  http://myServce.etc:3000/` returns  JSON.

* TRY-CSV ROOT IS NOT WORKING:  `curl   http://myServce.etc/_sql.csv/` returns 404 Not Found.

* STANDARD SELECT IS WORKING:  `curl  http://myServce.etc:3000/t?limit=10` returns  JSON.

* TRY-CSV SELECT IS NOT WORKING:  `http://myServce.etc.com:3000/t?limit=1

[2019-11-29 19:33] ppKrauss commented on #1418
@steve-chavez , about [this](#issuecomment-559868867) and other NGINX problems, clues and explanations: the ideal is not only explain, but to offer a repository of tested scripts.  Can  https://github.com/PostgREST create a git for **complete examples**?

[2019-11-29 21:35] ppKrauss opened #1421 "How to"
I not see at documentation about  *"how to show the JSON schema of only one table"*. For example table `public.t`  need only the `"{paths": {"/t": {etc}}}` JSON schema.

[2019-11-29 23:47] ppKrauss commented on #1418
Near perfect solution (!),

Solution that is working,

[code]

The solution created other [open problem on filename extension](https://stackoverflow.com/q/59112021/287948).

[2019-11-30 18:15] steve-chavez commented on #1390
@ppKrauss In that case what you could do is:

[code]

[2019-11-30 18:22] steve-chavez commented on #1421
You could use jq for that. I think maybe like:
[code]

[2019-12-01 00:06] steve-chavez commented on #1418
@ppKrauss How about if you try it like this:

[code]

Then you could access the csv at `localhost:3000/api/table.csv` and the normal json at `localhost:3000/api/table`.

The git repo under the postgrest org is a good idea, I'll see about creating it and adding this example.

[2019-12-01 02:39] francois opened #1422 "Workaround for GET /rpc/function to STABLE function while setting response headers"
### Environment

* PostgreSQL version:  PostgreSQL 12.1 on x86_64-apple-darwin18.7.0, compiled by Apple clang version 11.0.0 (clang-1100.0.33.12), 64-bit
* PostgREST version: PostgREST 6.0.2 (UNKNOWN)
* Operating system: Mac OS X Mojave (10.14.6 (18G103))

### Description of issue

I wanted to serve IMG blobs straight from the database. I created the following function to be called from `/rpc/get_

[2019-12-01 19:58] steve-chavez commented on #1422
Try using `perform` instead of `set local`. I've tried the following and it works:
[code]

Also note that `Content-Type` cannot be overridden through `response.headers`.  You can only add additional media types through the `raw-media-types` config.

[2019-12-02 10:36] mahmoudkassem commented on #1106
Thanks for your input/insight. https://github.com/mahmoudkassem/postgrest/commit/6415217b42f6af5d517d6aa880bff02c1716cc6f I've extended the db-schema parameter to be a list of schemas separated by comma. Whereas the first value of the list is the default. The passing of the schema is now via header instead of the url as suggested. The passed value has to be a member of the list otherwise the defau

[2019-12-02 11:47] fortyanov commented on #1399
We setup unix socket on postrest
[code]
Problem still happens.

When we setup NGINX keepalive_timeout value up
[code]
to make it bigger then keep-alive in postgrest the problem not happens. Default  keepalive timeout is 60 second in nginx and postgrest too (I think) . Seems like there is race condition on closing session between postgrest and nginx.

[2019-12-02 11:48] fortyanov commented on #1399
Im bad in haskel no there is could be information about library that used in postgrest
[https://github.com/yesodweb/wai/issues/734#issuecomment-555441539](url)

[2019-12-02 14:21] ppKrauss commented on #1418
Thanks @steve-chavez, good clues and solutions (!), I am trying to use it, but it is not the solution for the exposed problem: I need to return the `.csv` for a request that not have final suffix `.csv`.  The API request only **standard PostgREST** queries, no extension after query.

For exemple: `http://myServce.etc/_sql.csv/t?limit=10`  <br/>(it is **not** `myServce.etc/_sql.csv/t?limit=10.csv`)

[2019-12-02 15:04] ppKrauss commented on #1106
@ruslantalpa

Perhaps something as using a URI syntax that is not a PosgreSQL syntax, as the character `~`:  a standard public table, `t`; a schema `sh1` table, `sh1~t`.

[2019-12-02 15:23] francois commented on #1422
Ah... since I can't set `Content-Type`, this solution is not useful for me. I will stand up a sister webapp to handle blob storage and will put an nginx in front to manage dispatching to both endpoints. Thanks!

[2019-12-02 15:23] #1422 closed

[2019-12-02 15:28] steve-chavez commented on #1422
If you specify `image/webp` on the `raw-media-types` and request `Accept: image/webp` then postgrest will set up the `Content-Type: image/webp`

[2019-12-02 17:09] steve-chavez commented on #1106
@mahmoudkassem I think erring in case of a wrong schema instead of picking a default would be better. It seems easy to mistype a number in `/v4/table`(when you wanted `v3`) and not erring could mean we let a client make a mistake.

Regarding the header for the schema, I don't think there's a standard for this(unless we go with versioning on the media type `application/vnd.com.v2+json`).

My vote w

[2019-12-02 18:02] francois commented on #1422
I understand, but images will be JPG. Firefox requests image/webp, */*. I haven’t investigated other browsers. Thanks!

[2019-12-02 19:41] ppKrauss commented on #1106
As I comment, there is no mistype  when using a schema separator mark like `~` (URI consistent)... So `/schema~table`  is most reliable tham `/schema/table`.

[2019-12-02 19:44] ppKrauss commented on #1421
Hum... but the traffic (and visual pollution) is preserved.  I have ~600 tables to be published... Suggestion for *new issue*: an option in the PostgREST API to access table-specific metadata.

[2019-12-02 19:45] ppKrauss commented on #1421
@steve-chavez, thanks. Hum... but the traffic (and visual pollution) is preserved.  I have ~600 tables to be published... Suggestion for *new issue*: an option in the PostgREST API to access table-specific metadata.

[2019-12-03 09:42] mahmoudkassem commented on #1106
https://github.com/mahmoudkassem/postgrest/commit/750698bf05f07349b787c74ce32412a07502020f The easier discovery + that it doesn't break backwards compatibility(for the most part) convinced me, so I've added the dynamically specified schema back to the url and now instead of falling back to the default schema it will result in an 404 not found if the schema is not specified in db-schema.

I find th

[2019-12-03 11:55] ppKrauss commented on #1106
Hi @mahmoudkassem , it is a syntax suggestion, an alternative to your `schema/table` syntax suggestion: I am suggesting to replace your  `/` syntax to a `~` syntax,  `schema~table`.

It is valid as [URI](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier) (no conflict) and valid to express with "no ambiguity risk", to confuse the PostgreSQL *schema names* and *table names*, or to confuse wi

[2019-12-04 11:52] savv opened #1424 "Handling dropped HTTP requests"
### Environment

* PostgreSQL version:  PostgreSQL 12.1
* PostgREST version: 6.0.2
* Operating system: OSX

### Description of issue
Background:
Our mobile app operates in an environment with low connectivity. In order to prevent double inserts, the client needs to know for sure whether an insert succeeded or not, so it can decide whether to retry.
Unfortunately, it seems that when a request is dr

[2019-12-04 17:32] ppKrauss opened #1425 "CSV need extension"
CSV file, to correct and a friendly interface, needs `.csv` extension.

### Environment

* PostgreSQL version: 12
* PostgREST version: docker, last image
* Operating system: UBUNTU 18 LTS

### Description of issue

On `Accept 'text/csv';`  is expected to download a filename with `.csv` extesion.

Using Firefox or Chorme, the filename is the table name (independent of the query select part), that i

[2019-12-04 18:20] steve-chavez commented on #1421
@ppKrauss In theory that would be possible with the `root-spec` config(released but undocumented). See my comment in https://github.com/PostgREST/postgrest/issues/790#issuecomment-495330657.

[2019-12-04 19:24] ppKrauss commented on #1421
Hum... I not see *NGINX config script* as a program language: any super-complex solution is error-prone and an indication that PostgREST is not doing the correct/friendly thing. See my suggestion at #1425

[2019-12-04 20:07] steve-chavez commented on #1106
To solve ambiguity, how about if when `db-schema` is a list we force that the request must contain the prefix. So, if we had `db-schema=v1,v2`:

- `/` no longer defaults to the first schema in the search path. It gives 404.
- `/v1/`  gives the openapi schema of v1.
- `/v1/table` and `/v1/rpc/proc` work as usual.
- `/v2/` follows the same rules.

I realize this would change the migration strategy,

[2019-12-04 20:15] ppKrauss commented on #1421
Seems that you is suggesting there to use the PL function `root()`, and  here a customized one, where we can add the table name as parameter,  something as `root(tableName)`... Comments:

* the use of a custom function will be create a "Babel", no OpenAPI standard, each user will create yours, and it will be not PostgREST standard (I like the "power" of standardize of the project).

* the `root(ta

[2019-12-04 22:48] steve-chavez commented on #1421
The idea was to offer a standard(but overridable) pg function that offers an openapi output. That being said this is far from complete.

In general, we don't do nested urls for filters. But perhaps we can offer a way to do [horizontal filtering](http://postgrest.org/en/v6.0/api.html#horizontal-filtering-rows) in the root endpoint.

i.e. let the user do something like:

[code]

And get a part of th

[2019-12-04 22:57] steve-chavez commented on #1425
This is an ideal use case for proxy(Nginx, OpenResty, Caddy, etc). We should keep working on the #1418 direction.

Handling these special cases in postgrest itself would break its composability and would go against the [one thing well](http://postgrest.org/en/v6.0/#one-thing-well) principle.

[2019-12-04 23:08] steve-chavez commented on #1425
Hmm.. now that I've noticed. This could be handled at the SQL level. Once https://github.com/PostgREST/postgrest/issues/1088 is implemented, you could add the `Content-Disposition` header in the `pre-request` function.

That plus adding a GUC that gives the path of the request(also requested in https://gitter.im/begriffs/postgrest?at=5dcb6b6e5eb2e813db145584).

[2019-12-04 23:34] steve-chavez commented on #1399
I think for now we could recommend the `keepalive_timeout > 60s` in our nginx samples. Ideally we would output a clear error when this happens(not sure if possible).

@fortyanov Did the issue appear again? Also could you estimate what kind of traffic your server is handling? I'd still like to reproduce the issue.

[2019-12-05 02:54] tsingson commented on #1106
@Steve-chavez  I like this /schema-name/rpc/.........

[2019-12-05 10:01] ppKrauss commented on #1106
Hi, this issue is confuse for me, I not see utility on versioning for my applications, but I need **access to multiple schemas** at PostgREST endpoint... Anyone who has understood, please explain to me, or copy/paste the final consensual definitions:

1. The  [multitenancy concept](https://vladmihalcea.com/database-multitenancy/) used here;

2. The syntax proposal for *only one endpoint* for multi

[2019-12-05 10:40] ppKrauss commented on #1421
Thanks @steve-chavez, any solution will be welcomed!

ok, the general idea is perfect.

As far as I can see, we have only a polluted "root endpoint". It is good for small databases, but (as I commented) is ugly for big databases,  with many (more tham 100 and expecting 1000)... For "big" the ideal is a root with only a list of keys or URLs, to show how to get more details. Ideal is a separate endp

[2019-12-05 13:26] fstn opened #1426 "Inconsistent rpc result after creating a new function"
Version: `"version":"6.0.2 (713b214)","title":"PostgREST API"`

Call a new proc stock:

`
    [
        {
            "companies_by_userid2": [
                {
                    "companyid": "44054450913",
                    "createdat": "2019-12-04T21:05:35.666205+00:00",
                    "facebookurl": "https://www.facebook.com/century21",
                    "companywebsite": null,

[2019-12-06 03:18] steve-chavez commented on #1426
That's because of the [schema cache](http://postgrest.org/en/v6.0/admin.html#schema-reloading), it will be consistent(and remain like that for future runs) once you refresh the cache.

[2019-12-06 14:56] #1426 closed

[2019-12-11 16:00] mdr1384 opened #1427 "Override unsuitable Location header values"
### Environment

* PostgreSQL version: (if using docker, specify the image)
  11.5
* PostgREST version: (if using docker, specify the image)
  6.0.2
* Operating system:
  FreeBSD 11.3-RELEASE-p5
### Description of issue

For some of our endpoints the Location header does not use the value we want. In some cases there is no Location header returned, and in other cases it uses an unsuitable combinat

[2019-12-12 10:56] dzelge opened #1428 "Type error when calling stored procedures"
### Environment

* PostgreSQL version: "PostgreSQL 10.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9), 64-bit"
* PostgREST version: 6.0.2
* Operating system: Ubuntu 18

### Description of issue

Expected behavior:

I have followed the postgrest documentation and added a SP called add_them as follows:

[code]

I would expect that the following post reqeust returns 3

[2019-12-12 13:00] dzelge commented on #1428
Should have read the docs better. Schema reloading solved that issue. However, reloading the schema is not trivial when you are running an RDS instance on AWS.

[2019-12-12 13:00] #1428 closed

[2019-12-12 20:18] steve-chavez commented on #1427
@mdr1384 Overriding the `Location` header should be possible. I agree.

Your trigger snippet is a bit surprising. Does that add the response header when POSTing? I remember we had to clear #1088 for that to work(adding headers only works on functions calls for now).

This is something that also happened to me when inserting a `bytea`, IIRC curl erred when this happened. We should handle this case.

[2019-12-13 09:48] savv commented on #1130
Another solution for supporting firebase auth (or auth0), without worrying about JWKS support:
* put PostgREST behind nginx
* In nginx, use `auth_request` to have it reach out to a custom made backend that validates auth tokens (e.g. using firebase auth's admin lib); proxy responds with a `custom-proxy-user` response header
* Use `auth_request_set $auth_user $upstream_http_custom_proxy_user;` and

[2019-12-17 17:22] mdr1384 commented on #1427
Seems to. We have some endpoints which are views containing complex joins and sub-queries that have "instead of" triggers for insert, update and delete - which for whatever reason did not generate a Location header upon POSTing. I added the code in the snippet to the insert trigger and the Location header was restored.  However, later I tried to figure out why it was missing in the first place and

[2019-12-18 04:59] steve-chavez commented on #1106
I've edited my previous [comment](https://github.com/PostgREST/postgrest/issues/1106#issuecomment-561817706). I'll refrain from discussing migration strategies here, this could be done later in the docs.

@mahmoudkassem What do you think of that url syntax? I think with that we can also reject an unknown schema at the http level and we wouldn't need extra work at the sql level.

[2019-12-18 09:54] ppKrauss commented on #1106
Thanks @steve-chavez for edits on [explanations](#issuecomment-561817706). Commenting it:

This endpoint-syntax proposal breaks compatibility of classic PostgREST, where the *endpoint path*  `/string1` is a table reference... And is good to remember  that versioning endpoint is not the best  practice for "all REST community", there are some rational criticism, and [some alternatives](https://www.x

[2019-12-18 23:42] carragom opened #1429 "Read jwt-secret from the database"
### Environment

* PostgreSQL version: 12.1
* PostgREST version: 6.0.2
* Operating system: MacOS Mojave

### Description of issue

Hi, not sure if this is a question or a feature request but here it goes. I'm using [SQL User Management](http://postgrest.org/en/latest/auth.html#sql-user-management) as described in the docs and everything is working as expected.

Whenever I deploy my database schema

[2019-12-19 17:44] steve-chavez commented on #1429
@carragom Hey there.

From your example I'm not sure how your `app.jwt.secret` GUC is being persisted since GUCs have a lifetime scoped to transaction or session(it'll be empty if postgrest tries to read it). That's unless you set the GUC to the database like: `alter database postgrest_test set app.jwt.secret = 'mysecret';` then the GUC will be attached to the db lifetime.

For the latter case, si

[2019-12-19 17:48] carragom commented on #1429
@steve-chavez that makes a lot of sense. Will try it that way.

[2019-12-19 17:48] steve-chavez commented on #1429
That being said, we could add a way to get the jwt-secret directly from the db. There are deployments that have the jwt-secret in a table, like in https://github.com/PostgREST/postgrest-docs/issues/28.

Maybe we can have another config param for this, that could get the secret from a table or view(this one could obtain the secret from a GUC).

[2019-12-19 17:53] carragom commented on #1429
That would be awesome

[2019-12-21 00:58] pauldellinger commented on #1130
How would you set a role without a JWT claim?

[2019-12-21 15:31] savv commented on #1130
I meant that tongue-in-cheek. You could simply pass the role as another, unsigned, HTTP header. Which, I think, would be fine in an environment where postgrest is behind nginx.

(In my case, I ended up generating a JWT in my auth proxy and passing that to postgrest, because JWTs are well integrated with the role system.)

[2019-12-21 17:19] steve-chavez commented on #1106
@ppKrauss You're right about the shortcomings of the url versioning. I think we can agree that [api versioning has no right way](https://apisyouwonthate.com/blog/api-versioning-has-no-right-way). So the best we can do is to provide flexibility and let the user do the url versioning if he wants. The only way to do this is to switch schemas with a header.

I've never been a fan of adding the version

[2019-12-25 02:06] drorm commented on #1429
Have the same need. The secret is generated when deploying the app and already needs to be protected in the db.
* Having it in a file, on a different server adds a vulnerability.
* Easy to regenerate it in the db and have everything work correctly without needing to make changes to the postgrest server.

[2019-12-25 15:14] skariel commented on #1106
I think [pREST](https://postgres.rest/query-statements/) can do it. But I haven't tried it yet...

[2019-12-26 10:17] sameertwans commented on #1072
Any updates about this limitation

[2019-12-27 08:43] sunbing81 opened #1431 "keyset pagination for the lazy"
### Environment

* PostgreSQL version: not relevant
* PostgREST version: not relevant
* Operating system: not relevant

### Description of issue

To make keyset pagination on multiple columns work on postgrest, the lexical ordering must be manually implemented by plain logic operations:
1. `(x, y) > (a,b)` <=> `x=a AND y>b OR x>a`;
2. `(x, y, z) > (a,b,c)` <=> `x=a AND (y=b AND z>c OR y>b) OR x>a`

[2019-12-28 12:08] ykst commented on #1327
Hi, I'm also interested in this feature and made a patch based on the discussion above. May I send PR?

[2019-12-28 15:00] steve-chavez commented on #1429
@drorm Good points. I'll reopen for further discussion.

[2019-12-28 15:43] steve-chavez commented on #1327
@ykst Sure! Open a PR so I can give it a review. Your branch looks really good.

[2019-12-29 09:33] sunbing81 commented on #1075
## Further investigation on subquery vs. join

The new-*-query in https://gist.github.com/steve-chavez/f79b5c3e777a435d024d44cebb8ac8f4 uses `JOIN` + `GROUP BY` to aggregate embedded resources. Although the `LATERAL` keyword presents, in essence the joining is vanilla, e.g.,

[code]

is basically equivalent to
[code]

That leaves more opportunity for postgres to evaluate execution plans, but the v

[2019-12-29 16:54] steve-chavez commented on #1327
Implemented in #1432!

[2019-12-29 16:54] #1327 closed

[2019-12-29 22:57] ykst commented on #1327
Thank you for your quick response!

[2019-12-31 00:33] Joseph00000 commented on #1190
Same problem with Postgresql 11. Adding public. to the function fixed it.

[2020-01-05 15:39] steve-chavez commented on #540
For docs, we could also show how to set the [log_min_messages](https://www.postgresql.org/docs/9.5/runtime-config-logging.html#GUC-LOG-MIN-MESSAGES) per postgrest app. By recommending to set the setting per user(can also be done per db but probably not desired), like: `alter role authenticator set log_min_messages to fatal`.

[2020-01-06 21:20] benny-medflyt opened #1433 "Bug in `allSourceColumns` with subqueries (EXISTS/COUNT) column"
Hi, thanks for the great work on PostgREST.

There seems to be a bug in the `allSourceColumns` function when one of the view columns is an `EXISTS` expression (or `COUNT` or `IN` subquery).

Starting from a blank database, I create a table and two views:

[code]

When I run the huge SQL query found in `allSourceColumns` here:
<https://github.com/PostgREST/postgrest/blob/663faa1f82c90c9e486a9471c39

[2020-01-08 21:12] samkhawase opened #1434 "Error: JWSError (JSONDecodeError "Not valid base64url")""
### Environment

* PostgreSQL version: postgresql:alpine
* PostgREST version: postgrest:latest
* Operating system: Linux

### Description of issue

I'm creating a demo application for an internal demo. I create a new setup using docker compose, which bootstraps the postgresql server as well. I'm using Auth0 to get the JWT. However the requests fail with the following error:
[code]

Steps to reprod

[2020-01-09 14:38] steve-chavez commented on #1433
@benny-medflyt Hey there.

I've ran the `allSourceColumns` query on `pg 11.4` and it shows both of your views(bad_view and good_view).

Note that query has a haskell variable embedded on it(`subselectRegex`) so it's not directly pastable, So maybe your tests on other pg versions were not entirely correct.

What was the version you used when you encountered the issue?

[2020-01-09 15:24] steve-chavez commented on #1433
I can also get both `bad_view` and `good_view` on pg 12.1.

[2020-01-09 15:52] benny-medflyt commented on #1433
Thank you! the problem was indeed that i didn't notice that "subselectRegex" is a variable! I've put in the correct regex and it works!

(I am using this amazing query in another project: <https://github.com/MedFlyt/mfsqlchecker>)

[2020-01-09 15:52] #1433 closed

[2020-01-09 17:32] steve-chavez commented on #1434
You could try using a file for the secret, see https://github.com/PostgREST/postgrest/issues/1192#issuecomment-446632584 for an example.

[2020-01-09 17:38] steve-chavez commented on #1106
I think we can go with the `Accept-Version` header for now, it's commonly used and if there's a need we can later include more semantic headers.

@mahmoudkassem What do you think?

[2020-01-09 18:03] steve-chavez commented on #1352
I think that most FDWs should work correctly. Seeing that multicorn is unmaintained maybe reporting an issue will not be of much use. Also adding docs for a special case is probably not worth it.

I'll close for now. If someone bumps into this, it can be searched on the issues.

[2020-01-09 18:03] #1352 closed

[2020-01-09 18:31] steve-chavez commented on #1168
I've noticed that our web server(Warp) already handles the overlarge headers issue. On https://hackage.haskell.org/package/warp-3.0.5/docs/Network-Wai-Handler-Warp.html#t:InvalidRequest, see `OverLargeHeader`.

Access to the `Authorization` header value can be added.

[2020-01-09 18:34] steve-chavez commented on #1088
@Dansvidania Are you still working on this? Can I help?

Adding this feature would solve some other issues we currently have. It'd be great to solve these for the new version.

[2020-01-09 19:45] samkhawase commented on #1434
I tried that as well, but still got the same error:
`Bearer error="invalid_token", error_description="JWSError (JSONDecodeError \"Not valid base64url\")"`

Here's the modified part of the `docker-compose.yml`
[code]

Here's the content of my `rsa.jwk.pub` from `https://postgrest-demo.eu.auth0.com/.well-known/jwks.json`. Is there anything wrong here?

[code]

[2020-01-10 15:42] steve-chavez commented on #1429
Even if pgrst reads the secret from the db, the secret won't be automatically reloadable because we will need to cache it. So for this to work we'd need to also clear https://github.com/PostgREST/postgrest/issues/1119.

[2020-01-11 11:19] Dansvidania commented on #1088
Hi @steve-chavez sorry for not letting you know but I have not had time to work on this because of some, still ongoing, issues.

If it is needed in the short term I do not think I can complete it.

[2020-01-13 20:15] mahmoudkassem commented on #1106
@steve-chavez  I agree on community conses being more important than semantic coherence, so I've modified the schema passing to use the Accept-Version header instead of the URL https://github.com/mahmoudkassem/postgrest/commit/be330be9e74fa695a8ba278db39f15e3061c7183.

[2020-01-14 19:24] steve-chavez commented on #1434
I had a similar error `JWSError (JSONDecodeError \"Not valid base64url\")"` because my shell messed the JWT when it was pasted into the terminal. Maybe double check the JWT is the correct one. Also you could try without docker to discard any issue there.

[2020-01-15 19:53] steve-chavez commented on #1420
@brandon-welsch Hey there,

Does Scaling allow creating multiple database roles on a free tier PostgreSQL?

[2020-01-16 00:05] steve-chavez commented on #1106
@mahmoudkassem Design-wise I think this is done! All what's left would be adding tests.

You could add a `v1` and `v2` schemas with a couple tables in fixtures.sql:
https://github.com/PostgREST/postgrest/blob/663faa1f82c90c9e486a9471c39cdefc11e7c869/test/fixtures/schema.sql#L15-L20

Then add a new spec in `test/Feature/`. Could be named `MultipleSchemasSpec.hs`.

This spec would take a `config-sch

[2020-01-16 13:36] brandon-welsch commented on #1420
@steve-chavez Hi, thanks for your answer.

Yes, it's possible to create multiple roles on a free tier PostgreSQL database.

[2020-01-19 15:45] mahmoudkassem commented on #1106
@steve-chavez I opened the PR and will add the tests now. Thanks to your detailed outline writing the tests should be straightforward I will probably require support with maintaining the sandbox on the query level though. This is not implemented yet ofc this would also need to have tests as well.

[2020-01-21 17:28] #1088 closed

[2020-01-21 17:28] #1168 closed

[2020-01-21 17:38] steve-chavez commented on #1425
With #1435, this now can be solved without Nginx by using the `pre-request` function. You can do something like:
[code]

[2020-01-21 17:38] #1425 closed

[2020-01-21 17:39] steve-chavez commented on #1418
See a solution in https://github.com/PostgREST/postgrest/issues/1425#issuecomment-576794939.

[2020-01-21 17:39] #1418 closed

[2020-01-23 14:20] H20-17 opened #1437 "Feature request: conf file augmentation"
For the conf file I would like a new paramater to be added, called something like:
_jwt-secret-file_. The value of the parameter should be a path to a file that contains only the secret.

The only reason for this is so we can have a slighitly more convenient way of sharing the secret between applications. The way it is now , if you want to share the secret between postgrest and some other app and

[2020-01-23 16:25] steve-chavez commented on #1437
`jwt-secret` already supports specifying a file, like `jwt-secret=@filename`. See http://postgrest.org/en/v6.0/configuration.html#jwt-secret.

[2020-01-23 16:32] H20-17 commented on #1437
Thanks. Failed to see this. My bad. Closing this issue then.

[2020-01-23 16:32] #1437 closed

[2020-01-23 17:05] a-mckinley opened #1438 "On constraint violation, return any constraint comment in the response"
If an insert or update causes a constraint violation, including the comment in the response would be very helpful as a first option for user feedback.

E.g.

[code]

If the comment was included in the json response when the failing insert was attempted, it would be very informative and could be potentially directly displayed to the user instead of custom code in the front end to parse and make sen

[2020-01-23 17:24] begriffs commented on #1438
Alastair McKinley wrote:

I experimented a while ago with customizing postgresql error messages
based on comments in the database:

https://begriffs.com/posts/2017-10-21-sql-domain-integrity.html#improved-error-messages

It may be irrelevant, but posting it here in case it's useful for
thinking about the implementation.

[2020-01-24 17:23] steve-chavez commented on #1424
How can this be done server-side in theory? A timeout for a FIN packet from the client and then rollback the transaction? I'm not really sure..

Do you know of any other server implementation that handles this kind of case?

[2020-01-24 17:30] steve-chavez commented on #969
See #818.

[2020-01-24 17:36] steve-chavez commented on #1365
Let's continue this on #1082.

[2020-01-24 17:36] #1365 closed

[2020-01-24 17:38] steve-chavez commented on #1143
I'll close this for now. Users can find the alpine image by searching the issues.

[2020-01-24 17:38] #1143 closed

[2020-01-24 18:05] steve-chavez commented on #1281
@stefanosvarsanis Did you manage to solve this issue? Did you checked the postgresql version?

[2020-01-24 21:37] H20-17 opened #1439 "Question about Daemonizing"
I'm reading the docs on Demonizing.

In the docs it says to create a systemd service file as follows:

[code]

Why aren't we told to add a line like
[code]
in the [Service] section.

That way we would be running postgrest as a different user from root.  Wouldn't that be preferable from a security stand point?

[2020-01-26 04:01] steve-chavez commented on #1439
The service file was meant to be basic/simple. But sure, a specific user can be recommended. Perhaps mention it as a comment in the file or a note in the docs.

I'll move the issue to docs, would be great if you can contribute a PR with this addition.

[2020-01-27 18:06] mananamenos opened #1440 "question about scaling proccess"
Hi, in postgrest github readme you state: *Being stateless to allow horizontal scaling*. If there were a need to scale, what would be the differences comparing it with traditional haskell web server. In traditional server, i suppose you would need a load balancer first to scale horizontally. However in case of postgrest, you run ./postgrest which creates a process (like a server), which would need

[2020-01-28 16:58] steve-chavez commented on #1119
For anyone wanting to help with this one, #1289(an attempt on solving this) contains some additional hints on the implementation.

[2020-01-29 18:59] steve-chavez commented on #1440
The README needs revising, I'm also not sure about that sentence related to the Hasql library.

However postgrest is like another pg client, you can scale it horizontally. Though ideally it'd live on the same box as pg connected with a unix socket.

Not necessarily, replicas(pg + pgrst) could be added for read performance.

I'll move this to docs, I'll see about adding a section about scaling in t

[2020-01-29 20:25] steve-chavez commented on #1069
Once #1176 is done, this could be solved with an `If-Match: <etag>`. For an example, see https://www.hl7.org/fhir/http.html#concurrency.

[2020-01-30 17:29] steve-chavez commented on #1176
One limitation with `xmin` would be that the ETag could only be computed for TABLEs and not VIEWs since they don't have it.

[2020-01-30 18:52] ppKrauss opened #1442 "A second docker-and-database instance, need for instructions in the Guide"
It is about a second database in a second Docker instance, but an alternative is to use the new PostgREST version with issue #1106.

### Environment

* PostgreSQL version: any
* PostgREST version: 6
* Operating system: Linux

### Description of issue

Expected behavior:  a [Guide](http://postgrest.org/en/v6.0/) with explanations about multiple instances (each with different database) in the PostgR

[2020-01-30 19:54] mxk opened #1443 "Support scram-sha-256 authentication in docker image"
### Environment

* PostgreSQL version: postgres:12 (ec5d6d5f5b34)
* PostgREST version: postgrest/postgrest:latest (68733fd099f0)

### Description of issue

When scram-sha-256 authentication is enabled on the server, PostgREST fails to connect with the following error: `{"details":"SCRAM authentication requires libpq version 10 or above\n","code":"","message":"Database connection error"}`

[2020-01-31 12:10] ppKrauss commented on #1442
Hi all, the issue was edited, now ok.

[2020-01-31 15:24] steve-chavez commented on #1443
It would be a matter of upgrading the Dockerfile [libpq](https://github.com/PostgREST/postgrest/blob/master/docker/Dockerfile#L7).

Seems debian stretch doesn't have libpq > 10 in its repos https://packages.debian.org/stretch/libpq-dev.
Debian buster does have it https://packages.debian.org/buster/libpq-dev.

[2020-01-31 16:06] steve-chavez commented on #1070
The `xmax` trick wouldn't work with auto-updatable VIEWs since only TABLEs have them.

[2020-02-02 20:23] #1413 closed

[2020-02-03 20:34] steve-chavez commented on #223
There are many good ideas here. After we're done with this release, I'll focus on first class facilities for PostGIS.

For starters, we could detect if a table has a column of the `geometry` type and then allow `application/vnd.geo+json` on these tables to generate a query with `ST_AsGeoJSON`. Then I'll have a look at operators.

After that since we can output binary(bytea) we could see about rast

[2020-02-03 20:45] steve-chavez commented on #1176
There was another idea for ETag here https://github.com/PostgREST/postgrest/issues/893#issuecomment-310276369.

Still having automatic ETag generation with xmin seems a really useful idea(mobile clients have to generate their own cache keys otherwise). So I'm thinking we could mention in docs that `xmin` is required and the user would have to expose that in a VIEW or function result. Or maybe just

[2020-02-03 20:57] steve-chavez opened #1445 "Chocolatey or scoop package for PostgREST"
Installation on windows is still troublesome. To install PostgREST users need to do the whole PostgreSQL installation(just for getting `libpq`).

Creating a package for https://chocolatey.org/ or https://scoop.sh/ would ease installation. Not sure if they already have `libpq` available.

[2020-02-05 14:07] mpasquini commented on #1253
Hi.
using postgres:12 on debian-buster

[code]
 1st POST:

POST http://myhost:3000/up_text HTTP/1.1
Authorization: Bearer ####
Content-Type: application/json
Prefer: resolution=merge-duplicates

[
{ "name": "alpha", "i":  1} ,
{ "name": "beta", "i":  1}
]
###

Response: HTTP/1.1 201 Created

2nd POST:

POST http://myhost:3000/up_text HTTP/1.1
Authorization: Bearer ####
Content-Type: application/js

[2020-02-05 15:05] steve-chavez commented on #1253
@mpasquini Did you reload postgrest after creating the table?

[2020-02-05 17:06] mpasquini commented on #1253
I was convinced YES...,
sorry I've completely forgot to mention reloading.

1. is a docker, so..  but even while not rm/run :
2. used docker restart
now:
3. sent: killall -s SIGUSR1 postgrest -> test tables works, production not

Tested again for POST/PATCH, with or without  "?columns=name" ... no outcome

Unique difference is hash partition on primary key and presence of bytea datatype. like:
TAB

[2020-02-06 16:13] steve-chavez commented on #1253
@mpasquini Could you see the sql query PostgREST generates on postgresql logs? More about that on http://postgrest.org/en/v6.0/admin.html#database-logs.

With that we could confirm if the ON CONFLICT clause is being added.

[2020-02-06 16:57] steve-chavez commented on #1253
Just tried a partitioned table upsert and it worked:

[code]

Could you come up with a sample DDL of your partitioned table and share it here?

[2020-02-06 17:24] steve-chavez commented on #1253
Actually, I've tried targeting the partitioned table and it does not work.
[code]
@mpasquini You could open a more specific issue for this.

[2020-02-06 19:07] steve-chavez commented on #1281
Closing until more feedback is given. It's likely it could be related to the pg version.

[2020-02-06 19:07] #1281 closed

[2020-02-06 23:08] u24b6 opened #1446 "Request for advice on integration with dex oidc provider"
I am looking to integrate postgrest with the dex oidc provider, but the supported scopes for dex do not include custom data from what I can tell. Is there any way that I can use a stored procedure to infer a user's role based on the groups claim or username?

https://github.com/dexidp/dex/blob/master/Documentation/custom-scopes-claims-clients.md

Thanks for your input.

[2020-02-07 21:41] steve-chavez commented on #1446
Check the [role-claim-key](http://postgrest.org/en/v6.0/configuration.html#role-claim-key) config option.

[2020-02-08 12:55] linux-devil opened #1447 "Custom function fails as relation doesnot exist 42P01"
I am trying to write a custom function in postgres as :

`CREATE OR REPLACE FUNCTION public.find_closest(featurecollection json) RETURNS table(device_id integer, latitude double precision, longitude double precision)
as $$
  SELECT deviceid, latitude, longitude
  FROM tc_positions
  WHERE ST_Distance_Sphere(ST_MakePoint(tc_positions.longitude, tc_positions.latitude),ST_MakePoint((featurecollection

[2020-02-08 14:05] nerfpops commented on #1447
It might work if you change `http://localhost:3000/find_closest` to `http://localhost:3000/rpc/find_closest`

[2020-02-08 15:59] linux-devil commented on #1447
Wow , thank you @nerfpops  . Sorry for being ignorant , wish I was able to catch it in a doc somewhere.

[2020-02-08 15:59] #1447 closed

[2020-02-10 15:32] DavidMcGaha opened #1448 "set the request's mode to 'no-cors' to fetch the resource with CORS disabled"
### Environment

* PostgreSQL version: 11.2
* PostgREST version: 6.0.2
* Operating system: Centos 7 (postgrest) /Windows 2008 R2 (web server)

### Description of issue

I am PostgREST out. I am running 2 instances from command line and it will work for several hours or just an hour (some random amount of time) then it quits working and gives error about adding “Access-Control-Allow-*” to headers a

[2020-02-11 15:44] DavidMcGaha commented on #1448
As more info, both instances just ran for exactly 86400 seconds (24 hours exactly).

[2020-02-11 15:44] #1448 closed

[2020-02-11 16:04] steve-chavez commented on #1448
So the root cause of the error was not CORS but that the postgrest instance behind the IIS proxy stopped running?

Make sure you have postgrest set up as a daemon. See http://postgrest.org/en/v6.0/admin.html#daemonizing.

[2020-02-11 16:34] DavidMcGaha commented on #1448
Well, I don't know. Still no resolved. It is not running behind and IIS proxy, but the postgrest instance(s) stopped running(at 24 hours on the nose). Could it be because I am not daemonizing them that they are dying at 24 hours?

[2020-02-11 17:18] steve-chavez commented on #1448
Not sure, but setting it as a daemon is what's usually done for production, definitely try that. After that check if the error the persists.

[2020-02-14 18:53] steve-chavez commented on #1253
Actually the prior snippet works with the `on_conflict` query parameter introduced on https://github.com/PostgREST/postgrest/pull/1432. Like:
[code]

[2020-02-20 13:00] xero88 commented on #1350
Did you solve your issue @sidh01 ? I have the same

[2020-02-20 13:09] sidh01 commented on #1350
I just rebuild my postgrest whenever I have this issue

[2020-02-20 17:59] steve-chavez opened #1449 "OpenAPI output that doesn't consider role privileges"
Basically, users would like to get all the schema info through OpenAPI without caring for privileges. This was also discussed in https://github.com/PostgREST/postgrest/issues/1060 and we get this question on gitter chat from time to time. The workaround is cumbersome — adding a hardcoded high privileged JWT for the root endpoint.

I propose we include a config option called `openapi-follows-acl`,

[2020-02-24 17:53] steve-chavez commented on #1446
@u24b6 Did my suggestion helped?

[2020-02-24 17:54] u24b6 commented on #1446
Yes that should be suitable.

[2020-02-24 17:54] #1446 closed

[2020-02-26 15:16] felixonmars opened #1451 "Support hspec-wai 0.10"
### Environment

* PostgREST version: 6.0.2
* Operating system: Arch Linux x86_64

### Description of issue

Currently postgrest's test suite doesn't build with hspec-wai 0.10 series:

[code]

It would be nice if the new version could be supported.

[2020-03-02 12:48] FGRibreau opened #1452 "Issue with PUT /{ressource} when some view columns are computed"
### Environment

* PostgreSQL version: 12
* PostgREST+ version: 6.0.2.5 (6da7006)
* Operating system: (docker)

### Description of issue

(Expected behavior vs actual behavior)

I edited the postgrest-starterkit to demonstrate the issue, see this PR: https://github.com/subzerocloud/subzero-starter-kit/pull/16/files

We either got 'View columns that are not columns of their base relation are not up

[2020-03-02 17:23] steve-chavez commented on #1452
I see what you mean, the PUT restriction only considers the non-generated/computed table columns.

I think right now PUT is too restrictive to be useful(I prefer to use `resolution=merge-duplicates` because of that), so I can lift that restriction.

[2020-03-02 20:02] mdr1384 commented on #1427
Hi - I was excited to try your change to allow setting `response.headers.location` - so I grabbed [master/de218e9](https://github.com/PostgREST/postgrest/commit/de218e900b4d30b98d2508a71045dadff25118a3) and tried it... but the case where I was getting an unsuitable location (e.g. it included ALL columns rather than just the primary key) -- it is now returning a 500 status code (although it DOES cr

[2020-03-02 20:48] samkhawase commented on #1434
Resolved the issue by creating a fresh Auth0 tenant and new JWKS.

[2020-03-02 20:48] #1434 closed

[2020-03-03 13:17] mxk commented on #922
An alternative to an `/rpc` call is to define an `INSERT`/`UPDATE` trigger and use a custom header to control base64 decoding. An example is below. It would be great to have a way of uploading binary content directly.

[code]

[2020-03-04 00:28] steve-chavez commented on #1427
@mdr1384 That's strange, because I added a test that has an use case similar to yours(overriding Location on trigger):

https://github.com/PostgREST/postgrest/blob/de218e900b4d30b98d2508a71045dadff25118a3/test/fixtures/schema.sql#L1673-L1690

And it has been running succesfully:

https://github.com/PostgREST/postgrest/blob/de218e900b4d30b98d2508a71045dadff25118a3/test/Feature/PgVersion96Spec.hs#L1

[2020-03-05 16:43] mdr1384 commented on #1427
Well, here is my exact code:

[code]

It looks right to me.  Is the `&overridden=true` necessary? Because we don't want that coming out to the user. Also I note you are using `FALSE` for the "is_local" parameter. Not sure why that would matter... I tried it both ways and no difference. [The docs](https://www.postgresql.org/docs/11/functions-admin.html) say "If is_local is true, the new value will

[2020-03-05 16:59] steve-chavez commented on #1427
No. That is just an example for the test suite to check.

Yeah, I should have used true there. But there won't be a difference for the test.

You could ssh into the box and make the request locally to postgrest(`curl -v ... localhost:3000`). Then you'll see if it's indeed responding with the correct headers.

[2020-03-05 17:57] mdr1384 commented on #1427
Oh, yeah, good idea... (smacking head).  So, it gives me:

[code]

Looks like it is trying to set the Location header, but for some reason apache doesn't like it?

[2020-03-05 18:38] steve-chavez commented on #1427
Apache could reject headers values with whitespace: https://blog.tigertech.net/posts/apache-cve-2016-8743/. Also see https://serverfault.com/questions/853103/500-internal-server-ah02429-response-header-name.

Maybe try different headers key-value combinations and see what could be wrong.

[2020-03-05 19:38] mdr1384 commented on #1427
It looks to me like PostgREST is generating two headers with no name and no value, thus ending up with ":" only. It is nothing our schema code is doing, because I can run our schema with the released 6.0.2 and get a valid response with an unsuitable Location header:

[code]
Then if I swap in the latest PostgREST version master/de218e9, with no other changes, I get the bad response:

[code]

I trie

[2020-03-06 00:48] steve-chavez commented on #1427
The large Location header is indeed a problem we should fix, I forgot to correct this so I'll reopen.

The last error message you got means that the JSON was malformed. I can set two different headers with two PERFORMs and it works normally.

It can be error prone to type the JSON, using `json_build_array` like this would be better:
[code]

[2020-03-06 10:12] diyfr opened #1453 "Suggestion: OpenAPI Documentation Tags Section"
### Environment
* PostgreSQL version: All
* PostgREST+ version: 6.0.2.5 (6da700

### Current state
Currently,  Comment on Table
[code]
generate a summary for **all operations** on this resource
[code]
And a description on model
[code]
But summary definition is :

### Feature request

Good practice would be to have a  [tags section ](https://github.com/OAI/OpenAPI-Specification/blob/master/versions

[2020-03-06 17:51] mdr1384 commented on #1427
We're getting off track.  The main issue I am having is that PostgREST is adding invalid headers in the response, which are not a result of us doing SET_CONFIG().  There are 2 of them and both are showing up as empty name and empty value (or possibly spaces only.)  It is only doing it with "master" version, not with released 6.0.2.  And after a while of incrementally simplifying my schema, I found

[2020-03-06 18:24] steve-chavez commented on #1427
What are the 2 headers? Please make an easily reproducible test case.

[2020-03-06 18:48] steve-chavez commented on #1427
@mdr1384 You're right, thanks for catching this. I can reproduce the issue now.

[code]
Two empty headers(`:`) are being added.

[2020-03-06 19:53] mdr1384 commented on #1427
Hey, how come in your test the Location header is correct? In my case the Location header was wrong.
[code]

[2020-03-07 14:12] robx commented on #937
@steve-chavez I haven't seen similar issues, but I'm also not really sure what the issue is here. I.e., there might well be some concrete issue where some wrongly quoted fields cause an unhelpful error message. I'd be happy to address such. As it stands, the issue is very vague to me.

[2020-03-07 17:36] steve-chavez commented on #937
@robx For now, I can reproduce the single quote issue:
[code]

Though the main issue here is related to env var interpolation. In https://github.com/PostgREST/postgrest-heroku/issues/25#issuecomment-547604233 it's mentioned that a config like:

[code]
Would cause the `endOfInput` error reported here, however I cannot reproduce it.

[2020-03-07 18:06] steve-chavez commented on #1451
@felixonmars Fixed in #1456.

[2020-03-07 18:06] #1451 closed

[2020-03-07 18:30] felixonmars commented on #1451
Thanks!

[2020-03-07 22:52] robx commented on #937
So it looks like due to the use of attoparsec any parse error will backtrack back to `endOfInput`. I'll have a look at switching it out for megaparsec.

[2020-03-09 11:53] fenggy commented on #1117
Is there a solution now?

[2020-03-10 16:56] samkhawase commented on #1117
@hughjfchen Could you please share the build details?
I have a scaleway Arm64 server and I could setup a CI build on it.

[2020-03-10 17:00] steve-chavez commented on #1427
@mdr1384 The `Location: /loc_test?id=eq.1&c=eq.c1` happens when the `id` is not defined as primary key(also if the pk constraint has just been added and the schema cache is not updated).

If there's a primary key, we only add the pk column to the querystring `/loc_test?id=eq.1` for the `Location` header, if not we add all of the columns.

I've fixed the empty headers on https://github.com/PostgRES

[2020-03-10 22:08] mdr1384 commented on #1427
I want to, but having trouble at the moment finding a machine where I can build from source...

[2020-03-11 05:48] hughjfchen commented on #1117
I've been building the postgrest docker images for aarch64 recently. You can use it by pulling the images from my docker.io repos:
`docker pull hughjfchen/hughjfchen:postgrest-aarch64-5.2.0`
or:
`docker pull hughjfchen/hughjfchen:postgrest-aarch64-6.0.2`

If you want to play around with my build process, I have a github repos which builds the above images with my home-made shell-script-based CI/CD

[2020-03-11 14:30] mdr1384 commented on #1427
@steve-chavez - I was able to verify your change for #1458 is working. I could override the Location header, without any empty headers being added.

steve-chavez:empty-headers:
[code]

postgrest:master:
[code]

postgrest:6.0.2:
[code]

[2020-03-11 17:41] steve-chavez commented on #1427
@mdr1384 Good! I'll merge the PR then.

Also, does your `lines_sip_quick` table have a primary key?

I was thinking that we should only add the Location header when there's a PK or a UNIQUE constraint that identifies the row.

[2020-03-12 10:10] samkhawase commented on #1117
@steve-chavez Can we setup a CI, and add the ARM64 builds to the official releases?

[2020-03-12 10:18] aadrian opened #1459 "New release v6.0.3 ?"
Hi,

Any chance getting a new official release? e.g. v6.0.3?

Thank you.

[2020-03-12 14:24] herodem opened #1460 "Windows Embbeded"
I have a problem to run postgrest on Windows Embbeded Standard os.

Error message:
The procedure entry point _create_locale could not be located in the dynamic link library msvcrt.dll

Postgresql version: PostgreSQL 12.2, compiled by Visual C++ build 1914, 64-bit
Postgrest version: 6.0.2

[2020-03-12 14:53] steve-chavez commented on #1459
`v7.0` will be released once #1450 is merged. Work there got interrupted because a non-minor bug had to be fixed in https://github.com/PostgREST/postgrest/pull/1458. But we should finish #1450 around next week.

For now you can [build from source](http://postgrest.org/en/latest/install.html#build-source) to get the [latest features](http://postgrest.org/en/latest/releases/upcoming.html).

[2020-03-12 14:53] #1459 closed

[2020-03-12 14:56] steve-chavez commented on #1460
Could you try [building postgrest from source](http://postgrest.org/en/latest/install.html#build-source)?

[2020-03-12 15:08] steve-chavez commented on #937
The config error messages should be more descriptive now that #1457 got merged.

I'll close for now but will reopen if unclear errors are reported again.

[2020-03-12 15:08] #937 closed

[2020-03-12 17:11] steve-chavez commented on #1117
@samkhawase Sure, if you build an arm64 binary in your CI and share it here I could add it to https://github.com/PostgREST/postgrest/releases.

Is that what you had in mind?

[2020-03-12 17:44] mdr1384 commented on #1427
It is not a table. All our endpoints are VIEWS which refer to various tables in a different schema. The main underlying table for the `lines_sip_quick` view is `port` which has a SERIAL PK called `port_id` that is selected directly in the view, but there are many other tables involved and although they all do have primary keys, none of those other PKs are selected **_directly_** into the view. Som

[2020-03-13 16:26] steve-chavez opened #1461 "Large Location header on POST response"
When there' no PK detected on a relation, and the relation columns have huge amounts of data(`text`/`bytea`) the `Location` header included in a response to a POST request can exceed proxies header limit size(4K, 8K, etc). An example in https://github.com/PostgREST/postgrest/issues/1427#issuecomment-595409551 shows:

[code]
Proposed solution: don't reply with a Location header when the created row

[2020-03-13 16:40] steve-chavez commented on #1427
@mdr1384 Cool! Thanks for the good bug report. Btw, you can always [support PostgREST on Patreon](https://www.patreon.com/postgrest) to make sure it keeps improving and bugs keep getting fixed promptly :)

For now I've merged #1458, so I'll close this issue since now it has a workaround.

For avoiding the bad default of responding with the bad Location header I've opened https://github.com/PostgRE

[2020-03-13 16:40] #1427 closed

[2020-03-13 19:49] pkel opened #1462 "Binary Endpoints"
I tried to setup an endpoint for providing binary data. My main motivation is to serve images for `<img>` tags without javascript. I documented my progress in a [PR](https://github.com/PostgREST/postgrest-docs/pull/307) on the documentation repo.

There is one remaining issue. The `raw-media-types` option is not powerful enough to provide a transparent binary endpoint that behaves like a webserver

[2020-03-14 11:11] pkel commented on #1462
I found a nice workaround. For serving images, we need a caching reverse proxy anyway, so we could use it for setting the `Accept` header to `application/octet-stream` on the binary endpoint only. Consider this nginx location:
[code]
This has the additional benefit, that we can share URLs of the form `/files/42/cats.jpg`. This looks a bit more natural than `/rpc/file?id=42`.

This approach does no

[2020-03-14 13:25] hughjfchen commented on #1117
@steve-chavez I can provide the binary for arm64, however, since I build the binary with nix, it will depend on some nix derivations which need to be installed on the target environment. Is this acceptable? If yes, I can tar the binary and its dependencies up and you can add it to the release.

[2020-03-14 17:51] steve-chavez commented on #1117
@hughjfchen Could you make it a statically linked binary? You could try modifying this [nix expression for postgrest 6.0.1](https://github.com/clojurians-org/my-env/blob/master/nix.conf/postgrest-6.0.1/default.nix) which was shared in https://github.com/PostgREST/postgrest/issues/1295. That way it would run in any linux distro(I think most users aren't running nix).

[2020-03-14 18:29] steve-chavez commented on #1462
@pkel Nice nginx snippet. I think that would be good for the how-to in https://github.com/PostgREST/postgrest-docs/pull/307.

I see what you mean about `raw-media-types`, right now it makes all endpoints accept the specified media types(making the default responses fail) when actually you only wanted to apply it for a single endpoint.

Ideally, we would detect the `Content-Type` header was overrid

[2020-03-15 09:35] fenggy commented on #1117
If there's an executable, that's great

[2020-03-16 19:46] steve-chavez commented on #1462
@Dansvidania You did some work on [raw-media-types before](https://github.com/PostgREST/postgrest/pull/1349). Would you be interested in taking this one?(no rush since there's a workaround)

[2020-03-17 13:54] amit151993 commented on #251
@begriffs It worked, thanks

[2020-03-17 17:42] steve-chavez commented on #251
From PostgreSQL >= 10, `GENERATED AS IDENTITY` should be preferred instead of `serial`. That way there's no need for an additional GRANT to the sequence for INSERTing.

Check this for more details: https://www.2ndquadrant.com/en/blog/postgresql-10-identity-columns/

[2020-03-18 03:33] hughjfchen commented on #1117
@steve-chavez , I've been trying to build postgrest statically with the nix expression you linked, however, I'd stuck at the following error:
`
building '/nix/store/5i4lphsaikc4mjzaklcnwhv033l6cyjb-bootstrap-tools.tar.xz.drv'...
warning: unable to download 'https://wdtz.org/files/wjzsj9cmdkc70f78yh072483x8656nci-stdenv-bootstrap-tools-aarch64-unknown-linux-musl/on-server/bootstrap-tools.tar.xz': S

[2020-03-19 19:38] steve-chavez commented on #1117
@hughjfchen Looks like that url is defined here https://github.com/NixOS/nixpkgs/blob/master/pkgs/stdenv/linux/bootstrap-files/x86_64-musl.nix#L8.

Maybe it was a temporary issue? I'm able to download https://wdtz.org/files/gywxhjgl70sxippa0pxs0vj5qcgz1wi8-stdenv-bootstrap-tools/on-server/bootstrap-tools.tar.xz now.

[2020-03-20 05:57] hughjfchen commented on #1117
@steve-chavez , I fixed the 'unable to download' problem by upgrading nix to 2.3.3 which uses a newer version of libcurl. However, I'm now stuck at building the gnu coreutils which says a test case, test-init.sh, failed with an error: Segmentation fault. I don't know how to fix that. The only option which I can think about is try some binary cache from another nix store, maybe static-haskell-nix?

[2020-03-20 17:03] steve-chavez commented on #1117
@hughjfchen On https://github.com/PostgREST/postgrest/issues/1295#issuecomment-517112721 it was mentioned that you could use `cachix use static-haskell-nix`. Maybe with that you can avoid building gnu coreutils locally.

[2020-03-25 21:50] nathancahill commented on #806
I'm also interested in this. There are many ways to deploy where the full URL isn't known before hand, but the basePath is.

[2020-03-26 01:07] hughjfchen commented on #1117
It took me 3 days to install `cachix` which builds everything from scratch. But unfortunately, I cannot use the `static-haskell-nix` binary cache because the `nix` version I'm using is not the same as the `static-haskell-nix` is using.

[2020-03-27 13:44] ppKrauss opened #1466 "No way to change RPC return template?"
The JSON return template for [rpc](http://postgrest.org/en/v6.0/api.html#stored-procedures) of a function that returns JSON is <br/> &nbsp; `[{"functionName":R}]` <br/>but sometimes we need only `R`.

Is it possible, by `postgrest.conf`  or another simple adaptation of PostgREST?

PS: on my [`GET /rpc/add_them?a=1&b=2`](http://postgrest.org/en/v6.0/api.html#immutable-and-stable-functions) it is re

[2020-03-27 16:14] brandon-welsch commented on #1420
Hello, I haven't heard from you since, is it possible to make this one-click?

[2020-03-27 16:51] steve-chavez commented on #1466
Reload the schema cache http://postgrest.org/en/v6.0/admin.html#schema-reloading.

[2020-03-27 16:51] #1466 closed

[2020-03-28 19:11] mxk commented on #1449
There has also been a request (#804) to disable OpenAPI interface altogether. If the ACL change gets implemented, it would be nice to have a third option for turning the interface off completely.

[2020-03-30 18:18] steve-chavez commented on #1420
@brandon-welsch Sorry for the late reply. I didn't had the time to review Scalingo yet. Having multiple roles in the free tier would definitely give us a better demo than Heroku.

Yes. However this brand exposure would be similar to what we offer on our [Sponsor level on Patreon](https://www.patreon.com/postgrest). If Scalingo would be willing to support us, I could add the one-click button in our

[2020-03-30 18:53] steve-chavez commented on #1117
@hughjfchen Argh, I'm really sorry for offering you terrible advice there.

I see you also reported the coreutils issue on https://github.com/NixOS/nix/issues/1973#issuecomment-601551473. Unfortunately, I can't be of further help on this. Solving the coreutils error might require patching upstream.

[2020-03-31 00:34] hughjfchen commented on #1117
@steve-chavez , No need to be sorry, it just looks like that ARM is still a "second tier" target platform for haskell and nix. As you said, I'd already reported the problem upstream. Let's see what'll happen next.
Back to this issue's original title, for a docker image, I think a binary statically linked to its haskell dependencies and dynamically linked to some system libraries, like glibc, libpq

[2020-03-31 05:29] Dansvidania commented on #1462
Thanks for bringing it to my attention. I'm going to check what I can do.

[2020-03-31 12:18] hughjfchen commented on #1117
dtzWill has been updated the upstream and I'm now rebuilding the static binary. Let's see if it can be built successfully.

[2020-03-31 14:58] samkhawase commented on #1117
Thanks @hughjfchen and @steve-chavez for your efforts to provide an ARM image. Can't wait to try it out!

[2020-03-31 18:00] steve-chavez commented on #1106
Solved in #1450!

Basically, the schema to be used can be selected through the `Accept-Profile: schema2` header for GET/HEAD requests. For POST/PATCH/PUT/DELETE requests `Content-Profile: schema2` can be used.

The headers are based on this nascent spec: [Content Negotiation by Profile](https://www.w3.org/TR/dx-prof-conneg/).

[2020-03-31 18:00] #1106 closed

[2020-04-01 15:14] #1443 closed

[2020-04-02 12:50] fortyanov opened #1469 "Incorrect behavior of header `Prefer: params=single-object` on overloaded function"
* PostgreSQL version: 12.1
* PostgREST version: 6.0.2 (713b214)
* Operating system: Ubuntu 19.04

### Incorrect behavior of header ```Prefer: params=single-object```

We have got overridden function
[code]
send request with header
`Prefer: params=single-object`

[code]
returns incorrect response
[code]
after dropping  first function
[code]
and repeat request i have got correct response
[code]

[2020-04-02 17:55] NicolasNunezSahr commented on #953
you can use `nullif(current_setting(...), '')` to return a null if current_setting return an empty string.

[2020-04-02 18:02] steve-chavez commented on #953
Usually `current_setting` needs to be put in a wrapper function to prevent this kind of errors. Like in https://github.com/steve-chavez/socnet/blob/b986782fed651345e53eda358e4e07f197c87b25/schema/util.sql#L11-L14.

[2020-04-02 18:34] towcy opened #1470 "VARIADIC (Functions with variable numbers of arguments) is not supported with any array type"
### Environment

* PostgreSQL version: 11
* PostgREST version: 6.0.2
* Operating system: Ubuntu 18.0.4

### Description of issue
URL: http://127.0.0.1:3000/rpc/test?col1=val1&col2=val2
Error Details: You might need to add explicit type casts.","details":null,"code":"42883","message":"function public.callback(col1 => text, col2 => text) does not exist"}
Function Header: CREATE OR REPLACE FUNCTION p

[2020-04-02 19:10] steve-chavez commented on #1470
Yes, that way of calling the function is not supported. Mostly because we only support calling the function through named parameters. You cannot call the variadic in pg like:

[code]

So, we should support calling the variadic like:
[code]
But that's not working for a variadic somehow.

You can make it work for a regular array input though:
[code]

[code]

Be sure to reload the schema cache when t

[2020-04-03 17:08] steve-chavez commented on #1469
Hmm.. I cannot reproduce. I get:

[code]

Consistently, on both 6.0.2 and master version. Even after `DROP FUNCTION test(text, text);`.

Not saying the above output is right though, I think the top key `test` shouldn't appear in the json.

[2020-04-03 18:29] steve-chavez commented on #1227
It would be even better if someone can help creating a FreeBSD port. There was an [initiative](https://twitter.com/postgrest_org/status/1189898706826473472) but it didn't got finished.

[2020-04-04 00:17] ppKrauss commented on #1466
Hi @steve-chavez

How to `killall -SIGUSR1 postgrest` (error "postgrest: no process found") for a Docker process?

Documentation (your  link) need some alert about Docker's Schema Reloading

[2020-04-04 02:54] clojurians-org commented on #1295
i will handle it in three days

[2020-04-04 10:20] fenggy commented on #1117
Thanks @hughjfchen and @steve-chavez

[2020-04-04 13:21] jpagex commented on #1466
You can run either `docker kill -s SIGUSR1 CONTAINER` or `docker-compose kill -s SIGUSR1 SERVICE`.

[2020-04-04 23:54] hughjfchen commented on #1117
Unfortunately, I haven't be able to get a fully statically linked binary for ARM platform, yet. I still stuck at building the coreutils and waiting for the upstream.

[2020-04-05 20:47] dwagin commented on #1469
This is the bug

The problem is that the type of return value is not determined correctly:
First function return composite type and returnsScalar must be false
Second function return scalar type and returnsScalar must be true

When both functions are present in the database call second function returnsScalar is false, but must be true.
When only second function are present in the database all fine

[2020-04-05 20:52] dwagin commented on #1429
Use asymmetric crypto ed25519 etc, with asymmetric keys postgrest need only public key.

[2020-04-05 21:02] dwagin commented on #1227
Main problem FreeBSD ports don't support building via stack, it support only cabal.
But my attempts compile from sources using cabal = failed.

[2020-04-06 15:40] steve-chavez commented on #1227
@dwagin Oh, I didn't know that. Maybe the archlinux package PKGBUILD can be of help: https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/postgrest. Looks like it only uses `runhaskell`.

[2020-04-06 21:45] Pigeo commented on #1009
I solved the problem.
In my case, it was because I had created the schema and the table in another database than the default one (postgres). If you do so, don't forget to change the name of the database at the end of the URL : db-uri = "postgres://authenticator:mysecretpassword@localhost:5433/YOUR-DATABASE-NAME"

[2020-04-07 18:14] steve-chavez commented on #1214
Just uploaded an old project of mine that implements a PostgREST-like api for MS SQL Server: https://github.com/steve-chavez/mssqlREST. Not suited for a public API, but could serve as a guide to implementing your own solution. The [auth](https://github.com/steve-chavez/mssqlREST#authentication) section might be of interest.

[2020-04-09 19:17] robx opened #1474 "Add PostgREST to stackage?"
Not sure whether this is a net win for you, but: Now would be a great time to get PostgREST (back?) into stackage. Potential benefits would be:

- easier inclusion in some distributions, e.g. I remember Guix/Nix tracking stackage
- stackage would help ensure dependency upgrades don't break the postgrest build (and/or you'd have stackage maintainers poking you when updates cause trouble)

I just ch

[2020-04-12 15:11] linux-devil opened #1477 "Unexpected behaviour of postgres function ."
psql (PostgreSQL) 10.12 (Ubuntu 10.12-0ubuntu0.18.04.1)
post
grest-v6.0.2

I just wrote a new function after adding another table into my schema

`CREATE OR REPLACE FUNCTION public.find_closest_new(lat double precision,lon double precision) RETURNS table(device_id integer, latitude double precision, longitude double precision,name character varying(128))
as $$
  SELECT deviceid, latitude, longitud

[2020-04-12 15:29] ruslantalpa commented on #1477
Restart postgrest after each schema change

[2020-04-12 15:52] linux-devil commented on #1477
Done that.

[2020-04-12 15:58] linux-devil commented on #1477
Also I did double check on query and inner join etc. it works absolutely fine in psql

[2020-04-12 17:56] steve-chavez commented on #1477
@linux-devil Try calling the function like:

[code]

`params=single-object` is for when your function signature has a single json parameter.

[2020-04-12 18:12] linux-devil commented on #1477
Thanks a ton @steve-chavez  this was really helpful , as my previous function was working , I wrote current version on the same line.

[2020-04-12 18:12] #1477 closed

[2020-04-12 20:41] TheCollegedude opened #1479 "Cannot run in this PostgreSQL version, PostgREST needs at least 9.4"
I have Postgres 9.3 and I cannot upgrade because our product comes with Ubuntu 14.04 LTS with realtime kernel and there are already too many to upgrade. The documentation of PostgREST promised me it would with 9.3, but it says:

Cannot run in this PostgreSQL version, PostgREST needs at least 9.4

[2020-04-13 15:01] Dansvidania commented on #1462
@steve-chavez What is the expected relation between ```raw-media-types``` and ```raw-media-endpoints``` ?

I imagine ```-types``` could stay for retro-compatibility and be applied as a default for any endpoint that does not have a definition in ```-endpoints```. Or, since the ```-types``` is a special case of ```-endpoints``` the two config options could be mutually exclusive?

for example
[code]

[2020-04-13 16:11] steve-chavez commented on #1479
Oh, sorry about that. I'm guessing you saw this on tutorial 0: http://postgrest.org/en/v6.0/tutorials/tut0.html#step-2-install-postgresql, that part got outdated.

In http://postgrest.org/en/v6.0/install.html#postgresql-dependency, we mention that 9.5 or greater is required.

You may try some of the older releases, I think [v0.4.4.0](https://github.com/PostgREST/postgrest/releases/tag/v0.4.4.0) or

[2020-04-13 16:32] steve-chavez commented on #1462
@Dansvidania I think we should aim at replacing `raw-media-types` with `raw-media-endpoints`. For the reason mentioned [here](https://github.com/PostgREST/postgrest/issues/1462#issuecomment-599116796)(makes default responses fail). So mutually exclusive it is.

Also, we should deprecate `raw-media-types` after `raw-media-endpoints` is implemented.

[2020-04-13 17:03] steve-chavez commented on #1474
@robx Yes, thanks to you! Without your help I wouldn't been able to keep up with dependencies and GHC upgrades on this new release.

I think that would be good. Though right now I'm not finished with latest release stuff(docs, binaries). Once I'm done with that I'll check the stackage procedure.

[2020-04-14 15:20] monacoremo commented on #756
With https://github.com/NixOS/nixpkgs/pull/85206 and https://github.com/NixOS/nixpkgs/pull/85230 it should soon be possible to install PostgREST 7.0.0 with `nix-env -iA haskellPackages.postgrest`! :-) It already works locally for me on the patched branch.

[2020-04-14 15:28] monacoremo commented on #756
To build the project and run the test suite locally and in CI we should add a `default.nix` and/or `shell.nix` to the root of the repository. I'm tying to put something together with `cabal2nix`, `cabal-install`, `ghcWithPackages` etc. We could use that setup in parallel to the current stack solution for a bit, also in CI, and see how useful it is - what do you think?

[2020-04-14 15:44] steve-chavez commented on #756
@monacoremo That would be great! Please do.

[2020-04-14 19:05] steve-chavez commented on #1438
@a-mckinley One simple way could be naming the constraint as descriptively as possible. I've seen this used on sql server https://stackoverflow.com/a/12920655/4692662. So like:

[code]

[code]
(you'd have to work a bit to extract the text from the message, but should be doable since the error message is regular for every table)

pg constraints names are scoped by table, so it would be fine if you

[2020-04-15 17:47] steve-chavez commented on #1474
@robx Could you help me with maintaining the stackage package? Maybe you could add yourself as a maintainer on https://github.com/commercialhaskell/stackage/blob/master/build-constraints.yaml .

[2020-04-15 18:06] steve-chavez commented on #1474
Also, do you think upgrading to stackage `lts-15.8` would cause issues? In https://github.com/PostgREST/postgrest/pull/1483 we're trying to make pgrst work better with Nix and `lts-15.8` is better supported by nixpkgs.

[2020-04-15 19:45] robx commented on #1474
Sure, in process!

[2020-04-15 19:46] robx commented on #1474
I'll give it a shot. I remember we had trouble a while back because newer stackage versions pulled in newer GHC which gave memory trouble, but I think that's the only argument against.

[2020-04-17 17:41] steve-chavez commented on #1373
Is the same issue still present with the latest [v7.0.0](https://github.com/PostgREST/postgrest/releases/tag/v7.0.0) version? Can anyone confirm?

[2020-04-17 17:43] steve-chavez commented on #1460
I believe this is the same issue as #1373. Let's continue there.

[2020-04-17 17:43] #1460 closed

[2020-04-18 17:41] steve-chavez commented on #1474
Thanks a lot for taking care of this @robx.

Since you'll be helping us maintain PostgREST, begriffs has sent you an invitation to the postgrest github org.

Thanks again and Welcome!

(p.s. If you have anything you'd like to tell me privately, you can contact me at my email(on profile) or at gitter chat http://gitter.im/steve-chavez)

[2020-04-18 17:41] #1474 closed

[2020-04-18 19:26] robx commented on #1474
Thanks!

[2020-04-18 23:18] theonewolf commented on #1130
It would be **really** awesome if we could load JWK key sets from URLs instead of local files such as:

https://www.googleapis.com/robot/v1/metadata/jwk/securetoken@system.gserviceaccount.com

This would prevent operator error in remembering to rotate those key sets once they expire as well---PostgREST should be able to reload them from the URL on expiration.

[2020-04-21 19:26] monacoremo commented on #1295
I contacted @nh2 for some insights on using his `static-haskell-nix` project and he generously offered to support us in getting static PostgREST builds to work. I'll open an issue on https://github.com/nh2/static-haskell-nix when I have a first draft for building a static 7.0.0

[2020-04-22 10:22] monacoremo commented on #1295
Got a first version working here: https://github.com/monacoremo/postgrest-static-test/tree/4788c6bdb398564083802c3eb79b18f1935e243f

[postgrest-7.0.0-static.tar.gz](https://github.com/PostgREST/postgrest/files/4515457/postgrest-7.0.0-static.tar.gz)

Note: not yet built with integer-simple, which could be an LGPL issue?

[2020-04-22 16:28] monacoremo commented on #1295
@steve-chavez building those static executables from scratch takes ages, but we could get pretty quick incremental builds if we set up cachix in CI. With CACHIX_SIGNING_KEY configured as an environment variable in CircleCI, we could run something like this:

[code]

[2020-04-24 12:44] brentybh opened #1500 "Option "openapi-server-proxy-uri" missing in v7.0.0"
### Environment

* PostgREST version: v7.0.0

### Description of issue
#### Expected behavior: v7.0.0 Changed
#1413, Change `server-proxy-uri` config option to openapi-server-proxy-uri - @steve-chavez

#### Actual
Config option `openapi-server-proxy-uri` is not effective.
`server-proxy-uri` is effective.
Thus same behaviour as before.

@brentybh You're right. This somehow slipped by during a rebas

[2020-04-25 00:05] brentybh commented on #1420
I tried it but it seems not possible to create custom roles with the default user...

[2020-04-27 19:02] steve-chavez commented on #1130
For the meantime, @rockodragon shared a nodejs solution on gitter chat: https://gitter.im/begriffs/postgrest?at=5ea5106b568e5258e4852dbc

[2020-04-28 15:15] pascal-de-ladurantaye commented on #1500
+1
It seems to be completely broken if trying to use this option as an environment variable in a docker deployment.
PGRST_SERVER_PROXY_URI does not work on tag `v7.0.0` but works on `v6.0.2`
PGRST_OPENAPI_SERVER_PROXY_URI does not work on tag `v7.0.0`

For now, I had to revert our deployment to `v6.0.2`

[2020-04-28 15:46] steve-chavez opened #1508 "Content-Profile not working for POST RPC(only Accept-Profile)"
This was found on https://github.com/supabase/postgrest-js/commit/366df9376175a790580a133305b15b989a149d36#diff-1fdf421c05c1140f6d71444ea2b27638R36-R41.

For reproducing the issue:

[code]

Content-Profile should be `v2`. And the body should be:

[code]

`Accept-Profile` is working though. But `Content-Profile` should be used for POST according to the spec and our docs.

[2020-04-28 16:51] steve-chavez commented on #1244
Just to be clear here, `@` should be urlencoded as `%40` when used in the connection string.

PostgREST depends on `libpq`, which defines the structure of the connection URI here: https://www.postgresql.org/docs/12/libpq-connect.html#id-1.7.3.8.3.6.

[2020-04-29 11:06] fenggy commented on #1373
unfortunately，same in v7.0.0.0。

[2020-04-29 15:20] steve-chavez commented on #1445
Pandoc is already on chocolatey https://chocolatey.org/packages/pandoc. Maybe it could serve as an example of how to do this.

[2020-04-30 19:33] steve-chavez opened #1512 "PostgREST watch mode"
The idea is to provide a `watch: true` config option that reloads the schema cache without the need for restarting or sending a SIGUSR1 to pgrst from another process. This would make it more ergonomic for development.

Since our schema cache queries are fast (take 400 ms on a big schema)  I think we can just re-run the queries on every request. It could be possible that some requests respond with

[2020-05-01 18:49] steve-chavez commented on #1469
I can now reproduce. Here's a test case that could be put in our `fixtures/schema.sql`.

[code]

When calling the latter function, we get:

[code]

And when dropping the former function `drop function get_custom_type (text, text);` we get the correct result without the wrapping `get_custom_type`.

For now, the workaround would be having the json param function like:

[code]

This is kind of an edg

[2020-05-01 19:30] steve-chavez commented on #1373
I'm wondering if somehow our appveyor build image got updated to use `Visual Studio 2019`. See: https://www.appveyor.com/docs/build-environment/#choosing-image-for-your-builds.

We could try specifying the image in our appveyor config. Most likely we we're building with `Visual Studio 2015` before.

[2020-05-02 16:51] #1500 closed

[2020-05-02 16:51] #1508 closed

[2020-05-02 16:51] #1452 closed

[2020-05-03 03:04] theonewolf commented on #1512
@steve-chavez is there any way we could signal Postgrest from within PostgreSQL?  That way we could tell it to reload for a period of time, but not for every request.  Maybe this was your idea though (I wasn't sure where this config would live).

Huge thumbs up on this idea.  I'm testing Postgrest in environments where I can't easily send it a SIGUSR1---things like Google's Cloud Run (managed cont

[2020-05-03 03:08] theonewolf commented on #1130
@rockodragon thanks!  I made something similar in Python, but don't have a great place to run it right now.

[2020-05-04 11:55] Hedgehogues opened #1514 "Add authentication to swagger"
### Environment

* PostgreSQL version: latest
* PostgREST version: latest
* Operating system: Ubuntu 18.04

### Description of issue

Hello. I start postgrest with next docker-compose:

[code]

and next postgrest config:

[code]

I go to the swagger and I cannot post new item therefore swagger has not header with authentication:

![image](https://user-images.githubusercontent.com/4973667/80963263-

[2020-05-04 12:00] neonerd commented on #1461
I've also encountered this bug when POSTing to a VIEW of a table that has a "json" type column, the redirect URL returned in Location header seemed to be invalid (as it was trying to do a very convoluted eq.{json_value} filtering).

I'd just like to add here that this is a bit of a problem when using the private / public schema approach suggested in documentation, with only VIEWs in public schema

[2020-05-04 16:52] steve-chavez commented on #1514
@Hedgehogues There are some solutions in https://github.com/PostgREST/postgrest/issues/1082. Let's continue there.

[2020-05-04 16:52] #1514 closed

[2020-05-04 17:04] steve-chavez commented on #1512
@theonewolf One possible solution would be to make postgrest [LISTEN](https://www.postgresql.org/docs/12/sql-listen.html) on a channel. Then from psql:

[code]
And this would reload the schema cache.

That could be offered in addition to the unix signals. It seems possible in principle, I believe the `authenticator` role doesn't need any extra privilege for that.

[2020-05-04 17:58] steve-chavez commented on #1373
@fenggy Could you try this postgrest.exe? I've built it with a different visual studio image.

[postgrest.zip](https://github.com/PostgREST/postgrest/files/4576342/postgrest.zip)

[2020-05-05 21:01] hivemall commented on #957
Resurrect: Will there be a debian image, if not is ubuntu binary debian suitable. If not are source builds transferable from eg deb10 to deb10 ?

[2020-05-05 23:48] hivemall opened #1515 "bad test script"
do you expect this to run for a createdb user in his default database? `test/create_test_db`
ERROR: Please specify the user with 'Create DB' permissions, and ensure that the default database for the username exists.

having solved above i get:
[code]

what you should do is `select rolcreatedb from pg_roles where rolname = current_user;` and your script might actually run.

you might be interested

[2020-05-05 23:57] hivemall commented on #1515
is not obligatory!

[2020-05-05 23:57] #1515 closed

[2020-05-06 15:38] steve-chavez commented on #756
Thanks to @monacoremo is now possible to build and test PostgREST with Nix!

For more details, check [nix/README.md](https://github.com/PostgREST/postgrest/blob/master/nix/README.md).

[2020-05-06 15:38] #756 closed

[2020-05-06 20:25] hivemall opened #1517 "systemd watchdog support?"
Critical services should restart if failed. Does postgrest have systemd watchdog support to specify in unit file like
[code]

[2020-05-06 21:59] tomberek commented on #1159
i was curious what the latest was on good frontends to use with PostgRest. Any good case study or updates to starter kits?

[2020-05-06 22:24] christiaanwesterbeek commented on #1159
@tomberek Without a doubt that was and still is [react-admin](https://github.com/marmelab/react-admin)! But for new projects I would use react-admin with [postgraphile](https://www.graphile.org/postgraphile/) and [ra-postgraphile](https://github.com/BowlingX/ra-postgraphile) instead of PostgREST.

[2020-05-07 16:29] steve-chavez commented on #1517
Not currently, but I think it can be added.

Looks like the systemd [watchdog](https://www.freedesktop.org/software/systemd/man/systemd.service.html#WatchdogSec=) requires calling [sd_notify](https://www.freedesktop.org/software/systemd/man/sd_notify.html#).

There's a library that already provides this for Haskell: https://hackage.haskell.org/package/systemd-2.3.0/docs/System-Systemd-Daemon.html#

[2020-05-08 09:41] hivemall commented on #1517
putting on hold on my side due option `ExecStopPost=mybin_to_check_exit_status_on_any_exit`.
But yes it would send sd_notify, eg python: `systemd.daemon.notify(status='WATCHDOG=1')`

[2020-05-08 20:17] steve-chavez commented on #1227
@dwagin Building with cabal is now possible!

I've added a CI for FreeBSD that has the steps to build postgrest. See here: https://github.com/PostgREST/postgrest/blob/master/.cirrus.yml#L30-L34.

The CI will also ensure that we keep building successfully on FreeBSD.

It'd be great if you could help us with a FreeBSD port!

[2020-05-10 21:01] dwagin commented on #1227
@steve-chavez I think I'm making some progress.
Which architectures are suitable for postgrest? i386, amd64?

[2020-05-10 21:06] dwagin commented on #1227
[hs-postgrest-7.0.0.log](https://github.com/PostgREST/postgrest/files/4606749/hs-postgrest-7.0.0.log)

[2020-05-11 02:48] sihcpro opened #1518 "Cannot DISAMBIGUATE follow the hint"
### Environment
* **Operating system**: MacOS -  Sierra - Version 10.12.6
* **PostgreSQL version**: 11.4 +
* **PostgREST version**: docker: postgrest/postgrest:v7.0.0
* **Python version**: Python 3.7.7
* **Platform**: Sanic
* **Do you use pgbouncer?**: No
* **Did you install with pip?**: Yes

### Description of issue

I have a table `member` in schema `A`
I also have a table `user` in schema `B`
T

[2020-05-11 08:09] W1M0R opened #1519 "Accept-Profile resolves to resource in incorrect schema"
### Environment

* PostgreSQL version: postgres:12
* PostgREST version: postgrest/postgrest:v7.0.0
* Operating system: Alpine 3.10
* Environment Variables: PGRST_DB_SCHEMA="public,private"

### Description of issue

I have two schemas: `public` and `private`. The `public` schema contains a view called `users` and the `private` schema contains a table called `users`. To return the `private` `users`

[2020-05-11 13:11] savv commented on #1139
I just ran into this issue on 6.0.2. In my case, postgrest and the token generator (=another server) run on the same machine, which makes me suspect that the issue was on PostgREST's side.

[2020-05-11 16:19] bwbroersma commented on #1518
Can you share the (minimum) SQL for the tables `A.member`, `B.user` and the view `B.member`?

Did you read the [Embedding Disambiguation](http://postgrest.org/en/v7.0.0/api.html#embed-disamb) in the manual?

PS. why are you mentioning python & pip in your PostgREST install environment?

[2020-05-11 16:57] steve-chavez commented on #1227
@dwagin Great news!

I think amd64 would be good enough.

In case you're wondering, here's a complete list of what platforms GHC supports: https://gitlab.haskell.org/ghc/ghc/-/wikis/platforms.

[2020-05-11 17:04] steve-chavez commented on #1519
It looks like a bug. Can you share a sample schema so I can reproduce the issue?

[2020-05-11 19:18] W1M0R opened #1520 "No OpenAPI documentation for user-defined types as function parameters"
### Environment

Environment
PostgreSQL version: postgres:12
PostgREST version: postgrest/postgrest:v7.0.0
Operating system: Alpine 3.10

### Description of issue

When a function takes a user-defined type, I would expect the OpenAPI documentation to show the input model with the relevant field comments. Instead, using the Swagger UI, it shows that the model is of type 'string' instead of the user

[2020-05-11 19:23] W1M0R commented on #1519
You can try:

[code]

[2020-05-11 19:37] dwagin commented on #1227
[FreeBSD Bugzilla – Bug 246383 Submitted](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=246383).

[2020-05-12 02:46] fenggy commented on #1373
sorry，The same question

[2020-05-12 11:55] dzelge commented on #1519
My rough guess is that postgrest expands the SEARCH_PATH also for a list of schemas.
The docs state that this is been done for a single entry in the conf ```db-schema```.

[code]

[2020-05-12 12:19] dzelge opened #1521 "Feature Request Configure to Exclude Schemas"
### Environment

* PostgreSQL version: 10+
* PostgREST version: 7
* Operating system: Any supported

### Description of issue

We are running postgrest in an environment with a quickly increasing number of tenants that get access to a PostGIS database. It seems difficult at this stage using the configuration option ```db-schema``` as we will have to change db-schema each time a tenant is added. We

[2020-05-12 12:24] nerfpops commented on #1520
I think this might be related to #1377

[2020-05-12 16:03] steve-chavez commented on #1227
@dwagin Nice! Let me know when the patch is merged and I'll include the FreeBSD port on the install page: http://postgrest.org/en/v7.0.0/install.html.

[2020-05-12 17:09] steve-chavez commented on #1519
@W1M0R Could you include the requests(`curl`, `httpie`, etc) and the unexpected responses?

I'm trying to reproduce but I get the expected responses:
[code]

[2020-05-12 17:35] steve-chavez commented on #1518
@sihcpro Also, include the PostgREST `db-schema` you're using(or `PGRST_DB_SCHEMA` if using docker).

[2020-05-12 18:00] steve-chavez commented on #1519
@dzelge Just to clarify, the `search_path` is only expanded for a single schema. Even when `db-schema` contains a list of schemas. This is mentioned in the [db-schema docs](http://postgrest.org/en/v7.0.0/configuration.html#db-schema)(last part):
[code]

[2020-05-12 18:03] steve-chavez commented on #1520
@nerfpops True, it's the same underlying problem.

@W1M0R Let's continue the issue on #1377.

[2020-05-12 18:03] #1520 closed

[2020-05-12 18:31] #1295 closed

[2020-05-12 22:00] steve-chavez commented on #1521
@dzelge I see what you mean, db-schema must be more dynamic for schema based multi-tenancy.

Not sure about the config option yet, but maybe we could reuse the pg [LIKE pattern](https://www.postgresql.org/docs/12/functions-matching.html#FUNCTIONS-LIKE). The config could be like `db-schema=%tenant%`.

Would that work for matching your tenants names?

Btw, even with a config like this, postgrest sch

[2020-05-13 08:18] dzelge commented on #1521
@steve-chavez

Yes, a LIKE pattern will suffice if that makes things easier for you. I'd be very happy with that.
I don't mind having to reload the cache. That's just the way it is. Hard to change.

Cheers

H

[2020-05-13 12:26] W1M0R commented on #1519
@steve-chavez Thanks for the feedback. I am iterating quickly on my side, and don't have an example ready for you, however, your results indicate that I must have had an issue on my side. I tried to duplicate it again, but couldn't. Really sorry for wasting your time.

[2020-05-13 16:23] steve-chavez commented on #1519
@W1M0R No problem.

I thought there could be a bug because you use the `public` schema for your API and there might be a weird interaction with [db-extra-search-path](http://postgrest.org/en/v7.0.0/configuration.html#db-extra-search-path)(this includes the `public` schema on the `search_path` by default). But I didn't find any issue when doing some tests.

I'll close for now. If you still find the

[2020-05-13 16:23] #1519 closed

[2020-05-13 17:06] steve-chavez commented on #1373
Hmm.. that's too bad. The way forward I see for now is to package postgrest with chocolatey or scoop. See https://github.com/PostgREST/postgrest/issues/1445.

[2020-05-13 20:27] W1M0R opened #1523 "Support for Postgres 11/12 Procedures?"
Does postgREST support procedures as offered in Postgres 11 and 12? I can't get it to work, and also can't find anything in the documentation.

An example procedure:
[code]

Ideally it should be exposed to /rpc/login accepting username, password and returning result.

The benefit of procedures over functions is that procedures offer transactional control statements such as commit and rollback.

[2020-05-13 21:07] W1M0R commented on #1523
Closing this issue in favour of #1210.

[2020-05-13 21:07] #1523 closed

[2020-05-13 21:16] W1M0R commented on #917
Is it possible to set the http status without throwing an exception?

My login function logs successful and failed login attempts into a different table. However, throwing an exception inside the login function causes transaction rollback to happen, losing my 'commits' to the login attempts table.

The proposed solutions on stackoverflow and elsewhere are not ideal (i.e. using dblink or pg 11/12 p

[2020-05-14 17:20] steve-chavez commented on #917
@W1M0R Could you open another issue with the feature request? Maybe a `SET LOCAL response.status = 400` could be offered.

[2020-05-14 17:27] W1M0R commented on #1210
@steve-chavez There can be a few reasons for the `invalid transaction termination` error. First of all, for `commit/rollback` to work, the root routine that calls the procedure, must be a procedure itself. If, let's say, there is a `runUserFunction` that itself is made with `create function` and it does `call user_routine`, then `user_routine` will fail if it is a procedure and it does a commit.

[2020-05-14 20:00] steve-chavez commented on #1210
@W1M0R The main issue is that procedures can't do nested transactions. See https://dba.stackexchange.com/a/249453/158470.

Until that issue is solved in pg, stored procedures cannot be supported in postgrest(for the above reasons).

[2020-05-15 06:08] W1M0R commented on #1210
@steve-chavez Don't procedures just do nested transactions differently, i.e. instead of begin/end, they just `call` other procedures.

From: https://www.postgresql.org/docs/12/plpgsql-transactions.html

[2020-05-15 06:18] W1M0R opened #1525 "Feature Request: Set HTTP response code and body without needing to throw an exception."
Currently, in order to set the HTTP response code and response body, a user-defined function must throw an exception. When a function throws an exception, a rollback is triggered, undoing everything that the function did. If a function wants to log data into a table, i.e. let's say failed login attempts, before returning with a HTTP 401/403 status, then the rollback will prevent the failed login a

[2020-05-15 15:26] steve-chavez commented on #1210
@W1M0R To put it concisely, if this can be made to work:

[code]
Then postgrest could support calling procedures.

[2020-05-15 16:42] steve-chavez commented on #1525
I see the disadvantages about `RAISE`. I don't see why `response.status` cannot be offered as an alternative. It also looks more consistent with our other conventions. So I think it can be added.

A login function to return the 4xx status and the body could be like:

[code]

[2020-05-15 21:24] W1M0R commented on #1210
Here is a message dated 2019-08-26 that confirms what you are saying, i.e. that this is indeed a current restriction of Postgres: https://www.postgresql.org/message-id/flat/99b87249-d08c-8082-340e-84273150b59e%402ndquadrant.com#74880e948075c03e3e209a60dd33af06

The problem lies in having to wrap the procedure call inside the transaction. Forgive my lack of understanding, but is it not possible to

[2020-05-15 21:29] W1M0R commented on #1525
That looks perfect to me.

That solution will also satisfy the use case where a Hasura Action calls a PostgREST endpoint, e.g. /rpc/signin, but in order for Hasura to understand and report the error, it expects a specific response payload, e.g:

[code]

[2020-05-16 16:10] steve-chavez commented on #1210
Yes, but the problem is that we need to ensure the `SET LOCAL ROLE anon` is done. This is integral to postgrest auth: http://postgrest.org/en/v7.0.0/auth.html#authentication-sequence.

Besides from that, all of our HTTP logic wouldn't work too: http://postgrest.org/en/v7.0.0/api.html#http-logic. Those features relies on a bunch of SET LOCALs.

We cannot ensure the user created procedure would do t

[2020-05-16 18:39] sevagh opened #1526 "Feature Request: metrics or instrumentation"
It would be nice to have a `/metrics` endpoint that exposes Prometheus-style metrics.

Note that I might be opinionated for working mostly with the Prometheus ecosystem - perhaps a more general metrics library, with different exposition formats to choose from, could work? I also don't know which existing Haskell metrics libraries or Prometheus libraries exist or are good (but hackage shows there m

[2020-05-16 19:39] W1M0R commented on #1210
Thanks for helping me understand the broader issues of the problem @steve-chavez.

[2020-05-17 23:04] baditaflorin opened #1527 "How do you install postgREST?"
### Environment

* PostgreSQL version: 12
* PostgREST version: 7.0.0
* Operating system:
Linux Mint 19.3

### Description of issue
[code]
(Expected behavior vs actual behavior)

Expected to be able to run the file.

(Steps to reproduce: Include a minimal SQL definition plus how you make the request to PostgREST and the response body)

[2020-05-18 06:44] gamesbook commented on #1527
I downloaded the `postgrest-v7.0.0-ubuntu.tar.xz` but when I try:

[code]

I get:

[code]
(running Mint 19.1)

[2020-05-18 09:53] dzelge commented on #1521
@steve-chavez What your plan on this? Can I contribute? Not very proficient with Haskell tho.

[2020-05-18 14:57] steve-chavez commented on #1527
@baditaflorin @gamesbook Try the previous version static bin:

https://github.com/PostgREST/postgrest/releases/download/v6.0.2/postgrest-v6.0.2-linux-x64-static.tar.xz

[2020-05-18 15:34] steve-chavez commented on #1521
@dzelge I'm going to release a patch version with some bugfixes we have accumulated. After that I'll see about implementing new enhancements.

Would you like to prioritize this feature? If so, you could help me by [supporting PostgREST development!!](https://github.com/PostgREST/postgrest#supporting-development) We could have the feature implemented early(this week) and then I could provide you an

[2020-05-19 13:46] monacoremo opened #1530 "Git revision shows as 'UNKNOWN' in help text"
With the static builds, the Git revision is shown as UNKNOWN:

[code]

This is because we don't include the .git directory in the source files and `gitrev` cannot find the reference. We could try to
* work around this by including parts of the .git directory (probably quite messy)
* find another way to pass the revision into the build process, or
* remove showing the revision from the help text an

[2020-05-19 14:10] steve-chavez commented on #1527
New version is already available: https://github.com/PostgREST/postgrest/releases/download/v7.0.1/postgrest-v7.0.1-linux-x64-static.tar.xz.

Will make clear in the docs that this binary should be preferred now.

[2020-05-19 14:10] #1527 closed

[2020-05-19 15:06] ancoron opened #1531 "slash character in DB password leads to: Invalid port number"
### Environment

* PostgreSQL version: `bitnami/postgresql:12`
* PostgREST version: `7.0.0`
* Operating system: Debian Buster

### Description of issue

Configure the `db-uri` to something like the following:
[code]

PostgREST fails to start up:

`stdout`:
[code]

`stderr`:
[code]

I think it shouldn't restrict me on the strength of the passwords.

[2020-05-19 15:13] ancoron commented on #1531
Sorry, my bad... of course, it has to be URL-encoded:
[code]

[2020-05-19 15:13] #1531 closed

[2020-05-19 16:26] steve-chavez commented on #1530
The original motivation from https://github.com/PostgREST/postgrest/pull/1022:

Until now, I've seen most users reporting issues with official pgrst releases, whether from Docker or binary. I think there were some custom binaries but I don't see a major issue in letting the user get the git sha manually.

The sha is nice to have but if it causes issues I don't see a strong reason for not to remove

[2020-05-19 16:52] monacoremo commented on #1530
I'll submit a PR that patches it out!

[2020-05-20 19:10] #1530 closed

[2020-05-21 02:37] awalias commented on #1521
Also would love to have dynamic db_schema updating!

Adding/removing by name would be my preference, if needed I can even write them to the `postgrest.conf`, but would still need a way to re-read config without restarting postgrest, I don't know if that's possible?

I recently implemented the SIGUSR1 method of updating the schema cache on table updates so would happily use the same method on addit

[2020-05-21 03:47] sihcpro commented on #1518
Now I understand what is the problem:
Example:
Table C have column `b_id` and column `a_id` that contain `_id` of table B and `_id` of table A. There are 2 foreign keys are created: "a_fk" and "b_fk"
When I create a `VIEW` named D from table C, include columns `b_ic` and `a_id`. 2 foreign keys in table C are duplicated. And now we have 4 foreign keys. 2 "a_fk" and 2 "b_fk".
Now when I join table A

[2020-05-21 16:39] steve-chavez commented on #1518
@sihcpro [Hint disambiguation](http://postgrest.org/en/v7.0.0/api.html#hint-disambiguation) may help for that case(since it involves VIEWs).

The text description is a bit hard to follow, we could be more helpful if you shared the DDL(CREATE TABLE, CREATE VIEW).

[2020-05-22 15:43] steve-chavez commented on #1373
@fenggy Could you try installing the [Microsoft VC++ 2015 redistributable](https://www.microsoft.com/en-us/download/details.aspx?id=48145) and see if it fixes the problem?

Also try the latest release https://github.com/PostgREST/postgrest/releases/tag/v7.0.1.

[2020-05-22 20:06] steve-chavez commented on #822
Looks like this was already fixed in https://github.com/PostgREST/postgrest/commit/d6a848c8859f3ec7c37d5efab6bc02d5d60ec5cb but github somehow didn't close the issue.

[2020-05-22 20:06] #822 closed

[2020-05-25 08:42] Matshakan commented on #1373
Tested with installing v7.0.1 (postgrest-v7.0.1-windows-x64.zip)
**Result:** No success.
![05-25-20 10-15-25 openIDclient](https://user-images.githubusercontent.com/43255036/82795072-c282c880-9e73-11ea-9e36-ec143f6223e1.PNG)

Tried to install Microsoft VC++ 2015 redistributable.
**Result:** No success.
![05-25-20 10-38-30 openIDclient](https://user-images.githubusercontent.com/43255036/82795170-e7

[2020-05-25 14:32] steve-chavez commented on #1373
@Matshakan Thanks for giving it a shot. What's your Windows version?

[2020-05-25 14:48] steve-chavez commented on #1373
Other haskell projects having the same issue. https://github.com/simonmichael/hledger/issues/1039, https://github.com/haskell/haskell-ide-engine/issues/1714.

It looks like `unix-time` might be the dependency causing the issue. See https://github.com/kazu-yamamoto/unix-time/issues/57.

[2020-05-25 15:24] steve-chavez commented on #1373
So, to fix this we should patch `unix-time`: https://github.com/kazu-yamamoto/unix-time/issues/57#issuecomment-507240413.

In the meantime, [building from source](https://github.com/PostgREST/postgrest/issues/1373#issuecomment-536567474) should work.

[2020-05-25 15:42] michael-todorovic opened #1536 "jwt: iterate over roles"
### Environment

* PostgreSQL version: 12
* PostgREST version: 7.0.0
* Operating system: Linux

### Description of issue

Hello,
I configured postgrest authentication through jwt with Keycloak and here is what I get for my roles in the jwt token:

[code]

In postgrest.conf, I have set `role-claim-key = ".realm_access.roles"` but postgrest takes it as a simple string and I get
[code]

I tried to lo

[2020-05-25 16:53] steve-chavez commented on #1536
Do you mean you'd like to search for a role name in the array?

(PostgREST can only accept one role at a time)

The `role-claim-key` config follows jspath. Looks like they have some comparison operators that could be used for this: https://github.com/dfilatov/jspath#comparison-operators.

[2020-05-25 16:57] steve-chavez commented on #1536
Not sure if this is really follows the spec, but looks like the expression could be:
[code]

[2020-05-26 07:43] Matshakan commented on #1373
My Windows version is both 7 and 10. Tested on both and failed with the precompiled binaries.
My solution was to compile from source code. It took a while but worked like a charm.
Had a few issues with complaints about missing ibssl-1_1-x64.dll but I will worry about that later.

[2020-05-26 16:50] steve-chavez commented on #1521
@awalias Ah, that would need re-reading the config on SIGUSR1. Could you open another issue for that feature request? This one is more about not having to edit the config file for new schemas.

[2020-05-27 07:09] michael-todorovic commented on #1536
Yes I have multiple roles in my array and I'd like to match one of them against postgresql or postgrest configuration.

I wanted to try your proposal but actually, https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/Parsers.hs#L259-L272 prevents the full usage of JSPath features: `{}=` characters are not allowed

[code]

I'm exploring an alternative with Keycloak to provide a single s

[2020-05-27 16:54] steve-chavez commented on #1536
@michael-todorovic Yes, that was mostly a proposal. Not implemented for now. Though adding the capability looks reasonable since it follows jspath.

I could help reviewing a PR If you'd like to give it a shot. Otherwise the single string role is your best bet for now.

[2020-05-28 12:57] hivemall opened #1539 "[HOWTO hardening] Replace error messages in nginx"
The authentication defaults to the anon role, eg if the JWT fails to auth. The result returned from the proxy is far to verbose

[2020-05-28 12:57] hivemall commented on #1539
Solve by add  `proxy_intercept_errors on;` to the configuration, full `include`'able nginx.conf snippet.:

[code]

The result eats all error bodys bubbled up from upstream and replaces them with nginx pages. To customize nginx errorpage use `error_pages` [directive](https://nginx.org/en/docs/http/ngx_http_core_module.html#error_page).

[2020-05-28 12:57] #1539 closed

[2020-06-01 14:58] steve-chavez commented on #1518
@sihcpro Did my suggestion help you to solve the issue?

[2020-06-02 09:20] MHC2000 opened #1540 "Horizontal Filtering over POST-Request"
### Environment

* PostgreSQL version: 11
* PostgREST version: 7.0.1
* Operating system:

### Description of issue

Hello,

is it possible to do horizontal filtering over a POST request (instead of GET)?

Sometimes some of our user filters are too long for a GET-Request and I get 414 or 502 due too long urls (already expanded the buffers of nginx but this didn't help).

Because the filters are dyn

[2020-06-02 17:46] steve-chavez commented on #1540
@MHC2000 Hey there.

POST maps to [insertions](http://postgrest.org/en/v7.0.0/api.html#insertions-updates). I'm not sure if we could change that to include the filters in the payload. It looks hard from a glimpse.

Are you certain you cannot bypass the url length limit with Nginx? What settings have you tried?

Also, I could be of further help If you provide a sample URL.

[2020-06-02 18:03] MHC2000 commented on #1540
@steve-chavez thanks for your reply.
That's what I was expecting, that POST is linked directly to Insert. Just came up with the idea when I read about a feature in other Restful-Apis (JIRA) where you can use POST as a bypass queries for a search, if the GET URL is getting too long.

I've tried to increase following Nginx parameters to allow longer URLs

[2020-06-02 18:25] steve-chavez commented on #1540
@MHC2000 Could you share a sample URL? I'm thinking what kind of filter could grow that much. Maybe a client adds a long list to an `in` operator?

[2020-06-03 08:52] MHC2000 commented on #1540
@steve-chavez sadly I can't provide a sample, too much internal information included.
but you were right, the client summed up a lot of bloat. I managed to write the queries more compact, so the normal user won't run in the url length limitation so easily anymore and I will add a filter limitation to the client.
So it's not an urgent issue for me anymore.
thanks for the help

[2020-06-03 08:52] #1540 closed

[2020-06-05 18:01] #1525 closed

[2020-06-09 09:26] andytango commented on #1117
@steve-chavez

[postgrest-armv7.tar.gz](https://github.com/PostgREST/postgrest/files/4751184/postgrest-armv7.tar.gz)

This does not appear to be statically linked (output from `ldd` below).

I modified the Dockerfile in the the repository to use this binary instead of downloading one, and built an image from that. It appears to work without any issues.

![image](https://user-images.githubuserconte

[2020-06-09 18:00] steve-chavez commented on #1518
Considering the issue resolved for now, please reopen if not.

[2020-06-09 18:00] #1518 closed

[2020-06-09 18:38] steve-chavez commented on #249
Doing a `set local statement_timeout = 1000`(as suggested in https://github.com/PostgREST/postgrest/issues/539#issuecomment-255639637) in each request would also be a good safeguard. Still, cost limit would be better.

[2020-06-11 07:27] soyuka commented on #1388
see also https://github.com/docteurklein/haskell-pg-sse/

[2020-06-11 07:29] docteurklein commented on #1388
@nerfpops I don't see how you can simply stream query results continuously in postgres. Timescaledb and pipelinedb extensions kind of offered this idea, but that's hardly translatable to the subject of sse.
What would you be polling, and how would you know what needs to be/has been sent to the subscriber? (I don't see it detailed in https://github.com/hasura/graphql-engine/blob/master/architecture

[2020-06-11 07:32] soyuka commented on #1388
What about implementing [Mercure](https://mercure.rocks/spec)?

[2020-06-11 12:20] nerfpops commented on #1388
@docteurklein I don't think listen/notify is a great fit here at all. Postgrest generates a sql query, and if sse were to be included in core, my preference is that the response from the postgrest generated sql query is streamed this way. When I say streamed, I mean that postgrest polls postgres with before mentioned query, then streams it via sse.

When I mention Hasura, it's because this is the

[2020-06-11 22:08] steve-chavez commented on #1512
Now that I've been playing with the new NOTIFY schema reload, I've noticed that the original issue of a "watch mode" can be solved by setting an EVENT TRIGGER:

[code]
This is something we can recommend on the docs.

[2020-06-11 22:35] theonewolf commented on #1512
I'll check this out again, thanks for following up on this thread.  I have dev time for this on Saturday.

[2020-06-12 08:43] ruslantalpa commented on #1512
before this can be recommended (and it is the right path to implement watch/autoreload) note that ddl_command_end is triggered for every ddl statement which means that, in a production setting for example, when you run a migration, this will trigger "reload" a lot of times (which is expensive). This should be implemented similar to how pgrst handles HUP events, if one is in progress, the ones that

[2020-06-13 19:08] steve-chavez commented on #1512
@theonewolf Cool! You can use "docker run [stevechavez/postgrest:latest](https://hub.docker.com/r/stevechavez/postgrest/tags)" to test it. Would be great to know if the NOTIFY reload is indeed working on Google Cloud Run.

[2020-06-13 22:45] steve-chavez commented on #1512
@ruslantalpa Great idea! I originally thought this mode would be for development only, but as you mention it could work in production as well. And with this postgrest would be more "set it and forget it" :)

Right now I'm using the same `connectionWorker` used for the SIGHUP, so this might already work. But I'll have to do some testing to be certain.

Additionally, we can also limit the event trig

[2020-06-15 06:13] jamesmstone opened #1543 "Composite type filtering"
### Environment

* PostgreSQL version: `12.2` (docker)
* PostgREST version: `7.0` (docker)
* Operating system:  docker

### Description of the feature request / issue

Is it possible to vertically filter ( and I guess also horizontally - although not needed for my use case ) on Composite Types: [Postgres Docs](https://www.postgresql.org/docs/current/rowtypes.html)

Imagine you have the following s

[2020-06-15 06:19] jamesmstone commented on #1543
I guess another thing to consider with this is ordering composite type by sub field

[2020-06-15 17:37] steve-chavez commented on #1543
Hey @jamesmstone.

Hmm.. that one works for you? I had to do this:

(also according to pg [ROWTYPES-ACCESSING docs](https://www.postgresql.org/docs/13/rowtypes.html#ROWTYPES-ACCESSING))
[code]

Thought the latter SQL statement would work through pgrst, but unfortunately it doesn't:
[code]
We would need to cast the filter to `::complex` internally for that to work.

That one also works in pg by usi

[2020-06-15 17:47] steve-chavez commented on #1543
Regarding vertical filtering, that could also work with the same syntax:

[code]

This is more of a tentative solution, I'm not sure if it's possible to interpret this unambiguously in our parsers.

[2020-06-15 18:51] steve-chavez commented on #1521
Instead of the LIKE pattern I think we should use [SIMILAR TO](https://www.postgresql.org/docs/12/functions-matching.html#FUNCTIONS-SIMILARTO-REGEXP), that way we can match schemas that don't follow a pattern. So the config would be like this:

[code]

I'm not using the `db-schema` config because it's overloaded now. Changing it to accept `|` instead of `,` would imply a breaking change.

[2020-06-16 01:09] jamesmstone commented on #1543
Oops sorry, you are right. This is not my actual use case. So I didn't actually test that query.

Personally, any syntax would suit me. I do however like the idea of using `(column)`  syntax you suggest as it matches what Postgres uses.

With vertical filtering, what area do you think this might conflict with?

[2020-06-16 15:55] steve-chavez commented on #1521
As per the original issue, some setups would actually require excluding certain schemas(not all tenants names are known in advance), so additionally we could support a `db-schema-pattern-negate`(false by default) config, this would make the matching operator a `NOT SIMILAR TO`.  Could work like this:

[code]
Basically, this says all schemas except schemas were extensions are located should be expo

[2020-06-16 19:15] ruslantalpa commented on #1521
This feature caters to a very specific situation (tenant per schema, or the more general, tenant per database) which in 99% of the cases is a bad idea https://news.ycombinator.com/item?id=23305111. Features like this should not make it to postgrest core (and complicate the config/code for everybody) but rather people in need  for this should extend/fork postgrest (with some guidance/help/consultin

[2020-06-16 19:45] steve-chavez commented on #1521
@ruslantalpa This is basically extending the **schema-based multitenancy** use case that [List of schemas](http://postgrest.org/en/v7.0.0/configuration.html#list-of-schemas) enables(also mentioned in docs). It only makes it more flexible for cases where tenants names don't follow a pattern and avoids the need of manually editing the config file.

It's debatable if the schema-based multitenancy app

[2020-06-16 20:11] steve-chavez commented on #1521
(Going to have to think more about this design, restricting exposed schemas might not be as easy as I initially thought. Just been brainstorming some possibilities until now.)

[2020-06-16 23:49] steve-chavez commented on #1521
I've noted that it's possible to restrict the schemas as usual if we query them first by using the `db-schema-pattern`. The `db-schema-pattern-negate` is looking a bit much for now, so I'll work on a PR that just focuses on `db-schema-pattern`. Will also see if it's possible to overload the `db-schema` confing and avoid having an extra one.

[2020-06-17 17:54] Abaru66 opened #1545 "Error 502 on post"
### Environment

* PostgreSQL version: docker image: marketplace.gcr.io/google/postgresql9
* PostgREST version: docker image postgrest/postgrest:latest

### Description of issue
Post on table with long content (base64 img) is ok on db but return http error 502
No error in postgrest log

[2020-06-17 18:46] steve-chavez commented on #1545
Hmm.. more context is needed. Could you share a sample schema(the table DDL)?

The 502 responses for POST only happen for this table?

[2020-06-17 18:49] steve-chavez commented on #1545
Could be related to https://github.com/PostgREST/postgrest/issues/1461. The table that holds the images has a PK?

[2020-06-17 18:50] Abaru66 commented on #1545
The ddl of the table:
CREATE TABLE "public"."piatti" (
    "id" integer DEFAULT nextval('piatto_seq') NOT NULL,
    "nome" text NOT NULL,
    "img" text NOT NULL,
    "id_tipo_piatto" integer NOT NULL,
    "id_albergo" integer,
    "prezzo" money,
    CONSTRAINT "PK_piatto" PRIMARY KEY ("id"),
    CONSTRAINT "FK_120" FOREIGN KEY (id_tipo_piatto) REFERENCES tipi_piatto(id) NOT DEFERRABLE
) WITH (oi

[2020-06-17 18:56] Abaru66 commented on #1545
perhaps something related to the internal nginx configuration?

[2020-06-18 01:03] jamesmstone commented on #1543
I am really keen to get this into Postgrest, to the point where I am willing to learn Haskell. Would you a) be open to an PR for this (from a complete Haskell novice) and
b) be open to giving suggestions on where to add this?

From what I can tell thus far, I would need to modify this file https://github.com/PostgREST/postgrest/blob/master/src/PostgREST/Parsers.hs

I would also want to add some te

[2020-06-18 05:54] raoofha commented on #190
hey guys sorry to bother and thanks for PostgREST I just want to say I add a static file server in my fork [PostgRESTui](https://github.com/raoofha/postgrestui/releases) in case anyone interested

[2020-06-18 07:08] Abaru66 commented on #1545
I have done some test and found that when I use in post length >3600 byte I get the 502 error

[2020-06-18 14:55] steve-chavez commented on #1545
@Abaru66 Can you retry that POST with the `Prefer: return=minimal` header?. For docs on minimal, see http://postgrest.org/en/v7.0.0/api.html#insertions-updates.

[2020-06-18 15:28] steve-chavez commented on #1543
@jamesmstone Sure, go for it! You got the modules right. It'd be happy to review a PR.

I'm not sure if it'd be straightforward to include the parens `(column)` as a valid field name because we have rules like this:
https://github.com/PostgREST/postgrest/blob/24064f86265b54701fa3c508099e211fb52b0887/src/PostgREST/Parsers.hs#L183

So for starters, you might want to use a different character. Here's

[2020-06-18 19:20] steve-chavez commented on #1011
Might be possible to use PgBouncer transaction pooling with the patch in https://github.com/PostgREST/postgrest/pull/1542#issuecomment-646081703.

[2020-06-23 10:29] dwagin commented on #1227
Hi @steve-chavez, hs-postgrest ([FreshPorts](https://www.freshports.org/www/hs-postgrest)) commited.

[2020-06-23 23:21] steve-chavez commented on #1227
@dwagin Awesome! I'll add that to the install docs!

The command would be `pkg install hs-postgrest` right?

[2020-06-24 03:26] jshrake commented on #1082
I also ended up with a slightly different solution to this problem. I wrote a server (an express app written in typescript) that sits between postgrest and swagger-ui and modifies the JSON returned by postgrest directly in the request:

[code]

swagger-ui should now render a green "Authorize" button on the upper right part the page. When you specify the jwt value, make sure to explicitly prepend t

[2020-06-24 11:08] bwbroersma commented on #1082
BTW since nobody mentioned [since version 6.0](https://github.com/PostgREST/postgrest/blob/24064f86265b54701fa3c508099e211fb52b0887/CHANGELOG.md#added-3) there is:

How to use:

_Originally posted by @steve-chavez in https://github.com/PostgREST/postgrest/issues/790#issuecomment-519963068_

It's not yet in the documentation because:

_Originally posted by @steve-chavez in https://github.com/PostgR

[2020-06-25 00:00] #1512 closed

[2020-06-25 00:04] steve-chavez commented on #1512
NOTIFY reload is merged!

I'll be working on docs and finish the pg event trigger on https://github.com/PostgREST/postgrest-docs/issues/335.

[2020-06-26 09:15] dwagin commented on #1227
Yes

[2020-06-26 11:51] bpasserat opened #1547 "OpenAPI Missing Accept-Profile /Accept-Content headers"
### Environment

* PostgreSQL version: 11
* PostgREST version: 7.0.1
* Operating system: Linux Debian 10

### Description of issue

In OpenAPI the headers Accept-Profile or Content-Profile are not set to get data from a specific schema if the configuration file define multiple schema in `db-schema`

[2020-06-26 13:54] W1M0R commented on #506
@steve-chavez Does PostgREST support binary input? I'd like to post raw binary data (not base64) to /rpc/my_func, where my_func is a stored procedure that has one parameter of type `bytea`.

[2020-06-26 14:36] steve-chavez commented on #506
@W1M0R Not for now, but progress on binary input is being tracked at https://github.com/PostgREST/postgrest/issues/922.

[2020-06-26 14:42] steve-chavez commented on #1547
True. Right now they're not in the openapi output.

In case you'd like to try a PR, I think they should be added here:

https://github.com/PostgREST/postgrest/blob/43d71e95ac091aa77ac104de7fc881226d1a17f6/src/PostgREST/OpenAPI.hs#L151-L165

[2020-06-28 19:02] steve-chavez commented on #1227
@dwagin Added `hs-postgrest` to the [install page](http://postgrest.org/en/v7.0.0/install.html#installation)!

[2020-06-28 19:02] #1227 closed

[2020-06-29 10:08] W1M0R opened #1548 "Feature request: allow user-defined function to handle application-specific Accept headers"
Consider a request `/accounts` that returns a list of accounts and their details.

Request header `Accept: application/json` will return the information as JSON. However, some clients might want the data returned in some other application-specific representation, e.g. protobuf base64, flatbuffer base64, msgpack base64, etc.

Currently, one would have to implement a generic stored procedure (say `/

[2020-06-29 21:08] h00shi commented on #1039
It is a guy running in a hallway

[2020-06-30 18:26] steve-chavez commented on #1548
@W1M0R I think the rpc part could be handled by https://github.com/PostgREST/postgrest/pull/1546#issuecomment-649094238.

That PR also includes some thought for regular `GET /table` Accept logic via `pre-request`, perhaps you can chime in there.

[2020-07-01 16:50] kristofj-umd opened #1549 "Schema re-loading doesn't seem to have any affect"
### Environment

* PostgreSQL version: kartoza/postgis:9.6-2.4
* PostgREST version: postgrest/postgrest
* Operating system: Debian host

### Description of issue
Despite [schema re-loading](http://postgrest.org/en/v7.0.0/admin.html#schema-reloading) I still get this error when trying to call a stored procedure:
[code]
I've tried restarting the whole container as well.

[2020-07-01 16:59] steve-chavez commented on #1549
Could you share the function definition(CREATE FUNCTION ...)?

[2020-07-01 17:18] kristofj-umd commented on #1549
It's a bit messy, being in development, but here it is:
[code]

[2020-07-01 17:59] steve-chavez commented on #1549
Function signature looks ok from a glance.

How are you calling the procedure(curl, httpie)?

[2020-07-01 19:48] kristofj-umd commented on #1549
I've tried both postman and curl
`curl -d '{"zone_table":"'bdry_counties_in_minnesota1k'::regclass","zone_ids":"{7, 12}","summ_table":"'airports_in_minnesota'::regclass","filter_fld":"1::text","filter_val":"1::text","zone_id_fld":"'cty_name'::text","zone_id_nam":"'County'::text"}' -H "Content-Type: application/json" -X POST http://nrri-docker.d.umn.edu:33000/rpc/delme`

[2020-07-01 22:46] steve-chavez commented on #1094
Since every expired JWT could potentially touch the db, this carries a risk of DDoS. So this should definitely be fixed.

[2020-07-02 11:02] wolfgangwalther commented on #1548
Not sure where to post this, as this topic seems to be spread across multiple issues and PR now. Posting it in here, because I think this is the best approach so far.

I would like to suggest a couple of additions to that as well:

# Content Negotiation (RPC)

I don't really like the whole "raw-media-endpoints config option" approach - I think it would be a lot better, if we could somehow pass the

[2020-07-02 17:29] steve-chavez commented on #1548
That's really clever @wolfgangwalther. I think you've nailed the RPC case, querying `pg_proc.proconfig` should be fast.
The only change I propose is to rename `app.accept` to `response.mime`(or maybe `response.media`) to be more consistent with our other settings.

[2020-07-02 17:48] wolfgangwalther commented on #1548
I agree that `app.accept` is bad. I tried just `accept` first while creating a test function, but postgres won't accept (haha) that. Didn't try any further after `app.accept` worked.

But, I think neither `response.mime` nor `response.media` really nails it. I think we have to general choices here:

- approach it from the "content negotiation" standpoint, i.e. given a request with an accept header

[2020-07-02 18:08] wolfgangwalther commented on #1548
As for the tables:

I think it's quite important to be able to somehow have different handler functions for different tables. Suppose one table should accept requests for `image/*` or such, because it has binary data / files saved. In this case accepting this header really only makes sense for this table and not for most others. If we only had a generic handler function, then at least a part of th

[2020-07-02 19:10] steve-chavez commented on #1549
@kristofj-umd Oh, I think the issue there is that you have a typo in your parameter.

`zone_id_nam`(missing the last `e`?).

Btw, casting in the json body shouldn't be necessary(also it doesn't work like that).

[2020-07-02 19:13] steve-chavez commented on #1549
To be sure, I tried a sample function with a regclass and int[] parameters. It's working fine:

[code]

[2020-07-03 05:58] wolfgangwalther commented on #1548
Applying the same thoughts as in my 2nd to last comment about `response.` or `request.` it probably makes more sense to call it `SET response.handler_for = 'accounts'` in the "content negotiation for tables case".

This would also keep `request.handler_for` free for maybe doing the same conversion the other way around for the request body. Imagine the client that wants to receive data in `applicat

[2020-07-03 10:22] wolfgangwalther commented on #1470
Calling a function with variadic argument is also possible with named args like this:

[code]

So, the only thing to do to support variadic would be to add the `variadic` to the query?

I wonder whether it would be possible to support something like this:

[code]
->
[code]

So just creating an array out of multiple query parameters with the same name. That would be independent of whether it was a

[2020-07-03 10:35] wolfgangwalther commented on #1548
Just noticed that my last point about handling the request body was actually asked for in #506. Also this could allow the user to implement a custom solution for the likes of `multipart/form-data`, although the `COPY` solution proposed in #922 is probably better in terms of performance.

[2020-07-03 14:03] kristofj-umd commented on #1549
Thanks @steve-chavez for spending some time on this.
I think there are some ongoing issues with my approach (including the typo you found). I'll close this issue and open a new issue if anything else comes up.

[2020-07-03 14:03] #1549 closed

[2020-07-03 20:25] wolfgangwalther commented on #1086
Assume a table and function with the same name. The logic to differentiate them, can **not** depend on any type of custom request parameter (that makes the api-user aware of whats happening), because that would not be any better than / any different from having the `rpc/` prefix in the first place.

Let's assume the very simple (simple as in function definition, but actually the one with the fewes

[2020-07-03 22:23] #1094 closed

[2020-07-03 22:35] steve-chavez commented on #1470
@wolfgangwalther I didn't know about that one, that's cool. With that we can support variadic functions following the same rules as pg. e.g. a function like `my_variadic(label text, variadic data int[])` could be called as usual: `/rpc/myvariadic?label=lebal&data=%73,4%7D`

Yes, it seems that would do. We'd have to detect the variadic parameters in the schema cache.

I think right now we get the f

[2020-07-04 14:18] geohuz commented on #1356
I've managed to make a cast type to work with tsrange array, but I'm stuck on put the data, the body is like:

[code]

and I've got errors:
[code]

I have made a updatable view trigger function, any suggestion to fix the issue?

[2020-07-04 16:07] steve-chavez commented on #1356
@geohuz For inserting the tsrange, you could specify the literal representation:

[code]

(table taken from http://postgrest.org/en/v7.0.0/how-tos/casting-type-to-custom-json.html)

Casting the json back to tsrange in a view could work, I can't help with your description though. Can you share the VIEW definition?

[2020-07-04 16:33] geohuz commented on #1356
Ok, let me elabrate my problem into detail, I'm using a tsrange array type to store array of tsrange, so I create a cast fucntion like below:

[code]

So the cast function helps me to get a tsrange[] field like this:

[code]
But then I  need to put the modified data back into db, so finally I made another cast function to cast json to tsrange array, like this:

[code]
The view I use is a complex s

[2020-07-06 18:11] littleli commented on #1445
Hi. I just want to let you know I put together scoop manifest and there is a PR in the main scoop bucket
https://github.com/ScoopInstaller/Main/pull/1250

If you want help with documentation or guidelines let me know. Cheers

[2020-07-06 22:53] steve-chavez commented on #1445
Hey @littleli, thanks!

I see the `depends: postgresql` part, looks like that covers the `libpq` dependency.

Once your scoop PR is merged, you could add the installation instructions in https://github.com/PostgREST/postgrest-docs/blob/master/install.rst

[2020-07-06 23:09] jamesmstone commented on #1543
Hi @steve-chavez ,

Sorry for messing you around with this. I haven't had the time to really focus on this. If you would like to, please feel free to implement this yourself.

If I get anytime I will let you know

[2020-07-07 18:01] wolfgangwalther commented on #1470
I probably I agree. I just noted that, because I asked myself why anyone would actually want to use a `VARIADIC` function instead of a function with regular array argument as an RPC. From the query perspective, both are exactly the same.

The only "reason" I can think of, where you would benefit from a query structure like this, would be a situation where you have a given URL to `/rpc/something?a=

[2020-07-08 13:16] sirviot opened #1553 "Broken link to documentation in externalDocs"
### Environment

* PostgreSQL version: latest docker image
* PostgREST version: latest docker image

### Description of issue

#### Expected behavior:

Link in externalDocs points to a working documentation for PostgREST

With Docker image `postgrest/postgrest:v7.0.1` should produce link to version 7.0.1 documentation.

#### Actual behavior:

Link in externalDocs points to "This page does not exis

[2020-07-08 13:18] sirviot commented on #1553
It seems that this was fixed in #1232 but is broken again.

[2020-07-08 19:36] #1461 closed

[2020-07-08 19:36] #1162 closed

[2020-07-08 21:55] bpasserat commented on #1547
@steve-chavez OK I will try to do PR.

I am new to Haskell, I understand how to add the new headers ( Accept-Profile and Content-Profile ) depending on the request type ( PUT, POST PATCH DELETE , and GET ).

I do not understand how i can fill the correct value in Accept-Profile with the schema requested by the user. Do you have any hints ?

[2020-07-09 03:50] RNCTX opened #1554 "Inexplicable failed token verification with Keycloak RSA"
I'm following your docs and the previously referenced #1191 in trying to get a Keycloak client to generate RSA tokens for use with Postgrest and not having any luck getting auth to work.

### Environment

* PostgreSQL version: 12
* PostgREST version: 7.0.1
* Operating system: Ubuntu 20.04

### Description of issue
[code]

public RSA key from keycloak is:

[code]

The above configured Postgrest ins

[2020-07-09 07:36] sirviot opened #1555 "Links to pg-safeupdate in documentation are broken"
In documentation
* _Hardening PostgREST - Block Full-Table Operations_ and
* _Ecosystem - Extensions_

a project named `pg-safeupdate` is referred. The project has now moved from Bitbucket to GitHub.

### Expected behavior

Links in documentation point to `https://github.com/eradman/pg-safeupdate`

### Actual behavior

Links point to deprecated page `https://bitbucket.org/eradman/pg-safeupdate/`

[2020-07-09 07:38] sirviot commented on #1555
My bad. There is a separate project for documentation <https://github.com/PostgREST/postgrest-docs>. I'll report this there.

[2020-07-09 07:38] #1555 closed

[2020-07-09 11:18] RNCTX commented on #1554
Here's an attempted insert, "web_admin" has full privs on "test_table":

[code]

[2020-07-09 12:43] RNCTX commented on #1554
FWIW "admin" is my phpPgAdmin user, I'm wondering if there's something I'm missing here in regard to PostgreSQL defaults, since "admin" was used to create the db in question and owns it?

[2020-07-09 15:58] steve-chavez commented on #1554
Hey @RNCTX. I haven't understood your issue fully yet, but in the meantime I recommend you check this tutorial for PostgREST + Keycloak: https://www.mathieupassenaud.fr/codeless_backend.

Let me know if that helps.

[2020-07-09 16:19] RNCTX commented on #1554
Thanks Steve, I realize this is complexity outside of your wheelhouse. I did find that guide before posting here, and am able to auth by just sharing the public key directly (HS256 mode) but that's obviously not preferable ;).

In digging around on StackOverflow I did find that there's a .well-known endpoint in Keycloak for JWK configuration, which returns:
[code]

[2020-07-10 14:57] steve-chavez commented on #1526
Needs more discussion, but It could be a good idea!

One thing I'd like to note for now is that we can't use a `metrics` endpoint because it would conflict with users routes(one example of using a `metrics` table [here](https://gitter.im/begriffs/postgrest?at=5f036594bb149531edf2ec74)). So maybe we can come up with a prefix, like `/pgrst/metrics` or `/internal/metrics`.

[2020-07-10 15:29] sevagh commented on #1526
That sounds good. Given PostgREST + NGINX is the recommended/common deployment, one could easily expose the internal metrics prefix at their desired location.

[2020-07-12 15:09] RNCTX commented on #1554
Update to this:

After looking at alternative open source auth servers, I came across this one, [Glewlwyd](https://github.com/babelouest/glewlwyd) which seems very nice for small setups since it's written in C, and therefore not so demanding in terms of memory usage versus Keycloak running in a JVM.

As I was searching its issues for a recommended Nginx setup, I came across [this issue](https://gi

[2020-07-12 17:25] majkinetor commented on #1445
I am making this

https://github.com/majkinetor/au-packages/issues/156

[2020-07-12 18:02] majkinetor commented on #1445
Done: https://chocolatey.org/packages/postgrest

I will add some parameters in the nearfuture, like `/Service` to install it as Windows service and anything else I deem useful. If you need something else let me know.

[2020-07-13 09:23] majkinetor commented on #1445
My [postgrest-test](https://github.com/majkinetor/postgrest-test) repository shows how to automate entire process.

[2020-07-13 09:51] majkinetor commented on #1445
I didn't embed `libpq` inside the package for now so it requires local postgresql installation (`cinst postgresql`). I don't depend on postgresql as you may want to use remote database. For this to work `libpq` must be embedded in the package. I didn't do that now as I am not sure is is enogh to just take latest one, but I can easily change that in future package release. This can be automated by

[2020-07-13 11:43] nerfpops opened #1556 "Change db-schema at runtime"
Say you have a multitenant architecture like this:

[code]

db-schema would then be "tenant1_schema, tenant2_schema".

Currently, for Postgrest to see a new schema, eg. when a new customer creates tenant3_schema, the schema must be added to db-schema and Postgrest restartet, causing downtime unless loadbalanced.

I would like to propose that db-schema could point to a Postgres function, that retur

[2020-07-13 16:30] #1119 closed

[2020-07-13 16:49] steve-chavez commented on #1556
With the new SIGUSR2(#1544), it's now possible to add schemas(tenants) without needing to restart postgrest!

However for a full reload(db-schema update + schema cache reload) you'll need to send a SIGUSR2 + SIGUSR1.
Maybe SIGUSR2 can be improved to detect if `db-schema` is modified and then do the reload, avoiding the need for the extra SIGUSR1.

What do you think? SIGUSR2 would suffice?

(Relate

[2020-07-13 17:51] nerfpops commented on #1556
Wow, that's awesome! SIGUSR2 + 1 is excellent as well. Thanks!

[2020-07-13 17:51] #1556 closed

[2020-07-13 18:05] steve-chavez commented on #1554
Wanted to recommend that you try using the JWK in a file instead of setting it inline. Check https://github.com/PostgREST/postgrest/issues/1192#issuecomment-446632584.

Didn't know that one. I've never set the `proxy_pass_header  Authorization` when working with Auth and I got not issues.

[2020-07-13 18:36] steve-chavez commented on #1445
@majkinetor Cool! Great to have you helping us!

If postgresql is not installed, what would happen when trying to run postgrest it after `cisnt postgrest`? I'm guessing it'll show a DDL error that might not be helpful.

In this case I think it'll be better to include `libpq` in the package. The latest stable version would be good. libpq changes slowly, I think it wouldn't demand much maintenance.

[2020-07-13 18:44] steve-chavez commented on #1445
I forgot that `pg_config` also needs to be available in the path, check the note in: http://postgrest.org/en/v7.0.0/install.html#running.

If it gets difficult, for now you could require the full postgresql package.

[2020-07-13 20:28] majkinetor commented on #1445
OK, so it needs libpq & pg_config which itself depends on several  DLLs: I tried to move it to another machine along with `libintl-8.dll` and `libiconv-2.dll` but it refused to start. I also tried moving all dlls with it from bin\ folder but it still didn't run.

So unless somebody provides a way how to include pg_config in portable manner, I can automate extraction from latest postgresql version